.part-1{
    background: #FFF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.part-2{
    margin-top: 5rem;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}