<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">

            </div>
            <div>
                <form>
                    <a href=" https://affinity.adityabirlahealth.com/Axis_redirection_data_new" target="_blank" type="submit" class="m-2 btn btn-primary">Encrypt</a>

                    <section class="white_container mb-3">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h6 class="heading-16-red">encrypted data</h6>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                <div class="input-block form-floating input-block-renew">
                                    <textarea class="form-control" rows="5" name="encryptedString"
                                        [(ngModel)]="encryptedString"></textarea>
                                    <!-- <label for="firstname">{{"First Name" | translate}} *</label> -->
                                </div>
                                <button type="submit" class="btn btn-primary m-2" (click)="postData()">Submit</button>
                                
                            </div>

                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</main>