.filterWraper .filterHeader{
    display: flex;
    justify-content: space-between;
  }
  
  /* Required Css Start */
    ::ng-deep .p-paginator{
      background-color: transparent;
    }
    /* Non-active page buttons */
    ::ng-deep .p-paginator .p-paginator-page {
      border-radius: 8px !important;
      font-family: Anek Latin;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: center;
      color: black !important;
      border: 1px solid var(--Neutral-Additional-BGGrey, #F1F3F6) !important;
      background: var(--Neutral-Additional-White100, #FFFFFF) !important;
      padding: 8px 12px; 
      margin: 0 5px;
    }
    
    /* Arrow buttons (first, prev, next, last) */
    ::ng-deep .p-paginator .p-paginator-first,
    ::ng-deep .p-paginator .p-paginator-prev,
    ::ng-deep .p-paginator .p-paginator-next,
    ::ng-deep .p-paginator .p-paginator-last {
      border-radius: 8px !important;
      font-family: Anek Latin;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: center;
      color: black !important;
      border: 1px solid var(--Neutral-Additional-BGGrey, #F1F3F6) !important;
      background-color: white;
      padding: 8px 12px; 
      margin: 0 5px; 
    }
    
    /* Add custom hover effect for all buttons */
    ::ng-deep .p-paginator .p-paginator-page:hover,
    ::ng-deep .p-paginator .p-highlight:not(.p-highlight),
    ::ng-deep .p-paginator .p-paginator-first:hover,
    ::ng-deep .p-paginator .p-paginator-prev:hover,
    ::ng-deep .p-paginator .p-paginator-next:hover,
    ::ng-deep .p-paginator .p-paginator-last:hover {
      background-color: #C7222A !important;
          border-color: #C7222A !important;
          color: #fff !important;
    }
    
    ::ng-deep .my-paginator .p-highlight {
      background: var(--Brand-Primary-CapitalRed, #C7222A) !important;
      color: white !important;
      border-radius: 8px !important;
      font-family: Anek Latin;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: center;
    }
    
    ::ng-deep .my-paginator .p-dropdown {
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }
    
    ::ng-deep .my-paginator .p-dropdown-label {
      text-align: center !important;
    }
  
    .jsFilterBtnClick.active {
      background: var(--primary-red-color) !important;
      color: white;
      img{
        filter: brightness(0) invert(1);
      }
    }
  
  /*---Common css start---*/
  
  .endorsements_searchWraper {
    .field_searchMain {
      display: flex;
      gap:8px;
      margin-right: 5px;
      .filterSearch {
        height: auto;
        padding: 9px 37px 9px 16px;
        &:focus {
          border-width: 0 !important;
        }
      }
      button {
        position: absolute;
        right: 5px;
        top: 0px;
        /*padding: 0 13px;*/
        img {
          position: initial;
        }
        @media (max-width:767px) {
          top: auto;
          bottom: -5px;
        }
      }
      @media (max-width:767px) {
        flex-direction: column;
      }
      .field_searchMain{
        @media (max-width:767px) {
          flex-direction: row;
        }
      }
    }
  }
  .btn_cardDownload {
    background: #c7222a;
    border-radius: 5px;
    img {
      width: 12px;
      height: 12px;
      filter: brightness(0) invert(1);
    }
  }
  .tableSubMain .table thead tr, .tableSubMain .table thead tr th,
  .tableSubMain .table tbody td {
    background: transparent;
  }
  .tableSubMain .table td {
    vertical-align: top;
    color: #2e2e2e;
  }
  .tableNav .pagination {
    flex-direction: column;
  }
  .field_searchMain .field_searchMain .input-block-renew .input-textBox{
    padding: 9px 16px !important;
  }
  .cardViewMain .cardViewWraper .cardViewItem header .card_insureInfo h6 {
    min-height: initial;
  }
  /*---Common css end---*/
  /* Required Css End */