<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <h2>My Proposals</h2>
            <section class="quickFilterMain" id="quickFilterMain" name="quickFilterMain">
                <div class="quickFilterLeft">
                    <ul class="quickFilter">
                        <li class="quickFilterHeading block-hide">Quick filter</li>
                        <li><button type="button" id="af-allpolicies" name="af-allpolicies" value="allpolicies" class="btn_quickFilter" [ngClass]="{'active': activeFilter === 'all'}" (click)="filterQuotes('all','totalRecords')">All Policies({{countsList.totalRecords}})</button></li>
                        <li><button type="button" id="af-30days" name="af-30days" value="30days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '<30DaysCreated'}" (click)="filterQuotes('<30DaysCreated','createdInLessThan30DaysCount')">< 30 Days ({{countsList.createdInLessThan30DaysCount}})</button></li>
                        <li><button type="button" id="af-60days" name="af-60days" value="60days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '30-60DaysCreated'}" (click)="filterQuotes('30-60DaysCreated','createdIn30To60DaysCount')">30-60 Days ({{countsList.createdIn30To60DaysCount}})</button></li>
                        <li><button type="button" id="af-90days" name="af-90days" value="90days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '60-90DaysCreated'}" (click)="filterQuotes('60-90DaysCreated','createdIn60To90DaysCount')">60-90 Days ({{countsList.createdIn60To90DaysCount}})</button></li>
                    </ul>
                </div>
                <div class="quickFilterRight">
                    <div class="common_searchWraper common_searchWraper_proposals">
                        <div class="field_searchMain">
                            <div>
                                <select id="filterSearchOption" name="filterSearchOption" class="filterSearch" [(ngModel)]="selected" (change)="selected === '' ? cancelSearch() : null" (ngModelChange)="onSelectChanges($event)">
                                    <option id="selectOption" name="selectOption" value="" (click)="cancelSearch()">Select an Option</option>
                                    <option id="mobileNumberOption" name="mobileNumberOption" value="mobileNumber">Mobile Number</option>
                                    <option id="proposerNameOption" name="proposerNameOption" value="proposerName">Proposer Name</option>
                                    <option id="proposalNumberOption" name="proposalNumberOption" value="proposalNumber">Proposal Number</option>
                                    <option id="leadIdOption" name="leadIdOption" value="leadId">Lead ID</option>
                                </select>
                            </div>
                            <div class="filterFieldGroup">
                                <input  class="filterSearch" id="filterSearch" name="filterSearch" type="text" [formControl]="searchInputControl" [placeholder]="getPlaceholder()">
                                <button  type="button" id="filtersearchbtn" name="filtersearchbtn" class="btn_text" (click)="applySearch()"><img src="assets/Img/icon_magnify_grey.svg"></button>
                                <span *ngIf="searchInputControl.invalid && searchInputControl.touched" class="ui-error ui-error-proposal block-show"><small>{{ getErrorMessage() }}</small></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="filterWraper">
                        <button type="button" id="productFilter" name="productFilter" value="filter" (click)="toggleFilterDropdown($event)" class="btn_filter jsFilterBtnClick" [ngClass]="{'active': appliedFiltersCount > 0}" aria-label="filterForm"><img src="assets/Img/icon_clarity_filter_line_grey.svg" alt="Filter"> Filter ({{appliedFiltersCount}})<span id="filter-count"></span></button>
                        <div id="filterForm" class="filterWraperForm overlay_popupMain mobile_popupBackdrop" [ngClass]="{'active': toggeledropdown}">
                            <div class="fw_form mobile_popupMain">
                                <div class="filterHeader">
                                    <header>Filter</header>
                                    <button type="button" id="filterclose" name="filterclose" value="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
                                </div>
                                <div class="fw_formBody">
                                    <div class="fw_formRow">
                                        <h6>Products</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let product of productsList; let i = index">
                                                <div class="input-checkbox-feild">
                                                    <input type="checkbox" id="product{{i}}" name="product{{i}}" value="products" class="input-check" [(ngModel)]="product.selected" (change)="calculateAppliedFiltersCount()">
                                                    <label for="product{{i}}">{{product.productName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fw_formRow">
                                        <h6>Policy Type</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let policyType of StaticPolicyTypes; let i = index">
                                                <div class="input-checkbox-feild">
                                                  <input type="checkbox" id="policytype{{i}}" name="policytype{{i}}" value="policytype" class="input-check" [(ngModel)]="policyType.selected" (change)="calculateAppliedFiltersCount()">
                                                  <label for="policytype{{i}}">{{policyType.name}}</label>
                                                </div>
                                              </div>                                              
                                        </div>
                                    </div>
                                    <div class="fw_formRow">
                                        <h6>Date Range</h6>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob">
                                                    <input type="date" id="startdate" name="startdate" value="" [max]="currentDate" placeholder="Select Start Date" class="input-textBox input-date" [(ngModel)]="startDate" (dateChange)="formatDate('startDate')">
                                                    <label for="startdate">Start Date</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob">
                                                    <input type="date" id="enddate" name="enddate" value="" [max]="currentDate" placeholder="Select End Date" class="input-textBox input-date" [(ngModel)]="endDate" (dateChange)="formatDate('endDate')">
                                                    <label for="enddate">End Date</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <button type="button" id="filterClear" name="filterClear" value="cancel" class="btn_white btn_fullWidth" (click)="clear()">Clear</button>
                                    <button type="button" id="filterApply" name="filterApply" value="apply" class="btn_red btn_fullWidth" (click)="applyFilter()">Apply</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="gridlist" name="gridlist" value="gridlist" class="btn_grid mobile-hide jsBtnClickQuote" [ngClass]="{'active': selectedView === 'list'}" aria-label="quotes-list" (click)="customerListView('list')"><img src="assets/Img/icon_grid_list_grey.svg" alt="Grid List"></button>
                    <button type="button" id="gridcard" name="gridcard" value="gridcard" class="btn_grid mobile-hide jsBtnClickQuote" [ngClass]="{'active': selectedView === 'grid'}" aria-label="quotes-card" (click)="customerListView('grid')"><img src="assets/Img/icon_grid_box_grey.svg" alt="Grid Card"></button>
                </div>
            </section>
            <section id="quotes-list" name="quotes-list" class="tableMain quoteView block-show " *ngIf="selectedView == 'list'">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th scope="col">Proposal Number</th>
                                    <th scope="col">Lead Id</th>
                                    <th scope="col">Proposer Name</th>
                                    <th scope="col">Product</th>
                                    <th scope="col" nowrap>Policy Type</th>
                                    <th scope="col" nowrap>Premium</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" nowrap>Created On <div><small>(dd-mm-yyyy)</small></div></th>
                                    <th scope="col" nowrap>Mobile Number</th>
                                    <th scope="col">Notice</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let row of proposalList; let i = index">
                                    <td>{{ row.proposalNumber }}</td>
                                    <td>{{ row.leadId }}</td>
                                    <td><span class="text-break-w200">{{ row.firstName }} {{row.lastName }}</span></td>
                                    <td>{{ row.productVarientName }}</td>
                                    <td>
                                        <div class="table-policyType">
                                            <div class="row-policyType">
                                                <span class="lable">{{ row.policyType }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ row.totalPremiumInt }}</td>
                                    <td>{{ row.proposalStatus }}</td>
                                    <td>{{ row.policyStartDate }}</td>
                                    <td>
                                        <div class="table-policyType">
                                            <div class="row-policyType">
                                                <span class="lable">{{ row.mobileNo }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn_groupAction">
                                            <button type="button" id="edit" name="edit" value="edit" title="Edit" class="btn_action btn_editAction" (click)="redirect()"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}}</span> of <span class="pageCountTotal">{{totalRecords}} entries</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section id="quotes-card" name="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="selectedView == 'grid'">
                <div class="cardViewWraper">
                    <div class="cardViewItem" *ngFor="let row of proposalList; let i = index">
                        <header>
                            <div class="card_insureInfo">
                                <h6>
                                    <div class="insureName" title="{{ row.firstName }} {{ row.lastName }}">{{ row.firstName }} {{ row.lastName }}</div>                                
                                </h6>
                                <div class="item_productName">{{ row.productVarientName}}</div>
                            </div>
                            <div class="card_btnGroup">
                                <div class="btn_groupAction">
                                    <button type="button" id="editgrid" name="editgrid" value="edit" title="Edit" class="btn_action btn_editAction" (click)="redirect()"><img src="assets/Img/icon_edit_grey.svg"></button>
                                </div>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Policy Type</div>
                                <div class="item_value">{{ row.policyType }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Proposal Number</div>
                                <div class="item_value">{{ row.proposalNumber }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Status</div>
                                <div class="item_value">{{ row.proposalStatus}}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Mobile Number</div>
                                <div class="item_value">{{ row.mobileNo}}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Created On</div>
                                <div class="item_value">{{ row.policyStartDate }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Premium</div>
                                <div class="item_value">{{ row.totalPremiumInt}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}}</span> of <span class="pageCountTotal">{{totalRecords}} entries</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section id="quotes-card" name="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="totalRecords === 0">
                <div class="cardViewWraper">
                    <div class="no_dataFound">
                        <img src="assets/Img/img_no_data_found.svg" alt="No data found">
                        <p>No data found</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>