<div class="main">
    <div class="sub-mainNav"></div>
    <div class="sub-main">
        <div class="logo">
            <img [src]="common.baseCssUrl+'assets/logo/ABHI_Logo.svg'" alt="abhi-logo">
        </div>
        <div class="header">
        </div>
    </div>
    <div class="abhifont">Aditya Birla Health Insurance</div>
</div>
<div class="sideNavMain">
    <div class="sideNavSub">
        <div class="navMain">
            <a routerLink="portal/agent/viewproducts" (click)="redirect()"><img
                    [src]="common.baseCssUrl+'assets/images/icon_menu_boxes_grey.svg'"></a>
            <a href="#" class="active"><img [src]="common.baseCssUrl+'assets/images/icon_healthcare_grey.svg'"></a>
            <a href="#"><img [src]="common.baseCssUrl+'assets/images/icon_bullet_list_grey.svg'"></a>
            <a href="#"><img [src]="common.baseCssUrl+'assets/images/icon_paper_grey.svg'"></a>
        </div>
    </div>
</div>