.header {
    display: block;
    margin: 15px;
    width: 90%;
    background-image: linear-gradient(#c7222a, #c7222a);
    height: 40px;
    margin-left: auto;
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 17px;
    margin-right: 0px;
    .header-icon {
        margin-left: 10px;
        margin-top: 5px;
        cursor: pointer;

        img {
            margin-top: 7px;
            margin-left: 13px;
            width: 95px;
        }

        p {
            color: #fff;
            font-size: 10px;
            margin-left: 185px;
            margin-top: 0px;
            padding-top: 0px;
        }
    }
}