<!--NEW HTML CODE START-->
<main class="siteBody">
    <div class="contentBody bodyColumns-1 bodyColumns-dashboard">
        <div class="bodyColumn body_flex_column">
            <div class="row">
                <div class="col-12">
                    <h2 class="icon_withHeading" aria-hidden="true"  ><a class="btn_backPage"  (click)="backToProducts()" title="Back To Products"></a>Back To Dashboard</h2>
                </div>
            </div>
            <section class="white_container mb-3 getQuoteMain">
                <app-get-quote></app-get-quote>
            </section>
            <section class="productListWraper">
                <div class="main_productList">
                    <div class="item_productList left_productList">
                        <div class="main_listProducts">
                           <!--Policy list start-->
                           <div class="cardViewMain" #targetElement *ngIf="ProductList.length > 0; else noProducts">
                                <div class="cardViewWraper">
                                    <div class="cardViewItem" *ngFor="let item of ProductList; let i = index">
                                        <header class="head_cardViewItem">
                                            <div class="productInfoDetails">
                                                <div class="planProductInfo">
                                                    <div class="ppi_img">
                                                        <img src="assets/logo/activeOne.svg">
                                                    </div>
                                                    <div class="ppi_info">
                                                        <h4>{{item.productName | translate}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon_productInfoDetails">
                                                <button type="button" class="btn_iconGrey" id="share-product" name="share-product" title="Download Quote" (click)="donwloadQuote(item)"><img src="assets/Img/download_blue_icon.svg"></button>
                                                <!--Tag: Recommended start-->
                                                <div class="ribbon_Recommended ">Recommended</div>
                                                <!--Tag: Recommended end-->
                                            </div>
                                        </header>
                                        <main class="body_cardViewItem body_flex_column">
                                            <ul class="tick_round">
                                                <li *ngFor="let key of item.keyFeatures">
                                                    <img src="assets/Img/icon_tick_org.svg">
                                                    {{ key }}
                                                </li>
                                            </ul>
                                            <div class="cardViewItem_planContainer">
    
                                                <!-- Plan 1 -->
                                                <div class="cardViewItem_plans" [ngClass]="{ 'highlight': selectedPlans[i] === 1 }"
                                                    (click)="selectPlan(i, 1)">
                                                    <div class="planPrice" [ngClass]="{ 'highlight': selectedPlans[i] === 1}">
                                                        ₹{{ item.tenure1Premium }}*<span class="planTenure">/{{"1year" | translate}}</span>
                                                    </div>
                                                    <!-- <div *ngIf="item.t1DiscountPercentage" class="planDuration">
                                                        /{{ item.t1DiscountPercentage }}%
                                                    </div> -->
                                                    <div *ngIf="item.t1DiscountAmount && item.t1DiscountPercentage" class="planDuration"
                                                        [ngClass]="{'highlight': selectedPlans[i] === 1}">
                                                        (<span *ngIf="item.t1DiscountPercentage" class="planDuration" style="padding:0;">
                                                            {{ item.t1DiscountPercentage }}%
                                                        </span> Discount: ₹ {{ item.t1DiscountAmount }})
                                                    </div>
                                                </div>
            
                                                <!-- Plan 2 -->
                                                <div class="cardViewItem_plans" [ngClass]="{ 'highlight': selectedPlans[i] === 2 }"
                                                    (click)="selectPlan(i, 2)">
                                                    <div class="planPrice" [ngClass]="{ 'highlight': selectedPlans[i] === 2}">
                                                        ₹{{ item.tenure2Premium }}*<span class="planTenure">/{{"2years" | translate}}</span>
                                                    </div>
                                                    <!-- <div *ngIf="item.t2DiscountPercentage" class="planDuration">
                                                         {{ item.t2DiscountPercentage }}%
                                                    </div> -->
                                                    <div *ngIf="item.t2DiscountAmount && item.t2DiscountPercentage" class="planDuration"
                                                        [ngClass]="{'highlight': selectedPlans[i] === 2}">
                                                        (<span *ngIf="item.t2DiscountPercentage" class="planDuration" style="padding:0;">
                                                            {{ item.t2DiscountPercentage }}%
                                                        </span> Discount: ₹ {{ item.t2DiscountAmount }})
                                                    </div>
                                                </div>
            
                                                <!-- Plan 3 -->
                                                <div class="cardViewItem_plans" [ngClass]="{ 'highlight': selectedPlans[i] === 3 }"
                                                    (click)="selectPlan(i, 3)">
                                                    <div class="planPrice" [ngClass]="{ 'highlight': selectedPlans[i] === 3}">
                                                        ₹{{ item.tenure3Premium }}*<span class="planTenure">/{{"3years" | translate}}</span>
                                                    </div>
                                                    <!-- <div *ngIf="item.t3DiscountPercentage" class="planDuration">
                                                        {{ item.t3DiscountPercentage }}%
                                                    </div> -->
                                                    <div *ngIf="item.t3DiscountAmount && item.t3DiscountPercentage" class="planDuration"
                                                        [ngClass]="{'highlight': selectedPlans[i] === 3}">
                                                        (<span *ngIf="item.t3DiscountPercentage" class="planDuration" style="padding:0;">
                                                            {{ item.t3DiscountPercentage }}%
                                                        </span> Discount: ₹ {{ item.t3DiscountAmount }})
                                                    </div>
                                                </div>
            
                                            </div>
                                            
                                        <div class="backdrop" *ngIf="isOverlayVisible"></div>
    
                                        <!-- Popup Overlay -->
                                        <div class="popup-overlay" *ngIf="isOverlayVisible">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                                    <i class="fa-solid fa-xmark" (click)="closeOverlay()"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="big-text">{{"Recommended Add-Ons" | translate}}</div>
                                                <!-- <div class="col-md-12 add-container">
                                                    <div *ngFor="let addon of ProductList[popIndex].productFeatures"
                                                    class="add-wrapper col-6 col-md-6 col-lg-3"> -->
                                                <!-- <div class="add-box"
                                                        [ngClass]="{'selected': isSelected(addon.featureName), 'unselected': !isSelected(addon.featureName)}"> -->
                                                <!-- <div>
                                                            <input type="checkbox" [value]="addon.featureName" id="addon.featureName"
                                                                (change)="onCheckboxChange($event, addon.featureName)"/>
                                                                <label for="addon.featureName" class="add-checkbox">
                                                                    <span>
                                                                        {{addon.featureName}}
                                                                    </span>
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-md-12 add-container">
                                                    <div *ngFor="let addon of ProductList[popIndex].productFeatures"
                                                        class="add-wrapper" [ngClass]="{'selected': addon.isSelected}">
                                                        <label for="{{addon.featureName}}" class="add-checkbox">
                                                            <input type="checkbox" [value]="addon.featureName"
                                                                id="{{addon.featureName}}" name="{{addon.featureName}}" [checked]="addon.isSelected"
                                                                (change)="onCheckboxChange($event, addon,i)" />
                                                            <span>{{addon.featureName | translate}}</span>
                                                        </label>
                                                    </div>
                                                </div>
        
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <button id="Continue" name="Continue"
                                                    class="get" (click)="closeOverlay()">{{"Continue" | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                        </main>
                                        <footer class="footer_cardViewItem mt-4">
                                            <div class="btn_groupAction">
                                                <button class="btn_pink btn_products" id="View Recommended Add-Ons" name="View Recommended Add-Ons"
                                                (click)="showOverlay(i)">{{"View Recommended Add-Ons" | translate}}</button>
                                                <button class="btn_grey btn_products btn_addtocompare" id="Add to Compare" name="Add to Compare" (click)="addToCompareProducts(item)">
                                                    <img src="assets/Img/left-and-right-arrows1.svg" alt="">
                                                    {{"Add to Compare" | translate}}
                                                </button>
                                                <button class="btn_red btn_products btn_buy" id="Add to Cart" name="Add to Cart" (click)="addToCart(item)">
                                                    <img src="assets/Img/trolley1.svg" alt="">
                                                    {{"Buy Now" | translate}}
                                                </button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                           </div>
                           <!--Poicy list end-->
                            <ng-template #noProducts>
                                <div class="no-products-message" *ngIf="displayNoProductsMessage">{{"No products available for the selected type."}}</div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="item_productList right_productList">
                        <div class="cart_listProducts">
                            <header class="cart_listHead body_flex_row justify-content-between">
                                <h4>{{"Cart" | translate}}</h4>
                                <div class="cart_listHeadInfo">
                                    <div *ngIf="cartProductList.length >0">
                                        <div class="allitem">
                                            <!-- <input type="button" class="btn_pink" id="Remove All"
                                            name="Remove All" [value]="'Remove All' | translate"
                                                        (click)="deleteallcartitems()"> -->
                                            <button type="button" class="btn_pink" id="RemoveAll"
                                            name="RemoveAll" (click)="deleteallcartitems()">{{"Remove All" | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <main class="cart_listBody" [ngClass]="{'center-elements': cartProductList.length === 0}">
                                <!--No Products start-->
                                <div *ngIf="cartProductList.length == 0" class="no-product">
                                    <!-- <div> -->
                                    <img src="assets/Img/trolley.svg" alt="trolley" style="height: 41.25px; width: 174px;">
                                    <p class="no-prod-para">{{"No product added in the cart" | translate}}</p>
                                    <!-- </div> -->
                                </div>
                                <!--No Products end-->
                                <div class="cart_listLength" *ngIf="cartProductList.length >0">
                                    <div class="cart_cartProductList" *ngFor="let item of cartProductList; let i = index">
                                        <div class="cardViewItem">
                                            <div class="row">
                                                <div class="col-6 data-item">
                                                    <label>{{"Proposer Name:" | translate}}</label>
                                                    <h6>{{item.proposerName | translate}}</h6>
                                                </div>
                                                <div class="col-6 data-item text-end">
                                                    <label>{{"Mobile Number:" | translate}}</label>
                                                    <h6>{{item.mobileNumber | translate}}</h6>
                                                </div>
                                            </div>
                                            <header class="head_cardViewItem body_flex_row justify-content-between">
                                                <div class="productInfoDetails">
                                                    <div class="planProductInfo">
                                                        <div class="ppi_img">
                                                            <img src="assets/logo/activeOne.svg">
                                                        </div>
                                                        <div class="ppi_info">
                                                            <h4>{{item.productName | translate}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="allitem">
                                                    <!-- <input type="button" class="product-remove-btn" [value]="'Remove' | translate"
                                                id="Remove" name="Remove" (click)="deleteagentcartitems([item.id])"> -->
                                                <button type="button" class="btn_pink" id="Remove"
                                            name="Remove" (click)="deleteagentcartitems([item.id])">{{"Remove" | translate}}</button>
                                                </div>
                                            </header>
                                            <main class="body_cardViewItem mt-4">
                                                <ul class="tick_round">
                                                    <li *ngFor="let key of item.productFeatures">
                                                        <img src="assets/Img/icon_tick_org.svg">
                                                        {{ key }}
                                                    </li>
                                                </ul>
                                                <div class="cardViewItem_planContainer mt-4">
                                                    <div class="cardViewItem_plans cartlist_plans">
                                                        <div class="planLabel">
                                                            {{"Premium" | translate}}
                                                        </div>
                                                        <div class="planPrice">
                                                            ₹{{ item.selectedPremiumAmount }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="item.selectedAddons">
                    
                                                    <div *ngIf="item.selectedAddons.length > 0">
                                                        <hr>
                                                        <!-- <div class="add-tag">Selected Addons</div> -->
                                                        <div class="add-container">
                                                            <!-- <ng-container *ngFor="let addon of item.selectedAddons">
                                                                <div class="add-box">
                                                                    <img src="assets/logo/greenpoint.svg" alt="">
                                                                    <div class="add-text">
                                                                        {{addon | translate}}
                                                                    </div>
                                                                </div>
                                                            </ng-container> -->
                                                            <ul class="tick_round">
                                                                <li *ngFor="let addon of item.selectedAddons">
                                                                    <img src="assets/Img/icon_tick_green_bg.svg">
                                                                    {{addon | translate}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="tipInfo_org tipInfo_quick  mt-4">
                                                    <img src="assets/Img/lightbulb.svg" alt="">
                                                   {{"Premium might increase based on the addOns." | translate}}
                                                </div>
                                            </main>
                                            <footer class="footer_cardViewItem mt-4">
                                                <!-- <input type="button" class="buy-btn" (click)="insurenow(item)"
                                            id="Buy now" name="Buy now" [value]="'Buy now' | translate"> -->
                                                <button type="button" class="btn_red btn_products btn_buy btn_fullWidth" (click)="insurenow(item)"
                                                id="Buy now" name="Buy now">{{"Buy now" | translate}}</button>
                                            </footer>
                                        </div>
                                        <div class="h_line"></div>
                                    </div>
                                </div>
                            </main>
                            <footer class="cart_listFooter"></footer>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!--NEW HTML CODE END-->

<p-confirmDialog class="popupModalMain"></p-confirmDialog>

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white;font-size: 14px;"> Loading... </p>
</ngx-spinner> -->
<!-- app.component.html -->
<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  [fullScreen]="true"
>
  <div class="simple-loader">
    <img src="assets/Loader.gif" alt="Loading..." style="width: 700px; height: 500px;" />
    <p>Loading...</p>
  </div>
</ngx-spinner> -->


<!--Bottom: ADD TO CAMPARE PRODUCTS START-->
<div class="bottomInfoMain bottomInfoMain_comparePolices" *ngIf="compareItems.length > 0">
    <div class="bottomInfoSubMain mb-3">
        <div class="bi_left">
            <h5>Compare Plans</h5>
        </div>
        <div class="bi_right">
            <button type="button" id="checkcomparison" name="checkcomparison" value="savenew" class="btn_pink btn_checkComparison" (click)="navigateToProductComparison()" [disabled]="compareItems.length === 1">Check Comparison</button>
            <!--<button type="button" value="proceed" class="btn_pink btn_pinkNext btn_checkComparison_close" (click)="closeComparison()">Close</button>-->
        </div>
    </div>
    <div class="bottomInfoSubMain">
        <div class="bi_left bi_left_fullWidth">
            <div class="policePlans">
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[0]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[0].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button" id="compareproduct-1" name="compareproduct-1" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[0])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>
            
            <div class="planSeparator block-hide">vs</div>
            <div class="policePlans">
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[1]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[1].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button"  id="compareproduct-2" name="compareproduct-2" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[1])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>
            <div class="planSeparator block-hide">vs</div>
            <div class="policePlans" >
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[2]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[2].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button" id="compareproduct-3" name="compareproduct-3" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[2])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>

        </div>
        <div class="bi_right block-hide">
            <button type="button" id="comparenow" name="comparenow" value="comparenow" class="btn_red btn_redRenew" (click)="navigateToProductComparison()" [disabled]="compareItems.length === 1">Compare now</button>
            <button type="button" id="compareclose" name="compareclose" value="compareclose" class="btn_pink btn_pinkNext" (click)="closeProductComparison()">Close</button>
        </div>
    </div>
  </div>
<!--Bottom: ADD TO CAMPARE PRODUCTS END-->

