<!--NEW HTML CODE START-->
<main class="siteBody block-hide">
    <div class="contentBody bodyColumns-1 bodyColumns-dashboard">
        <div class="bodyColumn body_flex_column">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2">Products</h2>
                    <p>Discover our products to insure your health</p>
                </div>
            </div>
            <section class="white_container mb-3 getQuoteMain">
                <app-get-quote></app-get-quote>
            </section>
            <section class="productListWraper">
                <div class="main_productList">
                    <div class="item_productList left_productList">
                        <div class="main_listProducts">
                            1
                        </div>
                    </div>
                    <div class="item_productList right_productList">
                        <div class="cart_listProducts">
                            2
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!--NEW HTML CODE END-->

<div class="main-class">
    <div class="r-p-header">
        <div class="product-heading">Products</div>
        <div class="prod-head-desc">Discover our products to insure your health
        </div>
    </div>
    <app-get-quote></app-get-quote>
    <div class="main-container">
        <div class="left-panel-product">
            <div class="product-list-container">
                <div *ngIf="ProductList.length > 0; else noProducts">
                    <div class="card_ProductList">
                        <div class="cardRow">
    
                            <ng-container *ngFor="let item of ProductList; let i = index">
                                <div class="cardItem box">
                                    <!-- {{ item | json}}  -->
                                    <div class="product-item">
                                        <img src="assets/logo/activeOne.svg">
                                        {{item.productName}}
                                    </div>
                                    <!-- <p>{{item.productDescription}}</p> -->
                                    <div class="key">
                                        <div *ngFor="let key of item.keyFeatures">
                                            <div class="keypoint">
                                                <img src="assets/logo/keypoint.svg">
                                                {{ key }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan-container">
    
                                        <!-- Plan 1 -->
                                        <div class="plan1" [ngClass]="{ 'highlight': selectedPlans[i] === 1 }"
                                            (click)="selectPlan(i, 1)">
                                            <div class="plan-price" [ngClass]="{ 'highlight': selectedPlans[i] === 1}">
                                                ₹{{ item.tenure1Premium }}*/ 1year
                                            </div>
                                            <div *ngIf="item.t1DiscountPercentage" class="plan-discount">
                                                /{{ item.t1DiscountPercentage }}%
                                            </div>
                                            <div *ngIf="item.t1DiscountAmount" class="plan-duration"
                                                [ngClass]="{'highlight': selectedPlans[i] === 1}">
                                                ( {{ item.t1DiscountAmount }} )
                                            </div>
                                        </div>
    
                                        <!-- Plan 2 -->
                                        <div class="plan2" [ngClass]="{ 'highlight': selectedPlans[i] === 2 }"
                                            (click)="selectPlan(i, 2)">
                                            <div class="plan-price" [ngClass]="{ 'highlight': selectedPlans[i] === 2}">
                                                ₹{{ item.tenure2Premium }}*/ 2 year
                                            </div>
                                            <div *ngIf="item.t2DiscountPercentage" class="plan-discount">
                                                 {{ item.t2DiscountPercentage }}%
                                            </div>
                                            <div *ngIf="item.t2DiscountAmount" class="plan-duration"
                                                [ngClass]="{'highlight': selectedPlans[i] === 2}">
                                                ( {{ item.t2DiscountAmount }} )
                                            </div>
                                        </div>
    
                                        <!-- Plan 3 -->
                                        <div class="plan3" [ngClass]="{ 'highlight': selectedPlans[i] === 3 }"
                                            (click)="selectPlan(i, 3)">
                                            <div class="plan-price" [ngClass]="{ 'highlight': selectedPlans[i] === 3}">
                                                ₹{{ item.tenure3Premium }}*/ 3 year
                                            </div>
                                            <div *ngIf="item.t3DiscountPercentage" class="plan-discount">
                                                {{ item.t3DiscountPercentage }}%
                                            </div>
                                            <div *ngIf="item.t3DiscountAmount" class="plan-duration"
                                                [ngClass]="{'highlight': selectedPlans[i] === 3}">
                                                ( {{ item.t3DiscountAmount }} )
                                            </div>
                                        </div>
    
                                    </div>
                                    <!-- <div class="addon" *ngIf="addonView[i] == true">
                                        <hr>
                                        <div class="big-text">Selected Add-Ons</div>
                                        <div class="add-container">
                                            <ng-container *ngFor="let addon of item.productFeatures">
                                                <div class="add-box">
                                                    {{addon.featureName}}
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div> -->
                                    <div class="backdrop" *ngIf="isOverlayVisible"></div>
    
                                    <!-- Popup Overlay -->
                                    <div class="popup-overlay" *ngIf="isOverlayVisible">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                                <i class="fa-solid fa-xmark" (click)="closeOverlay()"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="big-text">Recommended Add-Ons</div>
                                            <!-- <div class="col-md-12 add-container">
                                                <div *ngFor="let addon of ProductList[popIndex].productFeatures"
                                                class="add-wrapper col-6 col-md-6 col-lg-3"> -->
                                            <!-- <div class="add-box"
                                                    [ngClass]="{'selected': isSelected(addon.featureName), 'unselected': !isSelected(addon.featureName)}"> -->
                                            <!-- <div>
                                                        <input type="checkbox" [value]="addon.featureName" id="addon.featureName"
                                                            (change)="onCheckboxChange($event, addon.featureName)"/>
                                                            <label for="addon.featureName" class="add-checkbox">
                                                                <span>
                                                                    {{addon.featureName}}
                                                                </span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-md-12 add-container">
                                                <div *ngFor="let addon of ProductList[popIndex].productFeatures"
                                                    class="add-wrapper" [ngClass]="{'selected': addon.isSelected}">
                                                    <label for="{{addon.featureName}}" class="add-checkbox">
                                                        <input type="checkbox" [value]="addon.featureName"
                                                            id="{{addon.featureName}}" name="{{addon.featureName}}" [checked]="addon.isSelected"
                                                            (change)="onCheckboxChange($event, addon,i)" />
                                                        <span>{{addon.featureName}}</span>
                                                    </label>
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <button id="Continue" name="Continue"
                                                 class="get" (click)="closeOverlay()">Continue</button>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- <p *ngIf="selectedPlan.value" class="mt-4">
                                        You have selected the {{ selectedPlan.value }} year plan.
                                    </p> -->
                                    <div class="product-button">
                                        <!-- /*<button class="get" (click)="getQuote(item)">Get Quote</button>*/ -->
                                        <button class="get" id="Add to Cart" name="Add to Cart"
                                         (click)="addToCart(item)">
                                            <img src="assets/Img/trolley1.svg" alt="">
                                            Add to Cart
                                        </button>
                                        <button class="get1" id="View Recommended Add-Ons" name="View Recommended Add-Ons"
                                         (click)="showOverlay(i)">View Recommended Add-Ons</button>
                                        <button class="get2" id="Add to Compare" name="Add to Compare" (click)="addToCompareProducts(item)">
                                            <img src="assets/Img/left-and-right-arrows1.svg" alt="">
                                            Add to Compare
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noProducts>
                <div class="no-products-message" *ngIf="displayNoProductsMessage">No products available for the selected
                    type.</div>
            </ng-template>
        </div>
    
        <div class="right-panel-cart">
            <div class="r-p-header">
                <div class="cart-heading">Cart</div>
            </div>
            <div class="cardItem box " [ngClass]="{'center-elements': cartProductList.length === 0}">
                <div *ngIf="cartProductList.length == 0" class="no-product">
                    <!-- <div> -->
                    <img src="assets/Img/trolley.svg" alt="trolley" style="height: 41.25px; width: 174px;">
                    <p class="no-prod-para">No product added in the cart</p>
                    <!-- </div> -->
                </div>
                <div *ngIf="cartProductList.length >0">
                    <div class="allitem">
                        <input type="button" class="product-remove-btn" id="Remove All"
                        name="Remove All" value="Remove All"
                                    (click)="deleteallcartitems()">
                    </div>
                    <div *ngFor="let item of cartProductList; let i = index">
                        <div class="cart-cardItem">
                            <div class="cart-info-container">
                                <div class="proposer-info">
                                    <h5>Proposer Name:</h5>
                                    <p>{{item.proposerName}}</p>
                                </div>
                                <div class="mobile-info">
                                    <h5>Mobile Number:</h5>
                                    <p>{{item.mobileNumber}}</p>
                                </div>
                            </div>
                            <div class="product-header">
                                <div class="cart-productText"><img src="assets/logo/activeOne.svg"
                                        class="cart-productImage"> {{item.productName}}</div>
                                <input type="button" class="product-remove-btn" value="Remove"
                                id="Remove" name="Remove" (click)="deleteagentcartitems([item.id])">
                            </div>
                            <div class="product-features">
                                <div *ngFor="let key of item.productFeatures">
                                    <div class="feature-element">
                                        <img src="assets/Img/Frame2.svg" alt="">
                                        <div class="feature"> {{ key }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="plan-container">
    
                                <div class="plan-label">
                                    Premium
                                </div>
                                <div class="plan1">
                                    <div class="plan-price">
                                        ₹{{ item.selectedPremiumAmount }}
                                    </div>
                                </div>
    
                            </div>
                            <div *ngIf="item.selectedAddons">
    
                                <div *ngIf="item.selectedAddons.length > 0">
                                    <hr>
                                    <!-- <div class="add-tag">Selected Addons</div> -->
                                    <div class="add-container">
                                        <ng-container *ngFor="let addon of item.selectedAddons">
                                            <div class="add-box">
                                                <img src="assets/logo/greenpoint.svg" alt="">
                                                <div class="add-text">
                                                    {{addon}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="quick-tip">
                                <img src="assets/Img/lightbulb.svg" alt="">
                                Premium might increase based on the addOns.
                            </div>
                            <!-- <div class=""> -->
                            <input type="button" class="buy-btn" (click)="insurenow(item)"
                            id="Buy now" name="Buy now" value="Buy now">
                            <!-- </div> -->
                        </div>
                        <div class="line">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white;font-size: 14px;"> Loading... </p>
</ngx-spinner> -->
<!-- app.component.html -->
<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  [fullScreen]="true"
>
  <div class="simple-loader">
    <img src="assets/Loader.gif" alt="Loading..." style="width: 700px; height: 500px;" />
    <p>Loading...</p>
  </div>
</ngx-spinner> -->


<!--Bottom: ADD TO CAMPARE PRODUCTS START-->
<div class="bottomInfoMain bottomInfoMain_comparePolices" *ngIf="compareItems.length > 0">
    <div class="bottomInfoSubMain mb-4">
        <div class="bi_left">
            <h5>Compare Plans</h5>
        </div>
        <div class="bi_right">
            <button type="button" id="checkcomparison" name="checkcomparison" value="savenew" class="btn_pink btn_checkComparison" (click)="navigateToProductComparison()" [disabled]="compareItems.length === 1">Check Comparison</button>
            <!--<button type="button" value="proceed" class="btn_pink btn_pinkNext btn_checkComparison_close" (click)="closeComparison()">Close</button>-->
        </div>
    </div>
    <div class="bottomInfoSubMain">
        <div class="bi_left bi_left_fullWidth">
            <div class="policePlans">
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[0]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[0].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button" id="compareproduct-1" name="compareproduct-1" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[0])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>
            
            <div class="planSeparator block-hide">vs</div>
            <div class="policePlans">
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[1]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[1].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button"  id="compareproduct-2" name="compareproduct-2" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[1])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>
            <div class="planSeparator block-hide">vs</div>
            <div class="policePlans" >
                <!--Police Info start-->
                <div class="planProductInfo" *ngIf="compareItems[2]"> 
                    <div class="ppi_img">
                        <img src="assets/Img/icon_activeone.svg">
                    </div>
                    <div class="ppi_info">
                        <h4>{{compareItems[2].productName}}</h4>
                        <h6>Aditya Birla Health Insurance</h6>
                    </div>
                    <span class="removePlan"><button type="button" id="compareproduct-3" name="compareproduct-3" class="btn-closeCompare" (click)="removeCompareItemProduct(compareItems[2])"><img src="assets/Img/icon_close_grey.svg"></button></span>
                </div>
                <!--Police Info end-->
            </div>

        </div>
        <div class="bi_right block-hide">
            <button type="button" id="comparenow" name="comparenow" value="comparenow" class="btn_red btn_redRenew" (click)="navigateToProductComparison()" [disabled]="compareItems.length === 1">Compare now</button>
            <button type="button" id="compareclose" name="compareclose" value="compareclose" class="btn_pink btn_pinkNext" (click)="closeProductComparison()">Close</button>
        </div>
    </div>
  </div>
<!--Bottom: ADD TO CAMPARE PRODUCTS END-->

