.main-container {
  background-color: #fff;
  padding: 11rem;

  .detail {
    font-size: 24px;
    font-weight: 500;
  }

  .box {
    // padding: 1% 1%;
    // margin: 1% 4%;
    // border: 1px solid #000000;
    // border-radius: 20px;
    // background-color: rgb(255, 255, 255);
    cursor: default;
    // box-shadow: 0 2px 3px 0 rgba(73, 73, 73, 0.2), 0 3px 10px 0 rgba(73, 73, 73, 0.19);
    // transition: border-color 0.3s ease;

    &.cardItem {
      padding: 1%;
      // margin: 5% 1% 2% 3%;
      // width: 70%;

      @media (max-width:820px) {
        width: 48%;
      }

      @media (max-width:767px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .product-item {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      color: rgb(21, 21, 99);
      margin: 1%;
    }

    .key {
      padding: 1%;

      .keypoint {
        margin: 1%;
      }
    }

    p {
      font-size: 12px;
      margin: 2%;
    }

    // .product-button {

    //   // float: right;
    //   .get {
    //     background: #C7222A;
    //     color: #ffffff;
    //     border: 1px solid #C7222A;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }

    //   .get1 {
    //     background: #FFE7E5;
    //     color: #C7222A;
    //     border: 1px solid #FFE7E5;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }

    //   .get2 {
    //     background: #F9FAFB;
    //     color: #4C4C4C;
    //     border: 1px solid #F9FAFB;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }
    // }

    .custom-tabview {
      .top-box {
        width: 100%;
        position: relative;
        overflow: hidden;

        .top-container {
          overflow-x: auto;
          scrollbar-width: thin;
          scrollbar-color: transparent transparent;
        }
      }

      .bottom-box {

        h3 {
          font-family: "Noto Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        ul {
          padding-left: 20px;
        }

        li {
          font-family: "Noto Sans", sans-serif;
          font-size: 14px;
        }

        .row {
          display: flex;
          flex-direction: row;

          .card {
            background: #F9FAFB;
            padding: 4%;
            border: none;
            border-radius: 12px;
            width: 45%;
            margin: 2%;

            .key {
              display: flex;
              flex-direction: column;
              gap: 1rem; // Spacing between items

              .keypoint {
                display: flex; // Align items horizontally
                align-items: center;
                gap: 0.5rem; // Space between icon and text
                // padding: 0.5rem 0;

                .icon {
                  width: 20px; // Adjust the icon size
                  height: 20px;
                }

                .feature-text {
                  font-size: 16px;
                  color: #333;
                }
              }
            }
          }
        }
      }

      .buyNow-btn {
        font-family: "Anek Latin", sans-serif;
        background-color: #C7222A;
        color: white;
        border: none;
        padding: 10px 36px;
        border-radius: 8px;
        cursor: pointer;
      }

    }

  }
}

:host::ng-deep .top-container {
  .p-tabview-nav {
    display: flex;
    border: none;
    background: transparent;

    li {
      margin-right: 2px;

      .p-tabview-nav-link {
        border: none;
        padding: 8px 25px;
        background-color: #fff;
        color: #000;
        font-family: "Noto Sans", sans-serif;
        font-size: 14px;
      }

      &.p-highlight .p-tabview-nav-link {
        font-family: "Anek Latin", sans-serif;
        background-color: #C7222A;
        color: white;
        border: none;
        padding: 10px 36px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  .p-tabview-panels {
    padding: 0;
  }
}

@media (max-width:767px) {
  .main-container .right-panel-product {
    width: 100%;
    padding-left: 0;
  }
}

/*Products details styles start*/
.main_productDetails {
  .productInfoDetails .planProductInfo .ppi_img {
    width: 46px;
    height: 46px;
    img {
      width: 100%;
    }
  }
  .productInfoDetails .planProductInfo .ppi_info {
    h4 {
      font-size: 20px;
      line-height: 22px;
    }
  }
  p {
    line-height: 20px;
  }
  .tick_round {
    font-weight: 400;
    font-size: 14px;
    color:#2e2e2e;
    li {
      cursor: auto;
    }
  }
  .btn_buy {
    &:hover {
      img {
        filter: brightness(0) invert(0);
        opacity: 0.5;
      }
    }
  }
}
:host::ng-deep .custom_tabView{
  .tabview_topContainer {
    .p-tabview-nav li{
      
      &.p-highlight .p-tabview-nav-link {
        background-color: #C7222A;
        color: #fff;
      }
      a {
        position: relative;
        &::after {
          content: '';
          background: rgba(0,0,0,0.1);
          width: 1px;
          height: 17px;
          position: absolute;
          left: 0;
        }
      }
    }
    .p-tabview-nav li {
      &:nth-child(1) {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
    .p-tabview-nav li .p-tabview-nav-link {
      border: none;
      padding: 8px 18px;
      background-color: #fff;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      margin: 0;
    }
    
  }
  .tabview_bottomContainer {
    padding: 30px 0 0;
    .tabview_cardMain {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .tabview_cardItem {
        width:48% ;
        background: #F9FAFB;
        padding: 16px;
        border-radius: 12px;
        .tick_round {
          flex-direction: row;
          flex-wrap: wrap;
          li {
            width: 49%;
            cursor: auto;
            .feature-text{
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
/*Products details styles end*/