<div class="modal popupModalMain show fade" id="OTPModal" tabindex="-1" aria-labelledby="OTPModalLabel"
    aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="popup-modal-header">
          <button type="button" class="popup-btn-close jsClosePopup" data-bs-dismiss="modal-selfDetails" aria-label="modal-sorryError"></button>
        </div> -->
        <div class="popup-modal-body text-center">
          <div class="sorryErrorImg">
              <img src="assets\Img\error_info_icon.svg">            </div>
          <!-- <h6 class="popup-content-title">Sorry</h6> -->
            <p>{{displayData}}</p>
          
        </div>
        <!-- <div class="popup-modal-footer justify-content-center">
          <button type="button" class="btn_Default btn_red btn_save btn_width_m jsClosePopup" aria-label="modal-sorryError">Ok!</button>
        </div> -->
      </div>
    </div>
  </div>
