
.file-index{
  background-color: #f5cd07a6;
  border-radius: 50%;
  font-size: 16px;
  color: black;
  padding: 3px 8px;
  margin-left: -17px;
}
.btn-add{
padding: 3px 14px;
background: var(--primary-red-color);
font-weight: 500;
font-size: 11px;
line-height: 19px;
color: var(--white-color);
border: 1px solid var(--primary-red-color);
border-radius: 17px;
}
/*---Common css start---*/
.btn_red {
  padding: 10px 32px;
}
.btn_bill_delete{
  margin-top: 10px; 
  &:focus, &:active {
    outline: 0;
    border-width: 0;
  }
}
.main_addBills {
  position: relative;
  padding: 30px 20px 0;
  border: 1px solid #F1F3F6;
  border-radius: 15px;
  .btn-add {
    position: absolute;
    top: -15px;
    right: 23px;
    &:hover {
      background: #fff;
      color: #c7222a;
      border: 1px solid #F1F3F6;
    }
  }
}
// .form-selecte{   opacity: 1;
//   transform: scale(.85) translateY(-2.5rem) translateX(.15rem) !important;
//   color: var(--text-black-4c);
//   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 243, 246, 1) 100%);
//   width: auto;
//   border-width: 0;

// }
// .memberLabel{
//   font-weight: 500;
//   font-family: "Anek Latin", sans-serif;
//   font-size: 15px;
//   height: 48px;
//   border-radius: 12px;
//   border: 1px;
//   width: 100%;
//   background-color: #f2f3f6;
//   padding: 6px 12px;
//   color: #4C4C4C;
//   box-sizing: border-box;
//   position: relative;
//   z-index: 0;
// }
// .memberLabel{
//   -webkit-appearance: menulist;
//   -moz-appearance: menulist;
//   appearance: menulist;
// }
// .memberLabel:focus+label,
// .memberLabel.has-value+label{
//     top: 3px;
//     left: 12px;
//     font-size: 12px;
//     color: #666;
//     background-color: #fff;
//     /* z-index: 1; */
//     padding: 0 3px;
//     border-radius: 2px;
// }
// // .memberLabel:focus+label,
// .memberLabel.has-value+label {
//     background: rgb(255, 255, 255);
//     background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 243, 246, 1) 100%);
// }
// .memberLabel:focus+label,
// .memberLabel.has-value+label {
//     top: 1px;
//     color: #4C4C4C;
//     background: rgb(255, 255, 255);
//     background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(242, 243, 246, 0.1) 100%);
// }

/*---Common css end---*/

