<!--My Claims Start-->
<main class="siteBody">
  <div class="contentBody bodyColumns-1">
      <div class="bodyColumn body_flex_column">
          <div class="body_flex_row justify-content-between" >
            <h2 class="icon_withHeading" aria-hidden="true" (click)="navigateToListClaim()"><a class="btn_backPage"></a>My Claims</h2>
          </div>
          <section class="white_container">
              <h6 class="heading-16-red">Raise Request</h6>
          </section>
          <section class="white_container">
              <form [formGroup]="form">
                  <div class="row mb-3">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                          <div class="input-block form-floating input-block-renew">
                              <input class="form-select input-selectBox"  [matAutocomplete]="auto"  id="policyNumber" formControlName="policyNumber"  />
                                  <!-- <option class="dropdown-options" value="" disabled selected>Select Policy Number</option>
                                  <option class="dropdown-options" *ngFor="let policy of policyNumbers" [value]="policy">{{ policy }}</option> -->
                              <label for="policyNumber">Select Policy Number</label>
                              <div *ngIf="form.get('policyNumber')?.invalid && (form.get('policyNumber')?.touched || form.get('policyNumber')?.dirty)">
                              <small class="ui-error block-show" *ngIf="form.get('policyNumber')?.hasError('required') && form.get('policyNumber')?.touched">
                                Policy Number is required.
                              </small>
                              </div>
                             <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="handleDropdownChange($event.option.value)">
                                <mat-option *ngFor="let policy of policyNumbers | async" [value]="policy">
                                    {{ policy }}  
                                </mat-option>
                             </mat-autocomplete>
                             </div>
                             
                            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <div class="input-block form-floating input-block-renew">
                                  <input class="form-control input-textBox"  [matAutocomplete]="auto"  id="policyNumber" formControlName="policyNumber"  placeholder="Search Policy Number">
                                  <label for="policyNumber">Policy Number</label>
                                  <div *ngIf="caseCreationForm.get('policyNumber')?.invalid && (caseCreationForm.get('policyNumber')?.touched || caseCreationForm.get('policyNumber')?.dirty)">
                                    <small class="ui-error block-show" *ngIf="caseCreationForm.get('policyNumber')?.errors?.required">Policy Number is required.</small>
                                  </div>     
                                </div>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChange($event.option.value)">
                                  <mat-option style="font-size: 13px !important;" *ngFor="let option of filteredActivity | async" [value]="option.policynumber">
                                      {{ option?.policynumber }}  
                                  </mat-option>
                               </mat-autocomplete>
                              </div> -->
                  

                            <!-- <div class="input-block form-floating input-block-renew">
                                <div class="custom-dropdown">
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Search Policy Number" 
                                    [(ngModel)]="searchText" 
                                    (focus)="toggleDropdown(true)" 
                                    (input)="filterPolicyNumbers()"
                                  />
                              
                                  <select class="form-select input-selectBox" formControlName="policyNumber" (change)="handleDropdownChange($event)">
                                    <option class="dropdown-options" value="" disabled selected>Select Policy Number</option>
                                    <option class="dropdown-options" *ngFor="let policy of filteredPolicyNumbers" [value]="policy">{{ policy }}</option>
                                  </select>
                                </div>
                              
                                <label for="idgender">Select Policy Number</label>
                                <small class="ui-error block-show" *ngIf="form.get('policyNumber')?.hasError('required') && form.get('policyNumber')?.touched">
                                  Policy Number is required.
                                </small>
                              </div> -->
                              

                            <!-- <div class="input-block form-floating input-block-renew">
                                <div class="custom-dropdown">
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Search Policy Number" 
                                    [(ngModel)]="searchText" 
                                    (focus)="toggleDropdown(true)" 
                                    (input)="filterPolicyNumbers()"
                                  />
                              
                                  <ul *ngIf="isDropdownOpen" class="dropdown-list">
                                    <li 
                                      *ngFor="let policy of filteredPolicyNumbers" 
                                      (click)="selectPolicyNumber(policy)"
                                    >
                                      {{ policy }}
                                    </li>
                                    <li *ngIf="filteredPolicyNumbers.length === 0">
                                      No results found
                                    </li>
                                  </ul>
                                </div>
                              
                                <label for="policyNumber">Select Policy Number</label>
                                <small class="ui-error block-show" *ngIf="form.get('policyNumber')?.hasError('required') && form.get('policyNumber')?.touched">
                                  Policy Number is required.
                                </small>
                              </div> -->
                        
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                          <div class="input-block form-floating input-block-renew">
                              <select class="form-select input-selectBox" formControlName="memberName">
                                  <option class="dropdown-options" value="" disabled selected>Select Member</option>
                                  <option class="dropdown-options" *ngFor="let member of memberNames" [value]="member">{{ member }}</option>
                              </select>
                              <label for="member">Select Member</label>
                              <small class="ui-error block-show" *ngIf="form.get('memberName')?.hasError('required') && form.get('memberName')?.touched">
                                Member name is required.
                              </small>
                                         
                          </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                          <div class="input-block form-floating input-block-renew">
                              <select class="form-select input-selectBox" formControlName="claimType" (change)="onClaimTypeChange($event)">
                                  <option value="" disabled selected>Select Claim Type</option>
                                  <option value="Cashless">Cashless</option>
                                  <option value="Reimbursement">Reimbursement</option>
                              </select>                          
                              <label for="claimtype">Claim Type</label>
                              <!-- <span class="ui-error">Please select claim type</span> -->      
                                <small class="ui-error block-show" *ngIf="form.get('claimType')?.hasError('required') && form.get('claimType')?.touched">
                                    Claim type is required
                                </small>                                
                          </div>
                      </div>

                      <!-- Cashless Fields -->
                      <div class="col-12 mb-3" *ngIf="showCashlessFields">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="text" class="form-control input-textBox" formControlName="coverName" [value]="'Hospitalisation'" readonly />
                                  <label for="coverName">Cover Name</label>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" formControlName="claimedAmount" type="number" id="claimamount" placeholder="Claim Amount">
                                <label for="claimamount">Claim Amount</label>
                                <!-- <span class="ui-error">Please enter claim amount</span> -->
                                <small class="ui-error block-show" *ngIf="form.get('claimedAmount')?.hasError('required') && form.get('claimedAmount')?.touched">
                                    Claim amount is required
                                </small> 
                            </div>
                        </div>
                        

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="date" class="form-control input-textBox" formControlName="admissionDate" placeholder="Date of Admission" />
                                  <label for="admissionDate">Date of Admission</label>
                                  <small class="ui-error block-show" *ngIf="form.get('admissionDate')?.hasError('required') && form.get('admissionDate')?.touched" >
                                    Date of Admission is required
                                </small>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="time" class="form-control input-textBox" formControlName="admissionTime" placeholder="Time of Admission (Tentative)" />
                                  <label for="admissionTime">Time of Admission (Tentative)</label>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="date" class="form-control input-textBox" formControlName="dischargeDate" placeholder="Date of Discharge" />
                                  <label for="dischargeDate">Date of Discharge</label>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="time" class="form-control input-textBox" formControlName="dischargeTime" placeholder="Time of Discharge (Tentative)" />
                                  <label for="dischargeTime">Time of Discharge (Tentative)</label>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <select class="form-select input-selectBox" formControlName="state" (change)="onStateChange($event)">
                                      <option class="dropdown-options" value="" disabled selected>Select State</option>
                                      <option *ngFor="let state of states" [value]="state.stateID">{{ state.stateName }}</option>
                                  </select>
                                  <label for="state">Select State</label>
                                  <span class="ui-error">Please select state</span>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <select class="form-select input-selectBox" formControlName="city" (change)="onCityChange($event)" [disabled]="!selectedState">
                                      <option class="dropdown-options" value="" disabled selected [selected]="!form.get('city')?.value || form.get('city')?.value === ''">Select City</option>
                                      <option *ngFor="let city of cities" [value]="city.cityID">{{ city.cityName }}</option>
                                  </select>
                                  <label for="city">Select City</label>
                                  <span class="ui-error">Please select city</span>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                              <select class="form-select input-selectBox" formControlName="hospitalName" [disabled]="!selectedCity" (change)="fetchBlackListedHsp($event)">
                                  <option class="dropdown-options" value="" disabled selected>Select Hospitals</option>
                                  <option *ngFor="let hospital of hospitals" [value]="">{{ hospital.hospitalName }}</option>
                              </select>
                              <label for="city">Select Hospital</label>
                              <span class="ui-error">Please select Hospital</span>
                          </div>                      
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input type="text" class="form-control input-textBox" formControlName="hospitalAddress" placeholder="Hospital Address" readonly/>
                                <label for="addnotes">Hospital Address</label>
                            </div>
                        </div>
                        
                          <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="input-block form-floating input-block-renew">
                                <textarea class="form-control input-textBox" formControlName="ailmentDescription" placeholder="Description of the Ailment"></textarea>
                                <label for="ailmentDescription">Description of the Ailment</label>
                            </div>
                        </div> -->
                      </div>
                    </div>

                      <!-- Reimbursement Fields -->
                      <div class="col-12" *ngIf="showReimbursementFields">
                          <div class="row mb-3">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                  <div class="input-block form-floating input-block-renew">
                                      <select class="form-select input-selectBox" formControlName="coverName" (change)="onCoverNameChange($event)">
                                          <option value="" disabled selected>Select Cover Name</option>
                                          <option *ngFor="let cover of coverNames" [value]="cover">{{ cover }}</option>
                                      </select>
                                      <label for="coverName">Cover Name</label>
                                  </div>
                              </div>

                            <div *ngIf="showSecondScenario" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <div class="input-block form-floating input-block-renew">
                                    <input class="form-control input-textBox" formControlName="claimedAmount" type="number" id="claimamount" placeholder="Claim Amount">
                                    <label for="claimamount">Claim Amount</label>
                                    <!-- <span class="ui-error">Please enter claim amount</span> -->
                                    <small class="ui-error block-show" *ngIf="form.get('claimedAmount')?.hasError('required') && form.get('claimedAmount')?.touched">
                                        Claim amount is required
                                    </small> 
                                </div>
                            </div>
                             
                              <div *ngIf="showSecondScenario" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                  <div class="input-block form-floating input-block-renew">
                                      <input type="date" class="form-control input-textBox" formControlName="admissionDate" placeholder="Date of Admission" />
                                      <label for="admissionDate">Date of Admission</label>
                                  </div>
                              </div>
                          </div>

                      

                          <div *ngIf="showFirstScenario" class="col-12" >
                           
                            <section class="main_addBills mb-5" formArrayName="billsArray">
                                <button type="button" class="btn btn-add" (click)="addBillRow()">Add More Bills</button>
                            
                          <div class="row" *ngFor="let bill of billsArray.controls; let i = index" [formGroupName]="i">
                              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                  <div class="input-block form-floating input-block-renew">
                                      <input type="text" class="form-control input-textBox" placeholder="Bill No" formControlName="billNo" />
                                      <label for="addnotes">Bill No.</label>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                  <div class="input-block form-floating input-block-renew">
                                      <input type="date" class="form-control input-textBox" formControlName="billDate" />
                                      <label for="addnotes">Date</label>
                                  </div>
                              </div>
                              <!-- <div class="col-10 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                  <div class="input-block form-floating input-block-renew">
                                      <input type="number" class="form-control input-textBox" placeholder="Amount" id="claimamount" formControlName="billAmount" />
                                      <label for="claimamount">Amount</label>
                                  </div>
                              </div> -->
                              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-block form-floating input-block-renew">
                                    <input class="form-control input-textBox" formControlName="claimedAmount" type="number" id="claimamount" placeholder="Claim Amount">
                                    <label for="claimamount">Claim Amount</label>
                                    <!-- <span class="ui-error">Please enter claim amount</span> -->
                                </div>
                            </div>

                              <div class="col-2 col-sm-12 col-md-1 col-lg-1 col-xl-1 text-center">
                                <button type="button" class="btn btn_bill_delete" (click)="removeBillRow(i)"> <img src="assets/Img/icon_delete_red2.svg"></button>
                              </div>
                          </div>
                        </section>
                      </div>
                      <div class="col-12" *ngIf="showSecondScenario">
                      <div  class="row mb-3">

                        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" formControlName="claimedAmount" type="number" id="claimamount" placeholder="Claim Amount">
                                <label for="claimamount">Claim Amount</label>
                                <span class="ui-error">Please enter claim amount</span>
                            </div>
                        </div>
                         
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="date" class="form-control input-textBox" formControlName="admissionDate" placeholder="Date of Admission" />
                                  <label for="admissionDate">Date of Admission</label>
                              </div>
                          </div> -->

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="time" class="form-control input-textBox" formControlName="admissionTime" placeholder="Time of Admission (Tentative)" />
                                  <label for="admissionTime">Time of Admission (Tentative)</label>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="date" class="form-control input-textBox" formControlName="dischargeDate" placeholder="Date of Discharge" />
                                  <label for="dischargeDate">Date of Discharge</label>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <input type="time" class="form-control input-textBox" formControlName="dischargeTime" placeholder="Time of Discharge (Tentative)" />
                                  <label for="dischargeTime">Time of Discharge (Tentative)</label>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <select class="form-select input-selectBox" formControlName="state" (change)="onStateChange($event)">
                                      <option class="dropdown-options" value="" disabled selected>Select State</option>
                                      <option *ngFor="let state of states" [value]="state.stateID">{{ state.stateName }}</option>
                                  </select>
                                  <label for="state">Select State</label>
                                  <span class="ui-error">Please select state</span>
                              </div>
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <div class="input-block form-floating input-block-renew">
                                  <select class="form-select input-selectBox" formControlName="city" (change)="onCityChange($event)" [disabled]="!selectedState">
                                      <option class="dropdown-options" value="" disabled selected>Select City</option>
                                      <option *ngFor="let city of cities" [value]="city.cityID">{{ city.cityName }}</option>
                                  </select>
                                  <label for="city">Select City</label>
                                  <span class="ui-error">Please select city</span>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                              <select class="form-select input-selectBox" formControlName="hospitalName" [disabled]="!selectedCity" (change)="fetchBlackListedHsp($event)">
                                  <option class="dropdown-options" value="" disabled selected>Select Hospitals</option>
                                  <option *ngFor="let hospital of hospitals" [value]="">{{ hospital.hospitalName }}</option>
                              </select>
                              <label for="city">Select Hospital</label>
                              <span class="ui-error">Please select Hospital</span>
                          </div>                      
                          </div>

                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input type="text" class="form-control input-textBox" formControlName="hospitalAddress" placeholder="Hospital Address" readonly/>
                                <label for="addnotes">Hospital Address</label>
                            </div>
                        </div>


                         
                          
                      </div>
                    </div>
                      </div>


                     
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="input-block form-floating input-block-renew">
                              <textarea class="form-control input-textBox" formControlName="ailmentDescription" placeholder="Description of the Ailment"></textarea>
                              <label for="ailmentDescription">Description of the Ailment</label>
                          </div>
                      </div>

     
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <div class="input-block form-floating input-block-renew" >
                              <textarea class="form-control input-textBox" placeholder="Leave a comment here" id="addnotes" rows="2" cols="30" formControlName="notes" pInputTextarea></textarea>
                              <label for="addnotes">Add Notes</label>
                          </div>
                      </div>

                  </div>
                  <div class="body_flex_column gap-32">
                      <div class="uploadDocument_head body_flex_column gap-2">
                          <h3 class="heading-20-black">Upload Documents</h3>
                          <p>Please upload the documents mentioned below. The files should be in .png / .jpg / .pdf with less than 2 MB size per image.</p>
                      </div>
                      <div class="uploadDocument_optionsInfo row">
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <ul class="unorderList ul_withIcon">
                                  <li><img src="assets/Img/icon_ud_kycid.svg">Any govt/KYC ID</li>
                                  <li><img src="assets/Img/icon_ud_doctor_prescription.svg">Doctor’s Prescription</li>
                                  <li><img src="assets/Img/icon_ud_consultation_form.svg">Consultation form</li>
                              </ul>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <ul class="unorderList ul_withIcon">
                                  <li><img src="assets/Img/icon_ud_hospital_bill.svg">Hospital bill invoice</li>
                                  <li><img src="assets/Img/icon_ud_neft.svg">NEFT/ Cancelled cheque/ Passbook</li>
                                  <li><img src="assets/Img/icon_ud_consultation_form.svg">Claim form</li>
                              </ul>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                              <ul class="unorderList ul_withIcon">
                                  <li><img src="assets/Img/icon_ud_consultation_form.svg">Investigation report</li>
                                  <li><img src="assets/Img/icon_ud_consultation_form.svg">Hospital discharge form</li>
                              </ul>
                          </div>
                      </div>
                      <div class="uploadDocument_main">
                          <div class="uploadDocument_area" (click)="fileInput.click()">
                              <div class="ud_area_left">
                                  <h6>Upload Documents</h6>
                                  <p>JPG/JPEG/BMP/PNG/PDF Files (up to 10MB)</p>
                              </div>
                              <div class="ud_area_right">
                                  <button type="button" class="btn_uploadDocument">
                                      <span class="upload_icon"><img src="assets/Img/icon_upload_white.svg"></span> Upload
                                  </button>
                              </div>
                              <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;" multiple accept=".jpg, .jpeg, .pdf, .bmp, .png" />
                            
                          </div>
                          <span class="ui-error block-show" *ngIf="uploadValidFormat">
                            File format not supported! Please upload .Pdf, .jpeg, .bmp and .png files.
                          </span>
                          <div class="uploadDocument_listMain" *ngIf="uploadedFiles.length > 0">
                              <div class="uploadDocument_filesList">
                                  <div class="filesList_head">
                                      <div class="filesList_headLeft">Uploads:</div>
                                      <div class="filesList_headRight">{{ uploadStatus }}</div>
                                  </div>
                                  <div class="filesList_body">
                                      <ul class="uploadedFiles_main">
                                          <li class="uploadedFiles_item" *ngFor="let file of uploadedFiles; let i=index;">
                                              <div class="uploadedFiles_headInfo">
                                                  <div class="headInfo_item">
                                                      <div class="editable-label" [ngClass]="{ 'editing': file.isEditing, 'edited': file.isEdited }">
                                                          <ng-container *ngIf="!file.isEditing">
                                                              <span class="label-text">{{ file.label }}</span>
                                                              <button (click)="startEditing(file)" class="edit-button">
                                                                  <img src="assets/Img/icon_pencil_blue.svg">
                                                              </button>
                                                          </ng-container>
                                                          <ng-container *ngIf="file.isEditing">
                                                              <input type="text" [formControl]="editableControl" (blur)="stopEditing(file)" autofocus />
                                                          </ng-container>
                                                      </div>
                                                  </div>
                                                  <div class="headInfo_item">
                                                      <div class="upload-success" *ngIf="uploadSuccess"><img src="assets/Img/icon_check_circle.svg"><span class="success-text">Success</span></div>
                                                      <div class="upload-fail" *ngIf="!uploadSuccess"><img src="assets/Img/icon_failure.svg"><span class="failed-text">Failed</span></div>
                                                      <div *ngIf="file.uploadDateTime">
                                                          <span class="date-time">{{ file.formattedUploadDateTime }}</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="uploadedFiles_info">
                                                  <div class="uploadedFiles_infoItem">
                                                      <span class="file-index">{{i+ 1}}</span>
                                                      <h6>{{ file.name }}</h6>
                                                      <p>{{ file.type }}</p>
                                                  </div>
                                                  <div class="uploadedFiles_infoItem">
                                                      <button class="delete-button" (click)="deleteFile(file)">
                                                          <img src="assets/Img/icon_delete_red2.svg">
                                                      </button>
                                                      <div class="size-align">
                                                          <p>{{ convertBytesToKB(file.size) }}</p>
                                                      </div>

                                                  </div>
                                                
                                              </div>
                                          </li>
                                      </ul>

                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </form>
          </section>
          <div class="row">
              <div class="col-12">
                  <!-- <button type="button" class="btn_red" [ngClass]="{'disabled': form.invalid}" [disabled]="form.invalid" (click)="submitRequest()">Submit Request</button> -->
                  <button type="button" class="btn_red" (click)="submitRequest()" [ngClass]="{'disabled': form.invalid}" [disabled]="form.invalid" >Submit Request</button>
              </div>
          </div>
      </div>
  </div>
</main>
<!--My Claims End-->