
.file-index{
  background-color: #f5cd07a6;
  border-radius: 50%;
  font-size: 16px;
  color: black;
  padding: 3px 8px;
  margin-left: -17px;
}

/*---Common css start---*/
.btn_red {
  padding: 10px 32px;
}
.uploadedFiles_main li .uploadedFiles_info .uploadedFiles_infoItem h6 {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-bottom: 0;
}
/*---Common css end---*/
  
  