.input-container {
	position: relative;
	width: 100%;
}
.input-container.col-md-6 {
	width: 48.8%;
}
.input-container.col-md-3 {
	width: 23.2%;
}
.input-container.col-md-4 {
	width: 31.6%;
}
.input-container label {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	font-size: 14px;
	font-family: "Anek Latin", sans-serif;
	color: #aaa;
	transition: all 0.2s ease;
	background-color: #f2f3f6;
	padding: 0 5px;
	pointer-events: none;
}
.input-container {
	position: relative;
	.inputField_Text,
	.inputField_Select,
	.inputField_Text_disabled {
		font-weight: 400;
		height: 40px;
		width: 100%;
		background-color: #f1f3f6;
		color: #979CAE;
		padding: 8px 6px 8px 16px;
		border-radius: 12px;
		border: 1px;
		font-family: "Anek Latin", sans-serif;
		box-sizing: border-box;
		position: relative;
		z-index: 0;
	}
	.inputField_Text:focus+label,
	.inputField_Text.has-value+label,
	.inputField_Select:focus+label,
	.inputField_Select.has-value+label {
		top: 3px;
		left: 12px;
		font-size: 12px;
		color: #666;
		background-color: #fff;
		z-index: 1;
		padding: 0 3px;
		border-radius: 2px;
	}
	.inputField_Text:focus,
	.inputField_Select:focus,
	.inputField_Text_disabled:focus {
		outline: none;
	}
	.inputField_Text:focus+label,
	.inputField_Text.has-value+label,
	.inputField_Select:focus+label,
	.inputField_Select.has-value+label {
		background: rgb(255, 255, 255);
		background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 243, 246, 1) 100%);
	}
}
.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.slider-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.slider input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: linear-gradient(to right,
			#ffcc00 0%,
			#ffcc00 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
			#f0f0f0 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
			#f0f0f0 100%);
	outline: none;
	transition: background 0.15s ease-in-out;
	border-radius: 5px;
}
.slider input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid #C7222A;
	background: #FFFFFF;
}
.slider input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border-radius: 50%;
	border: 3px solid #C7222A;
	cursor: pointer;
}
.slider input[type="range"]::-ms-thumb {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border-radius: 50%;
	border: 3px solid #C7222A;
	cursor: pointer;
}
.slider-values {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 5px;
}
.selected-value {
	background-color: #f0f0f0;
	width: 100px;
	height: 28px;
	padding: 8px;
	gap: 8px;
	border-radius: 8px;
	font-family: Anek Latin;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0.32px;
	text-align: center;
}
.left-cnt-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 32px;
	padding: 4px 16px 4px 4px;
	gap: 4px;
	border-radius: 24px;
	opacity: 0px;
	background: #f1f3f6;
	margin-top: 7%;
}
.left-cnt-btn div :nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.left-cnt-btn div :nth-child(1) i {
	color: #767d93;
}
.left-cnt-btn :nth-child(1) {
	width: 24px;
	height: 24px;
	gap: 12px;
	border-radius: 16px;
	opacity: 0px;
	background: #f1f3f6;
}
.left-cnt-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 32px;
	padding: 4px 16px 4px 4px;
	gap: 4px;
	border-radius: 24px;
	background: #F1F3F6;
	margin-top: 7%;
	div:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFFFFF;
		i {
			color: #767D93;
		}
	}
}
.left-cnt-btn.active-red {
	background-color: #C7222A;
	color: #FFFFFF;

	div i {
		color: #C7222A;
	}
}
.left-cnt-btn.active-green {
	background: #1F874C;
	color: #FFFFFF;
	div i {
		color: #1F874C;
	}
}
.left-cnt-btn div:nth-child(1) {
	width: 24px;
	height: 24px;
	gap: 12px;
	border-radius: 16px;
	background: #F1F3F6;
}
//----------
.member-cards {
	display: flex;
	width: auto;
	gap: 20px;
	margin: 10px 0px 7px 0px;
	overflow-x: auto;
	scrollbar-width: none;
}
.member-card {
	max-width: 241px;
	width: auto;
	background: #F9FAFB;
	flex: 0 0 auto;
}
.memberDetails-carousel .data-item {
	margin-bottom: 0px;
}
//--
.bcc_main {
	gap: 0px;
	padding-bottom: 60px;
}
.input-radio-block.radio_additionalInfo {
	gap: 0px;
}
.bottomInfoMain {
	width: 725px;
	left: 18%;
}
.data-row .data-item h6 {
	font-size: 13px;
}
.radio_format{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.raido_paymentType .input-radiolabel span{
	padding: 13px 10px;
}