<div class="part-1">
    <div class="main-container">
        <form [formGroup]="InsuranceForm">
            <div class="card-body rectangle">
                <div class="card-header">Add Insurance Details</div>
                <div class="col-md-6 typecss">
                    <label>InsuranceType Code <span>*</span></label>
                    <input formControlName="insuranceTypeCode" class="line-border" type="number">
                    <small *ngIf="InsuranceForm.controls['insuranceTypeCode'].dirty && InsuranceForm.hasError('required','insuranceTypeCode')" class="text-danger">*
                        InsuranceTypeCode is required
                    </small>
                </div>
                <div class="col-md-6 typecss">
                    <label>Insurance Type <span>*</span></label>
                    <input formControlName="insuranceType" class="line-border" type="text">
                    <small *ngIf="InsuranceForm.controls['insuranceType'].dirty && InsuranceForm.hasError('required','insuranceType')" class="text-danger">*
                        InsuranceType is required
                    </small>
                </div>   

                <br>
                <div class="btn-container card-body">
                    <button class="btn btn-primary nextbtn" (click)="onSubmit()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="part-2">
    <h4>All Insurance Type Details</h4>
    <p-table [value]="allInsuranceType" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="auto" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="header">
            <tr class="custom-header">
                <th id="insuranceTypeCodeHeader" pSortableColumn="insuranceTypeCode">Insurance Type Code <p-sortIcon field="insuranceTypeCode"></p-sortIcon></th>
                <th id="insuranceTypeHeader" pSortableColumn="insuranceType">Insurance Type <p-sortIcon field="insuranceType"></p-sortIcon></th>
                <th id="statusHeader" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th id="createdDateHeader" pSortableColumn="created_Date">Created Date <p-sortIcon field="created_Date"></p-sortIcon></th>
                <th id="insuranceHeader"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.insuranceTypeCode}}</td>
                <td>{{data.insuranceType}}</td>
                <td>
                    <ng-container *ngIf="data.status === true; else inactiveBlock">
                        <span style="color: green;">Active</span>
                      </ng-container>
                      <ng-template #inactiveBlock>
                        <span style="color: red;">Inactive</span>
                    </ng-template>
                </td>
                <td>{{data.created_Date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td><i style="cursor: pointer;color: green;font-size: 16px;" class="fa-solid fa-pen-to-square" (click)="showDialog(data)"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Edit Insurance Details" [modal]="true" [(visible)]="visible" [style]="{width: '50vw'}" [draggable]="false" [maximizable]="true">
    <form [formGroup]="InsuranceForm">
        <div class="card-body rectangle">
            <div class="col-md-6 typecss">
                <label>InsuranceType Code <span>*</span></label>
                <input formControlName="insuranceTypeCode" style="background: rgba(211, 209, 209, 0.644);" class="line-border" type="number" readonly>
                <small *ngIf="InsuranceForm.controls['insuranceTypeCode'].dirty && InsuranceForm.hasError('required','insuranceTypeCode')" class="text-danger">*
                    InsuranceTypeCode is required
                </small>
            </div>
            <div class="col-md-6 typecss">
                <label>Insurance Type <span>*</span></label>
                <input formControlName="insuranceType" class="line-border" type="text">
                <small *ngIf="InsuranceForm.controls['insuranceType'].dirty && InsuranceForm.hasError('required','insuranceType')" class="text-danger">*
                    InsuranceType is required
                </small>
            </div>
            <div class="col-md-6 typecss">
                <div style="display: flex;justify-content: space-between;">
                    <label>Insurance Status </label>
                    <p-inputSwitch formControlName="status"></p-inputSwitch>
                </div>
            </div>   

            <br>
            <div class="btn-container card-body">
                <button class="btn btn-primary nextbtn" (click)="onUpdate()">Save</button>
            </div>
        </div>
    </form>
</p-dialog>