<div class="messageModal">
  <div class="modal-content" [ngClass]="data.type">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ data.type === 'success' ? 'Success' : data.type === 'error' ? 'Error' : data.title }}
      </h5>
    </div>
    <div class="modal-body">
      <div class="icon_infoMsg">
        <img
          [src]="data.type === 'success' ? 'assets/Img/icon_white_tick.svg' :
                 data.type === 'error' ? 'assets/Img/icon_white_close.svg' :
                 'assets/Img/icon_warning.svg'"
          [alt]="data.type === 'success' ? 'Success Icon' : data.type === 'error' ? 'Error Icon' : 'Warning Icon'"
        />
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p *ngIf="data.type === 'success'">{{ 'Your ' + data.title + ' Request was created Successfully'}}</p>
          <p [style.font-weight]="data.type === 'success' ? 'bold' : 'normal'">
            {{ data.message }}
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer messageModal_button">
      <button id="continue" name="continue" [ngClass]="data.type" (click)="onClose()">
        {{ data.type === 'success' ? 'Continue' : data.type === 'error' ? 'I Understand' : 'Okay' }}
      </button>
    </div>
  </div>
</div>