<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row endorsement-title" (click)="backToEndorsments()">
                <i class="fa-solid fa-arrow-left"></i>
                <h2>My Endorsement</h2>
            </div>

            <div class="white_container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Endorsement Details</h4>
                    </div>
                    <hr />
                    <div class="col-sm-2">
                        <small>Request ID</small>
                        <p>{{policyData?.caseId ? policyData?.caseId : '-'}}</p>
                    </div>
                    <div class="col-sm-2">
                        <small>Member Name</small>
                        <p>{{policyData?.memberName ? policyData?.memberName : '-'}}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <small>Member Relation</small>
                        <p>{{policyData?.memberRelation ? policyData?.memberRelation: '-'}}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <small>Mobile Number</small>
                        <p>{{policyData?.mobileNumber ? policyData?.mobileNumber: '-'}}</p>
                    </div>
                    <div class="col-sm-4">
                        <small>Endorsement Type</small>
                        <p>{{policyData?.caseSubSubType ? policyData?.caseSubSubType: '-'}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="policyData?.caseSubSubType == 'Change of Nominee'">
                    <div class="col-sm-2">
                        <small>Nominee Name</small>
                        <p>{{ policyData?.nomineeName ? policyData?.nomineeName:'-' }}</p>
                    </div>
                    <div class="col-sm-2">
                        <small>Nominee Relationship</small>
                        <p>{{policyData?.nomineeRelationship ? policyData?.nomineeRelationship:'-'}}</p>
                    </div>
                    <div class="col-sm-2">
                        <small>Nominee Contact</small>
                        <p>{{policyData?.nomineeContact? policyData?.nomineeContact:'-'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <small>Member ID</small>
                        <p>{{ policyData?.customer ? policyData?.customer:'-' }}</p>
                    </div>
                    <div class="col-sm-2">
                        <small>Category</small>
                        <p>{{policyData?.category ? policyData?.category:'-'}}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <small>Status</small>
                        <p>{{policyData?.status? policyData?.status:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Primary Registered Number'">
                        <small>Primary Contact Number</small>
                        <p>{{policyData?.primaryContactNumber? policyData?.primaryContactNumber:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Primary Registered Number- Member'">
                        <small>Member Primary Contact Number</small>
                        <p>{{policyData?.memberPrimaryContactNumber? policyData?.memberPrimaryContactNumber:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Alternate number'">
                        <small>Alternate Contact Number</small>
                        <p>{{policyData?.alternateContactNumber? policyData?.alternateContactNumber:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Alternate number- member'">
                        <small>Member Alternate Contact Number</small>
                        <p>{{policyData?.memberAlternateContactNumber? policyData?.memberAlternateContactNumber:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change in International Contact Number'">
                        <small>International Contact Number</small>
                        <p>{{policyData?.internationalContactNumber? policyData?.internationalContactNumber:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change in my Email ID- member'">
                        <small>Member Email</small>
                        <p>{{policyData?.memberEmail? policyData?.memberEmail:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change in my Email ID'">
                        <small>Email</small>
                        <p>{{policyData?.c? policyData?.email:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Alternate Email ID'">
                        <small>Alternate Email</small>
                        <p>{{policyData?.alternateEmail? policyData?.alternateEmail:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Change my Alternate Email ID - member'">
                        <small>Member Alternate Email</small>
                        <p>{{policyData?.memberAlternateEmail? policyData?.memberAlternateEmail:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Aadhar Card Update'">
                        <small>Aadhar No</small>
                        <p>{{policyData?.aadharCardNo? policyData?.aadharCardNo:'-'}}</p>
                    </div>
                    <div class="col-sm-3" *ngIf="policyData?.caseSubSubType == 'Pancard Update'">
                        <small>PAN No</small>
                        <p>{{policyData?.panCardNo? policyData?.panCardNo:'-'}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>