.popup-modal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 16px;
    padding: 48px 32px;
    outline: 0;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.popup-modal-header {
    display: flex
;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.popup-modal-title {
 font-size: 20px;
 font-weight: 500;
}
