.main-content {
  display: block;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 39px;
}

.dashboard_contentContainer {
  max-width: 1082px;
  margin: auto;
}

.dashboard_insureContainer {
  width: 100%;
  height: 100%;
  padding: 0;

}

.card {
  width: 100%;
  border-radius: 12px;
  border: groove;
  font-family: "Anek Latin", sans-serif;
  border-color: #fff;
  border-style: solid;
  position: relative;
  padding: 14px 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerSearch {
    width: 100%;

    .field_searchMain {
      max-width: 400px;

      img {
        top: 10px;
      }

      .filterSearch {
        background: #fafafa;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 400;

        &:focus {
          outline: 0;
          border: 0px solid #f1f3f6 !important;
        }
      }
    }
  }

  .headerButtons {
    width: 230px;
    text-align: right;
  }
}

p {
  margin: 5px;
  margin-left: 10px;
  font-family: "Anek Latin", sans-serif;
}

.fa-chevron-down {
  padding-left: 6px;
}

.search-bar {
  width: 34%;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Anek Latin", sans-serif;
}

.get-quote-btn {
  font-family: "Anek Latin", sans-serif;
  background-color: #C7222A;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.get-quote-btn:hover {
  background-color: #a61d24;
}

.insurance_optionHUB {
  padding: 20px;
}
.input-block.input-block-renew > input:focus + label,
.input-block.input-block-renew > select:focus + label,
.input-block.input-block-renew > input.input-havevalue + label,
.input-block.input-block-renew > select.input-havevalue + label {
  top: -8px !important;
  color: #000;
}
.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: #f9f8fb;
  padding: 14px;
  border-radius: 8px;
  justify-content: space-around;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  gap: 15px;
  position: relative;

  @media (max-width:767px) {
    flex-direction: column;
  }

  .field_div {
    /* width: 23.6%; 
    max-width: 20%;*/
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    flex: auto;
    @media (max-width:767px) {
      width: 100%;
    }

    .field_label {
      font-weight: 300;
      font-size: 12px;
      color: #000;
    }
  }
}

.selected-value {
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
  gap: 4px;

  >span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    text-transform: capitalize;
  }
  img {
    width: 10px;
  }
  .arrows_porting {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    img {
      width: 5px;
    }
    .arrows_porting_left {
      transform: rotate(-180deg);
    }
    .arrows_porting_right {
    }
  }

  i {
    font-size: 9px;
    padding: 5px;
  }
}

.card-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.dropdown-item {
  flex: 1 1 200px;
  /* Adjust this to control the width of each dropdown item */
  background-color: transparent;
}

.custom-dropdown {
  position: relative;
}

.dropdown-button {
  display: flex;
  width: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  font-family: "Anek Latin", sans-serif;
  justify-content: space-between;
  line-height: normal;
}

.option-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.option-menu.show {
  display: block;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.continue-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.continue-btn {
  background-color: #AAA5A9;
  color: white;
  border: none;
  padding: 10px 70px;
  margin: 9px 0px -4% 39px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Anek Latin", sans-serif;
}

.continue-btn:hover {
  background-color: #8d888b;
}


.field_searchMain {
  width: 100%;
  position: relative;
}

.field_searchMain img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.field_searchMain .filterSearch {
  width: 100%;
  background: #F1F3F6;
  border-width: 0;
  padding: 12px 16px 12px 35px;
}

/*----Sept-16 noneed end----*/
.input-block {
  max-width: 100%;
  margin-bottom: 32px;
  position: relative;
}

.input-block>label {
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  display: block;
  margin-bottom: 8px;
  font-family: "Anek Latin", sans-serif;
}

.input-block .input-textBox {
  border: 1px solid #f1f3f6;
  padding: 14px 16px !important;
  height: 44px;
  border-radius: 16px !important;
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-bottom: 0px;
}


input:focus,
select:focus {
  border: 1px solid #f1f3f6 !important;
  outline: none;
}

input:disabled,
select:disabled,
.input-block .input-textBox:disabled:hover,
.input-block .input-selectBox:disabled:hover,
.input-block .input-textBox:disabled,
.input-block .input-selectBox:disabled {
  background: #f1f1f1;
  border: 1px solid #b4b4b4;
  color: #B4B4B4;
}

input[type="checkbox"]:focus+label:before {
  border: 1px solid #861f41;
  border: 2px solid #b4b4b4;
  background: #f9f9f9;
}

.input-block .input-selectBox {
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 20px;
  // -webkit-appearance: none;
  position: relative;
  background: url(../../../assets/Img/down_arrow.svg) no-repeat 96% 50%;
  border: 1px solid #E2E2E2;
  padding: 8px !important;
  height: 44px;
  border-radius: 4px !important;
  width: 100%;
  margin-bottom: 0px;
}

.mandatory {
  color: #282828;
}

.ui-error {
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #EB0000;
  line-height: 12px;
  text-align: justify;
  display: block;
  padding-left: 10px;
}

.ui-dob-icon {
  width: 20px;
  height: 20px;
  background: url(../../../assets/Img/date_icon.svg) no-repeat;
  position: absolute;
  top: 12px;
  right: 16px;
}

.input-block-renew {
  margin-bottom: 16px;
}

.input-block-renew>label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #799cae;
  margin-bottom: 0;
  position: absolute;
  left: 16px;
  top: 14px;
  width: auto;
  height: auto;
  /*background: var(--site-body-bg);*/
  padding: 0;
  z-index: 1;
}

.input-block-renew.focus>label {
  top: -8px;
  font-size: 10px;
  color: #4c4c4c;
  background: transparent;
}

.input-block-renew .input-textBox {
  border: 1px solid #f1f3f6;
  background: #f1f3f6;
  padding: 12px 16px;
}

.input-block-renew .input-selectBox {
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 20px;
  // -webkit-appearance: none;
  position: relative;
  background: var(--site-body-bg) url(../../../assets/Img/down_arrow.svg) no-repeat 96% 50%;
  border: 1px solid var(--site-body-bg);
  padding: 12px 16px !important;
  height: 44px;
  border-radius: 16px !important;
  width: 100%;
  margin-bottom: 0px;
}

.input-textBox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d5d7de;
  font-size: 12px;
}

.input-textBox::-moz-placeholder {
  /* Firefox 19+ */
  color: #d5d7de;
  font-size: 12px;
}

.input-textBox:-ms-input-placeholder {
  /* IE 10+ */
  color: #d5d7de;
  font-size: 12px;
}

.input-textBox:-moz-placeholder {
  /* Firefox 18- */
  color: #d5d7de;
  font-size: 12px;
}

.ui-prefix {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #797979;
  position: absolute;
  top: 16px;
  right: 16px;
}

.input-blockBg {
  background: #f1f3f6;
  border: 1px solid #f1f3f6;
  padding: 12px 16px !important;
  border-radius: 16px !important;
  height: 44px;
}

.fields-blockHeight {
  background: #f1f3f6;
  border: 1px solid #f1f3f6;
  padding: 12px 16px !important;
  border-radius: 16px !important;
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fields-blockHeight .ui-prefix {
  position: absolute;
  top: 16px;
  width: 12px;
}

.fields-blockHeight .ft-prefix {
  left: 94px;
}

.fields-blockHeight .in-prefix {
  right: 10px;
}

.fields-blockHeight .input-textBox {
  background: transparent;
  border-width: 0 !important;
  height: auto;
  padding: 0 !important;
  border-radius: 0 !important;
  width: 49%;
}

.fields-blockHeight .input-textBox:first-child {
  border-right: 1px solid #d5d7de !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*---Textbox end-->


/*----Checkbox buttons----*/
.input-checkbox-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-checkbox {
  position: relative;
  left: 0px;
  top: 2px;
  /* top: 13px;
    left: 18px; */
  height: 22px;
  width: 22px;
  background-color: transparent;
  display: block;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.input-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-checkbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  background: #fff;
  border: 1px solid #606c76;
  border-radius: 3px;
}

.input-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background: #fff;
}

.input-checkbox input:checked~.checkmark:after {
  display: block;
}

.input-checkbox input:checked~.checkmark {
  background-color: #ec6608;
  border: none;
}

.input-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-checkbox .checkmarkLabel {
  padding: 0 10px 0 20px;
}

.input-checkbox-feild {
  display: inline-block;
  vertical-align: top;
  padding-right: 1.5rem;
  position: relative;
}

.input-checkbox-feild .input-check {
  position: absolute;
  opacity: 0;
}

.input-checkbox-feild .input-check+label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  line-height: 17px;
  display: inline-block;
}

.input-checkbox-feild .input-check+label:before {
  content: "";
  margin-right: 1rem;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  border: 1px solid #797979;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.input-checkbox-feild .input-check:checked+label:before {
  border: 1px solid #C7222A;
  background: #C7222A;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.input-checkbox-feild .input-check:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.input-checkbox-feild .input-check:disabled+label:before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 2px solid #b4b4b4;
}

.input-checkbox-feild .input-check:checked+label:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg);
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.input-checkbox-withIcon {
  gap: 12px;
}

.input-checkbox-withIcon .input-checkbox-feild {
  padding-right: 0;
}

.input-checkbox-withIcon .input-checkbox-feild .input-check+label {
  padding: 8px !important;
  background: #f1f3f6;
  border-radius: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid #f1f3f6;
  font-weight: 400;
  font-size: 12px;
  color: #4c4c4c;
}

.input-checkbox-withIcon .input-checkbox-feild .input-check+label:before {
  display: none;
}

.input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label {
  padding: 8px 41px 8px 8px;
  border: 1px solid #c7222a;
}

.input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label:after {
  content: "";
  position: absolute;
  left: auto;
  right: 8px;
  top: 8px;
  border-width: 0;
  width: 24px;
  height: 24px;
  background: url(../../../assets/Img/icon_tick_round_red.svg) no-repeat;
  transform: rotate(0deg);
  background-size: 100%;
}

.input-checkbox-withIconLeft .input-checkbox-feild .input-check:checked+label {
  padding: 8px 16px 8px 8px;
}

.input-checkbox-withIconLeft .input-checkbox-feild .input-check:checked+label:after {
  left: 8px;
}

/*----Radio buttons start----*/
.input-radio-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 90%;
}

.input-radio-gap0 {
  gap: 0;
}

.input-radiolabel {
  display: flex !important;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  /*margin-bottom: 0.375em;*/
  /* Accessible outline */
  /* Remove comment to use */
  /*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
  font-weight: 400;
  font-size: 14px;
}

.input-radiolabel input {
  position: absolute;
  left: -9999px;
}

.input-radiolabel input:checked+span {
  border: 0px solid #c91429;
}

.input-radiolabel input:checked+span:before {
  background-color: #c91429;
  box-shadow: inset 0 0 0 0.1675em var(--white-color);
  border: 2px solid #c91429;
}

.input-radiolabel span {
  display: flex;
  align-items: center;
  padding: 4px 20px 4px 8px;
  border-radius: 8px;
  transition: 0.25s ease;
  border: 0px solid #B4B4B4;
}

.input-radiolabel span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #404040;
  box-shadow: inset 0 0 0 0.125em #b4b4b4;
}

.input-radiolabel input:disabled+span:before {
  box-shadow: inset 0 0 0 0.125em #b4b4b4;
}
.input-radiolabel-porting{
  max-width: 100%;
}
.input-radiolabel-porting .input-radiolabel input+span:before {
  display: none;
}
.input-radiolabel-porting .input-radiolabel input+span {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  background: #ffffff;
  border: 2px solid #F1F3F6;
  border-radius: 24px;
  padding: 5px 25px;
}
.input-radiolabel-porting .input-radiolabel input:checked+span {
  color: #c91429;
  background: #ffffff;
  border: 2px solid #c91429;
}
/*----Radio buttons end----*/

/*----Sept-16 noneed end----*/

/*Custom overlay dropdown start*/
/*Tip Info start*/
.tipInfo_org {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  border-radius: 8px;
  padding: 9px 10px;
  background: #fff6c7;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: #000;
  margin-top: 10px;
}

/*Tip Info start*/
.para-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2e2e2e;
  font-style: normal;
}

.btn_red {
  padding: 10px 16px;
  border-radius: 12px;
  background: #C7222A;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #C7222A;
}

.btn_red:hover {
  color: #C7222A;
  background: #fff;
}

.btn_grey {
  padding: 8px 20px;
  border-radius: 8px;
  /*background: #C7222A;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #C7222A;
  min-width: 196px;
  // margin: 9px 0px -4% 39px;
}

.suminsured-button {
  padding: 10px;
  background: #C7222A;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #C7222A;
  border-radius: 10px;
  width: 102%;
}

h4 {
  font-family: "Anek Latin", sans-serif;
  font-weight: bolder;
}

.ngx-slider {
  display: inline-block;
  position: relative;
  height: 4px;
  width: 100%;
  margin: 0px 0 15px;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.slidder {
  background-color: #000
}

.btn_red_suminsured:hover {
  color: #C7222A;
  background: #fff;
}

.btn_grey:hover {
  background: #fff;
}

.overlay_popupMain {
  position: absolute;
  top: 40px;
  border-radius: 16px;
  padding: 24px;
  background: #F5F5F594;
  border: 2px solid #fff;
  box-shadow: 0px 12px 20px 0px #00000026;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.overlay_dropdown_w360 {
  width: 360px;

  @media (max-width:767px) {
    width: 100%;
  }
}

.overlay_dropdown_w518 {
  width: 518px;
}

.option_policyType {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.option_policyType .tipInfo_org {
  line-height: 13px;
  background: #fff4ce;
  padding: 4px 16px;
  margin: 0;
}

.option_policyType .tipInfo_org img {
  width: 16px;
  height: 16px;
}

.raido_policyType {
  max-width: 100%;
}

.raido_policyType .input-radiolabel {
  flex-direction: column;
}

.raido_policyType .input-radiolabel span {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 12px 16px 16px 16px;
  border: 2px solid #F1F3F6;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.raido_policyType .input-radiolabel span:before {
  display: none;
}

.raido_policyType .input-radiolabel span .pt-head {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #2e2e2e;
  font-style: normal;
}

.raido_policyType .input-radiolabel input+span+.selected_policy {
  display: none;
}

.raido_policyType .input-radiolabel input:checked+span+.selected_policy {
  display: block;
  position: fixed;
  top: 0;
  right: 24px;
}

.raido_policyType .input-radiolabel input+span+.selected_policy2 {
  display: none;
}

.raido_policyType .input-radiolabel input:checked+span+.selected_policy2 {
  display: block;
  position: fixed;
  top: 130px;
  right: 24px;
}

.raido_policyType .input-radiolabel input:checked+span {
  border: 2px solid #C7222A;
}

.raido_policyType .input-radiolabel input:checked+span .pt-head {
  color: #C7222A;
}

.checkbox_disease .input-checkbox-feild {
  background: #fff;
  width: 100%;
  border-radius: 17px;
  padding: 16px;
}

.checkbox_disease .input-checkbox-feild .input-check+label {
  font-weight: 600;
  font-size: 16px;
  color: var(--black-color);
  padding-left: 25px !important;
}

.checkbox_disease .input-checkbox-feild .input-check+label:before {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border-color: var(--text-black-2e);
}

.checkbox_disease .input-checkbox-feild .input-check:checked+label:before {
  border-color: var(--primary-red-color);
}

.checkbox_disease_scroll {
  max-height: 232px;
  overflow-x: auto;
}

.sumInsured_selectMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sumInsured_selectMain .sumInsured_select header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.sumInsured_selectMain .sumInsured_select header h3 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2e2e2e;
  margin: 0;
}

.sumInsured_dragBar {
  margin-top: 10px;
}

.insurer_detailsMain {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.insurer_detailsMain h3 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.btn_coverAdditional_FM {
  border-radius: 24px;
  padding: 16px;
  background: #fff4ce;
  border: 2px solid #fff;
  box-shadow: 0px 8px 16px 0px #0000000A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_coverAdditional_FM .cover_label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2e2e2e;
}

.btn_coverAdditional_FM .cover_label span {
  width: 50%;
  text-align: left;
}

.input-filed-white .input-textBox {
  background: #fff;
  border: 1px solid #f1f3f6;
  /* height: 56px; */
}

.input-filed-white .input-textBox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #979cae;
  font-size: 16px;
}

/*Custom overlay dropdown end*/

.mat-mdc-slider {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  min-width: 112px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mdc-slider {
  cursor: pointer;
  height: 48px;
  width: 84%;
  margin: 0 24px;
  position: relative;
  touch-action: pan-y;
}

.input-filed-white .input-textBox::-moz-placeholder {
  /* Firefox 19+ */
  color: #979cae;
  font-size: 16px;
}

.input-filed-white .input-textBox:-ms-input-placeholder {
  /* IE 10+ */
  color: #979cae;
  font-size: 16px;
}

.input-filed-white .input-textBox:-moz-placeholder {
  /* Firefox 18- */
  color: #979cae;
  font-size: 16px;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild {
  width: 48%;
  position: relative;
}

.member_extraInfo {
  position: absolute;
  top: 9px;
  right: 24px;
  font-size: 12px;
  width: 80px;
  display: none;
}

.member_extraInfo .member_extraInfoSub {
  display: flex;
  align-items: center;
  gap: 8px;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .member_textbox {
  width: 92px;
  height: 24px;
  background: #fff;
  border-width: 0;
  border-radius: 16px;
  padding: 0px 5px;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label {
  background: #FEE0DD;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label:after {
  display: none;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label+.member_extraInfo {
  display: block;
}

.member_textbox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #797979;
  font-size: 12px;
}

.member_textbox::-moz-placeholder {
  /* Firefox 19+ */
  color: #797979;
  font-size: 12px;
}

.member_textbox:-ms-input-placeholder {
  /* IE 10+ */
  color: #797979;
  font-size: 12px;
}

.member_textbox:-moz-placeholder {
  /* Firefox 18- */
  color: #797979;
  font-size: 12px;
}

.delete_member {
  cursor: pointer;
}

.btn_white {
  padding: 10px 16px;
  border-radius: 12px;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-black-4c);
  border: 1px solid #fff;
}

.btn_white:hover {
  color: #C7222A;
}

.btn_addChildren {
  padding: 8px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  color: #4c4c4c;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn_addChildren span {
  display: flex;
  gap: 8px;
}

.btn_addChildren:hover {
  border-color: #c7222a;
  color: #4c4c4c;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild {
  width: 48%;
  position: relative;
}

.member_extraInfo {
  position: absolute;
  top: 9px;
  right: 19px;
  font-size: 12px;
  width: 80px;
  display: none;
}

.member_extraInfo .member_extraInfoSub {
  display: flex;
  align-items: center;
  gap: 6px;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .member_textbox {
  width: 92px;
  height: 24px;
  background: #fff;
  border-width: 0;
  border-radius: 16px;
  padding: 0px 5px;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check+label {
  background: #fff;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label {
  background: #FEE0DD;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label:after {
  display: none;
}

.insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .input-check:checked+label+.member_extraInfo {
  display: block;
}

.member_textbox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #797979;
  font-size: 12px;
}

.member_textbox::-moz-placeholder {
  /* Firefox 19+ */
  color: #797979;
  font-size: 12px;
}

.member_textbox:-ms-input-placeholder {
  /* IE 10+ */
  color: #797979;
  font-size: 12px;
}

.member_textbox:-moz-placeholder {
  /* Firefox 18- */
  color: #797979;
  font-size: 12px;
}

.delete_member {
  cursor: pointer;
}

.btn_addChildren {
  padding: 8px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  color: #4c4c4c;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn_addChildren span {
  display: flex;
  gap: 8px;
}

.btn_addChildren:hover {
  border-color: #c7222a;
  color: #4c4c4c;
}

.slider-container {
  margin-bottom: 20px;

  .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .value {
      font-weight: bold;
      margin: 10px;
      font-size: 1.2em;
    }
  }
}

.sumInsured_dragBar {
  .tick-labels {
    font-weight: 400;
    font-size: 12px;
    color: #000;
  }

}

::ng-deep .ngx-slider .ngx-slider-bar {
  background: #f7a500 !important;
  height: 6px !important;
  border-radius: 12px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #c7222a !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
  width: 22px !important;
  height: 22px !important;
  top: 5px !important;
  left: 5px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  background: #fff !important;
}

::ng-deep .ngx-slider .ngx-slider-tick {
  width: 6px !important;
  height: 6px !important;
  background: #797979 !important;
  top: 3px !important;
}

::ng-deep .ngx-slider .ngx-slider-tooltip-wrapper {

  margin-top: 1px !important;
}

.tick-labels {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.dropdownContent {
  position: absolute;
  top: 40px;

  @media(max-width:767px) {
    width: 100%;
  }

  .overlay_popupMain {
    top: 15px;
  }
}

.dashboard_contentContainer .insurance_optionHUB {
  padding: 0 10px;

  .continue-btn-container {
    margin: 0;

    .btn_grey {
      position: relative;
      background-color: #C7222A;
      bottom: -30px;
    }
  }

  @media (max-width:767px) {
    padding: 0;
  }
}
@media (max-width:767px) {
  .overlay_popupMain.overlay_dropdown_w518 {
    width: 100%;
  }

  .insurer_memberDetails {
    .input-checkbox-withIcon {
      gap: 6px;

      .input-checkbox-feild {
        width: 100%;
      }
    }
  }
  .overlay_popupMain {
    padding: 14px;
  }
  .raido_policyType .input-radiolabel input:checked + span + .selected_policy {
    top: -2px;
    width: 120px;
  }
  .raido_policyType .input-radiolabel input:checked + span + .selected_policy2 {
    top: 128px;
    width: 120px;
  }
  .member_extraInfo {
    right: 24px;
  }
  .insurer_memberDetails .input-checkbox-withIcon .input-checkbox-feild .member_textbox{
    width: 100px;
  }
  .input-checkbox-withIcon .input-checkbox-feild .input-check + label{
    gap: 5px;
    font-size: 11px;
  }
}

@media (max-width:360px) {
  .raido_policyType .input-radiolabel input:checked + span + .selected_policy2 {
    top: 142px;
  }
}

.close-popup{
  padding-left: 94%;
  margin-top: -9px;
}


.dropdown-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sumInsured_selectMain .input-filed-white select.input-textBox, 
.sumInsured_selectMain .input-block select.input-textBox {
  appearance: none;
  background: var(--white-color) url(/assets/Img/down_arrow.svg) no-repeat 96% 50% !important;
  padding: 12px 16px !important;
}

@media (min-width:768px) and (max-width:1024px) {
  .dropdown-container {
    flex-wrap: wrap;
  }
  .dropdown-container .field_div {
    width: 45%;
    flex: none;
  }
  .dropdown-container .field_div.porting_getQuote {
    width: 25%;
  }
  .dropdownContent {
    right: 0;
  }
  .dropdownContent .overlay_popupMain {
    left: auto;
    right: 0;
  }
}
/*Custom overlay dropdown end*/