<div class="contentBody dashboard_contentContainer">
  <div style="width: 100%;">
  <form>
    <div class="card-outer">
      <div class="card">
        <div class="header">
          <div class="headerSearch">
            <div class="field_searchMain">
              <input type="text" class="search-bar filterSearch"
                placeholder="Search Your Customer, Leads, Claims No and more" />
              <img src="assets/Img/icon_magnify_grey.svg">
            </div>
          </div>
          <div class="headerButtons">
            <button class="get-quote-btn" type="button" (click)="getQuote()">
              <i class="fas fa-plus"></i> Get Quote
            </button>
          </div>
        </div>

          <div class="insurance_optionHUB" *ngIf="showCard" [formGroup]="quoteFormGroup">
            <div class="dropdown-container " *ngIf="showDropdownsFlag">
              <div class="field_div" *ngFor="let dropdown of dropdownOptions; let i = index">
                <!-- Label -->
                <label class="field_label">{{ dropdown.label }}</label>
                <!-- Button for each dropdown -->
                <button class="dropdown-button" type="button" (click)="openCustomDiv(dropdown.label, i)">
                  <div class="selected-value">
                    <span>
                      <ng-container *ngIf="dropdown.label === 'Policy Type'">
                        {{ quoteFormGroup.get('memberPolicyType')?.value === 'Family Floater' ? 'Family Floater' :
                        (quoteFormGroup.get('memberPolicyType')?.value === 'Multi Individual' ? 'Multi Individual' :
                        'Please select a policy') }}
                      </ng-container>

                      <ng-container *ngIf="dropdown.label === 'Relationship'">
                        {{ selectedRelation != "" ? selectedRelation : 'Please select a relationship' }}
                      </ng-container>

                      <ng-container *ngIf="dropdown.label === 'Sum Insured'">
                        {{ formatTickLabel(selectedSumInsured,false) || 'Please select sum insured' }}
                      </ng-container>

                      <ng-container *ngIf="dropdown.label === 'Diseases'">
                        {{ diseaseNames != null ? diseaseNames : 'No Diseases Selected' }}
                      </ng-container>

                    </span><i class="fas fa-chevron-down"></i>
                  </div>
                </button>

              <!-- Dropdown content for each item, displayed only when the activeDropdown matches the index -->
              <div class="dropdownContent" *ngIf="activeDropdown === i">
               
               
                <!-- Custom dropdown content for "Policy Type" -->
                 <div class="overlay_popupMain overlay_dropdown_w360" *ngIf="selectedDropdown === 'Policy Type'">
                   <div class="option_policyType" >
                     <div class="input-radio-block raido_policyType">
                       <label class="input-radiolabel">
                         <input type="radio" name="policytype" value="Family Floater"
                           (click)="onPlanTypeChange('Family Floater')"
                           [checked]="quoteFormGroup.get('memberPolicyType')?.value === 'Family Floater'">
                         <span>
                           <em class="pt-head"><img src="assets/Img/icon_familyfloater.svg">Family Floater
                             Policy</em>
                           <em class="para-12">A family floater health insurance is a type of policy where you and your
                             family share the same cover amount.</em>
                         </span>
                         <img src="assets/Img/img_selected_policytype.svg" class="selected_policy">
                       </label>
   
                       <label class="input-radiolabel">
                         <input type="radio" name="policytype" value="Multi Individual"
                           (click)="onPlanTypeChange('Multi Individual')"
                           [checked]="quoteFormGroup.get('memberPolicyType')?.value === 'Multi Individual'">
                         <span>
                           <em class="pt-head"><img
                               src="assets/Img/icon_multiindividual.svg">Multi-individual Policy</em>
                           <em class="para-12">A multi-individual health insurance is a type of policy wherein each member
                             has their own cover amount.</em>
                         </span>
                         <img src="assets/Img/img_selected_policytype.svg" class="selected_policy2">
                       </label>
                     </div>
   
                     <div class="tipInfo_org"><img src="assets/Img/Lightbulb Icon.png">You can edit members
                       to change back to family floater policy.</div>
                     <!-- <button type="button" class="btn_red btn_fullWidth" (click)="updatePlanType()">Continue</button> -->
                   </div>
                 </div>

                  <!-- Sum Insured Dropdown -->

                  <div class="overlay_popupMain overlay_dropdown_w360" *ngIf="selectedDropdown === 'Sum Insured'">
                    <div class="option_policyType">
                      <div class="overlay_body sumInsured_selectMain">
                        <div class="sumInsured_select">
                          <header>
                            <h3>Sum Insured</h3>
                            <div class="sumInsured_value">{{ formatTickLabel(selectedSumInsured,false) }}</div>
                          </header>
                        </div>
                        <!-- <div class="sumInsured_dragBar">
                        
                        <div class="slider-container">
                          <ngx-slider [(value)]="selectedSumInsured" [options]="sliderOptions" (valueChange)="onSumInsuredChange($event)"></ngx-slider>
                          <div class="tick-labels">
                            <span *ngFor="let tick of sliderOptions.stepsArray">{{ formatTickLabel(tick.value) }}</span>
                          </div>
                        </div>
                      </div> -->
                        <div class="sumInsured_dragBar">
                          <div class="slider-container">
                            <!-- ngx-slider component -->
                            <ngx-slider [(value)]="selectedSumInsured" [options]="sliderOptions"
                              (valueChange)="onSumInsuredChange($event)"></ngx-slider>

                            <!-- Tick labels below the slider -->
                            <div class="tick-labels">
                              <span *ngFor="let tick of sliderOptions.stepsArray">{{ formatTickLabel(tick.value,true)
                                }}</span>
                            </div>
                          </div>
                        </div>


                      </div>
                      <button class="suminsured-button" (click)="updateSumInsured()">
                        Continue
                      </button>
                    </div>
                  </div>

                  <!-- Relationsip Dropdown -->

                  <div class="overlay_popupMain overlay_dropdown_w518" *ngIf="selectedDropdown === 'Relationship'">
                    <!--Overlay: Personal details start-->
                    <div class="option_policyType">
                      <div class="overlay_body insurer_detailsMain">
                        <h3>Personal details</h3>
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-block input-block-renew input-filed-white">
                              <input type="text" id="nameproposer" formControlName="proposerName"
                                placeholder="Enter name of proposer" class="input-textBox">
                              <span class="ui-error"
                                *ngIf="quoteFormGroup.get('proposerName')?.invalid && (quoteFormGroup.get('proposerName')?.touched || quoteFormGroup.get('proposerName')?.dirty)">
                                Please enter the name of the proposer</span>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-block input-block-renew input-filed-white">
                              <input type="text" id="pincodeproposer" [required]="true"
                                formControlName="proposerPincode" value="" placeholder="Enter your 6 digit pincode"
                                class="input-textBox">
                              <span class="ui-error"
                                *ngIf="quoteFormGroup.get('proposerPincode')?.invalid && (quoteFormGroup.get('proposerPincode')?.touched || quoteFormGroup.get('proposerPincode')?.dirty)">
                                Please enter a valid 6-digit pincode
                              </span>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-block input-block-renew input-filed-white">
                              <input type="text" id="mobileNumber" formControlName="mobileNumber" value=""
                                placeholder="Enter mobile no of proposer" class="input-textBox">
                              <span class="ui-error"
                                *ngIf="quoteFormGroup.get('mobileNumber')?.invalid && (quoteFormGroup.get('mobileNumber')?.touched || quoteFormGroup.get('mobileNumber')?.dirty)">
                                Please enter a valid 10-digit mobile number
                              </span>
                            </div>
                          </div>
                        </div>
                        <h3>Member details</h3>
                        <div class="insurer_memberDetails">
                          <div class="input-checkbox-block input-checkbox-withIcon">
                            <!-- <div class="input-checkbox-feild">
                                <input type="checkbox" id="self" value="self" class="input-check">
                                <label for="self"><img
                                    src="assets/Img/icon_member_self.png">Self</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                  </div>
                                </div>
                              </div> -->
                            <ng-container *ngFor="let relation of relations">
                              <div *ngIf="relation.isIncrement == false" class="input-checkbox-feild">
                                <input type="checkbox" id="{{relation.value}}"
                                  [checked]="selectedRelation.includes(relation.value)"
                                  (change)="onRelationChange($event, relation)" value="{{relation.id}}"
                                  class="input-check">
                                <label for="{{relation.value}}"><img
                                    src="{{relation.imagePath}}">{{relation.name}}</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="date" placeholder="Enter DOB" class="member_textbox"
                                      [value]="relation.dob" (input)="onAgeChange($event, relation)">
                                      <span *ngIf="relation.deletable" class="delete_member" (click)="removeMember(relation)"><img
                                        src="assets/Img/icon_delete_red2.svg"></span>
                                    </div>
                                  </div>
                                </div>
                                <div *ngIf="relation.isIncrement == true" class="input-checkbox-feild">
                                <button type="button" class="btn_white btn_addChildren" (click)="incrementMember(relation)">
                                  <span><img src="{{relation.imagePath}}">{{relation.name}}</span>
                                  <img src="assets/Img/icon_round_plus_red.svg">
                                </button>
                              </div>
                            </ng-container>
                            <!-- <div class="input-checkbox-feild">
                                <input type="checkbox" id="member-spouse" value="spouse" class="input-check">
                                <label for="member-spouse"><img
                                    src="assets/Img/icon_member_spouse.png">Spouse</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                  </div>
                                </div>
                              </div>
                              <div class="input-checkbox-feild">
                                <input type="checkbox" id="member-daughter1" value="daughter1" class="input-check">
                                <label for="member-daughter1"><img
                                    src="assets/Img/icon_member_daughter.png">Daughter 1</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                    <span class="delete_member"><img
                                        src="assets/Img/icon_delete_red2.svg"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="input-checkbox-feild">
                                <input type="checkbox" id="member-daughter2" value="daughter2" class="input-check">
                                <label for="member-daughter2"><img
                                    src="assets/Img/icon_member_daughter.png">Daughter 2</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                    <span class="delete_member"><img
                                        src="assets/Img/icon_delete_red2.svg"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="input-checkbox-feild">
                                <input type="checkbox" id="member-father" value="father" class="input-check">
                                <label for="member-father"><img
                                    src="assets/Img/icon_member_father.png">Father</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                  </div>
                                </div>
                              </div>
                              <div class="input-checkbox-feild">
                                <input type="checkbox" id="member-mother" value="mother" class="input-check">
                                <label for="member-mother"><img
                                    src="assets/Img/icon_member_spouse.png">Mother</label>
                                <div class="member_extraInfo">
                                  <div class="member_extraInfoSub">
                                    <input type="text" placeholder="Enter Age" class="member_textbox">
                                  </div>
                                </div>
                              </div>
                              <div class="input-checkbox-feild">
                                <button type="button" class="btn_white btn_addChildren">
                                  <span><img src="assets/Img/icon_member_daughter.png">Daughter</span>
                                  <img src="assets/Img/icon_round_plus_red.svg">
                                </button>
                              </div> -->
                            <!-- <div class="input-checkbox-feild">
                                <button type="button" class="btn_white btn_addChildren">
                                  <span><img src="assets/Img/icon_member_son.png">Son</span>
                                  <img src="assets/Img/icon_round_plus_red.svg">
                                </button>
                              </div> -->
                            </div>
                          </div>
                          <!-- <button type="button" value="additional-family" class="btn_coverAdditional_FM">
                            <span class="cover_label">
                              <img src="assets/Img/icon_familymembers_org.svg" width="20">
                              <span>Would you like to cover additional family members?</span>
                            </span>
                            <img src="assets/Img/icon_right_arrow_black.svg" width="7">
                          </button> -->
                        </div>
                        <button type="button" class="btn_red btn_fullWidth" (click)="addInsuredMemberDetails()">Next</button>
                      </div>
                </div>

                  <!-- Disease Dropdown -->

                  <!-- <div class="overlay_popupMain overlay_dropdown_w360 " *ngIf="selectedDropdown === 'Diseases'">
                  <div class="option_policyType">
                      <div class="overlay_body checkbox_disease_scroll">
                          <div class="input-checkbox-block checkbox_disease">
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="disease-hypertension" value="hypertension" 
                                  (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('hypertension')" class="input-check" >
                                  <label for="disease-hypertension">Hypertension</label>
                              </div>
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="condition-bloodpressure" value="bloodpressure"  
                                  (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('bloodpressure')" class="input-check" >
                                  <label for="condition-bloodpressure">Blood-Pressure</label>
                              </div>
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="condition-cholesterol" value="cholesterol"
                                (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('cholesterol')" class="input-check" >
                                  <label for="condition-cholesterol">Cholesterol</label>
                              </div>
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="condition-diabetes" value="diabetes"
                                  (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('diabetes')" class="input-check" >
                                  <label for="condition-diabetes">Diabetes</label>
                              </div>
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="disease-hypertension2" value="hypertension2"
                                  (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('hypertension2')" class="input-check" >
                                  <label for="disease-hypertension2">Hypertension</label>
                              </div>
                              <div class="input-checkbox-feild">
                                  <input type="checkbox" id="condition-bloodpressure2" value="bloodpressure2"
                                  (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected('bloodpressure2')" class="input-check" >
                                  <label for="condition-bloodpressure2">Blood-Pressure</label>
                              </div>
                          </div>
                      </div>
                      <button type="button" class="btn_red btn_fullWidth" (click)="diseaseSelection()">Continue</button>
                  </div>
                </div> -->

                  <div class="overlay_popupMain overlay_dropdown_w360" *ngIf="selectedDropdown === 'Diseases'">
                    <div class="option_policyType">
                      <div class="overlay_body checkbox_disease_scroll">
                        <div class="input-checkbox-block checkbox_disease">
                          <div class="input-checkbox-feild" *ngFor="let disease of diseases">
                            <input type="checkbox" [id]="disease.id" [value]="disease.value"
                              (change)="onDiseaseChange($event)" [checked]="isDiseaseSelected(disease.value)"
                              class="input-check">
                            <label [for]="disease.id">{{ disease.label }}</label>
                          </div>
                        </div>
                      </div>
                      <button type="button" class="btn_red btn_fullWidth" (click)="diseaseSelection()">Continue</button>
                    </div>
                  </div>



                </div>
              </div>
            </div>

            <div class="continue-btn-container">
              <button type="button" class="continue-btn btn_grey" (click)="continue()">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Overlay: Disease & Products start-->

<!--Overlay: Disease & Products end-->