<!--Header start-->
<header class="siteHeader" *ngIf="!showD2cHeader && agentCode != '467898'">

  <!--ABC Links start-->
  <div class="abcLinksMain" *ngIf="agentCode != '467899'">
    <div class="abcTopLinks">
      <div class="abcHome" tabindex="0">
        <a target="_blank"><img src="assets/Img/icon_home_white.svg">ABC Home<img
            src="assets/Img/icon_arrow_up_right_white.svg" class="homeArrow"></a>
      </div>
      <div class="abcSolution" tabindex="0">
        <!-- <a>ABC Solutions <img src="assets/Img/icon_arrow_down_red.svg"></a> -->
        <!--ABC Solutions Links start-->
        <a class="dropdown-toggle" id="abcSolutionMenu" data-bs-toggle="dropdown" aria-expanded="false">ABC Solutions <img src="assets/Img/icon_arrow_down_red.svg"></a>
        <div class="dropdown-menu mainMenu_abcSolution" aria-labelledby="abcSolutionMenu">
          <div class="common_nav_grid_wrapper">

            <div class="all_solutions_url_grid_wrapper">
              <div class="all_solutions_url_col">
                <span class="url_col_head">Loans</span>
                <ul class="url_list_ul">
                  <li><a href="https://homefinance.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_home_finance.svg">Home Finance</a></li>
                  <li><a href="https://finance.adityabirlacapital.com/personal-finance" target="_blank"><img src="assets/Img/icon_personal_finance.svg">Personal Finance</a></li>
                  <li><a href="https://finance.adityabirlacapital.com/sme-and-business-finance/" target="_blank"><img src="assets/Img/icon_sme_finance.svg">SME Finance</a></li>
                  <li><a href="https://finance.adityabirlacapital.com/loan-against-securities" target="_blank"><img src="assets/Img/icon_loan_against_property.svg">Loan Against Securities</a></li>
                  <li><a href="https://udyogplus.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_business.svg">Business</a></li>
                  <li><a href="https://finance.adityabirlacapital.com/loan-against-property" target="_blank"><img src="assets/Img/icon_loan_against_property.svg">Loan Against Property</a></li>
                </ul>
              </div>
              <div class="all_solutions_url_col">
                <span class="url_col_head">Investments</span>
                <ul class="url_list_ul">
                  <li><a href="https://mutualfund.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_mutual_funds.svg">Mutual Funds</a></li>
                  <li><a href="https://stocksandsecurities.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_stock_and_securities.svg">Stock and Securities</a></li>
                  <li><a href="https://wealth.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_sme_finance.svg">Wealth</a></li>
                  <li><a href="https://portfoliomanagementservices.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_portfolio_management_services.svg">Portfolio Management Services</a></li>
                  <li><a href="https://pensionfund.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_pension_fund.svg">Pension Funds</a></li>
                  <li><a href="https://realestateinvestment.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_real_estate_investments.svg">Real Estate Investments</a></li>
                </ul>
              </div>
              <div class="all_solutions_url_col">
                <span class="url_col_head">Insurance</span>
                <ul class="url_list_ul">
                  <li><a href="https://lifeinsurance.adityabirlacapital.com/" target="_blank"><img src="assets/Img/icon_life_insurance.svg">Life Insurance</a></li>
                  <li><a href="https://www.adityabirlacapital.com/healthinsurance/homepage" target="_blank"><img src="assets/Img/icon_health_insurance.svg">Health Insurance</a></li>
                  <li><a href="https://www.adityabirlacapital.com/multiply-wellness/#!/home" target="_blank"><img src="assets/Img/icon_multiply_wellness.svg">Multiply Wellness</a></li>
                  <li><a href="https://motorinsurance.adityabirlacapital.com/Pages/Individual/Products/Motor-Insurance.aspx" target="_blank"><img src="assets/Img/icon_motor_insurance.svg">Motor Insurance</a></li>
                  <li><a href="https://travelinsurance.adityabirlacapital.com/Pages/Individual/Products/Overseas-Travel.aspx" target="_blank"><img src="assets/Img/icon_travel_insurance.svg">Travel Insurance</a></li>
                </ul>
              </div>
              <div class="all_solutions_url_col">
                <span class="url_col_head">Payments</span>
                <ul class="url_list_ul">
                  <li><a href="https://www.adityabirlacapital.com/app-digital/paybills" target="_blank"><img src="assets/Img/icon_pay_bills.svg">Pay Bills</a></li>
                  <li><a href="https://www.adityabirlacapital.com/app-digital/payforanything" target="_blank"><img src="assets/Img/icon_personal_finance.svg">Pay for anything</a></li>
                  <li><a href="https://www.adityabirlacapital.com/app-digital/paytoanyone" target="_blank"><img src="assets/Img/icon_personal_finance.svg">Pay anyone</a></li>
                  <li><a href="https://www.adityabirlacapital.com/app-digital/payoncall" target="_blank"><img src="assets/Img/icon_pay_on_call.svg">Pay on call</a></li>
                  <li><a href="https://www.adityabirlacapital.com/app-digital/paymentlounge" target="_blank"><img src="assets/Img/icon_payment_lounge.svg">Payment Lounge</a></li>
                </ul>
              </div>
              <div class="all_solutions_url_col">
                <span class="url_col_head">Cards</span>
                <ul class="url_list_ul">
                  <li><a href="https://finance.adityabirlacapital.com/personal-finance/aditya-birla-finance-au-credit-cards" target="_blank"><img src="assets/Img/icon_abc_credit_card.svg">ABC Credit Cards</a></li>
                </ul>
              </div>
            </div>
            
            <div class="all_solutions_outlink_scanner_wrapper">
              <ul class="outlinks_ul">
                <li><a href="https://www.adityabirlacapital.com/abc-of-money" target="_blank">ABC of Money <img src="assets/Img/icon_arrow-up-right.svg"></a></li>
                <li><a href="https://www.adityabirlacapital.com/abc-of-calculators" target="_blank">ABC of Calculator <img src="assets/Img/icon_arrow-up-right.svg"></a></li>
                <li><a href="https://www.adityabirlacapital.com/branch-locator" target="_blank">Branch Locator <img src="assets/Img/icon_arrow-up-right.svg"></a></li>
                <li><a href="/healthinsurance/faqs">FAQs <img src="assets/Img/icon_arrow-up-right.svg"></a></li>
                <li><a href="/healthinsurance/contact-us">Contact Us <img src="assets/Img/icon_arrow-up-right.svg"></a></li>
              </ul>
              <div class="download_abcd">
                <span>Download ABCD</span>
                <p>Experience finance made simple on the new ABCD app!</p>
                <div class="download_qr_btn_grid">
                  <div class="dowlond_col">
                    <img src="assets/Img/abhi_website_header.png">
                    <p>Scan to Download the App</p>
                  </div>
                  <div class="dowlond_app_col">
                    <div class="dowlond_col">
                      <a href="https://abcone.onelink.me/SV5g/0bvvk32n" target="_blank"><img src="assets/Img/icon_red_playstore.svg"><span>Playstore</span></a>
                    </div>
                    <div class="dowlond_col">
                      <a href="https://abcone.onelink.me/SV5g/0bvvk32n" target="_blank"><img src="assets/Img/icon_red_apple.svg"><span>Appstore</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--ABC Solutions Links end-->

      </div>
      <div class="abcHelpLine">
        <a href="javascript:void(0);" onclick="window.location.href = 'tel:+1800-270-7000';"><img src="assets/Img/icon_phone_red.svg"> 1800-270-7000</a>
      </div>
    </div>
  </div>
  <!--ABC Links end-->

  <!--Logo Main start-->
  <div class="logoMain">
    <div class="logoMainLeft">
      <a><img src="assets/Img/abhi_logo.svg" alt="ABHI"></a>
    </div>
    <div class="logoMainRight">
      <div class="logoLeftNav">
        <div class="icon_menuMobile"  *ngIf="isLoggedIn">
            <button type="button" (click)="onClickHamburger($event)" class="btn_menuMobile" aria-label="siteSidenav">
                <span></span><span></span><span></span>
            </button>
        </div>
      </div>

      <div class="logoRightNav">
        <nav class="navbar navbar-expand-lg navbar-light top_mainNavBar" *ngIf="isLoggedIn && agentCode != '467899' && agentCode != '467897' && agentCode != '467896'">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#supported_NavBar" aria-controls="supported_NavBar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon block-hide"></span>Services
            </button>
            <div class="collapse navbar-collapse" id="supported_NavBar">
              <div class="menuServices">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" *ngIf="channel !== 'AGENCY'">
                  <a class="nav-link"  href="https://identity-in21.leadsquared.com/Home/SignInWithSSO" target="_blank" rel="noopener noreferrer">
                    {{"LSQ" | translate}}
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link"  href= "https://app.powerbi.com/groups/me/reports/6e9a8f65-8065-4a7b-8463-6599e98b902b/ReportSection?experience=power-bi" target="_blank" rel="noopener noreferrer">
                    {{"Reports" | translate}}
                  </a>
                </li>
                <li class="nav-item dropdown" *ngIf="isFLSLogin">
                  <a class="nav-link"  href="https://aarambh.adityabirlacapital.com/Lead/Dashboard" target="_blank" rel="noopener noreferrer">
                    {{"Aarambh" | translate}}
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click)="raiseServiceRequest()">
                    {{"Service Request" | translate}}
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="supported_navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{"Marketing Hub" | translate}} <span class="icon_arrowDown"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="supported_navbarDropdown">
                    <div class="dropdown-menuSub">
                      <ul >
                        <li *ngFor="let opt of headerInformation.marketingContent"><a class="dropdown-item" href="{{opt.redirectURL}}" target="_blank">{{ opt.name | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="supported_navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{"Downloads" | translate}} <span class="icon_arrowDown"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="supported_navbarDropdown">
                    <div class="dropdown-menuSub">
                      <div class="dropdown-menu-scroll">
                        <ul >
                          <li *ngFor="let opt of headerInformation.downloadBrowcher"><a class="dropdown-item"   (click)="downloadPdfBrochure(opt.browcherURL)">{{ opt.productName | translate }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </li>
              </ul>
            </div>
            </div>
          </div>
        </nav>
      

        <div class="header-right-cnt">
          <div class="language-selector" tabindex="0">
            <select (change)="setLanguage($event)" [value]="currentLanguage">
              <option value="en">{{"English"}}</option>
              <option value="hi">{{"हिंदी"}}</option>
              <option value="te">{{"తెలుగు"}}</option>
            </select>
          </div>
          
        </div>
        <div class="headerProfile" >
          <a [routerLink]="['/profile']" *ngIf="isLoggedIn" class="btn_headerSearch link_headerProfile">
            <img  src="./assets/Img/icon_notification_card_user.svg" >
          </a>
        </div>
        <div class="header_notification"> 

        <button type="button" id="count-notification" name="count-notification" class="btn_headerSearch" *ngIf="isLoggedIn;" (click)="openNotifications()">
          <img  src="./assets/Img/icon_notifications.svg" >
          <span class="badge" >{{notificationCount}}</span>
        </button>
        <!--Overlay: Notifications start-->
        <div class="overlay_popupMain overlay_dropdown_w386 overlay_notification" *ngIf="showNotifications" >
          
          <div class="option_policyType" (click)="onPopupClick($event)">
            <div class="overlay_body insurer_detailsMain">
              <div class="body_flex_row justify-content-between">
                <h3>Notifications ({{notificationCount}})</h3>
              </div>
              <div class="overlay_footer">
                <div class="btn_groupAction btn_groupNotification">
                  <button id="markAll" name="markAll" type="button" class="btn_white btn_markAsRead" (click)="markAllReadNotification()">{{"Mark As Read All" | translate}}</button>
                  <button id="showAll" name="showAll" type="button" class="btn_red btn_markAsRead"  (click)="showAllNotifications()">{{"Show All" | translate}} </button>
                </div> 
              </div>
              <div class="checkbox_disease_scroll">           
                <div class="row">
                  <div class="col-12">
                    <div class="input-block input-block-renew input-filed-white">
                      <ul class="notificationList" >
                        <div *ngFor="let item of notifications; let i =index" >
                        <li  >
                          <div class="tipInfo_org" *ngIf="item.isRead ==false" (click)="routeNotification(item)"><img src="assets/Img/icon_lightbulb.svg">{{item.description}}</div>
                        </li>
                        <li class="read_notification">
                          <div class="tipInfo_org" *ngIf="item.isRead ==true" (click)="routeNotification(item)"><img src="assets/Img/icon_lightbulb.svg">{{item.description}}</div>
                        </li> 
                      </div>
                      </ul>
                      <!--<mat-list-item *ngFor="let notification of notifications ; let i =index">
                        <span style="color: black;">{{i+1}}: {{notification.message}}</span>
                      </mat-list-item>-->
                    </div>
                  </div>
                </div>
              </div>  
          </div>

          
          </div>
        </div>
        <!--Overlay: Notifications end-->
  
       </div> 
      </div>
    </div>
  </div>
  <!--Logo Main end-->

  <!--Logo Tag start-->
  <div class="logoTagMain">
    <div class="logoTagText">{{"Aditya Birla Health Insurance" | translate}}</div>
    <div class="logoTagText" *ngIf="isLoggedIn || showTimer">
      <!-- Session expires in: <strong>{{ formattedCountdown }}</strong> -->
      <div class="timer_main" title="Session expires"><span class="icon_timer" ><img src="/assets/Img/icon_otp_timer.svg"></span><span class="timer_content">: <span class="timer_count">{{ formattedCountdown }}</span></span></div>
    </div>
  </div>
  <!--Logo Tag end-->
</header>
<!--Header end-->
<!--Axis Header start-->  
<header class="pageHeader" *ngIf="showD2cHeader || agentCode == '467898'">
  <div class="pageHeaderContainer">
          <div class="ph_Left">
              <img src="assets/axis_assets/images/logo_axis.svg" alt="Axis insurance" class="logo_desktop">
              <img src="assets/axis_assets/images/logo_axis_a.svg" alt="Axis insurance" class="logo_mobile">
          </div>
      <div class="ph_Right">
          <div class="ph_RightCurve">
              <span class="ph_RightCurveSmall"></span>
              <div class="logo_openInsurance"></div>
          </div>
      </div>
  </div>
</header>
<!--Axis Header end-->
  


