.btn_red {
    padding: 10px 32px;
}


.table>:not(caption)>*>* {
	background-color: inherit;
}

.tableSubMain .table th,
.tableSubMain .table td {
	padding: 8px 12px;
}
@media (max-width: 767px) {
    .siteBody {
        padding-bottom: 6rem;
    }
}