<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2 class="icon_withHeading"> <a class="btn_backPage" (click)="backToleads()"></a> Create/Update Lead
                </h2>
            </div>
            <div *ngIf="isAUuser && !this.dataToDisplay">
                <!-- <h2 class="sub-title mb-30 font-weight-bold"> AU User Details</h2> -->
                <section class="white_container mb-3">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">AU User Details</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" [(value)]='AUSearchCategory'>
                                    <!-- <option value="" disabled selected>Search Policy Number</option> -->
                                    <option *ngFor="let opt of AUSearchby" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="AUSearchCategory">Search By</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="AUSearchValue" placeholder=""
                                    [(ngModel)]="AUSearchValue" type="text">
                                <label for="AUSearchValue">Identification Number</label>
                            </div>
                        </div>

                        <div class="col-sm-4 col-lg-3 col-md-3 mb-30">
                            <button id="leadsearch" name="leadsearch" class="au-search btn_red" type="button"
                                (click)="SETAUDATA()">Search</button>
                        </div>

                    </div>
                </section>
            </div>
            <div *ngIf="isIDFCUser &&  !this.dataToDisplay">
                <!-- <h2 class="sub-title mb-30 font-weight-bold" > IDFC User Details</h2> -->

                <section class="white_container mb-3">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">IDFC User Details</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" [(ngModel)]="AUSearchCategory">
                                    <!-- <option value="" disabled selected>Search Policy Number</option> -->
                                    <option *ngFor="let opt of AUSearchby" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="AUSearchCategory">Search By</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="IDFCSearchValue" placeholder=""
                                    [(ngModel)]="IDFCSearchValue" type="text">
                                <label for="IDFCSearchValue">Identification Number</label>
                            </div>
                        </div>

                        <div class="col-sm-4 col-lg-3 col-md-3 mb-30">
                            <button id="leadsearch2" name="leadsearch2" class="au-search btn_red" type="button"
                                (click)="SETIDFCDATA()">Search</button>
                        </div>

                    </div>
                </section>
            </div>

            <div *ngIf="isYESuser && !this.dataToDisplay">
                <section class="white_container mb-3">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Yes Bank User Details</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" [(ngModel)]="YESSearchCategory">
                                    <!-- <option value="" disabled selected>Search Policy Number</option> -->
                                    <option *ngFor="let opt of YESSearchby" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="YESSearchCategory">Search By</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="YESSearchValue" placeholder=""
                                    [(ngModel)]="YESSearchValue" type="text" (input)="checkEnableSendOTP()">
                                <label for="YESSearchValue">Identification Number</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-2 col-md-2 mb-30">
                            <label class="label label-height label-form-builder">&nbsp;</label>
                            <button id="sendotp" name="sendotp" class="au-search yes-search btn_red" type="button"
                                [disabled]="!sendOTPEnabled" (click)="sendOTP()">Send OTP
                            </button>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngIf="otpEntered">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="enteredOTP" placeholder=""
                                    [(ngModel)]="enteredOTP" type="text" (input)="checkEnableSendOTP()">
                                <label for="enteredOTP">Enter OTP</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-1 col-md-1 mb-30" *ngIf="otpEntered">
                            <label class="label label-height label-form-builder">&nbsp;</label>
                            <button id="validateotp" name="validateotp" class="au-search yes-search btn_red"
                                type="button" (click)="validate()">Validate
                            </button>
                        </div>
                    </div>
                </section>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="userValidations">
                <!-- <section class="white_container">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="campaignname"
                                    (selectionChange)="campnoSelected()">
                                    <option *ngFor="let opt of CreateLeadList.CampaignName" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="campaignname">Campaign Name *</label>
                                <span *ngIf="submitted && userValidations.get('campaignname')?.invalid"
                                    class="ui-error block-show">Please select campaign name</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="leadType"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.LeadType" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="leadType">Lead Type</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="leadVintage"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.LeadVintage" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="leadVintage">Lead Vintage</label>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="white_container">
                    <h6 class="heading-16-red">Source Details</h6>
                </section>
                <section class="white_container">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="source"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.Source" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="source">Source</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="nomineeName" placeholder=""
                                    formControlName="subSource" type="text" OnlyCharacter>
                                <label for="subSource">Sub Source</label>
                                <span class="ui-error block-show"
                                *ngIf="submitted && userValidations.get('subSource')?.errors?.['pattern']">Please
                                enter proper value
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="white_container">
                    <h6 class="heading-16-red">Personal Details</h6>
                </section> -->
                <section class="white_container mb-3">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Lead Details</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="firstname" placeholder=""
                                    formControlName="firstname" type="text" maxlength="15" OnlyCharacter
                                    [ngClass]="{ 'is-invalid': submitted && userValidations.get('firstname')?.errors }">
                                <label for="firstname">First Name *</label>
                                <span class="invalid-feedback"
                                    *ngIf="submitted && userValidations.get('firstname')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('firstname')?.invalid && !userValidations.get('firstname')?.errors?.['pattern']">Firstname
                                        cannot
                                        be blank</span>
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('firstname')?.errors?.['pattern']">Firstname
                                        should only contain alphabets</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="MiddleName" placeholder=""
                                    formControlName="MiddleName" type="text" maxlength="15" OnlyCharacter
                                    [ngClass]="{ 'is-invalid': submitted && userValidations.get('MiddleName')?.errors }">
                                <label for="MiddleName">Middle Name</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('MiddleName')?.errors?.['pattern']">MiddleName
                                    should only contain alphabets</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="lastname" placeholder=""
                                    formControlName="lastname" type="text" maxlength="15" OnlyCharacter
                                    [ngClass]="{ 'is-invalid': submitted && userValidations.get('lastname')?.errors }">
                                <label for="lastname">Last Name *</label>
                                <span class="invalid-feedback"
                                    *ngIf="submitted && userValidations.get('lastname')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('lastname')?.invalid && !userValidations.get('lastname')?.errors?.['pattern']">Lastname
                                        cannot
                                        be blank</span>
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('lastname')?.errors?.['pattern']">Lastname
                                        should only contain alphabets</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="nomineeName" placeholder=""
                                    formControlName="mobilenumber" type="text" (keypress)="isNumber($event)" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && userValidations.get('mobilenumber')?.errors }">
                                <label for="nomineeName">Mobile Number *</label>
                                <span class="invalid-feedback"
                                    *ngIf="submitted && userValidations.get('mobilenumber')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('mobilenumber')?.invalid && !userValidations.get('mobilenumber')?.errors?.['pattern']">Mobilenumber
                                        cannot
                                        be blank</span>
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('mobilenumber')?.errors?.['pattern']">Enter
                                        a valid 10-digit Mobile
                                        Number
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="email" placeholder=""
                                    formControlName="email" type="text" OnlyCharacter
                                    [ngClass]="{ 'is-invalid': submitted && userValidations.get('email')?.errors }">
                                <label for="email">Email *</label>
                                <span class="invalid-feedback"
                                    *ngIf="submitted && userValidations.get('email')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('email')?.invalid && !userValidations.get('email')?.errors?.['pattern']">Email
                                        cannot
                                        be blank</span>
                                    <span class="ui-error block-show"
                                        *ngIf="submitted && userValidations.get('email')?.errors?.['pattern']">Please
                                        enter valid Email ID</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="gender"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.Gender" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="gender">Gender</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="dob" placeholder="" formControlName="dob"
                                    type="date" [max]="today" (change)="changeDob($event)">
                                <label for="nomineeName">DOB</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="age" placeholder="" formControlName="age"
                                    type="text">
                                <label for="age">Age</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('age')?.errors?.['pattern']">Please enter
                                    proper age in Digits</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="maritalStatus"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.MaritalStatus" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="maritalStatus">Marital Status</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="numberOfKids" placeholder=""
                                    formControlName="numberOfKids" type="text" (keypress)="isNumber($event)">
                                <label for="numberOfKids">No Of Kids</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('numberOfKids')?.errors?.['pattern']">Please
                                    enter proper value in
                                    Digits</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="isWhatsapp"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.IsWhatsApp" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="isWhatsapp">Is Whatsapp</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="occupation" placeholder=""
                                    formControlName="occupation" type="text">
                                <label for="occupation">Occupation</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('occupation')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="education" placeholder=""
                                    formControlName="education" type="text">
                                <label for="education">Education</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('education')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="white_container mb-3" *ngIf="action!='addNotes'">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Address</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="address1" placeholder=""
                                    formControlName="address1" type="text" maxlength="50" OnlyCharacter>
                                <label for="address1">Address 1</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('address1')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="address2" placeholder=""
                                    formControlName="address2" type="text" maxlength="50" OnlyCharacter>
                                <label for="address2">Address 2</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('address2')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="address3" placeholder=""
                                    formControlName="address3" type="text" maxlength="50" OnlyCharacter>
                                <label for="address3">Address 3</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('address3')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="city" placeholder=""
                                    formControlName="city" type="text" OnlyCharacter>
                                <label for="city">City</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('city')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="state" placeholder=""
                                    formControlName="state" type="text" OnlyCharacter>
                                <label for="state">State</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('state')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="pincode" placeholder=""
                                    formControlName="pincode" type="text" (keypress)="isNumber($event)">
                                <label for="pincode">Pincode</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('pincode')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="white_container mb-3" *ngIf="action!='addNotes'">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Product Details</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="interestedProductName"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.ProductName" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="interestedProductName">Interested Product Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="planType"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.PlanName" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="planType">Interested Plan Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="sumInsured" placeholder=""
                                    formControlName="sumInsured" (keypress)="isNumber($event)">
                                <label for="sumInsured">Interested Sum Insured</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('sumInsured')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="premium" placeholder=""
                                    formControlName="premium" (keypress)="isNumber($event)">
                                <label for="premium">Interested Premium</label>
                                <span class="ui-error block-show"
                                    *ngIf="submitted && userValidations.get('premium')?.errors?.['pattern']">Please
                                    enter proper value</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="familyConstruct"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.FamilyConstruct" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="familyConstruct">Family Construct</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="policyType"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let opt of CreateLeadList.PolicyType" [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                                <label for="policyType">Policy Type</label>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="policyNumber" placeholder=""
                                    formControlName="policyNumber" type="text">
                                <label for="policyNumber">Policy Number</label>
                                <span class="ui-error block-show"
                                *ngIf="submitted && userValidations.get('policyNumber')?.errors?.['pattern']">Please
                                enter proper value</span>
                            </div>
                        </div> -->
                    </div>

                </section>
                <section class="white_container mb-3" *ngIf="action=='updateStatus'">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Update Lead Status</h6>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="status"
                                    (change)="changeReferStatus($event)">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let item of referenceStatus" [value]="item.name">
                                        {{ item.name }}
                                    </option>
                                </select>
                                <label for="interestedProductName">Enter Lead Status</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="substatus"
                                    (selectionChange)="campnoSelected()">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let item of referenceSubStatus?.substatus" [value]="item.name">
                                        {{ item.name }}
                                    </option>
                                </select>
                                <label for="familyConstruct">Enter Lead Sub-Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <h4 class="mrg-btm-0 impText font-weight-bold"><span class="heading-16-red">Important :</span>
                            Kindly
                            ensure that
                            Proposer's full name, address, gender and date of birth is strictly as per his/her
                            CKYC1
                            registry, Aadhaar records or OVD2</h4>
                    </div>
                    <div class="row impTextList sub-title mb-0 font-weight-bold">
                        <p>1. Central KYC Registry</p>
                    </div>
                    <div class="row impTextList sub-title mb-3 font-weight-bold">
                        <p>2. Officially Valid Documents, namely one of Aadhaar/Passport/Driving License/Voter
                            ID</p>
                    </div>
                </section>

                <div class="row mt-4" *ngIf="action!='addNotes'">
                    <div class="col-12">
                        <button type="submit" id="addnotesave" name="addnotesave" class="btn_red">Save</button>
                    </div>
                </div>

            </form>
            <form (ngSubmit)="addNotesSubmit()" [formGroup]="addNoteForm">
                <section class="white_container mb-3" *ngIf="action=='addNotes'">

                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6 class="heading-16-red">Add Notes</h6>
                        </div>


                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="activityTitle" placeholder=""
                                    formControlName="activityTitle" type="text"
                                    [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityTitle')?.errors }">
                                <label for="activityTitle">Activity Title*</label>
                                <span class="invalid-feedback"
                                    *ngIf="notesSubmitted && addNoteForm.get('activityTitle')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityTitle')?.invalid">
                                        ActivityTitle cannot be blank</span>
                                </span>

                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="activityStartDate" placeholder=""
                                    formControlName="activityStartDate" type="date"  [min]="today"   [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityTitle')?.errors }">
                                <label for="activityStartDate">Activity Start Date*</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityStartDate')?.errors">
                                <span class="ui-error block-show"
                                    *ngIf="notesSubmitted && addNoteForm.get('activityStartDate')?.invalid">
                                    Enter valid ActivityStartdate</span>
                            </span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="activityStartTime" placeholder=""
                                    formControlName="activityStartTime" type="time" [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityStartTime')?.errors }">
                                <label for="activityStartTime">Activity Start Time*</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityStartTime')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityStartTime')?.invalid">
                                        Enter valid ActivityStartTime</span>
                                </span>

                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="activityEndDate" placeholder=""
                                    formControlName="activityEndDate" type="date" [min]="today"  [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityEndDate')?.errors }">
                                <label for="activityEndDate">Activity End Date*</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityEndDate')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityEndDate')?.invalid">
                                        Enter valid ActivityEndDate</span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <input class="form-control input-textBox" id="activityEndTime" placeholder=""
                                    formControlName="activityEndTime" type="time" [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityEndTime')?.errors }">
                                <label for="activityEndTime">Activity End Time*</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityEndTime')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityEndTime')?.invalid">
                                        Enter valid ActivityEndTime</span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="activityType"  [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityType')?.errors }">
                                    <option value="" disabled selected>Choose Option</option>
                                    <option *ngFor="let item of activityTypes" [value]="item">
                                        {{ item }}
                                    </option>
                                </select>
                                <label for="interestedProductName">Select Activity Type*</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityType')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityType')?.invalid">
                                        Select Activity Type</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="input-block form-floating input-block-renew">
                                <textarea class="form-control input-textBox" id="notes" placeholder="Type your note..."
                                    formControlName="notes"  [ngClass]="{ 'is-invalid': notesSubmitted && addNoteForm.get('activityEndTime')?.errors }"></textarea>
                                <label for="notes">Note*:</label>
                                <span class="invalid-feedback" *ngIf="notesSubmitted && addNoteForm.get('activityEndTime')?.errors">
                                    <span class="ui-error block-show"
                                        *ngIf="notesSubmitted && addNoteForm.get('activityEndTime')?.invalid">
                                        Enter valid Note</span>
                                </span>

                            </div>
                        </div>

                    </div>
                </section>

                <div class="row mt-4" *ngIf="action=='addNotes'">
                    <div class="col-12">
                        <button type="submit" id="addnotes" name="addnotes" class="btn_red">Add Notes</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>