<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>Upload Bulk File</h2>
            </div>
            <!-- <section class="white_container">
                <h6 class="heading-16-red">Lead Details</h6>
            </section> -->
            <form (ngSubmit)="onSubmit()" [formGroup]="bulkUploadForm" novalidate autocomplete="false">
                <section class="white_container">
                    <!-- <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-block form-floating input-block-renew">
                                <select class="form-select input-selectBox" formControlName="selectedcampId"
                                    (selectionChange)="campSelected($event)">
                                    <option *ngFor="let camp of campListData" [value]="camp.id">
                                        {{camp.campaignNo}}{{'-'}}{{camp.name}}
                                    </option>
                                </select>
                                <span *ngIf="submitted && bulkUploadForm.get('selectedcampId')?.invalid"
                                    class="ui-error block-show">Please select campaign name</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                        <div class="sample_uploadDocument">
                            <a href="assets/lms-assets/UploadSample.xlsx">Download sample
                                template file</a>
                        </div>
                        <div class="uploadDocument_main">
                            <div class="uploadDocument_area" (click)="file.click()">
                                <div class="ud_area_left">
                                    <h6>Upload Documents</h6>
                                    <p>xlsx/xls/csv Files</p>
                                    {{selctedFileName}}
                                </div>
                                <div class="ud_area_right">
                                    <button type="button" class="btn_uploadDocument">
                                        <span class="upload_icon"><img
                                                src="assets/Img/icon_upload_white.svg"></span>
                                        Upload
                                    </button>
                                </div>
                                <!-- <input type="file" id="file" #fileInput (change)="newfile($event)" style="display:none;" /> -->
                                <input type="file" accept=".xlsx, .xls, .csv" id="file" #file style="display: none"
                                    (change)="newfile($event)">
                            </div>
                        </div>
                        <span *ngIf="isFilenotSelected" class="ui-error block-show">
                            Please select a file to continue.
                        </span>
                        <span class="ui-error block-show" *ngIf="showNote">
                            File format not supported ! Please upload .xls, .xlsx or .csv files.
                        </span>
                    </div>
                    
                    <div class="col-12 mt-5">
                        <button type="submit" (click)="continueFileUpload()" class="btn_red">Continue</button>
                    </div>
                </section>

            </form>

        </div>
    </div>
</main>