.downlod-sampl-temp-txt{
    text-decoration: underline;
    font-size: 2.0rem !important;
}
.text-faded-black{
    color: #2d2727 !important;
}
.sample_uploadDocument {
    width: 100%;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    color:#C7222A;
    text-decoration: none;
    margin: 0 0 5px;
    padding: 0 15px 0;
    a {
        color:#C7222A;
        text-decoration: none; 
    }
}
.btn_red {
    padding: 10px 32px;
}