<main class="siteBody">
  <div class="contentBody bodyColumns-1 bodyColumns-dashboard">
    <div class="bodyColumn body_flex_column">
      <div class="contentBody dashboard_contentContainer body_flex_column">
        <section class="section_fullWidth white_container dashboard_topSection commonSection ">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <h6>Good {{getTimeOfDay()}}, {{profileDetails?.firstName}} ({{profileDetails?.agentCode}})</h6>
            </div>
          </div>
        </section>
        <div class="section_fullWidth">
          <div class="cardWraper">
            <div class="cardItem">
              <div class="cardItem_header">
                <div class="cardItem_headerSearch">
                  <div class="field_searchMain">
                    <input type="text" class="filterSearch"
                      placeholder="Search Your Customer, Leads, Claims No and more" [(ngModel)]="searchedValue" />
                    <img src="assets/Img/icon_magnify_grey.svg" (click)="onSearch()">
                    <div class="overlay_popupMain overlay_dropdown_w518 overlay_searchResults"
                      *ngIf="showSearchedResults && searchedData?.length">
                      <div class="option_policyType">
                        <div class="overlay_body insurer_detailsMain">
                          <div class="data_searchResults">
                            <section class="tableMain quoteView block-show">
                              <div class="tableSubMain">
                                <div class="table-responsive">
                                  <table class="table table-borderless table-search">
                                    <thead>
                                      <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Searched Value</th>
                                        <th scope="col">Created Date</th>
                                      </tr>
                                    </thead>
                                    <tbody class="table-group-divider tbody-quoteView">
                                      <tr title="Click here" *ngFor="let details of searchedData"
                                        (click)="onRedirectBasedonSource(details)">
                                        <td>{{details.name}}</td>
                                        <td>{{details.status}}</td>
                                        <td>{{details.searchValue}}</td>
                                        <td>{{details.createdDate}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Search Results section end-->
                  </div>
                </div>
                <div class="cardItem_headerButtons">
                  <button class="get-quote-btn" type="button" id="getquote" name="getquote" (click)="getQuote()">
                    <img src="assets/Img/plus_icon.svg"> {{"Get Quote" | translate}}
                  </button>
                  <button class="get-quote-btn" type="button" id="createlead" name="createlead" (click)="createLead()">
                    <img src="assets/Img/plus_icon.svg"> {{"Create Lead" | translate}}
                  </button>
                </div>
              </div>
              <div *ngIf="showCard">
                <app-get-quote></app-get-quote>
              </div>
            </div>
          </div>
        </div>
        <!--Important Tasks New design start-->
        <section class="commonSection dashboard_LPR_main dashboard_importantEvents">
          <h3>{{"Important Tasks" | translate}}</h3>
          <div class="body_flex_row mt-3">
            <ng-conatiner *ngFor="let qucikAction of quickActionDetails">
              <ng-conatiner  [ngSwitch]="qucikAction.name">
                <div *ngSwitchCase="'eventDetails'">
                  <div class="white_container blue_color_bg taskCard taskCardEvents body_flex_column">
                    <header class="body_flex_row align-items-center">
                      <figure>
                        <img src="./assets/Img/icon_notification_list_products.svg">
                      </figure>
                      <div>
                        <h5>{{"Events" | translate}}</h5>
                      </div>
                    </header>
                    <main class="body_flex_column">
                      <ng-container *ngFor="let tasks of qucikAction?.value">
                        <div class="content_taskCard">
                          <h6><span title={{tasks?.event}}>{{tasks?.event}}</span></h6>
                          <small>{{tasks?.event}}</small>
                        </div>
                      </ng-container>
                    </main>
                    <footer>
                      <a (click)="onClickEvents('events')">View all</a>
                    </footer>
                  </div>
                </div>
                <div *ngSwitchCase="'birthdayDetails'">
                  <div class="white_container org_color_bg taskCard taskCardBirthday body_flex_column">
                    <header class="body_flex_row align-items-center">
                      <figure>
                        <img src="./assets/Img/icon_notification_list_birthday.svg">
                      </figure>
                      <div>
                        <h5>{{"Birthdays" | translate}}</h5>
                      </div>
                    </header>
                    <main class="body_flex_column">
                      <ng-container *ngFor="let tasks of qucikAction?.value">
                        <div class="content_taskCard">
                          <h6><span title={{tasks.name}}>{{tasks.name}}</span></h6>
                          <small>{{tasks.dob | date : 'dd/mm/yy'}}</small>
                        </div>
                      </ng-container>
                    </main>
                    <footer>
                      <a (click)="onClickEvents('birthday')">View all</a>
                    </footer>
                  </div>
                </div>
                <div *ngSwitchCase="'notifications'">
                  <div class="white_container green_color_bg taskCard taskCardNotifications body_flex_column">
                    <header class="body_flex_row align-items-center">
                      <figure>
                        <img src="./assets/Img/icon_notifications.svg">
                      </figure>
                      <div>
                        <h5>Notifications</h5>
                      </div>
                    </header>
                    <main class="body_flex_column">
                      <ng-container *ngFor="let tasks of qucikAction?.value">
                        <div class="content_taskCard">
                          <ng-container *ngIf="tasks?.description.includes('No notifications') ? true : template">
                            <h6><span title={{tasks?.description}}>{{tasks?.description}}</span></h6>
                          </ng-container>
                          <ng-template #template>
                          <small>{{tasks?.description | date : 'dd/mm/yy'}}</small>
                          </ng-template>
                        </div>
                      </ng-container>
                    </main>
                    <footer>
                      <a (click)="onClickEvents('notification')">View all</a>
                    </footer>
                  </div>
                </div>
              </ng-conatiner>
            </ng-conatiner>
           
            
          </div>
        </section>
        <!--Important Tasks New design end-->

        <section class="body_flex_column dashboard_latestABHI commonSection ">
          <div class="body_flex_row justify-content-between">
            <h6>{{"Latest from ABHI" | translate}}</h6>
            <button type="button" id="btn-exploreMore" name="btn-exploreMore"
              class="btn_iconText btn_exploreMore">{{"Explore More" | translate}} <img
                src="assets/Img/icon_red_downarrow.svg"> </button>
          </div>

          <div class="card_wraper latestFromABHI">
            <div class="cardsub_wraper">

              <div class="card_item ">
                <div class="card_subitem">
                  <div class="card_subitem_img">
                    <img src="assets/Img/img_latest_abhi.png">
                  </div>
                  <div class="card_subitem_content">
                    <header>
                      <div class="card_item_icon"><img src="assets/Img/icon_noise_partnership.png"></div>
                      <h5>Noise partnership</h5>
                      <button type="button" id="latest-abhi-btn-1" name="latest-abhi-btn-1"
                        class="btn_icon_cardArrow"><img src="assets/Img/icon_red_downarrow.svg"></button>
                    </header>
                    <h5>Noise partnership</h5>
                    <p>Partner with us to silence noise and create peaceful communities worldwide.</p>
                  </div>
                </div>
              </div>
              <div class="card_item ">
                <div class="card_subitem">
                  <div class="card_subitem_img">
                    <img src="assets/Img/img_latest_abhi.png">
                  </div>
                  <div class="card_subitem_content">
                    <header>
                      <div class="card_item_icon"><img src="assets/Img/icon_pharmacy_partnership.png"></div>
                      <h5>Pharmacy partnership</h5>
                      <button type="button" id="latest-abhi-btn-1" name="latest-abhi-btn-1"
                        class="btn_icon_cardArrow"><img src="assets/Img/icon_red_downarrow.svg"></button>
                    </header>
                    <h5>Pharmacy partnership</h5>
                    <p>Partner with us to silence noise and create peaceful communities worldwide.</p>
                  </div>
                </div>
              </div>
              <div class="card_item ">
                <div class="card_subitem">
                  <div class="card_subitem_img">
                    <img src="assets/Img/img_latest_abhi.png">
                  </div>
                  <div class="card_subitem_content">
                    <header>
                      <div class="card_item_icon"><img src="assets/Img/icon_new_plan.png"></div>
                      <h5>New plan</h5>
                      <button type="button" id="latest-abhi-btn-1" name="latest-abhi-btn-1"
                        class="btn_icon_cardArrow"><img src="assets/Img/icon_red_downarrow.svg"></button>
                    </header>
                    <h5>New plan</h5>
                    <p>Partner with us to silence noise and create peaceful communities worldwide.</p>
                  </div>
                </div>
              </div>
              <div class="card_item active">
                <div class="card_subitem">
                  <div class="card_subitem_img">
                    <img src="assets/Img/img_latest_abhi.png">
                  </div>
                  <div class="card_subitem_content">
                    <header>
                      <div class="card_item_icon"><img src="assets/Img/icon_new_plan.png"></div>
                      <h5>Key Insights from Mayank Bathwal</h5>
                      <button type="button" id="latest-abhi-btn-1" name="latest-abhi-btn-1"
                        class="btn_icon_cardArrow"><img src="assets/Img/icon_red_downarrow.svg"></button>
                    </header>
                    <h5>Key Insights from Mayank Bathwal</h5>
                    <p>Mayank has been responsible for setting up the latest venture of Aditya Birla Capital Limited in
                      the health insurance space. With his expertise and </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="contentBody dashboard_contentContainer">
          <div class="performance-overview">
            <header>
              <h2>{{"Performance Overview" | translate}}</h2>
            </header>
            <div class="subHeader">
              <div class="notification">
                <img src="assets/Img/icon_tips.svg">{{"You've converted 10% more people this month compared to last month" | translate}}
              </div>

            </div>
            <div>
              <div class="cardWraper-container" cdkDropListOrientation="horizontal" cdkDropList
                (cdkDropListDropped)="dropPerformance($event)">
                <ng-container *ngFor="let perform of performanceCard">
                  <ng-container [ngSwitch]="perform.type">
                    <div [ngClass]="'cardItem ' + perform.class" *ngSwitchCase="'text'" cdkDrag>
                      <header><span class="cardItem_icon"><img [src]="perform.icon"></span>{{perform.title | translate}}
                      </header>
                      <div class="value">{{perform.value}}</div>
                      <div class="card-tip" *ngIf="perform.description"><img
                          [src]="perform.subIcon">{{perform.description | translate}}</div>
                    </div>
                    <div [ngClass]="'cardItem ' + perform.class" *ngSwitchCase="'progress'" cdkDrag>
                      <header><span class="cardItem_icon"><img [src]="perform.icon"></span>{{perform.title | translate}}
                      </header>
                      <div class="value">₹ {{perform.value}}</div>
                      <div class="progress-barMain">
                        <p>{{perform.description | translate}}</p>
                        <app-guage [progress]="20" [guageType]="'linear'"></app-guage>
                      </div>
                    </div>
                    <div [ngClass]="'cardItem ' + perform.class" *ngSwitchCase="'action'" cdkDrag>
                      <header><span class="cardItem_icon"><img [src]="perform.icon"></span>{{perform.title | translate}}
                      </header>
                      <div class="value">₹ {{perform.value}}</div>
                      <div class="card-tip" *ngIf="perform.description"><img
                          src="assets/Img/icon_rupee.svg">{{perform.description | translate}}
                      </div>
                    </div>
                    <div [ngClass]="'cardItem ' + perform.class" *ngSwitchCase="'gauge'" cdkDrag>
                      <header><span class="cardItem_icon"><img [src]="perform.icon"></span>{{perform.title | translate}}
                      </header>
                      <div class="gauge">
                        <app-guage [halfProgress]="75" [guageType]="'half-moon'"></app-guage>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>


        <section class="commonSection dashboard_LPR_main">
          <h3>{{"Business Summary" | translate}}</h3>
          <div class="body_flex_row mt-3">
            <ng-container *ngFor="let tab of tabsInfo">
              <div class="white_container dashboard_productTabs body_flex_column dashboard_leadsMain">
                <header class="leads_itemHeader" [ngClass]="{'leads_itemHeaderProposal': tab.tabName == 'Proposals' }"><span>{{"Total" | translate}} {{tab.tabName | translate}}</span><label>{{tab.totalCount}}</label></header>
                <div class="leads_content leads_contentDashboard ">
                  <div class="scroll_contentDashboard">
                  <ng-container *ngFor="let buz of tab.category">
                    <div class="leads_item_contentDashboard " [ngSwitch]="tab.tabName">
                    <div  *ngSwitchCase="'Leads'">
                      <div class="leads_item leads_open">
                        <header>
                          <span>{{(buz.name == '' || buz.name == null) ? 'Anonymous' : buz.name }}</span>
                          <label>{{buz.count}}</label>
                        </header>
                      </div>
                    </div>
                    <div *ngSwitchCase="'Proposals'">
                      <div class="leads_item leads_open">
                        <header>
                          <span>{{(buz.name == '' || buz.name == null) ? 'Anonymous' : buz.name }}</span>
                          <label>{{buz.count}}</label>
                        </header>
                      </div>
                    </div>
                  </div>
                  </ng-container>
                </div>
                  <div [ngSwitch]="tab.chart">
                    <div *ngSwitchCase="'Leads'" style="position: relative; height:35vh; width:100%">
                      <canvas #chartCanvas style="margin: auto;"></canvas>
                    </div>
                    <div *ngSwitchCase="'Proposals'" style="position: relative; height:35vh; width:100%">
                      <canvas #chartPropCanvas style="margin: auto;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="white_container dashboard_productTabs body_flex_column dashboard_leadsMain">
              <!-- <h6>My Renewals</h6> -->

              <header class="leads_itemHeader leads_itemHeaderRenewal" ><span>{{"Total Renewals" | translate}}</span><label>{{renewalDetail && renewalDetail[0]?.totalCount}}</label></header>
              <div class="leads_content leads_contentDashboard scroll_contentDashboard">
                <ng-container *ngFor="let buz of renewalDetail">
                  <div class="leads_item_contentDashboard">
                    <div class="leads_item leads_open">
                      <header>
                        <span>{{(buz.name == '' || buz.name == null) ? 'Anonymous' : buz.name }}</span>
                        <label>{{buz.count}}</label>
                      </header>
                    </div>
                  </div>
               </ng-container>
              </div>
              <div class="cardWraper-container">
                <div class="chart-container">
                  <canvas #chartRenewCanvas width="200" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="dashboard_otherSections commonSection ">
          <div class="board_otherSections">
            <div class="item_otherSections">
              <div class="otherSections_wraper">
                <header>
                  <div class="otherSections_head">
                    <h2>{{"My Customers" | translate}}</h2>
                  </div>
                </header>
                <div class="otherSections_body">
                  <div class="chart-container" style="position: relative; height:50vh; width:100%">
                    <canvas id="MyChart" style="margin: auto;">{{ chart }}</canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="item_otherSections">
              <div class="otherSections_wraper">
                <header>
                  <div class="otherSections_head">
                    <h2>{{"Claim Service" | translate}}</h2>
                  </div>
                </header>
                <div class="otherSections_body">
                  <div class="chart-container" style="position: relative; height:50vh; width:100%">
                    <canvas id="MyServiceChart" style="margin: auto;">{{ chart }}</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="body_flex_row commonSection dashboard_LPR_main dashboard_mycustomers_main block-hide">
          <div class="white_container dashboard_productTabs body_flex_column dashboard_leadsMain">
            <h6>{{"My Customers" | translate}}</h6>
            <div class="leads_content">
              <div class="chart-container" style="position: relative; height:50vh; width:100%">
                <canvas id="MyChart" style="margin: auto;">{{ chart }}</canvas>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</main>