.dashboard-main{
    padding-top: 11rem;
}
// .dashboard_contentContainer {
//     max-width: 1082px;
//     margin: auto;
//   }
  
  .cardItem {
    width: 100%;
    border-radius: 12px;
    border: groove;
    font-family: "Anek Latin", sans-serif;
    border-color: #fff;
    border-style: solid;
    position: relative;
    padding: 14px 16px;
    margin: 0 auto;
  }
  
  .cardItem_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .cardItem_headerSearch {
      flex: auto;
  
      .field_searchMain {
        max-width: 400px;
  
        
        img {
          top: 10px;
        }
  
        .filterSearch {
          background: #fafafa;
          border-radius: 20px;
          font-size: 12px;
          font-weight: 400;
  
          &:focus {
            outline: 0;
            border: 0px solid #f1f3f6 !important;
          }
        }
      }
    }
  
    .cardItem_headerButtons {
      display: flex;
      gap:24px;
      text-align: right;
      .get-quote-btn {
        font-family: "Anek Latin", sans-serif;
        background-color: #C7222A;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 10px;
        cursor: pointer;
      }
      
      .get-quote-btn:hover {
        background-color: #a61d24;
      }
    }
  }
  .search-bar {
    width: 34%;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "Anek Latin", sans-serif;
  }
.dashboard_contentContainer {
    max-width: 1082px;
    width: 100%;
    margin: auto;
  }
h2 {
    font-family: "Anek Latin", sans-serif;
}

.performance-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin: 0;
    }
    .subHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
        }
    }
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap:8px;
    font-weight:400;
    font-size: 16px;
    color: #2e2e2e;
    line-height: 17px;
    .notification-icon {
        font-size: 24px;
        margin-right: 12px;
    }
}

.cardWraper-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.cardItem {
    border-radius: 16px;
    padding: 16px 22px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    box-shadow: 0px 2px 4px 0px #D5D7DE33;
    box-shadow: 0px 1px 10px 0px #D5D7DE1F;
    box-shadow: 0px 4px 5px 0px #D5D7DE24;
    background: #fff;
    header {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0;
        color:#2e2e2e;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .value {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
        color:#2e2e2e;
    }
    .card-tip {
        display: flex;
        gap: 10px;
        align-items: center;
        background: rgba(255, 244, 206, 0.5);
        border: 0.5px solid #FF7A00;
        //border-image-source: linear-gradient(90deg, #FFDE32 0%, #FF7A00 100%);
        border-radius: 10px;
        padding: 6px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #2e2e2e;
    }
    .sub-text {
        font-size: 12px;
        color: #666;
        padding-top: 14px;
    }
    .progress-barMain {
        display: flex;
        flex-direction: column;
        gap: 6px;
        p {
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            color: rgba(36, 36, 36, 0.9);
        }
    }
}

.premium {
    .progress-bar {
        height: 13px;
        background-color: #e7fcf4;
        border-radius: 16px;

        .progress {
            height: 100%;
            background-color: #1f874c;
            border-radius: 4px;
            margin: 3px;
        }
    }
}

.my-goals {
    .gauge {
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
        .sub-text {
            font-size: 12px;
            color: #666;
            padding-top: 0px;
            z-index: 1;
            position: relative;
            top:25px;
            text-align: center;
        }
    }

    .gauge-body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #e0e0e0;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
        background: conic-gradient(from 90deg at 50% 50%, #D34528 0deg, #034C22 180deg, #53A75C 212.4deg, #70B865 244.8deg, #FFD56C 277.2deg, #FAA61A 309.6deg, #D34528 360deg);
    }

    .gauge-fill {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: #009688;
        transform-origin: center top;
        transform: rotate(0.25turn);
        transition: transform 0.2s ease-out;
    }

    .gauge-cover {
        width: 72%;
        height: 121%;
        background: #ffffff;
        border-radius: 50% 50% 0 0;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        font-size: x-large;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
    }
}
.badge {
    display: flex;
    gap:16px;
    font-weight: 700;
    font-size: 28px;
    color: #2e2e2e;
    align-items: center;
    padding: 0;
    &.badge-purple {
        color:#a83abb;
    }
}