.dashboard-main{
    padding-top: 11rem;
}
// .dashboard_contentContainer {
//     max-width: 1082px;
//     margin: auto;
//   }
  
  .cardItem {
    width: 100%;
    border-radius: 12px;
    border: groove;
    font-family: "Anek Latin", sans-serif;
    border-color: #fff;
    border-style: solid;
    position: relative;
    padding: 14px 16px;
    margin: 0 auto;
  }
  
  .cardItem_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .cardItem_headerSearch {
      flex: auto;
  
      .field_searchMain {
        max-width: 400px;
  
        
        img {
          top: 10px;
          left: auto;
            right: 10px;
            cursor: pointer;
        }
  
        .filterSearch {
          /* background: #fafafa; */
          background: #efefef;
          border-radius: 20px;
          font-size: 12px;
          font-weight: 400;
          padding: 12px 35px 12px 16px;
          &:focus {
            outline: 0;
            border: 0px solid #f1f3f6 !important;
          }
        }
      }
    }
  
    .cardItem_headerButtons {
      display: flex;
      gap:24px;
      text-align: right;
      .get-quote-btn {
        font-family: "Anek Latin", sans-serif;
        background-color: #C7222A;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap:10px;
        font-weight: 500;
        font-size: 16px;
      }
      
      .get-quote-btn:hover {
        background-color: #a61d24;
      }
    }
  }
  .search-bar {
    width: 34%;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "Anek Latin", sans-serif;
  }
.dashboard_contentContainer {
    max-width: 1082px;
    width: 100%;
    margin: auto;
    gap: 24px;
  }
h2 {
    font-family: "Anek Latin", sans-serif;
}

.performance-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin: 0;
    }
    .subHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
        }
    }
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap:8px;
    font-weight:400;
    font-size: 16px;
    color: #2e2e2e;
    line-height: 17px;
    .notification-icon {
        font-size: 24px;
        margin-right: 12px;
    }
}

.cardWraper-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.cardItem {
    border-radius: 16px;
    padding: 16px 22px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    box-shadow: 0px 2px 4px 0px #D5D7DE33, 0px 1px 10px 0px #D5D7DE1F, 0px 4px 5px 0px #D5D7DE24;
    background: #fff;
    header {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0;
        color:#2e2e2e;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .value {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
        color:#2e2e2e;
    }
    .label {
        font-weight: 400;
        font-size: 14px;
        color: #2e2e2e;
    }
    .card-tip {
        display: flex;
        gap: 10px;
        align-items: center;
        background: rgba(255, 244, 206, 0.5);
        border: 0.5px solid #FF7A00;
        //border-image-source: linear-gradient(90deg, #FFDE32 0%, #FF7A00 100%);
        border-radius: 10px;
        padding: 6px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #2e2e2e;
    }
    .sub-text {
        font-size: 12px;
        color: #666;
        padding-top: 14px;
    }
    .progress-barMain {
        display: flex;
        flex-direction: column;
        gap: 6px;
        p {
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            color: rgba(36, 36, 36, 0.9);
        }
    }
}

.premium {
    .progress-bar {
        height: 13px;
        background-color: #e7fcf4;
        border-radius: 16px;

        .progress {
            height: 100%;
            background-color: #1f874c;
            border-radius: 4px;
            margin: 3px;
        }
    }
}


.my-goals {
    .gauge {
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
        .sub-text {
            font-size: 12px;
            color: #666;
            padding-top: 0px;
            z-index: 1;
            position: relative;
            top:25px;
            text-align: center;
        }
    }

    .gauge-body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #e0e0e0;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
        background: conic-gradient(from 90deg at 50% 50%, #D34528 0deg, #034C22 180deg, #53A75C 212.4deg, #70B865 244.8deg, #FFD56C 277.2deg, #FAA61A 309.6deg, #D34528 360deg);
    }

    .gauge-fill {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: #009688;
        transform-origin: center top;
        transform: rotate(0.25turn);
        transition: transform 0.2s ease-out;
    }

    .gauge-cover {
        width: 72%;
        height: 121%;
        background: #ffffff;
        border-radius: 50% 50% 0 0;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        font-size: x-large;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
    }
    
}
::ng-deep .gauge-label {
    span {
        position: relative;
        top: -38px;
        font-weight: 600;
    }
}
.badge {
    display: flex;
    gap:16px;
    font-weight: 700;
    font-size: 28px;
    color: #2e2e2e;
    align-items: center;
    padding: 0;
    &.badge-purple {
        color:#a83abb;
    }
}
.progress-barMain {
    ::ng-deep {
        .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
            background-color: #E7FCF4;
            border-radius: 20px;
        }
        .mdc-linear-progress__bar-inner {
            border-color: #1F874C;
            border-radius: 10px 0 0 10px;
            max-width: 202px;
        }
        .mat-mdc-progress-bar {
            --mdc-linear-progress-active-indicator-height: 6px;
            --mdc-linear-progress-track-height: 13px;
        }
        .mdc-linear-progress__bar {
            padding: 0 5px;
        }
    }
}
/*---dahboard new sections styles start---*/
.section_fullWidth {
    width: 100%;
}
.commonSection {

    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        margin: 0;
        color: #000000;
    }
    h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin: 0;
        color: #000000;
    }
    h6 {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin: 0;
        color: #000000;
    }
    h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin: 0;
        color: #000000;
    }
}
.dashboard_topSection{
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px #0000000A, 0px -4px 12px 0px #AEAEB70A;
    position: relative;
    
    .topSection_notifyUserInfo{
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        align-items: center;
    }
    .btn_notification{
        background: transparent;
        border-width: 0;
        position: relative;
        display: flex;
        img {
            width: 22px;
            height: 22px;
            float: left;
        }
        .badge {
            font-weight: 600;
            font-size: 10px;
            color:#fff;
            padding: 2px 5px;
            border-radius: 16px;
            background: #C7222A;
            position: absolute;
            top: -3px;
            right: 2px;
        }
    }
    .btn_asUser {
        border-width: 0;
        background: #FFE7E5;
        border-radius: 24px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap:4px;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color:#C7222A;
    }
}
.dashboard_improtantTasks{
    width: 98%;
    background:#FFF4D9;
    border: 2px solid #FFFFFF;
    border-radius: 0 0 16px 16px;
    padding: 16px 24px;
    margin: -25px auto 0;
    gap:16px;
    &.suggested_styles {
        width: 100%;
        border-radius:16px;
        margin:0;
    }
}
.card_wraper {
    width: 100%;
    .cardsub_wraper{
        display: flex;
        flex-wrap: nowrap;
        gap:16px;
        .card_item {
            flex: 0 0 320px;
            background: #ffffff;
            padding: 0 16px 12px;
            box-shadow: 0px 8px 16px 0px #0000000A, 0px -4px 12px 0px #AEAEB70A;
            border-radius: 8px;
            position: relative;
            h5 {
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #2e2e2e;
                margin: 0;
            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
            }
            .card_item_badge {
                width: 97%;
                margin: 1px auto 10px;
                padding: 4px 8px;
                border-radius: 0 0 8px 8px;
                background: #FFF4D9;
                display: flex;
                justify-content: center;
                gap: 4px;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: #2e2e2e;
            }
        }
        .card_subitem {
            display: flex;
            flex-direction: row;
            gap: 16px;
            padding: 12px 0 0;
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card_item_icon {
                    img {
                        float: left;
                    }
                }
            }
            .card_subitem_img {
                min-width: 129px;
                height: 128px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .card_subitem_content {
                display: flex;
                flex-direction: column;
                gap:8px;
            }
            h5 {
                font-size: 20px;
                line-height: 20px;
                color: #4c4c4c;
            }
            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color:#797979;
            }
        }
    }
}
.dashboard_latestABHI {
    border-radius: 16px;
    padding: 24px 32px;
    background: linear-gradient(180deg, #FFF5EC 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    height: 166px;
    margin-bottom: 80px;
    .card_wraper {
        .cardsub_wraper{
            overflow-x: auto;
            padding: 0 0px 20px;
            .card_item {
                flex: 0 0 240px;
                padding: 12px 16px 12px;
                cursor: pointer;
                .card_subitem {
                    padding: 0;
                    header {
                        align-items: flex-start;
                        h5 {
                            display: none;
                        }
                        .card_item_icon {
                            img {
                                float: left;
                            }
                        }
                    }
                    h5 {
                        display: block;
                    }
                    .card_subitem_content {
                        display: flex;
                        flex-direction: column;
                        gap:8px;
                        p {
                            margin: 0;
                        }
                    }
                    .card_subitem_img {
                        display: none;
                    }
                }
                
                &:hover {
                    
                    .btn_icon_cardArrow {
                        img {
                            filter: none !important;
                            opacity: 1;
                        }
                    }
                }
                &.active {
                    flex: 0 0 447px;
                    .card_subitem {
                        header {
                            .card_item_icon {
                                display: none;
                            }
                            h5 {
                                display: block;
                                width: 80%;
                            }
                        }
                        h5 {
                            display: none;
                        }
                        .card_subitem_img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.btn_exploreMore {
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    img {
        transform: rotate(-88deg);
    }
}
.btn_icon_cardArrow {
    width: 32px;
    height: 32px;
    border-radius: 37px;
    border-width: 0;
    background: #F9FAFB;
    &:hover{
        img {
            filter: none !important;
            opacity: 1;
        }
    }
    img {
        width: 13px;
        height: 8px;
        transform: rotate(-88deg);
        filter: brightness(0);
        opacity: 0.5;
    }
}
.filter_performanceOverview {
    display: flex;
    gap: 40px;
}
.filterfields_PO {
    display: flex;
    align-items: center;
    gap: 8px;
}
.filterfields_input {
    .compare_inputblock .input-selectBox, .compare_inputblock .input-selectBox:focus {
        padding: 4px 25px 4px 12px !important;
        background-position: 92% 50% !important;
    }
    .compare_inputblock .input-textBox, .compare_inputblock .input-textBox:focus {
        padding: 4px 12px !important;
    }
}
.btn_customiseDashboard {
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 12px;
    border: 1px solid #C7222A;
    &:hover {
        background: #C7222A;
        color: #ffffff;
        opacity: 1;
        img {
            filter: brightness(0) invert(1);
        }
    }
}
.tasks-badge {
    font-size: 14px;
    color: #000000;
    background: #F2F6FE;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 12px;
    em {
        position: relative;
        width: 16px;
        height: 16px;
        background: rgba(140, 172, 231, 0.18);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '';
            width: 8px;
            height: 8px;
            background: #4374D0;
            border-radius: 30px;
            position: absolute;
        }
    }
}
.profile_pic {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #e9ecef;
    display: inline-block;
    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}
.dashboard_allTasks {
    .card_wraper {
        .cardsub_wraper {
            padding-bottom: 10px;
            overflow-x: auto;
            .card_item {
                flex: 0 0 227px;
                padding: 12px 14px;
                border-radius: 16px;
                box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
                display: flex;
                flex-direction: column;
                gap: 16px;
                .head_tasks {
                    display: flex;
                    gap: 4px;
                    font-weight: 700;
                    font-size: 16px;
                    color: #000;
                }
                .btn_exploreMore {
                    font-weight: 500;
                }
                .card-tip{
                    gap: 12px;
                }
            }
        }
    }
}
.dashboard_productTabs{
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 2px 4px 0px rgba(213, 215, 222, 0.2), 0px 1px 10px 0px rgba(213, 215, 222, 0.1215686275), 0px 4px 5px 0px rgba(213, 215, 222, 0.1411764706);
    overflow-x: auto;
    padding-bottom: 10px;
}
.main_productTabs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .nav-pills {
        gap: 8px;
        .nav-link {
            padding: 5px 18px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            &.active {
                color: #ffffff;
                background: #C7222A;
            }
        }
    }
}
.leads_content {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    gap: 28px;
    /*overflow-x: auto;
    padding-bottom: 10px;*/
    .leads_item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &.leads_open {
            header {
                background: #E1E4E8;
            }
        }
        &.leads_inprogress {
            header {
                background: #F0E7F6;
            }
        }
        &.leads_won {
            header {
                background: #D0F1E5;
            }
        }
        &.leads_lost {
            header {
                background: #FFDCE0;
            }
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            padding: 6px 16px;
            background: #f5f5f5;
            font-weight: 500;
            font-size: 16px;
            line-height: 17px;
            color: #4d4d4d;
            label {
                font-weight: 700;
                font-size: 22px;
                line-height: 24px;
                color: #2e2e2e;
            }
        }
        .leads_body {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .card_wraper {
                .cardsub_wraper {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    flex-wrap: wrap;
                    .card_item {
                        flex: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        border-radius: 20px;
                        box-shadow: 0px 4px 12px 0px #00000014;
                        padding: 12px 16px 12px;
                        .head_tasks {
                            display: flex;
                            justify-content: space-between;
                            gap: 4px;
                            font-weight: 700;
                            font-size: 16px;
                            color: #000;
                            cursor: pointer;
                            &.active {
                                .profile_arrow{
                                    img {
                                        filter: brightness(0) invert(0);
                                        opacity: 0.8;
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .profile_heading {
                                display: flex;
                                gap: 8px;
                            }
                            .profile_arrow{
                                img {
                                    filter: brightness(0) invert(0);
                                    opacity: 0.8;
                                }
                            }
                        }
                        .card-tip{
                            background: #FFF6C7;
                            border-width: 0;
                            padding: 10px 15px;
                            gap: 12px;
                        }
                        .btn_exploreMore {
                            font-weight: 500;
                            font-size: 14px;
                            justify-content: space-between;
                        }
                        .body_processSteps {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                        }
                    }
                }
            }
        }
    }
}
.card_processSteps{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;
    li {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #4d4d4d;
        display: flex;
        gap: 6px;
        &.status-success {
            text-decoration:line-through ;
            .text_processSteps {
                opacity: 0.6;
            }
            .status_processSteps{
                position: relative;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 9px;
                    border: solid #5A5A65;
                    border-width: 0 1px 1px 0;
                    transform: rotate(38deg);
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    background: transparent;
                }
            }
        }
        .status_processSteps {
            width: 16px;
            height: 16px;
            border-radius: 4px;
            background: #E1E4E8;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: "";
                width: 4px;
                height: 4px;
                background: #5A5A65;
            }
        }
    }
}
.board_otherSections {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    .item_otherSections {
        padding: 20px 16px;
        border-radius: 16px;
        background: #ffffff;
        max-width: 524px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .otherSections_wraper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            header {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 22px;
                    margin: 0;
                }
                .otherSections_head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .otherSections_body {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .card_wraper {
                    overflow: hidden;
                    .cardsub_wraper {
                        //overflow-x: auto;
                        padding-bottom: 10px;
                        .card_item {
                            flex: 0 0 220px;
                            padding: 12px;
                            border-radius: 12px;
                            box-shadow: 0px 2px 6px 0px #0000000F;
                            &.knowledgeInfo {
                                gap: 8px;
                                h6 {
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: #000000;
                                    margin: 0;
                                }
                                .btn_exploreMore {
                                    font-weight: 500;
                                }
                            }
                        }
                        .cardItem {
                            gap: 18px;
                            header {
                                display: flex;
                                flex-direction: row;
                                gap: 16px;
                            }
                        }
                    }
                }
            }
        
        }
    }
}
.cardItem_icon {
    min-width: 38px;
    height: 38px;
    border-radius: 38px;
    background: #4374D0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_wraper.topSellingProducts {
    .cardsub_wraper {
        .card_item {
            flex: 0 0 296px !important;
            gap: 16px !important;
            .head_tsp {
                flex-direction: row;
                justify-content: space-between;
                .common_ProductInfo {
                    gap: 8px;
                    .common_ppi_info {
                        max-width: 135px;
                    }
                }
            }
            .tick_round {
                gap: 4px;
            }
            .common_ppi_img {
                width: 24px;
                height: 24px;
            }
            .common_ppi_info {
                h4 {
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
}
.otherSections_head_column {
    align-items: flex-start !important;
    flex-direction: column;
    gap: 10px;
}
.card_wraper.participateChallenge {
    .cardsub_wraper {
        .card_item {
            flex: 0 0 328px !important;
        } 
    }
    .card_item {
        box-shadow: 2px 2px 10px 0px #5680B31F !important;
        gap: 10px;
        padding: 0 !important;
        .left_PC {
            max-width: 118px;
            background: #7b7b7c;
            border:3px solid #ffffff;
            border-right-width: 0;
            border-radius: 12px 0 0 12px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
        }
        .right_PC {
            width: 100%;
            padding: 10px 10px 10px 0;
            .PC_information {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .PC_head {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #4374D0;
                    display: flex;
                    gap: 6px;
                }
                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #2E2E2E;
                    margin: 0;
                }
                .PC_dateInfo {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 13px;
                    color: #4c4c4c;
                    display: flex;
                    justify-content: space-between;
                    b{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.overlay_searchResults {
    padding: 4px;
    border-radius: 16px 0 16px  16px;
    background: #ffffff;
    border: 0px solid var(--white-color);
}
.overlay_searchResults .tableSubMain {
    border-radius: 0;
    padding: 0;
}
.overlay_searchResults .tableSubMain .tableSubMain .table {
    font-size: 13px;
}
.overlay_searchResults .tableSubMain .table thead th:last-child {
    border-radius: 0 0 0 0;
}
.dashboard_leadsMain {
    gap: 10px;
    padding-bottom: 16px;
    .leads_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .leads_item {
            width: 100%;
        }
    }
}
.dashboard_leadsMain {
    h6 {
        font-size: 18px !important;
    }
}
.leads_contentDashboard {
    /* flex-direction: row !important;
    flex-wrap: wrap; */
    gap: 0px !important;
    .leads_item_contentDashboard{
        /* width: 49%; */
        border-bottom: 1px solid #f5f5f5;
        padding: 3px 0;
        .leads_item {
            header {
                /* flex-direction: column;
                align-items: flex-start; */
                border-radius: 13px;
                font-size: 13px;
                background:transparent;
                padding: 0 10px;
                label {
                    font-size: 18px; 
                    font-weight: 500;   
                }
            }
        }
    }
}
.leads_itemHeader {
    display: flex;
    justify-content: space-between;
    background: #F0E7F6;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    label{
        font-size: 18px;
    }
    &.leads_itemHeaderProposal{
        background: #FFDCE0;
    }
    &.leads_itemHeaderRenewal{
        background: #D0F1E5;
    }
}
.dashboard_mycustomers_main {
    .dashboard_productTabs {
        width: 100%;
        max-width: 350px;
    }
}
.allItems_improtantTasks {
    .item_improtantTasks {
        max-width: 33%;
        flex: auto;
        .card_wraper {
            max-height: 150px;
            overflow-y: auto;
            &::-webkit-scrollbar-button {
                width: 0px;
                height: 0;
              }
            &::-webkit-scrollbar-thumb {
                background: #e9d6a7;
                border: 1px #e9d6a7 solid;
                border-radius: 20px;
              }
            &::-webkit-scrollbar-track-piece {
                background: #fff4d9;
                border-radius: 20px;
              }
            .cardsub_wraper{
                flex-direction: column;
                padding: 0 5px 15px;
                gap:10px;
                .card_item {
                    flex: auto;
                }
            }
        } 
    }
}
.birthday_cardItem{
    padding-top: 12px;
    align-items: center;
    justify-content: center;
    gap:10px !important;
    .icon_birthday {
        min-width: 20px;
        height: 20px;
        img {
            width: 100%;
        }
    }
    .name_birthday {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
        line-height: normal;
        color: #2e2e2e;
        span {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 120px;
        }
    }
    .details_birthday {
        min-width: 110px;
        text-align: right;
        p {
            padding: 0;
            margin: 0;
            font-size: 12px !important;
        }
        .details_phone {
            color: #838383 !important;
        }
    }
}
.blue_bg {
    /* background: linear-gradient(261.23deg,var(--bs-primary) .42%,#5a52ff 100%) !important; */
    background: linear-gradient(to right, #461ee7 0%, #ba49ff 100%) !important;
}
.lightblue_bg {
    background: linear-gradient(to right, #1eb6e7 0%, #4aece2 100%) !important;
}
.lightgreen_bg {
    background: linear-gradient(to right, #40d4a8 0%, #40e5dc 100%) !important;
}
.purple_bg {
    background: linear-gradient(to right, #ac39d4 0%, #f04cf3 100%) !important;
}
.org_color_bg {
    background: rgba(255, 167, 85, 1);
    background: linear-gradient(180deg,rgba(248,194,10,.12) 0,rgba(248,194,10,.03) 100%);
}
.green_color_bg {
    background: rgba(104, 227, 101, 1);
    background: linear-gradient(180deg,rgba(22, 205, 199,.12) 0,rgba(22, 205, 199,.03) 100%);
}
.blue_color_bg{
    background:#5e72e4;
    background: linear-gradient(180deg,rgba(99,91,255,.12) 0,rgba(99,91,255,.03) 100%);
}
.taskCard {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(213, 215, 222, 0.2), 0px 1px 10px 0px rgba(213, 215, 222, 0.1215686275), 0px 4px 5px 0px rgba(213, 215, 222, 0.1411764706);
}
.taskCard:after {
    position: absolute;
    content: "";
    /* height: 120px;
    width: 120px;
    top: -35px;
    right: -35px; */
    height: 40px;
    width: 40px;
    top: 23px;
    left: 27px;
    border-radius: 1rem;
    transform: rotate(40deg);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.taskCard:before {
    position: absolute;
    content: "";
    height: 120px;
    width: 120px;
    /* top: -35px;
    right: -35px; */
    top: 23px;
    right: 23px;
    border-radius: 1rem;
    transform: rotate(40deg);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.dashboard_importantEvents {
    .width_taskCard {
        width: 100%;
    }
    .taskCard {
        gap: 20px !important;
        position: relative;
        padding: 16px 18px 25px;
        &.taskCardEvents {
            figure {
            background: #635BFF;
            }
            footer {
                a {
                  color: #635BFF;  
                }
            }
        }
        &.taskCardBirthday {
            figure {
            background: #F8C20A;
            }
            footer {
                a {
                  color: #F8C20A;  
                }
            }
        }
        &.taskCardNotifications {
            figure {
            background: #16CDC7;
            }
            footer {
                a {
                  color: #16CDC7;  
                }
            }
        }
        figure {
            width: 38px;
            height: 38px;
            border-radius: 12px;
            background: #e5e5e7;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
                filter: brightness(0) invert(1);
            }
        }
        footer {
            text-align: right;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            top: 25px;
            right: 18px;
        }
    }
    figure {
        margin: 0;
    }
    h5 {
        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }
    h6 {
        font-weight: 600;
        font-size: 22px;
        margin: 0;
    }
    main {
        gap: 5px !important;
        min-height: 143px;
    }
    .content_taskCard {
        font-weight: 400;
        font-size: 13px;
        line-height: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        background: rgba(255, 255, 255, 0.36);
        padding: 7px 10px 5px;
        border-radius: 10px;
        small {
            font-weight: 500;
            color: #797979;
            text-align: right;
            display: inline-block;
        }
        h6 {
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
            span {
                display: inline-block;
                max-width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
.scroll_contentDashboard{
    max-height: 124px;
    min-height: 124px;
    overflow-y: auto;
    margin-bottom: 10px;
    &::-webkit-scrollbar-track-piece {
        background: #ffffff;
        border-radius: 20px;
    }
}

/*---Responsive dahboard new sections styles start---*/
@media (max-width:1280px){
    .cardWraper-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}
@media (max-width:1024px){
    .cardWraper-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .dashboard_importantEvents .content_taskCard  {
        h6 {
            span {
                max-width: 90%;
            }
        }
        small{
            min-width: 42px;
        }
    }
    .cardWraper-container {
        grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
    }
}
@media (max-width:912px) {
    .main_headerSearch {
        gap:15px;
    }
    .dashboard_importantEvents .width_taskCard {
        width: 32%;
    }
    .dashboard_importantEvents .content_taskCard  {
        h6 {
            max-width: 120px;
        }
    }
}
@media (max-width:820px) {
    .cardWraper-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .dashboard_LPR_main .body_LPR_main{
        flex-wrap: wrap;
        .dashboard_leadsMain {
            width: 48%;
            &:last-child {
                width: 100%;
                .chart-container {
                    width: 50% !important;
                    margin: auto;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .dashboard_importantEvents .content_taskCard {
        h6 {
            max-width: 60%;
        }
    }
}
@media (max-width:767px) {
    .dashboard_importantEvents .body_importantEvents,
    .dashboard_LPR_main .body_LPR_main {
        flex-direction: column;
    }
    .performance-overview {
        margin-top: 25px;
    }
    .main_headerSearch {
        flex-direction: column-reverse;
        gap:15px;
        .cardItem_headerSearch {
            width: 100%;
        }
        .get-quote-btn {
            padding: 10px !important;
        }
    }
    .dashboard_importantEvents .width_taskCard {
        width: 100%;
    }
    .dashboard_LPR_main .body_LPR_main{
        flex-wrap: wrap;
        .dashboard_leadsMain {
            width: 100%;
            .chart-container {
                width: 50% !important;
                margin: auto;
            }
        }
    }
}

/*---Responsive dahboard new sections styles end---*/

/*---dahboard new sections styles end---*/