<section class="policySummaryMain">
    <div class="card_Main">
        <div class="card_Item cardItem1">
            <div class="card_ItemHead">Quotes Sent</div>
            <div class="card_ItemResult">
                <div class="resultLabel">In Process</div>
                <div class="resultValue">25</div>
            </div>
            <span class="card_ItemImg"><img src="../../../../assets/images/document-edit-icon.svg" alt="Document Edit Icon"></span>
        </div>
        <div class="card_Item cardItem2">
            <div class="card_Main">
                <div class="card_Item card_innerItem">
                    <div class="card_ItemHead">Total Policies</div>
                    <div class="card_ItemResult">
                        <div class="resultLabel">In Force</div>
                        <div class="resultValue">1024</div>
                    </div>
                </div>
                <div class="card_Item card_innerItem">
                    <div id="productcategory" class="chartContainer"></div>
                </div>
                <div class="card_Item card_innerItem">
                    <div id="productcategorylist" class="chartContainer"></div>
                </div>
            </div>
            
        </div>
        <div class="card_Item cardItem1">
            <div class="card_ItemHead">Policies Expiring</div>
            <div class="card_ItemResult">
                <div class="resultLabel">In next 2 months</div>
                <div class="resultValue">18</div>
            </div>
            <span class="card_ItemImg"><img src="../../../../assets/images/warning_icon.svg" alt="Document Edit Icon"></span>
        </div>
    </div>
</section>