<div class="main-content">
    <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
        <div class="card-outer">
            <div class="card">
                <div class="header">
                    <input type="text" class="search-bar" placeholder="Search Your Customer, Leads, Claims No and more" />
                    <button class="get-quote-btn" type="submit">
                        <i class="fas fa-plus"></i> Get Quote
                    </button>
                </div>

                <div class="dropdown-container">
                    <div class="dropdown-item" *ngFor="let dropdown of dropdownOptions; let i = index">
                        <label [for]="'dropdown' + i">{{ dropdown.label }}</label>
                        <div class="custom-dropdown">
                            <button class="dropdown-button" (click)="toggleDropdown(i)">
                                <div>
                                    {{ selectedOptions[i] || 'Select ' + dropdown.label }}
                                    
                                </div>
                                <div>
                                    <i class="fas fa-chevron-down"></i> 
                                </div>
                            </button>
                            <div class="dropdown-menu" *ngIf="activeDropdown === i">
                                <div *ngFor="let option of dropdown.options" class="dropdown-option" (click)="selectOption(option.label, i)">
                                    {{ option.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay_popupMain overlay_dropdown_w360">
                    <div class="option_policyType">
                        <div class="input-radio-block raido_policyType">
                            <label class="input-radiolabel ">
                                <input type="radio" name="policytype" value="familyfloater" checked>
                                <span><em class="pt-head"><img src="../../../../assets/images/icon_familyfloater.svg">Family Floater Policy</em>
                                <em class="para-12">A family floater health insurance is a type of policy where you and your family share the same cover amount.</em>
                                </span>
                                <img src="../../../../assets/images/img_selected_policytype.svg" class="selected_policy">
                            </label>
                            <label class="input-radiolabel ">
                                <input type="radio" name="policytype" value="multiindividual" >
                                <span><em class="pt-head"><img src="../../../../assets/images/icon_multiindividual.svg">Multi-individual Policy</em>
                                <em class="para-12">A multi-individual health insurance is a type of policy wherein each member has their own cover amount.</em>
                                </span>
                                <img src="../../../../assets/images/img_selected_policytype.svg" class="selected_policy2">
                            </label>
                        </div>
                        <div class="tipInfo_org"><img src="../../../../assets/images/Lightbulb Icon.png">You can edit members to change back to family floater policy.</div>
                        <button type="button" class="btn_red btn_fullWidth">Continue</button>
                    </div>
                </div>

                <div class="continue-btn-container">
                    <button type="button" class="continue-btn">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>
