<div class="main-content">
    <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
        <div class="card-outer">
            <div class="card">
                <div class="header">
                    <input type="text" class="search-bar" placeholder="Search Your Customer, Leads, Claims No and more" />
                    <button class="get-quote-btn" type="submit">
                        <i class="fas fa-plus"></i> Get Quote
                    </button>
                </div>

                <div class="dropdown-container">
                    <div class="dropdown-item" *ngFor="let dropdown of dropdownOptions; let i = index">
                        <label [for]="'dropdown' + i">{{ dropdown.label }}</label>
                        <div class="custom-dropdown">
                            <button class="dropdown-button" (click)="toggleDropdown(i)">
                                <div>
                                    {{ selectedOptions[i] || 'Select ' + dropdown.label }}
                                    
                                </div>
                                <div>
                                    <i class="fas fa-chevron-down"></i> 
                                </div>
                            </button>
                            <div class="dropdown-menu" *ngIf="activeDropdown === i">
                                <div *ngFor="let option of dropdown.options" class="dropdown-option" (click)="selectOption(option.label, i)">
                                    {{ option.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="continue-btn-container">
                    <button type="button" class="continue-btn">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>
