  <!--LOB Status Cancelled Popup start-->  
  <div class="popup-modal " id="modal-statusCancelled">
    <div class="popup-modal-dialog">
        <!--<button type="button" class="mobile-popup-btn-close jsClosePopup" aria-label="modal-statusCancelled"></button>-->
      <div class="popup-modal-content sorryError">
        <div class="popup-modal-header hideBlock">
        </div>
        <div class="popup-modal-body text-center ">
          <div class="sorryErrorImg sorryErrorImg_mobile mb-4 mt-4">
              <img src="assets/Img/close_button_mobile.svg" class="img_grey" width="50">  
          </div>
          <h6 class="popup-content-title">Cancelled</h6>
            <p>This LOB status did not change.</p>
          
        </div>
        <div class="popup-modal-footer justify-content-center">
            <button type="button" class="btn_Default btn_red btn_save btn_width_f jsClosePopup" aria-label="modal-statusCancelled" (click)="onClose()">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!--LOB Status Cancelled Popup end-->
