<div class="main-container">
    <div class="all-quotes">
        <div class="header-val">All Quotes</div>
        <div class="main-quotes-cnt">
            <!--  -->
            <div class="quotes-header">
                <div class="list-of-filter">
                    <div class="left-header"  #filterSection>
                        <div class="left-value1">Quick filters</div>
                        <div class="filter-types">
                            <div><p>All Policies (30)</p></div>
                            <div><p>< 30 Days (7)</p></div>
                            <div><p>30-60 Days (7)</p></div>
                            <div><p>60-90 Days (7)</p></div>
                            <div><p>Expired (7)</p></div>                     
                        </div>
                    </div>
                    <div class="right-header" *ngIf="!showSearch">
                        <div class="quotes-icon">
                            <i class="fa-solid fa-download"></i>
                        </div>
                        <div class="quotes-icon"  (click)="toggleSearch()" *ngIf="!showSearch">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="filter-icon" (click)="toggleFilterDropdown()">
                            <div><i class="fa-solid fa-filter"></i></div> 
                             <p>FIlter(2)</p>
                        </div>
                        <div class="quotes-list-icon" (click)="quotesViews()">
                            <i class="fa-solid fa-list"></i>
                        </div>
                        <div class="quotes-list-icon" (click)="quotesViews()">
                            <i class="fa-solid fa-table-cells-large"></i>
                        </div>
                    </div>
                    <div class="search-field" *ngIf="showSearch">
                        <div class="search-container">
                          <i class="fa-solid fa-magnifying-glass"></i>
                          <input type="text" placeholder="Search for any leads here" />
                        </div>
                        <button (click)="toggleSearch()">
                          <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>             
            </div>
            <!--  -->
            <!-- Filter Dropdown -->
            <div class="filter-dropdown" #filterDropdown>
                <div class="filter-content">
                    <h3>Filter</h3>
                    <div class="filter-options">
                        <label>Products</label>
                        <div>
                            <input type="checkbox" id="product1">
                            <label for="product1">Active Fit</label>
                        </div>
                    </div>
                    <div class="filter-options">
                        <label>Policy Type</label>
                        <div>
                            <input type="checkbox" id="product1">
                            <label for="product1">Active Fit</label>
                        </div>
                    </div>
                    <div class="filter-options">
                        <label>Date Range</label>
                        <div class="filter-options-list">
                            <input type="date" id="date1" placeholder="Select Start Date">
                            <input type="date" id="date1" placeholder="Select End Date">
                        </div>
                    </div>
                    <div class="filter-actions">
                        <button (click)="cancel()">Cancel</button>
                        <button class="apply-btn" (click)="applyFilters()">Apply</button>
                    </div>
                </div>
            </div>
            
            <!--cards  -->
            <div class="card-cnt">
                <div class="card-outer-cnt" *ngIf="quotesView">
                <div class="card" *ngFor="let item of data | paginate: { itemsPerPage: 9, currentPage: p } ; let i = index">
                    <div class="top-section">
                      <div class="card-header-cnt">
                        <div class="name-and-rating">
                        <span class="name">{{ item.Name }}</span>
                        <div class="rating">
                          <span class="star"><i class="fa-solid fa-star"></i></span>
                          <span class="rating-value">{{ item.Rating }}</span>
                        </div>
                       </div>
                       <div>{{ item.Plan }}</div>
                      </div>
                      <div class="icons">
                        <div class="icon"><i class="fa-regular fa-pen-to-square"></i></div>
                        <div class="icon"><i class="fa-solid fa-shield-heart"></i></div>
                        <div class="icon" (click)="toggleEllipsisDropdown(i)"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                      </div>
                    </div>
                    <div class="details-section">
                     <div class="policy-detail">
                      <div class="detail">
                        <span class="label">Policy Type</span>
                        <span class="value">{{ item['Policy Type'] }}</span>
                      </div>
                      <div class="detail">
                        <span class="label">Policy No.</span>
                        <span class="value">{{ item['Policy No.'] }}</span>
                      </div>
                      <div class="detail">
                        <span class="label">Status</span>
                        <span class="value">{{ item.Status }}</span>
                      </div>
                    </div>
                    <div class="policy-detail">

                      <div class="detail">
                        <span class="label">Mobile No.</span>
                        <span class="value">{{ item['Mobile No.'] }}</span>
                      </div>
                      <div class="detail">
                        <span class="label">Date of Renewal</span>
                        <span class="value">{{ item['Date of Renewal'] }}</span>
                      </div>
                    </div>

                    <div class="policy-detail2">
                      <div class="detail widths">
                        <span class="label">Renewal Premium</span>
                        <div class="value">
                          <div class="sub-detail">
                            <div>Total Premium</div>
                            <div> {{ item['Total Premium'] }}</div></div>
                          <div class="sub-detail benifit">
                            <div>HR benefits</div>
                            <div> {{ item['HR benefits'] }}</div></div>
                          <div class="sub-detail">
                            <div>Renewal Premium </div>
                            <div>{{ item['Renewal Premium Amount'] }}</div></div>
                        </div>
                      </div>
                      <div class="detail widths">
                        <span class="label">Modification</span>
                        <span class="value1">{{ item.Modification }}</span>
                      </div>
                    </div>
                    </div>
                    <div class="ellipsis-dropdown" *ngIf="showEllipsisDropdown === i">
                        <div (click)="download(item)"> <i class="fa-solid fa-download"></i>   Download</div>
                        <div (click)="delete(item)"> <i class="fa-solid fa-trash"></i>   Delete</div>
                        <div (click)="shareViaEmail(item)"> <i class="fa-regular fa-envelope"></i>   Share via email</div>
                        <div (click)="sendRenewalNotice(item)">Send Renewal Notice</div>
                        <div (click)="createAutoDebitLink(item)">Create Auto-Debit Registration Link</div>
                    </div>
                  </div>
                </div>

                <!-- tabel -->

                <div *ngIf="!quotesView">
                    <div class="table-format-cnt table-responsive">
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr class="table-headings-row">
                            <th scope="col" class="col-proposer">Proposer</th>
                            <th scope="col" class="col-ratings">Ratings</th>
                            <th scope="col">Product</th>
                            <th scope="col">Policy Type & No</th>
                            <th scope="col">Status</th>
                            <th scope="col">Renewal Premium</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Date Of Renewal</th>
                            <th scope="col">Modification</th>
                            <th scope="col">Notice</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of data | paginate: { itemsPerPage: 7, currentPage: p }; let i = index" class="values">
                            <td>{{ row.Name }}</td>
                            <td><i class="fa-solid fa-star star-icon"></i> {{ row.Rating }}</td>
                            <td>{{ row.Plan }}</td>
                            <td class="policy-type-no">
                              <p>{{ row['Policy Type'] }}</p>
                              <p>{{ row['Policy No.'] }}</p>
                            </td>
                            <td>{{ row.Status }}</td>
                            <td class="renewal">
                              <div class="total-premium">
                                <p>Total Premium</p>
                                <p>{{ row['Total Premium'] }}</p>
                              </div>
                              <div class="hr-benefits">
                                <p>HR Benefits</p>
                                <p>{{ row['HR benefits'] }}</p>
                              </div>
                              <div class="renewal-premium">
                                <p>Renewal Premium</p>
                                <p>{{ row['Renewal Premium Amount'] }}</p>
                              </div>
                            </td>
                            <td>{{ row['Mobile No.'] }}</td>
                            <td>{{ row['Date of Renewal'] }}</td>
                            <td class="modification">{{ row.Modification }}</td>
                            <td class="icons">
                              <div class="icon"><i class="fa-regular fa-pen-to-square"></i></div>
                              <div class="icon"><i class="fa-solid fa-shield-heart"></i></div>
                              <div class="icon" (click)="toggleEllipsisDropdown(i)"><i class="fa-solid fa-ellipsis-vertical"></i></div>  
                            </td>
                            <td>
                                <div class="ellipsis-dropdown2" *ngIf="showEllipsisDropdown === i">
                                    <div class="dropdown-item" (click)="download(row)"><i class="fa-solid fa-download"></i> Download</div>
                                    <div class="dropdown-item" (click)="delete(row)"><i class="fa-solid fa-trash"></i> Delete</div>
                                    <div class="dropdown-item" (click)="shareViaEmail(row)"><i class="fa-regular fa-envelope"></i> Share via email</div>
                                    <div class="dropdown-item" (click)="sendRenewalNotice(row)">Send Renewal Notice</div>
                                    <div class="dropdown-item" (click)="createAutoDebitLink(row)">Create Auto-Debit Registration Link</div>
                                  </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                 <!-- tabel end -->
                </div>
        <!--  -->
                 <div class="pagination">
                   <pagination-controls (pageChange)="p = $event"></pagination-controls>
                 </div>
    </div>
</div>