<!--Confirm Popup start-->
<div class="popup-modal rug_ModalMain active" id="modal-confirmInfo">
    <div class="popup-modal-dialog">
        <!-- <button type="button" class="mobile-popup-btn-close jsClosePopup"  aria-label="modal-confirmInfo"></button> -->
        <div class="popup-modal-content sorryError">
            <div class="popup-modal-header">
                <!-- <button type="button" class="popup-btn-close jsClosePopup" data-bs-dismiss="modal-selfDetails" aria-label="modal-confirmInfo" (click)="close()"></button> -->
            </div>
            <div class="popup-modal-body text-center ">
                <div class="sorryErrorImg sorryErrorImg_mobile mb-4">
                    <img src="assets/Img/error_info_icon.svg" width="50">
                </div>
                <h6 class="popup-content-title">Do you want to continue?</h6>
                <p>{{dispalyData}}</p>

            </div>
            <div class="popup-modal-footer justify-content-center">
                <div class="btn_group btn_group_wfull" style="gap: initial;">
                    <button type="button" *ngIf="isButtonsShow" style="margin: 0px 10px 0px 10px;" class="btn_Default btn_red btn_save btn_width_f"
                        (click)="createNew()">No</button>
                    <button type="button" *ngIf="isButtonsShow" style="margin: 0px 10px 0px 10px;" class="btn_Default btn_red btn_save btn_width_f "
                        (click)="continueExisting()">Yes, continue with existing</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Confirm Popup end-->