<div class="dialog-container">
    <div class="input-block form-floating input-block-renew col-10 mt-4">
        <input class="form-control input-textBox" type="text" id="searchNameCode" name="" placeholder="" [(ngModel)]="searchQuery" (input)="filterList()">
        <label for="searchNameCode">Search by Name/Code<span class="text-danger">*</span></label>
    </div>
    <button mat-icon-button class="close-icon close-btn" (click)="closeDialogAndRedirect()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="result-grid" *ngIf="filteredList.length > 0">
        <div class="result-card" *ngFor="let item of filteredList" (click)="selectItem(item)">
            <div class="details">
                <p class="name">{{ item.firstName }}</p>
                <p class="code">{{ item.agentCode }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="filteredList.length === 0" class="no-records">
        <p class="mb-0">No records found</p>
    </div>
</div>