<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>{{"AV Upload" }}</h2>
                <div class="btn_groupAction">
                    <button type="button" id="createlead" name="createlead" class="btn_white btn_newRequest"
                        (click)="navigateToCreateAV()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>CREATE AV
                    </button>
                    <button type="button" id="uploadlead" name="uploadlead" class="btn_white btn_newRequest"
                        (click)="navigateToBulkUpload()"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"/></svg>
                        BULK UPLOAD
                    </button>
                    <!-- <button type="button" class="btn_white btn_newRequest" routerLink="/leads/campaignmanagment">
                       Campaigns
                    </button> -->
                </div>
            </div>

            <section class="quickFilterMain">
                <div class="quickFilterRight">
                    <div class="body_flex_row leads_searchWraper">
                        <div class="field_searchMain">
                            <div class="filterFieldGroup">
                                <input class="filterSearch" id="filterSearch" name="filterSearch" placeholder="Filter"
                                    [(ngModel)]="searchTerm" (input)="onInput($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="quotes-list" class="tableMain quoteView block-show">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th>SEQ NO</th>
                                    <th>AV ID</th>
                                    <th>AV NAME</th>
                                    <th>CENTER</th>
                                    <th>AXIS PROCESS</th>
                                    <th>STATUS</th>
                                    <th nowrap>LICENSE EXPIRY FROM DATE<div><small>{{"(yyyy-mm-dd)"}}</small></div>
                                    </th>
                                    <th nowrap>LICENSE EXPIRY TO DATE<div><small>{{"(yyyy-mm-dd)"}}</small></div>
                                    </th>
                                    <th>AUDIT</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let av of displayedAVs; let i = index">
                                    <td>{{(first + i + 1)}}</td>
                                    <td>{{av.avId}}</td>
                                    <td>{{av.avName}}</td>
                                    <td>{{av.center}}</td>
                                    <td>{{av.axisprocess}}</td>
                                    <td>{{av.status}}</td>
                                    <td>{{av.lefdate}}</td>
                                    <td>{{av.letdate}}</td>
                                    <td><button type="button" (click)="audit(i)" class="btn_audit jsOpenPopup"
                                            aria-label="modal-audit">Audit</button></td>
                                    <td>
                                        <div class="btn_groupAction lead_btnList justify-content-center">
                                            <button type="button" id="updatestatus" name="updatestatus"
                                                class="btn_action btn_renewalAction"
                                                [routerLink]="['update_AV',av.avId]" title="Update Status"><img
                                                    src="assets/Img/icon_edit_grey.svg"></button>
                                            <button type="button" id="addnote" name="addnote"
                                                class="btn_action btn_renewalAction" (click)="deleteUser(i)"
                                                title="Delete"><img src="/assets/Img/delete.svg"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                                    [rowsPerPageOptions]="[10, 15, 25, 50, 100]" (onPageChange)="onPageChange($event)"
                                    class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ?
                                    totalRecords : first + rows}}</span> {{"of" | translate}} <span
                                    class="pageCountTotal">{{totalRecords}} {{"entries" | translate}}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

        </div>
    </div>
</main>