<div class="main-container" >
<div class="all-claims">
    <div class="header">
        <div class="header-value">Claims</div>
        <div class="plus-icon">
            <i class="fa-solid fa-plus" (click)="navigateToMyClaim()">
                <label class="label" >New Requests</label>
            </i>
        </div>
    
    </div>
    <div class="main-claims">
        <div class="claims-header">
            <div class="filter-list">
                <div class="left-header">
                    <div class="left-value">Claim Status</div>
                    <div class="filter-types">
                        <div  [ngClass]="{'active': selectedStatus === 'all'}" (click)="filterClaims('all')">
                            <p>All</p>
                        </div>
                        <div (click)="filterClaims('active')" [ngClass]="{'active': selectedStatus === 'active'}">
                            <p>Active</p>
                        </div>
                        <div (click)="filterClaims('Resolved')" [ngClass]="{'active': selectedStatus === 'resolved'}">
                            <p>Resolved</p>
                        </div>
                        <div (click)="filterClaims('Cancelled')" [ngClass]="{'active': selectedStatus === 'cancelled'}">
                            <p>Cancelled</p>
                        </div>
                    </div>
                </div>
                <div class="right-header">
                    <!-- <div class="claims-icon">
                         <i class="fa-solid fa-download"></i> 
                    </div> -->
                    <!--Search DropDown-->
                       <div class="search">           
                    <select class="select-dropdown" [(ngModel)]="selected"  (selectionChange)="onSelectChanges($event)">
                    
                        <option value="search" selected>Select an option</option>
                        <option value="requestType">Request Type</option>
                        <option value="productName">Product Name</option>
                        <option value="policyNumber">Policy Number</option>
                    </select>
                       
                    <input class="search-input" type="text" [placeholder]="getPlaceholder()"  [formControl]="searchInputControl">
                    <div class="search-icon" (click)="applySearch()">
                        <i class="fa-solid fa-magnifying-glass" aria-expanded="false"></i>
                    </div>
                </div> 
                    <!-- <div class="claims-icon" >
                        <div [matMenuTriggerFor]="searchMenu" class="quotes-icon" (click)="toggleSearchDropdown($event)"> -->

                        <!-- <i class="fa-solid fa-magnifying-glass" (click)="toggleSearchDropdown($event)"></i> -->
                        <!-- <mat-menu #searchMenu="matMenu"  [overlapTrigger]="false" hasBackdrop="true" (closed)="menuClosed()">
                            <div class="search-dropdown-cnt">
                          <div class="search-title">Search</div>
                          <div class="search-dropdown">
                            <mat-form-field class="select-boxes" color="accent" appearance="outline" (click)="$event.stopPropagation()">
                              <mat-label>Select search type</mat-label>
                              <mat-select [(ngModel)]="selected" (selectionChange)="onSelectChanges($event)" >
                                <mat-option value="none">Select</mat-option>
                                <mat-option value="policyNumber">Policy Number</mat-option>
                                <mat-option value="productName">Product Name</mat-option>
                                <mat-option value="requestType">Request Type</mat-option>
                                <!-- <mat-option value="requestId">Request Id</mat-option>
                                <mat-option value="name">Member Name</mat-option> 
                              </mat-select>
                            </mat-form-field>
                            <div class="search-input">
                              <input matInput 
                                     type="text" 
                                     *ngIf="selected !== 'none' && selected !== ''" 
                                     [formControl]="searchInputControl"
                                     [placeholder]="getPlaceholder()"
                                     (click)="$event.stopPropagation()"> 
                              <mat-error *ngIf="searchInputControl.invalid && searchInputControl.touched">
                              </mat-error>
                            </div>
                          </div>
                          <div class="search-buttons">
                            <div class="cancel-button" (click)="cancelSearch()">Cancel</div>
                            <div class="apply-button" [class.active]="selected!='none' && searchInputControl.valid" (click)="applySearch()">Apply</div>
                          </div>
                        </div>
                        </mat-menu>
                      </div>
                    </div> -->
                    <div class="claims-list-icon" [ngClass]="{'active': selectedView === 'list'}" (click)="claimsView('list')">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <div class="claims-list-icon" [ngClass]="{'active': selectedView === 'grid'}" (click)="claimsView('grid')">
                        <i class="fa-solid fa-table-cells-large" ></i>
                        
                    </div>
                    
                </div>
            </div>

        </div>

               
         
         <div class="card-container" >
           <!------------ grid-view ------------------>
            <div class="card-outer-container" *ngIf="selectedView === 'grid' ">
                <mat-card *ngFor="let gridClaims of gridClaimsData| paginate: {itemsPerPage: rows, currentPage: page} " class="grid-view-container" appearance="outlined">
                    <mat-card-title class="top-section">Request
                       
                        <!-- <div class="icon">
                            <i class="fa-solid fa-download"></i>
                        </div> -->
                    </mat-card-title>

                    <mat-card-subtitle> <span class="value">{{ gridClaims.id }}</span> </mat-card-subtitle>
                    <div class="details-section">
                        <div class="policy-detail">
                            <div class="detail">
                                <span class="label">Policy No.</span>
                                <span class="value">{{ gridClaims.policyNumber }}</span>
                            </div>
                            <div class="detail">
                                <span class="label">Policy Name</span>
                                <span class="value">{{ gridClaims.productName }}</span>
                            </div>
                            <div class="detail">
                                <span class="label">Member Name</span>
                                <span class="value">{{ gridClaims.memberName }}</span>
                            </div>
                        </div>
                        <div class="policy-detail">
                            <div class="detail">
                                <span class="label">Member Relation</span>
                                <span class="value">{{ gridClaims.memberRelation }}</span>
                            </div>
                            <div class="detail">
                                <span class="label">Request Type</span>
                                <span class="value">{{ gridClaims.requestType }}</span>
                            </div>
                        </div>
                        <div class="policy-detail">
                            <div class="detail">
                                <span class="label">Status</span>
                                <span class="value">{{ gridClaims.claimStatus }}</span>
                            </div>
                            <div class="detail">
                                <span class="label">Raised Date</span>
                                <span class="value">{{ gridClaims.raisedDate | datepipe }}</span>
                            </div>
                        </div>
                        
                           
                    </div>
                  </mat-card> 
            </div>
          
            <!------------ list-view ------------------>        
          <br/>        

<div class="table-format-cnt table-responsive" *ngIf="selectedView == 'list'">
    <div class="table-inner-cnt">
        <table class="table tableClaimsList table-borderless">
            <thead>
                <tr class="table-headings-row">
                    <th scope="col">Request</th>
                    <th scope="col">Policy No.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Member Relation</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Raised Date</th>
                    <!-- <th scope="col">Download</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of claims | paginate: { itemsPerPage: rows, currentPage: page }; let i = index"
                    class="table-values">
                    <td class="pro-name">{{ row?.id }}</td>
                    <td class="pro-name">{{ row?.policyNumber }}</td>
                    <td class="pro-name">{{ row?.productName }}</td>
                    <td class="pro-name">{{ row?.memberName }}</td>
                    <td class="pro-name">{{ row?.memberRelation }}</td>
                    <td class="pro-name">{{ row?.requestType }}</td>
                    <td class="pro-name">{{ row?.claimStatus }}</td>
                    <td class="modification">{{ row?.raisedDate | date:'yyyy-MM-dd' }}</td>
                    <td>
                        <!-- <div class="icon" (click)="downloadRequest(row)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
            
            <div class="pages custom-paginator-background">
                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                  [rowsPerPageOptions]="[10,20]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                </p-paginator>
                <div class="pagination-info">
                    
                     {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}} of {{totalRecords}}
                </div>
                </div>
               
        </div>
    </div>
</div>
