.container-fluid{
  background-color: #EFF8FA;
}
/* For Progress Bar */
.circle {
  fill: white;
  stroke:gray;
  stroke-width: 2;
}
.completed-circle {
  stroke: white;
  fill: #10348e;
  stroke-width: 2;
}
.line-container {
  position: relative;
  width: 99%;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column-reverse;
}
.line1 {
  top: 40%;
  left: 0;
  height: 2px;
  background-color: #e7e7e7;
  width: 100%;
  transform: translateY(-50%);
}
.line2 {
  top: 40%;
  left: 0;
  height: 2px;
  background-color: #002EDC;
  width: 100%;
  transform: translateY(-50%);
}
.formname1 {
  font-size: 14px;
  color: gray;
  text-align: center;
  font-weight: 500;
}
.formname2 {
font-size: 14px;
color: #002EDC;
text-align: center;
font-weight: 500;
}
.progress {
  height: auto;
  flex-direction: row;
  width: auto;
  padding: 1% 12%;
  background-color: #EFF8FA;
}
.proloop {
  display: flex;
  flex-direction: row;
}
.procircle {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.procircleContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.procircle .title {
  display: block;
  width: 40px;
  font-size: 12px;
  font-weight: 500;
}
/* for all form */
.main-container {
  margin: 0px 80px;
}
.main-container>h2{
  color: black;
}
.card-body{
  padding: 30px 40px;
  margin: 20px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header{
  color: #002EDC;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 15px;
}
.typecss{
  display:inline-table;
  padding-right: 30px;
  justify-content: center;
}
label{
  /* display: block; */
  font-size: 20px;
  color: #002EDC;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}
input{
  font-family: Arial, sans-serif;
  font-size: 28px;
  border:none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #002EDC;
  display: flex;
  text-align: center;
}
.sendlink{
  display:inline-table;
  padding-right: 30px;
  justify-content: center;
}
.sendlink>label{
  /* display: block; */
  font-size: 14px;
  color: #212336;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}
.sendlink-img{
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.sendlink-img>img{
  border-radius: 10px;
  width: 50px;
  padding: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}
.p-dialog .p-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-dialog .p-dialog-header .p-dialog-title {
  flex-grow: 1;
}
.center-header .p-dialog-title {
  text-align: center;
}
.left-header .p-dialog-title {
  text-align: left;
}
.close{
  border: none;
  background: none;
}
.modal-header{
  border-bottom: 1px solid rgb(216, 208, 208);
}
.modal-title{
  margin-top: 8px;
  margin-left: 18px;
  margin-bottom: 8px;
}
.radio-buttons{
display: flex;
flex-direction: row;
}
.radio-button{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
input[type="radio"] {
  width: 20px;
}
/* input[type="text"] {
margin: 13px;
border: none;
border-bottom: 1px solid #002cef;
width: 80%;
} */
.payment-text{
  width:100%;
}
.radio-button label {
  margin-left: 13px;
}
label {
  margin-left: 13px;
  margin-top: 11px;
}
.center_button{
background-color: #EF7300;
  width: 85px;
  border-radius: 20px;
  border: none;
  height: 30px;
  font-size: 14px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin: auto;
margin-left: calc(50% - 50px);
}
.right_button{
  width: 85px;
  border-radius: 20px;
  border: none;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
float: right;
margin-right: 10px;
}
.imageLoopPopup {
display: flex !important;
flex-wrap: wrap !important;
justify-content: flex-start !important;
gap: 10px !important;
margin: 10px !important;
}
.paymentLogoPopup {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  height: 80px;
}
.img1Popup {
width: 20px;
height: 20px;
}
.imagelabelPopup {
margin-top: 5px;
font-size: 13px;
}