<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>Extract Base Agent & AV Master</h2>
            </div>
            <section id="quotes-list" class="tableMain quoteView block-show">
                <div class="tableSubMain">
                    <section class="quickFilterMain">
                        <div class="quickFilterRight">
                            <div class="body_flex_row leads_searchWraper">
                                <div class="field_searchMain">
                                    <div class="filterFieldGroup">
                                        <button type="submit" id="save" name="save" class="btn_red btn_white mx-4" (click)="onDownloadBaseCallerMasterDataClick()">Extract Base Agent</button>
                                        <button type="submit" id="save" name="save" class="btn_red" (click)="onDownloadAVMasterDataClick()"> Extract AV Agent
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</main>