<div class="login-mainContainer">
  <div class="body">
      <router-outlet></router-outlet>
  </div>
  <div class="login-formMain">
      <div class="login-form">
          <h1>Welcome to Aditya Birla Health Insurance</h1>
          <div class="bg-white-wrap">
              <div class="row pad-wrap-10">
                  <div class="col-6 pad-0">
                      <button (click)="selectFormType('Login with User Code')" [ngClass]="{'activeBtn': activeBtn ==='Login with User Code'}" class="login-otp-btn-wrap borderlt">Login with User Code</button>
                  </div>
                  <div class="col-6 pad-0">
                      <button class="login-otp-btn-wrap bordertl" (click)="selectFormType('Login with OTP')" [ngClass]="{'activeBtn': activeBtn ==='Login with OTP'}">Login with OTP</button>
                  </div>
              </div>
          </div>
          <form [formGroup]="loginForm" *ngIf="loginWithUsername">
              <div class="login-form-section">
                  <div class="input-item">
                      <div class="input-with-icon">
                          <input type="text" placeholder="AgentCode/Email/IRDA License Number" formControlName="userName">
                      </div>
                      <small *ngIf="loginForm.controls['userName'].touched && !loginForm.controls['userName'].hasError('maxlength') && loginForm.controls['userName'].hasError('required')" class="text-danger">AgentCode/Email/IRDA License Number is required</small>
                  </div>
                  <div class="submit-button">
                      <button type="submit" class="login-button" (click)="onSubmit()">
                          <span>Continue</span>
                      </button>
                  </div>
              </div>
          </form>
          <form [formGroup]="codeForm" *ngIf="loginWithUserOTP && !loginWithUsername && !verifyOtpEnable">
              <div class="login-form-section">
                  <div class="input-item">
                      <div class="input-with-icon">
                          <input type="text" placeholder="Enter your User Code" formControlName="verify">
                      </div>
                      <div class="row">
                          <div class="col-6">
                              <small *ngIf="codeForm.controls['verify'].touched && !codeForm.controls['verify'].hasError('maxlength') && codeForm.controls['verify'].hasError('required')" class="text-danger">User Code is required</small>
                          </div>
                      </div>
                  </div>
                  <div class="submit-button">
                      <button type="submit" class="login-button" (click)="onVerifySubmit()">
                          <span>Send OTP </span>
                      </button>
                  </div>
                  <p class="text-danger text-center">{{errorMessage}}</p>
              </div>
          </form>
          <div class="verify-e-p-otp-wrap" *ngIf="verifyOtpEnable">
              <label class="otp-text-wrap">The OTP has been to {{ maskedUserCode }}</label>
              <div class="otp-container">
                  <input type="password" #otp0 class="otp-input" maxlength="1" [(ngModel)]="otp[0]" (keydown)="onKey($event, 0)">
                  <input type="password" #otp1 class="otp-input" maxlength="1" [(ngModel)]="otp[1]" (keydown)="onKey($event, 1)">
                  <input type="password" #otp2 class="otp-input" maxlength="1" [(ngModel)]="otp[2]" (keydown)="onKey($event, 2)">
                  <input type="password" #otp3 class="otp-input" maxlength="1" [(ngModel)]="otp[3]" (keydown)="onKey($event, 3)">
                  <input type="password" #otp4 class="otp-input" maxlength="1" [(ngModel)]="otp[4]" (keydown)="onKey($event, 4)">
                  <input type="password" #otp5 class="otp-input" maxlength="1" [(ngModel)]="otp[5]" (keydown)="onKey($event, 5)">
              </div>
              <div class="submit-button margin-btn-wrap">
                  <button type="submit" class="login-button" (click)="onVerifyOTP()">
                      <span>Verify & Login</span>
                  </button>
              </div>
              <p class="text-danger text-center">{{errorMessage}}</p>
              <div class="d-flex justify-content-center" *ngIf="timerOn">
                  <label *ngIf="timeLeft > 0" class="send_otp_again_wrap">Send OTP again in <span class="timeLeft_color">{{timeLeft}}</span> seconds</label>
                  <label *ngIf="timeLeft == 0" class="send_otp_again_wrap" (click)="resendOTP()">Resend OTP</label>
              </div>
          </div>
          <div>
          </div>
      </div>
      <img src="assets/logo/Backgroundimage_ABHI.jpg" class="background-image">
  </div>