.login-mainContainer {
    width: 100%;
    min-height: 100vh;
    /*background: url(../../../../assets/Img/img_login_mainbg.svg) no-repeat bottom center;
    background-size: 100%;*/
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;
        .sub-mainNav {
            height: 32px;
        }
        .sub-main {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #EBEBEC;
            .logo {
                width: 110px;
                padding: 0 13px 0 21px;
                img{
                    width: 100%;
                }
            }
            .header {
                display: block;
                width: 100%;
                background: #C91429;
                height: 40px;
                margin-left: auto;
                position: relative;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 17px;
                margin-right: 0px;
                padding: 0 28px 0 14px;
                .header-icon {
                    margin-left: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }
    
        .abhifont {
            color: #C91429;
            font-family: Anek Latin !important;
            font-weight: 400;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-left: 5px;
            font-size: 10px;
            line-height: 12px;
            padding: 6px 28px;
        }
        .header2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            margin-top: -3rem;
            background-color:#DA9089;
            height: 60px;
            // width: calc(100% - 20px);
            h3{
                color: #F5F5F5;
                font-weight: 500;
                font-size: x-large;
                padding-left: 100px;
                margin-top: 10px;
            }
            .nav-text {
                color: #fff;
                font-size: large;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding-right: 20px;
            }
            .header-icon{
                margin-left: 10px;
                margin-top: 5px;
                cursor: pointer;
                img{
                    margin-top: 3px;
                    margin-left: 12px;
                    width: 184px;
                }
                p{
                    color: #fff;
                    font-size: 10px;
                    margin-left: 185px;
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
            .user-profile{
                margin: 10px 20px;
                img{
                    height: 49px;
                }
            }
        }
    }
    .parent-container {
        position: relative;
    }
    .sideNavMain {
        position: absolute;
        left: 0;
        top: 9.7rem;
        height: 100vh;
    }
    .sideNavSub {
        width: 76px;
        height: 100%;
        background: #fff;
    }
   
    .login-formMain {
        padding: 11% 0% 5%;
        .cursor{
            cursor: pointer !important;
        }
        .login-form {
            margin: auto;
            max-width: 433px;
            height: auto;
            border: 5px solid;
            border-radius: 16px;
            border-width: 0px;
            padding: 40px;
            background: rgba(255, 255, 255, 80%);
            border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
            box-shadow: 0px 12px 36px 0px #00000029;
            backdrop-filter: blur(5px);
            display: flex;
            flex-direction: column;
            gap: 20px;

            .captcha-container {
                gap: 12px;
                margin-top: 18px;
            }

            .verify-e-p-otp-wrap{
                .timeLeft_color{
                    color: #C91429;
                    font-weight: 600;
                    font-size: 18px;
                }
                .send_otp_again_wrap {
                    text-decoration: underline;
                    cursor: pointer;
                }
                
            .otp-container {
                display: flex;
                justify-content: space-between;
                margin: 20px auto;
            }
  
            .otp-input {
                width: 50px !important;
                margin-right: 10px !important;
                padding: 10px !important;
                text-align: center;
                font-size: 18px;
                border: 1px solid #F1F3F6;
                border: 1px solid #e7e8e9;
                @media (max-width:390px) {
                    width: 41px !important;
                }
            }
            .otp-text-wrap {
                color: #000000;
                opacity: 0.6;
                position: relative;
                top: 10px;
                font-weight: 500;
            }
    }
  
           
            h1 {
                font-family: Anek Latin;
                font-size: 19px;
                font-weight: 600;
                line-height: 28px;
                text-align: left;
                margin-bottom: 0;
            }
            .input-item {
                margin-bottom: 30px;
                position: relative;

                .text-danger {
                    font-size: 12px;
                    position: relative;
                    left: 10px;
                }
            }
        
            input[type="email"],
            input[type="password"],
            input[type="text"] {
                font-weight: 500;
                font-family: Anek latin, sans-serif;
                height: 40px;
                font-size: medium;
                border-radius: 12px;
                border: 1px solid #f1f3f6;
                width: 100%;
                background-color: #FFFFFF;
                padding: 8px 6px 8px 16px;
                box-sizing: border-box;
                position: relative;
                font-size: 12px;
                
                color: #000;
                &::-ms-input-placeholder { /* Edge 12-18 */
                    color: #979CAE;
                  }
                  
                  &::placeholder {
                    color: #979CAE;
                  }
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 0px;
                }
            }
        
            button {
                font-family: Anek latin, sans-serif;
                font-weight: 500;
                font-size: 16px;
                border-radius: 12px;
                box-shadow: none;
                border: 0px;
                width: 100%;
                color: white;
                font-size: medium;
                margin: 0px 0px 15px;
                background-color: #C7222A;
                padding: 10px 10px;
                @media (max-width:390px) {
                    font-size: 13px;
                    font-weight: 600;
                }
                &.btn_text {
                    background: transparent;
                    color: #C7222A;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: underline;
                    margin: 0;
                }
            }
        
            button>span {
                color: #FFF;
            }
        
        }
        @media(max-width:912px) {
            padding: 14% 0% 5%;
        }
        @media(max-width:767px) {
            padding: 30% 0% 5%;
        }
    }
    .background-image {
        width: 100%;
        position: absolute;
        top:20%;
        left: 0;
        z-index: -1;
        @media(max-width:912px) {
            top:15%;
        }
        @media(max-width:768px) {
            top:25%;
        }
        @media(max-width:540px) {
            top:auto;
            bottom: 0;
        }
    }
    .background-image2 {
        width: 100%;
        height: 100%;
        position:absolute ;
        top: 0;
        left: 0;
        z-index: -1;
        text-align: center;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 58px;
            background: #ffdcc5;
            z-index: -1;
            @media (min-width:1920px) {
                height: 100px;
            }
        }
        img{
            height: 100%;
            float: left;
            margin-left: 12%;
            @media (min-width:1440px) {
                margin-left: 15%;
            }
            @media (max-width:1280px) {
                margin: 0;
            }
            @media (max-width:1024px) {
                width: 100%;
                height: auto;
            }
            @media (max-width:767px) {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        @media (max-width:1024px) {
            height: auto;
            top: 40px;
        }
        @media (max-width:768px) {
            top: 60px;
        }
        @media (max-width:767px) {
            height: 100%;
            top: 0px;
        }
    }
}

@media (max-width:1222px) {
    .login-mainContainer .login-formMain {
        padding: 8% 0% 0%;
    }
}

.dialog-container {
    padding: 16px;
    max-height: 80vh;
    .dialog-title {
      font-size: 18px;
      margin-bottom: 16px;
      text-align: center;
    }

    .close-btn {
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .no-records {
        text-align: center;
    }
    
    .search-container {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 16px;
      .search-input {
        flex: 1;
      }
    }
    .result-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 16px;
    }

    .result-card {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      .details {
        text-align: center;
        .name {
          font-weight: bold;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 2px !important;
        }
        .code {
          color: #C7222A;
          font-weight: 500;
          font-size: 10px;
          margin: 0px !important;
        }
      }
    }
}