<div class="login-mainContainer">
    <div class="body">
      <router-outlet></router-outlet>
    </div>
    <div class="login-formMain">
      <div class="login-form">
        <h1>{{"Welcome to Aditya Birla Health Insurance" | translate}}</h1>

        <form [formGroup]="loginForm" *ngIf="enableLoginForm">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="input-block form-floating input-block-renew">
                <input class="form-control input-textBox" type="text" id="userName" name="userName" placeholder="" formControlName="userName" (keydown)="onKeyDownEvent()">
                <label for="userName">{{"AgentCode/Email/IRDA License Number" | translate}}<span class="text-danger">*</span></label>
                <small *ngIf="loginForm.controls['userName'].touched && !loginForm.controls['userName'].hasError('maxlength') && loginForm.controls['userName'].hasError('required')" class="text-danger">{{"AgentCode/Email/IRDA License Number is required" | translate}}</small>
                <small *ngIf="isSubmitted" class="text-danger">{{userErrorMsg | translate}}</small>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="input-block form-floating input-block-renew">
                <input class="form-control input-textBox" id="captcha" name="captcha" placeholder="" (keydown)="onKeyDownEvent()" type="text" formControlName="captcha" />
                <label for="captcha">{{"Enter CAPTCHA" | translate}}<span class="text-danger">*</span></label>
                <small *ngIf="loginForm.controls['captcha'].touched && loginForm.controls['captcha'].hasError('required') && !isSubmitted" class="text-danger">{{"Captcha is required" | translate}}</small>
                <small *ngIf="isSubmitted" class="text-danger">{{captchaErrorMsg | translate}}</small>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="main_captcha">
                  <label class="captcha-label">
                    <span *ngFor="let char of captchaCode.split('')">{{ char }}</span>
                  </label>
                  <mat-icon (click)="refreshCaptcha()">refresh</mat-icon>  
                </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pad-0">
              <button id="loginwithsso" name="loginwithsso" (click)="onSubmit('SSO')">{{"Login with SSO" | translate}}</button>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pad-0">
              <button id="loginwithotp" name="loginwithotp" (click)="onSubmit('OTP')">{{"Login with OTP" | translate}}</button>
            </div>
            <p class="text-danger text-center">{{errorMessage | translate}}</p>
            <div class="col-12">
              <button name="resetpassword" id="resetpassword" (keydown.enter)="onSubmit('RESET')" (click)="onSubmit('RESET')" class="btn_text" [tabindex]="0">
                {{"Reset password" | translate}}
              </button>
            </div>
          </div>
        </form>

        <div class="verify-e-p-otp-wrap" *ngIf="verifyOtpEnable">
          <label class="otp-text-wrap">The OTP has been to {{ maskedUserCode }}</label>
          <div class="otp-container">
            <input type="password" id="otp0" class="otp-input" maxlength="1" [(ngModel)]="otp[0]" (keydown)="onKey($event, 0)">
            <input type="password" id="otp1" class="otp-input" maxlength="1" [(ngModel)]="otp[1]" (keydown)="onKey($event, 1)">
            <input type="password" id="otp2" class="otp-input" maxlength="1" [(ngModel)]="otp[2]" (keydown)="onKey($event, 2)">
            <input type="password" id="otp3" class="otp-input" maxlength="1" [(ngModel)]="otp[3]" (keydown)="onKey($event, 3)">
            <input type="password" id="otp4" class="otp-input" maxlength="1" [(ngModel)]="otp[4]" (keydown)="onKey($event, 4)">
            <input type="password" id="otp5" class="otp-input" maxlength="1" [(ngModel)]="otp[5]" (keydown)="onKey($event, 5)">
          </div>
          <button type="submit" id="verifylogin" name="verifylogin" (click)="onVerifyOTP()">
            <span>{{"Verify & Login" | translate}}</span>
          </button>
          <p class="text-danger text-center">{{errorMessage | translate}}</p>
          <div class="d-flex justify-content-center" *ngIf="timerOn">
            <label *ngIf="timeLeft > 0" class="send_otp_again_wrap">{{"Send OTP again in" | translate}} <span class="timeLeft_color">{{timeLeft}}</span> seconds </label>
            <label *ngIf="timeLeft == 0" class="send_otp_again_wrap p-2" (click)="resendOTP()" (keydown.enter)="resendOTP()" [tabindex]="0">{{"Resend OTP" | translate}}</label>
          </div>
        </div>
        
      </div>
    </div>
    <div class="background-image2">
      <img src="assets/Img/background_img_abhi.png" class="">
    </div>
</div>

<!-- Bank Branch Template -->
<ng-template #BankBranchDialog>
  <div class="dialog-container">
    <div class="input-block form-floating input-block-renew col-10 mt-4">
      <input class="form-control input-textBox" type="text" id="searchNameCode" name="" placeholder="" [(ngModel)]="searchQuery" (input)="filterList()">
      <label for="searchNameCode">Search by Name/Code<span class="text-danger">*</span></label>
    </div>
    <button mat-icon-button class="close-icon close-btn" (click)="closeDialogAndRedirect()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="result-grid" *ngIf="filteredList.length > 0">
      <div
        class="result-card"
        *ngFor="let item of filteredList"
        (click)="selectItem(item)"
      >
        <div class="details">
          <p class="name">{{ item.firstName }}</p>
          <p class="code">{{ item.agentCode }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="filteredList.length === 0" class="no-records">
      <p class="mb-0">No records found</p>
    </div>
  </div>
</ng-template>
