<main class="siteBody">
    <div class="contentBody bodyColumns-1">
      <div class="bodyColumn body_flex_column">
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 align-items-center">
              <div class="body_flex_row">
                <h2>{{"Events List" | translate}}</h2>
                <button type="button" id="btn-events" name="btn-events" class="btn_red btn_redEventsTableView" (click)="navigateToEvents()">
                  {{"Events" | translate}}
                </button>
              </div>
            </div>              
          </div>

          <section class="quickFilterMain_events">
            <div class="claims_searchWraper">
                <!--Search section start-->
                <div class="common_searchWraper common_searchWraper_proposals">
                    <div class="field_searchMain">
                        <div>
                            <select class="filterSearch" [(ngModel)]="selected"
                                (ngModelChange)="onSelectChanges($event)" id="filterSearchOption"
                                name="filterSearchOption">
                                <option value="" selected>{{"Select an option" | translate}}</option>
                                <option value="eventNumber">{{"Event No." | translate}}</option>
                                <option value="mobileNumber">{{"Mobile Number" | translate}}</option>
                                <option value="customerName">{{"Customer Name" | translate}}</option>
                            </select>
                        </div>
                        <div>
                            <input class="filterSearch" id="filterSearch" name="filterSearch"
                                [formControl]="searchInputControl" type="text" [placeholder]="getPlaceholder()"
                                (keydown.enter)="applySearch()" (input)="onInputChange($event)" maxlength="50">
                            <button [disabled]="!searchInputControl.value || selected === ''" type="button"
                                id="filtersearchbtn" name="filtersearchbtn" class="btn_text"
                                (click)="applySearch()">
                                <img src="assets/Img/icon_magnify_grey.svg">
                            </button>
                           
                            <span
                                *ngIf="searchInputControl.invalid && searchInputControl.touched || searchInputControl.dirty"
                                class="ui-error ui-error-proposal block-show">
                                <small *ngIf="searchInputControl.dirty && selected === '' ">{{"Select an option and
                                    enter." | translate}}</small>
                                <small *ngIf="searchInputControl.hasError('required')">{{"This field is required." |
                                    translate}}</small>
                                <small
                                    *ngIf="searchInputControl.hasError('pattern') && selected === 'eventNumber'">{{"Enter
                                    Valid Event No." | translate}}</small>
                                <small
                                    *ngIf="searchInputControl.hasError('pattern') && selected === 'mobileNumber'">{{"Enter
                                    Valid Mobile Number." | translate}}</small>    
                                    <small
                                    *ngIf="searchInputControl.hasError('pattern') && selected === 'customerName'">{{"Enter
                                    Valid Customer Name." | translate}}</small> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quickFilterRight">

                <div class="filterWraper">
                    <button type="button" id="productFilter" name="productFilter" value="filter"
                        (click)="toggleFilterDropdown()" class="btn_filter jsFilterBtnClick"
                        aria-label="filterForm"><span id="filter-count"></span><img
                            src="assets/Img/icon_clarity_filter_line_grey.svg" alt="Filter">{{"Filter" |
                        translate}} ({{appliedFiltersCount}})</button>
                    <div id="filterForm" class="filterWraperForm overlay_popupMain mobile_popupBackdrop"
                        [ngClass]="{'active': toggeledropdown}">
                        <div class="fw_form mobile_popupMain">
                            <div class="filterHeader">
                                <header>{{"Filter" | translate}}</header>
                                <button type="button" id="filterclose" name="filterclose" value="cancel"
                                    class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="cancel()"></button>
                            </div>
                            <div class="fw_formBody">
                                <div class="fw_formRow">
                                    <h6>{{"Date Range" | translate}}</h6>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="input-block form-floating input-block-dob m-0">
                                                <input type="date" id="fromDate" name="fromDate" value="" placeholder="Select Start Date"
                                                    class="input-textBox input-date" [(ngModel)]="fromDate" (dateChange)="formatDate('startDate')">
                                                <label for="fromDate">{{"From Date" | translate}}</label>
                                                <span class="ui-error">{{"Please enter start date" |
                                                    translate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="input-block form-floating input-block-dob m-0">
                                                <input type="date" id="toDate" name="toDate" value="" placeholder="Select End Date"
                                                    class="input-textBox input-date" [(ngModel)]="toDate" (dateChange)="formatDate('endDate')"
                                                    [min]="fromDate">
                                                <label for="toDate">{{"To Date" | translate}}</label>
                                                <span class="ui-error">{{"Please enter end date" |
                                                    translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fw_formRow">
                                    <h6>{{"Event Type" | translate}}</h6>
                                    <div class="fw_checkboxWraper">
                                        <div class="input-checkbox-block"
                                            *ngFor="let eventType of staticEventTypes; let i = index">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="eventtype{{i}}"
                                                    name="eventtype{{i}}" value="eventtype"
                                                    class="input-check" [(ngModel)]="eventType.selected"
                                                    (change)="calculateAppliedFiltersCount()">
                                                <label for="eventtype{{i}}">{{eventType.name |
                                                    translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fw_formRow">
                                    <div class="row">
                                        <footer>
                                            <button type="button" id="filterClear" name="filterClear"
                                                value="cancel" class="btn_white btn_fullWidth"
                                                (click)="clear()">{{"Clear" | translate}}</button>
                                            <button type="button" id="filterApply" name="filterApply"
                                                value="apply" class="btn_red btn_fullWidth"
                                                (click)="applyFilter()">{{"Apply" | translate}}</button>
                                        </footer>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>
        <section id="quotes-list" class="tableMain quoteView block-show ">
            <div class="tableSubMain">
                <div class="table-responsive">
                    <table class="table table-borderless table-search">
                        <thead>
                            <tr>
                                <th scope="col">{{"Event Type" | translate}}</th>
                                <th scope="col">{{"Event Number" | translate}}</th>
                                <th scope="col">{{"Customer Name" | translate}}</th>
                                <th scope="col">{{"Mobile Number" | translate}}</th>
                                <th scope="col">{{"Activity Type" | translate}}</th>
                                <th scope="col" nowrap>{{"Activity Title" | translate}}</th>
                                <th scope="col">{{"Start Date" | translate}} <div><small
                                    class="text-secondary">{{'(dd-mm-yyyy)' | translate}}</small></div>
                                </th>
                                <th scope="col">{{"End Date" | translate}} <div><small
                                    class="text-secondary">{{'(dd-mm-yyyy)' | translate}}</small></div>
                                </th>
                                <th scope="col">{{"Action" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <ng-container *ngIf="events.length > 0">
                                <tr class="table-values" *ngFor="let row of events;let i = index">
                                    <td>{{ row?.eventType }}</td>
                                    <td>{{ row?.eventNumber }}</td>
                                    <td class="card_insureInfo">{{ row?.customerName | translate}}</td>
                                    <td>{{ row?.mobileNumber }}</td>
                                    <td>{{ row?.activityType | translate}}</td>
                                    <td><span class="text-break-w100">{{ row?.activityTitle | translate}}</span></td>
                                    <td>{{ row?.startDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{ row?.endDate | date:'dd-MM-yyyy'}}</td>
                                    <td>
                                        <div class="btn_groupAction">
                                         <button type="button" id="eventedit" name="eventedit" value="edit" title="Modify" 
                                         class="btn_action btn_editAction"  (click)="navigateToEditEvent(row)">
                                         <img src="assets/Img/icon_edit_grey.svg" ></button>
                                                    <div class="uploadedFiles_infoItem">
                                                        <button type="button" id="deletefile" name="deletefile" class="delete-button" (click)="deleteRow(row)">
                                                            <img src="assets/Img/icon_delete_red2.svg">
                                                        </button>
                                                    </div>          
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="tableNav" >
            <div class="no-data-bottom-section-cnt" *ngIf="events?.length === 0 ; else pagination">
                <div class="cardViewWraper">
                    <div class="no_dataFound">
                        <img src="assets/Img/img_no_data_found.svg" alt="No data found">
                        <p>No data found</p>
                    </div>
                </div>
            </div>
            <ng-template #pagination>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                            [rowsPerPageOptions]="[10,30,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                            </p-paginator>
                        </li>
                        <li class="pageCountMain">
                        <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}} of {{totalRecords}} entries</span>
                        </li>
                    </ul>
                </nav>
            </ng-template>
        </div>
      </div>
    </div>
</main>
