<!--All Requests Start-->
<main class="siteBody siteBody_padding">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>{{"All Requests" | translate}}</h2>
                <button type="button" id="newrequest" name="newrequest" class="btn_white btn_newRequest" (click)="redirect('endorsements/new-request')">
                    <img src="assets/Img/icon_plus_red.svg">{{"New Request" | translate}}
                </button>
            </div>
            <section class="quickFilterMain">
                <div class="quickFilterLeft" #filterSection>
                    <ul class="quickFilter">
                        <li><button type="button" id="endors-all" name="endors-all" value="all" class="btn_quickFilter btn_quickFilterClaim"  [ngClass]="{'active': activeFilter === 'All'}" (click)="statusFilter('All', 'totalRecords')">{{"All" | translate}} ({{activeCount + resolvedCount + cancelledCount}})</button></li>
                        <li><button type="button" id="endors-active" name="endors-active" value="active" class="btn_quickFilter btn_quickFilterClaim"  [ngClass]="{'active': activeFilter === 'Active'}" (click)="statusFilter('Active', 'activeCount')">{{"Active" | translate}} ({{activeCount}})</button></li>
                        <li><button type="button" id="endors-resolved" name="endors-resolved" value="resolved" class="btn_quickFilter btn_quickFilterClaim"  [ngClass]="{'active': activeFilter === 'Resolved'}" (click)="statusFilter('Resolved', 'resolvedCount')">{{"Resolved" | translate}} ({{resolvedCount}})</button></li>
                        <li><button type="button" id="endors-cancelled" name="endors-cancelled" value="cancelled" class="btn_quickFilter btn_quickFilterClaim"  [ngClass]="{'active': activeFilter === 'Cancelled'}" (click)="statusFilter('Cancelled', 'cancelledCount')">{{"Cancelled" | translate}} ({{cancelledCount}})</button></li>
                    </ul>
                </div>
                <div class="quickFilterRight" >
                    <!--Search section start-->
                    <div class="common_searchWraper common_searchWraper_proposals">
                        <div class="field_searchMain">
                            <div>
                                <select [(ngModel)]="selected" class="filterSearch" (change)="onSelectChanges($event)" id="filterSearchOption" name="filterSearchOption">
                                    <option value="">{{"Select an option" | translate}}</option>
                                    <option value="caseId">{{"Endorsement No." | translate}}</option>
                                    <option value="policyNumber">{{"Policy Number" | translate}}</option>
                                    <option value="memberName">{{"Member Name" | translate}}</option>
                                    <option value="mobileNumber">{{"Mobile Number" | translate}}</option>
                                    <option value="emailID">{{"Email Id" | translate}}</option>
                                </select>
                            </div>
                            <div>
                                <input class="filterSearch" id="filterSearch" name="filterSearch" [formControl]="searchInputControl" type="text" [placeholder]="getPlaceholder() | translate" (keydown.enter)="applySearch()" (input)="searchInputChange($event)" maxlength="50" />
                                <button [disabled]="selected === ''" type="button" id="filtersearchbtn" name="filtersearchbtn" class="btn_text" (click)="applySearch()"><img src="assets/Img/icon_magnify_grey.svg"></button>
                                <!--SEARCH CLEAR BUTTON-->
                                <!-- <button  type="button" id="clearsearchbtn" name="clearsearchbtn" class="btn_text btn_clearSearch" ><img src="assets/Img/icon_search_clear.svg"></button> -->
                                <span *ngIf="searchInputControl.invalid && searchInputControl.touched || searchInputControl.dirty" class="ui-error ui-error-proposal block-show">
                                    <small *ngIf="searchInputControl.dirty && selected === '' ">{{"Select an option and enter." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('required')">{{"This field is required." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('pattern') && selected === 'caseId'">{{"Enter Valid Endorsement No." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('pattern') && selected === 'memberName'">{{"Enter Valid Member Name." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('pattern') && selected === 'policyNumber'">{{"Enter Valid Policy Number." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('pattern') && selected === 'mobileNumber'">{{"Enter Valid Mobile Number." | translate}}</small>
                                    <small *ngIf="searchInputControl.hasError('pattern') && selected === 'emailID'">{{"Enter Valid Email Id." | translate}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="filterWraper">
                        <button type="button" id="productFilter" name="productFilter" value="filter" (click)="toggleFilterDropdown()" class="btn_filter jsFilterBtnClick"  aria-label="filterForm"><span id="filter-count"></span><img src="assets/Img/icon_clarity_filter_line_grey.svg" alt="Filter">{{"Filter" | translate}} ({{appliedFiltersCount}})</button>
                        <div id="filterForm" class="filterWraperForm overlay_popupMain mobile_popupBackdrop" [ngClass]="{'active': toggeledropdown}">
                            <div class="fw_form mobile_popupMain">
                                <div class="filterHeader" >
                                    <header>{{"Filter" | translate}}</header>
                                    <button type="button" id="filterclose" name="filterclose" value="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
                                </div> 
                                <div class="fw_formBody"> 
                                    <div class="fw_formRow">
                                        <h6>{{"Date Range" | translate}}</h6>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob m-0">
                                                    <input type="date" id="fromDate" name="fromDate" value="" placeholder="Select Start Date" class="input-textBox input-date" [(ngModel)]="fromDate" (dateChange)="formatDate('fromDate')"  [max]="maxDate">
                                                    <label for="fromDate">{{"From Date" | translate}}</label>
                                                    <span class="ui-error">{{"Please enter start date" | translate}}</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob m-0">
                                                    <input type="date" id="toDate" name="toDate" value="" placeholder="Select End Date" class="input-textBox input-date" [(ngModel)]="toDate" (dateChange)="formatDate('toDate')" [max]="maxDate" [min]="fromDate">
                                                    <label for="toDate">{{"To Date" | translate}}</label>
                                                    <span class="ui-error">Please enter end date</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="fw_formRow" *ngIf="productsList && productsList.length > 0">
                                        <h6>Products</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let product of productsList; let i = index">
                                                <div class="input-checkbox-feild">
                                                    <input type="checkbox" id="product{{i}}" name="product{{i}}" value="products" class="input-check" [(ngModel)]="product.selected" (change)="calculateAppliedFiltersCount()">
                                                    <label for="product{{i}}">{{product.productName | translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="fw_formRow">
                                        <h6>Endorsement Type</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let policyType of StaticRequestTypes; let i = index">
                                                <div class="input-checkbox-feild">
                                                <input type="checkbox" id="policytype{{i}}" value="policytype" class="input-check" [(ngModel)]="policyType.selected" (change)="calculateAppliedFiltersCount()">
                                                <label class="" for="policytype{{i}}">{{policyType.name}}</label>
                                                </div>
                                            </div>                                              
                                        </div>
                                    </div>
                                    <div class="fw_formRow">
                                        <div class="row">
                                            <footer>
                                                <button type="button" value="cancel" id="filterClear" name="filterClear" class="btn_white btn_fullWidth" (click)="clear()">{{"Clear" | translate}}</button>
                                                <button type="button" value="apply" id="filterApply" name="filterApply" class="btn_red btn_fullWidth" (click)="applyFilter()">{{"Apply" | translate}}</button>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Search section end-->
                    <button type="button" class="btn_iconGrey mobile-hide jsBtnClickQuote" (click)="downloadAll()" id="downloadAll" name="downloadAll" value="DownloadAll" title="DownloadAll">
                        <img src="assets/Img/icon_download_grey.svg" alt="Download">
                    </button>
                    <button type="button" id="gridlist" name="gridlist" value="gridlist" class="btn_grid mobile-hide jsBtnClickQuote"  aria-label="quotes-list" [ngClass]="{'active': selectedView === 'list'}" (click)="quotesViews('list')"><img src="assets/Img/icon_grid_list_grey.svg" alt="Grid List"></button>
                    <button type="button" id="gridcard" name="gridcard" value="gridcard" class="btn_grid mobile-hide jsBtnClickQuote"  aria-label="quotes-card" [ngClass]="{'active': selectedView === 'grid'}" (click)="quotesViews('grid')"><img src="assets/Img/icon_grid_box_grey.svg" alt="Grid Card"></button>
                </div>
            </section>
            <section id="quotes-list" class="tableMain quoteView block-show " *ngIf="selectedView == 'list'">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                          <thead>
                            <tr>
                                <th scope="col">{{"Endorsement No." | translate}}</th>
                                <th scope="col">{{"Policy Number" | translate}}</th>
                                <th scope="col">{{"Product Name" | translate}}</th>
                                <th scope="col">{{"Member Name" | translate}}</th>
                                <th scope="col">{{"Contact Info" | translate}}</th>
                                <!--<th scope="col">Member Relation</th>-->
                                <th scope="col">{{"Request Type" | translate}}</th>
                                <th scope="col">{{"Status" | translate}}</th>
                                <th scope="col">{{"Raised Date" | translate}} <div><small class="text-secondary">{{'(dd-mm-yyyy)' | translate}}</small></div></th>
                                <th scope="col">{{"Action" | translate}}</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider" >
                            <tr *ngFor="let row of endorsementDetails; let i = index"
                    class="table-values">
                                <td class="td-text-bold">{{ row?.caseId }}</td>
                                <td >{{ row?.policyNumber }}</td>
                                <td><span class="text-break-w100">{{ row?.productName }}</span></td>
                                <td><span class="text-break-w100">{{ row?.memberName }}</span></td>
                                <td><span class="text-break-w100">{{ row?.mobileNumber }} {{ row?.emailId }}</span></td>
                                <!--<td align="center">{{ row?.memberRelation }}</td>-->
                                <td><span class="text-break-w100">{{ row?.requestType }}</span></td>
                                <td>{{ row?.status }}</td>
                                <td>{{ row?.raisedOn }}</td>
                                <td>
                                    <div class="btn_groupAction">
                                        <button type="button" id="viewdetails" name="viewdetails" value="View Details" title="View Details" class="btn_action btn_renewalAction" (click)="getEndorsementCaseDetails(row)"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button
                                            type="button"
                                            class="btn_action btn_renewalAction"
                                            (click)="downloadSingleItem(row)"
                                            id="Download" name="Download" value="Download" title="Download"
                                        >
                                            <img src="assets/Img/icon_download_grey.svg" width="9" height="9" alt="Download">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section id="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="selectedView == 'grid'">
                <div class="cardViewWraper">
                    <div class="cardViewItem" *ngFor="let row of endorsementDetails; let i = index">
                        <header>
                            <div class="card_insureInfo">
                                <h6>
                                    <div class="insureName" title="{{ row?.memberName }}">{{ row?.memberName }} </div>
                                </h6>
                                <div class="item_productName">{{ row?.caseId }}</div>
                            </div>
                            <div class="btn_groupAction">
                                <button type="button" id="viewdetails-grid" name="viewdetails-grid" value="View Details" title="View Details" class="btn_action btn_renewalAction" (click)="getEndorsementCaseDetails(row)"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                <button type="button" class="btn_action btn_renewalAction" (click)="downloadSingleItem(row)" id="Download" name="Download" value="Download" title="Download">
                                    <img src="assets/Img/icon_download_grey.svg" width="9" height="9" alt="Download">
                                </button>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Policy No.</div>
                                <div class="item_value">{{ row?.policyNumber }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Product Name</div>
                                <div class="item_value">{{ row?.productName }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Member Name</div>
                                <div class="item_value">{{ row?.memberName }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Contact Info</div>
                                <div class="item_value">{{ row?.mobileNumber}}</div>
                                <div class="item_value">{{ row?.emailId }}</div>
                            </div>
                            <!-- <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Member Relation</div>
                                <div class="item_value">{{ row?.memberRelation}}</div>
                            </div> -->
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Raised Date</div>
                                <div class="item_value">{{ row?.raisedOn }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Status</div>
                                <div class="item_value">{{ row?.status}}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_100">
                                <div class="item_lable">Request Type</div>
                                <div class="item_value">{{ row?.requestType }}</div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>
            <div class="tableNav" >
                <div class="no-data-bottom-section-cnt" *ngIf="endorsementDetails.length === 0 ; else pagination">
                    <div class="cardViewWraper">
                        <div class="no_dataFound">
                            <img src="assets/Img/img_no_data_found.svg" alt="No data found">
                            <p>No data found</p>
                        </div>
                    </div>
                </div>
                <ng-template #pagination>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                                [rowsPerPageOptions]="[10,30,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                            <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}} of {{totalRecords}} entries</span>
                            </li>
                        </ul>
                    </nav>
                </ng-template>
            </div>
        </div>
    </div>
</main>
<!--All Requests End-->