/* Rating Modal Styling */ 
  /* Star Rating */
  .star-rating {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 15px;
  }
  .star {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
    margin-right: 0px;
  }
  .star.selected {
    color: #ffc107; /* Gold color for selected stars */
  }
  .star:last-child {
    margin-right: 0;
  }

  /* Input Styling */
  .input-textBox {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Submit Button */
  .verify-btn {
    background-color: #d9534f;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  .verify-btn:hover {
    background-color: #c12d2a;
  }
  
  .btn_linkText_black {
    background: none;
    border: none;
    color: #c12d2a;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  .btn_fullWidth {
    width: 100%;
  }


  /*Modal CSS start*/
  .modal-customerFeedback {
    .modal-dialog {
      max-width: 400px;
      @media (max-width:767px) {
        max-width: 100%;
      }
    }
    .modal-body {
      gap:16px;
    }
    .para-rate-18 {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #4c4c4c;
      margin: 0;
    }
    .para-rate-16 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #4c4c4c;
      margin: 0;
    }
    .para-rate-lable {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #4c4c4c;
      margin: 0;
    }
    .star-rating{
      justify-content: flex-start;
    }
  }
  .btn_red {
    font-size: 14px;
    font-weight: 600;
  }
  .btn_feedbackGroup {
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    .btn_quickFilter{
      background: transparent;
      border: 1px solid #D5D7DE;
      padding: 8px 16px;
      margin: 0;
      font-size: 12px;
      color: #4c4c4c;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .btn_quickFilter:hover {
      border-color: #C7222A;
    }
    .btn_quickFilter.selected {
      border-color: #C7222A;
      color: #000;
    }
    .btn_quickFilter:focus {
      outline: none;
    }
    
  }
  /*Modal CSS end*/
  