<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row endorsement-title" >
                <h2 class="icon_withHeading">Declarations</h2>
            </div>
            <div class="accordionMain">
                <div class="accordionItem">
                    <header>Declaration</header>
                    <div class="accordionBody">
                        <div class="accordionBodyRow">
                            <div class="detailsRow">
                                <p>I hereby declare, on my behalf and on behalf of all persons proposed to be insured, that the above statements,
                                    answers and/ or particulars given by me are true and complete in all respects to the best of my knowledge and
                                    that I am authorized to propose on behalf of these other persons.</p>
                                <p>I understand that the information provided by me will form the basis of the insurance policy, is subject to the
                                    Board approved underwriting policy of the insurer and that the policy will come into force only after full
                                    payment of the premium chargeable.</p>
                                <p>I further declare that I will notify in writing any change occurring in the occupation or general health of the
                                    life to be insured/proposer after the proposal has been submitted but before communication of the risk
                                    acceptance by the company.</p>
                                <p>
                                    I declare that I consent to the company seeking medical information from any doctor or hospital who/which at any
        time has attended on the person to be insured/proposer or from any past or present employer concerning anything
        which affects the physical or mental health of the personto be insured/proposer and seeking information from any
        insurer to whom an application for insurance on the person to be insured/proposer has been made for the purpose
        of underwriting the proposal and/or claim settlement.</p>
        <p>I authorize the company to share information pertaining to my proposal including the medical records of the
        insured/ proposer for the sole purpose of underwriting the proposal and/or claims settlement and with any
        Governmental and/or Regulatory authority.</p>
        <p>I hereby confirm that the premium for the above referred policy has been paid by me/ Insured/ proposed insured
        from my/ our own funds / credit/debit card held in my/ our name and not by any third party which is not covered
        under the insurance policy/ proposed insurance policy. I hereby undertake to indemnify and hold ABHIC harmless
        against any cost/expenses/ liability coming to ABHIC in this regard.</p>
        <p>I hereby consent that the policy documents may be sent to me by email.I hereby give consent
        to and authorize Aditya Birla Health Insurance Company to make welcome calls, service calls or any other
        communication (electronic or otherwise, including WhatsApp) with respect to the proposed or existing policy of
        the Company from time to time.</p>
        <p>I hereby confirm that the features of the Activ Secure Health Insurance Product and Plan selected by me and all
        other documents incidental to health insurance have been explainedto me and I have understood the same.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordionItem">
                    <header>Vernacular Declaration</header>
                    <div class="accordionBody">
                        <div class="accordionBodyRow">
                            <div class="detailsRow">
                                <p>I have explained the contents of this proposal form and all other documents incidental to health insurance from
                                    Insurer to the Proposer and understood by him/her. The replies have been recorded as per the information
                                    provided by and confirmed by the Proposer.</p>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-checkbox-block vernacular_declaration">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="document-consent" value="" class="input-check">
                                                <label for="document-consent">
                                                    <span>I Agree to receive the Policy document and supporting documents and communications on my registered email or
                                                        Mobile Number shared with the Company. I Shall Specifically request the company in need of physical copy of
                                                        policy document.</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                                        <div class="detailsHeading">Physical Copy Required</div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="input-radio-block">
                                            <label class="input-radiolabel ">
                                                <input type="radio" name="physicalcopy" value="yes" >
                                                <span>Yes</span>
                                            </label>
                                            <label class="input-radiolabel ">
                                                <input type="radio" name="physicalcopy" value="no" checked="">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <p>*The registered mobile number will be enrolled for WhatsApp notifications related to your Health Insurance Policy. We respect your privacy and will ensure that promotional content is not shared through this channel. If you don't want to give consent and authorize Aditya Birla Health Insurance Company to send you communication via WhatsApp please select 'No' in WhatsApp consent column.</p>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-checkbox-block vernacular_declaration">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="aadhaar-consent" value="" class="input-check">
                                                <label for="aadhaar-consent">
                                                    <span>I hereby declare that Aadhaar and PAN information submitted by me are true and complete in all respects. In case any discrepancy is identified at a later stage in the details furnished by me, no transaction including claims, refund, endorsement etc. shall be allowed in the policy in accordance with the rules under PMLA.</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-checkbox-block vernacular_declaration">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="soft-copy-consent" value="" class="input-check">
                                                <label for="soft-copy-consent">
                                                    <span>I hereby acknowledge and consent to the sharing of a soft copy of my policy schedule with the CAMS repository for the purpose of securely saving and managing my policy details. This information will be used exclusively for these purposes and will be handled in accordance with the privacy policy.</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-checkbox-block vernacular_declaration">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="premium-consent" value="" class="input-check">
                                                <label for="premium-consent">
                                                    <span>I hereby declare that the premium paid under this transaction is being paid by me to cover me and/or my family through a bank account or a Credit / Debit card registered in his / her name or through a prepaid payment instrument (wallet) held by me in their name and it is not a third-party payment made by any other person.</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                                        <div class="input-checkbox-block vernacular_declaration">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="terms-consent" value="" class="input-check">
                                                <label for="terms-consent">
                                                    <span>I Agree to T&C</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-7 col-lg-9 col-xl-9">
                                        <button type="button" class="btn_red">Authenticate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
