.main-container {
  height: 1100px;
  display: flex;
  justify-content: center;
  margin-left: 6%;
  background-color: #ede9e9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-container .all-claims {
  height: auto;
  width: 75%;
}

.main-container .all-claims .header{
  display:flex;
  justify-content: space-between;
}

.main-container .all-claims .header-value {
  height: 24px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 3% 0%;
}
.main-container .all-claims .plus-icon{
  background-color: white;
  border-radius: 5px;
  color: #C91429;
  padding: 3px 0px 0px 4px;
  height: 25px;
  margin-top: 3rem;
}

.main-container .all-claims .plus-icon .label{
  font-size: 12px;
  font-family: Anek Latin;
  font-weight: bold;
  padding: 8px;
  }
.main-container .all-claims .main-claims {
  min-height: 200px;
  max-height: 870px;
}
.main-container .all-claims .main-claims .claims-header {
  display: flex;
  justify-content: flex-start;
  height: 6.5%;
  padding: 16px 18px;
  gap: 10px;
  border-radius: 16px;
  border: 0px 0px 0px 1px;
  opacity: 0px;
  background: #fff;
}
.main-container .all-claims .main-claims .claims-header .filter-list {
  width: 96%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header {
  display: flex;
  height: 29px;
  width: 63%;
  gap: 1.3%;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .left-value {
  width: 12%;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #797979;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .filter-types{
  display: flex;
  gap: 8px;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .filter-types div{
  padding: 4px 7px;
  gap: 8px;
  background: #f1f3f6;
  border: 1px solid #f1f3f6;
  border-radius: 16px;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .filter-types p{
  font-size: 11px;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .filter-types div .active-button{
  background: #c7222a;
  color: #fff;
// Text color when active //
border: 1px solid #c7222a;
}
.main-container .all-claims .main-claims .claims-header .filter-list .left-header .filter-types div:hover{
background: #ffe7e5;
border: 1px solid #c7222a;
color: #c7222a;
}
.main-container .all-claims .main-claims .claims-header .filter-list .right-header{
  display: flex;
  justify-content: flex-end;
  height: 32px;
  width: 30%;
  gap: 8px;
} 


.main-container .all-claims .main-claims .claims-header .filter-list .right-header .claims-icon {
  width: Hug 13%;
  height: Hug 32px px;
  padding: 6px 8px;
  opacity: 0px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background: #f1f3f6;
}

.main-container .all-claims .main-claims .claims-header .filter-list .right-header .claims-list-icon {
  padding: 6px 8px;
  gap: 18px;
  border-radius: 8px;
  opacity: 0px;
}
.main-container .all-claims .main-claims .claims-header .filter-list .right-header .claims-list-icon.active {
  background-color: #c7222a;
  color: white;
}
.main-container .all-claims .main-claims .claims-header .filter-list .claims-list-icon:hover {
  background-color: #c7222a;
  color: white;
}
.main-container .all-claims .main-claims .search-dropdown-cnt {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  width: 36%;
  left: 53%;
  padding: 24px;
  gap: 24px;
  border-radius: 16px;
  background: #f5f5f5ea;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 12px 20px 0px #00000026;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.main-container .all-claims .main-claims .search-dropdown-cnt .search-title{
 font-family: Anek Latin;
 font-size: 20px;
 font-weight: 600;
 text-align: left;
 color: #000;
}
.main-container .all-claims .main-claims .search-dropdown-cnt .search-dropdown{
  width:100%;
  min-height:50px;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.select-boxes{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input{
  width: 47%;
}
.search-input input{
  width:100%;
  height:50px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid #FF4081;
  outline: none;
}
.main-container .all-claims .main-claims .search-dropdown-cnt .search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  gap:30px;
}
.main-container .all-claims .main-claims .search-dropdown-cnt .search-buttons .cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  padding: 10px 16px 10px 16px;
  gap: 8.04px;
  border-radius: 12px;
  background-color: #c7222a;
  color: white;
  cursor: pointer;
  font-family: PF Encore Sans Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.main-container .all-claims .main-claims .search-dropdown-cnt .search-buttons .apply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  padding: 10px 16px 10px 16px;
  gap: 8.04px;
  border-radius: 12px;
  background-color: #fff;
  font-family: PF Encore Sans Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #4c4c4c;
  background-color: white;
}
.main-container .all-claims .main-claims .search-dropdown-cnt .search-buttons .apply-button.active {
  background-color: #c7222a;
  color: white;
  cursor: pointer;
}
.main-container .all-claims .main-claims .card-container .list-view-container {
   border-radius: 8px; 
   overflow: hidden; 
   border: 2px solid white;
 }

::ng-deep .mat-mdc-table .mat-mdc-header-cell {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 8px;
  background: #f0eeee !important;
  padding: 12px;
  font-family: Anek Latin;
  font-size: 12px;
  font-weight: 600;
  line-height: 13.2px;
  letter-spacing: -0.200000003px;
  color: #222222;

}

::ng-deep .mat-mdc-cell
 {
  font-family: Anek Latin;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.20000000298023224px;
  color: #181414;
  padding-right: 0px;
}

.mat-header-cell{
font-family: Anek Latin;

}

::ng-deep .mat-mdc-row{
white-space: nowrap;
}
::ng-deep .mat-mdc-row:nth-child(even) {
  background-color: #f0eeee;
}

.main-container .all-claims .main-claims .grid-view-container{
  border-radius:8px;
  padding: 8px 10px;
  top: 23px;
}

.main-container .all-claims .main-claims .top-section{
  display: flex;
  justify-content: space-between;

}
.main-container .all-claims .main-claims .details-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main-container .all-claims .main-claims .policy-detail {
  display: flex;
  // flex-direction: row;
  gap: 16px;
}


.main-container .all-claims .main-claims .detail {
  display: flex;
  flex-direction: column;
}

.main-container .all-claims .main-claims .detail .label{
  white-space: nowrap;
}

.main-container .all-claims .main-claims .detail1 {
  display: flex;
  flex-direction: column;
  width: 109px;
}

.main-container .all-claims .main-claims .card-outer-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  justify-content: center;
}
::ng-deep .p-paginator{
  background-color: transparent;
}

::ng-deep .p-paginator .p-paginator-page {
  border-radius: 8px !important;
  font-family: Anek Latin;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: center;
  color: black !important;
  border: 1px solid var(--Neutral-Additional-BGGrey, #F1F3F6) !important;
  background: var(--Neutral-Additional-White100, #FFFFFF) !important;
  padding: 8px 12px; 
  margin: 0 5px; 
}
  
::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-last {
  border-radius: 8px !important;
  font-family: Anek Latin;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: center;
  color: black !important;
  border: 1px solid var(--Neutral-Additional-BGGrey, #F1F3F6) !important;
  background-color: white;
  padding: 8px 12px; 
  margin: 0 5px;
}
  
::ng-deep .p-paginator .p-paginator-page:hover,
::ng-deep .p-paginator .p-highlight:not(.p-highlight),
::ng-deep .p-paginator .p-paginator-first:hover,
::ng-deep .p-paginator .p-paginator-prev:hover,
::ng-deep .p-paginator .p-paginator-next:hover,
::ng-deep .p-paginator .p-paginator-last:hover {
  background-color: #f5f5f5 !important; 
  border-color: #cccccc !important;
}
  
::ng-deep .my-paginator .p-highlight {
  background: var(--Brand-Primary-CapitalRed, #C7222A) !important;
  color: white !important;
  border-radius: 8px !important;
  font-family: Anek Latin;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: center;
}
  
::ng-deep .my-paginator .p-dropdown {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
  
::ng-deep .my-paginator .p-dropdown-label {
  text-align: center !important;
}
.pagination-info{
padding-left: 32rem;
color:#999494;
}