<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <h2>Renewals List</h2>
            <section class="quickFilterMain">
                <div class="quickFilterLeft">
                    <ul class="quickFilter">
                        <li class="quickFilterHeading block-hide">Quick filter</li>
                        <li>
                            <button type="button" id="allpolicies" name="allpolicies" value="allpolicies" class="btn_quickFilter" [ngClass]="{'active': activeFilter === 'all'}" (click)="filterQuotes('all','totalRecords')">All ({{countsList.totalRecords}})</button>
                        </li>
                        <li>
                            <button type="button" id="30days" name="30days" value="30days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '<30DaysExpired'}" (click)="filterQuotes('<30DaysExpired','expiringInLessThan30DaysCount')">
                                < 30 Days ({{countsList.expiringInLessThan30DaysCount}})</button>
                        </li>
                        <li>
                            <button type="button" id="60days" name="60days" value="60days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '30-60Days'}" (click)="filterQuotes('30-60Days','expiringIn30To60DaysCount')">30-60 Days ({{countsList.expiringIn30To60DaysCount}})</button>
                        </li>
                        <li>
                            <button type="button" id="90days" name="90days" value="90days" class="btn_quickFilter" [ngClass]="{'active': activeFilter === '60-90Days'}" (click)="filterQuotes('60-90Days','expiringIn60To90DaysCount')">60-90 Days ({{countsList.expiringIn60To90DaysCount}})</button>
                        </li>
                        <li>
                            <button type="button" id="expired" name="expired" value="expired" class="btn_quickFilter" [ngClass]="{'active': activeFilter === 'ExpiredPolicies'}" (click)="filterQuotes('ExpiredPolicies','expiredCount')">Expired ({{countsList.expiredCount}})</button>
                        </li>
                    </ul>
                </div>
                <div class="quickFilterRight">
                    <div class="body_flex_row common_searchWraper">
                        <div class="field_searchMain">
                            <select id="selectSearchFilter" name="selectSearchFilter" class="filterSearch" [(ngModel)]="selected" (change)="selected === '' ? cancelSearch() : null" (ngModelChange)="onSelectChanges($event)">
                                <option value="" (click)="cancelSearch()">Select an Option</option>
                                <option value="mobileNumber">Mobile Number</option>
                                <option value="proposerName">Proposer Name</option>
                                <option value="policyNumber">Policy Number</option>
                            </select>
                            <input class="filterSearch" id="filterSearch" name="filterSearch" type="text" [formControl]="searchInputControl" type="text" [placeholder]="getPlaceholder()">
                            <button type="button" id="filtersearchbtn" name="filtersearchbtn" class="btn_text" (click)="applySearch()"><img src="assets/Img/icon_magnify_grey.svg"></button>
                        </div>
                    </div>
                    <div class="filterWraper">
                        <button type="button" id="renewalFilter" name="renewalFilter" value="filter" (click)="toggleFilterDropdown($event)" class="btn_filter jsFilterBtnClick" [ngClass]="{'active': appliedFiltersCount > 0}" aria-label="filterForm"><img src="assets/Img/icon_clarity_filter_line_grey.svg" alt="Filter"> Filter ({{appliedFiltersCount}})<span id="filter-count"></span></button>
                        <div id="filterForm" class="filterWraperForm overlay_popupMain mobile_popupBackdrop" [ngClass]="{'active': toggeledropdown}">
                            <div class="fw_form mobile_popupMain">
                                <div class="filterHeader">
                                    <header>Filter</header>
                                    <button type="button" id="filtercancel" name="filtercancel" value="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
                                </div>
                                <div class="fw_formBody">
                                    <div class="fw_formRow">
                                        <h6>Products</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let product of productsList; let i = index">
                                                <div class="input-checkbox-feild">
                                                    <input type="checkbox" id="product{{i}}" name="" value="products" class="input-check" [(ngModel)]="product.selected" (change)="calculateAppliedFiltersCount()">
                                                    <label for="product{{i}}">{{product.productName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fw_formRow">
                                        <h6>Policy Type</h6>
                                        <div class="fw_checkboxWraper">
                                            <div class="input-checkbox-block" *ngFor="let policyType of StaticPolicyTypes; let i = index">
                                                <div class="input-checkbox-feild">
                                                    <input type="checkbox" id="policytype{{i}}" name="" value="policytype" class="input-check" [(ngModel)]="policyType.selected" (change)="calculateAppliedFiltersCount()">
                                                    <label for="policytype{{i}}">{{policyType.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fw_formRow">
                                        <h6>Date Range</h6>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob">
                                                    <input type="date" id="startdate" name="startdate" value="" [max]="currentDate" placeholder="Select Start Date" class="input-textBox input-date" [(ngModel)]="startDate" (dateChange)="formatDate('startDate')">
                                                    <label for="startdate">Select Start Date</label>
                                                    <span class="ui-error">Please enter date of birth</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="input-block form-floating input-block-dob">
                                                    <input type="date" id="enddate" name="enddate" value="" [max]="currentDate" placeholder="Select End Date" class="input-textBox input-date" [(ngModel)]="endDate" (dateChange)="formatDate('endDate')">
                                                    <label for="enddate">Select End Date</label>
                                                    <span class="ui-error">Please enter date of birth</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <button type="button" id="filterclear" name="filterclear" value="cancel" class="btn_white btn_fullWidth" (click)="clear()">Clear</button>
                                    <button type="button" id="filterapply" name="filterapply" value="apply" class="btn_red btn_fullWidth" (click)="applyFilter()">Apply</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="renewalgridlist" name="renewalgridlist" value="gridlist" class="btn_grid mobile-hide jsBtnClickQuote" [ngClass]="{'active': selectedView === 'list'}" aria-label="quotes-list" (click)="renewalListView('list')"><img src="assets/Img/icon_grid_list_grey.svg" alt="Grid List"></button>
                    <button type="button" id="renewalgridcard" name="renewalgridcard" value="gridcard" class="btn_grid mobile-hide jsBtnClickQuote" [ngClass]="{'active': selectedView === 'grid'}" aria-label="quotes-card" (click)="renewalListView('grid')"><img src="assets/Img/icon_grid_box_grey.svg" alt="Grid Card"></button>
                </div>
            </section>
            <section id="quotes-list" class="tableMain quoteView block-show " *ngIf="selectedView == 'list'">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th scope="col">Proposer Name</th>
                                    <th scope="col" nowrap>Product</th>
                                    <th scope="col" nowrap>Policy Type</th>
                                    <th scope="col" nowrap>Policy Number</th>
                                    <th scope="col" nowrap>Renewal Premium</th>
                                    <th scope="col" nowrap>Mobile Number</th>
                                    <th scope="col" nowrap>Date of Renewal</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Notice</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let row of renewalsList; let i = index">
                                    <td><span class="text-break-w100">{{ row.proposerFirstName }}</span></td>
                                    <td><span class="productName">{{ row.productName }}</span></td>
                                    <td>{{ row.policyType }}</td>
                                    <td>{{ row.policyNumber }}</td>
                                    <td>
                                        <div class="table-renewalPremium">
                                            <div class="row-renewalPremium">
                                                <span class="lable">Total Premium</span>
                                                <span class="value">₹ {{ row.renewalPremiumAmount }}</span>
                                            </div>
                                            <div class="row-renewalPremium text-green">
                                                <span class="lable">HR benefits</span>
                                                <span class="value">- ₹{{ row.healthReturn }}</span>
                                            </div>
                                            <div class="row-renewalPremium">
                                                <span class="lable">Renewal Premium</span>
                                                <span class="value">₹ {{ row.renewalPremiumAmount - row.healthReturn }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{row.proposerMobileNumber}}</td>
                                    <td>{{ row.policyEndDate }}</td>
                                    <td>{{ row.renewalStatusDescription }}</td>
                                    <td>
                                        <div class="btn_groupAction">
                                            <button type="button" id="renewaledit" name="renewaledit" value="edit" title="Edit" class="btn_action btn_editAction" (click)="renewalJourney(row)"><img src="assets/Img/icon_edit_grey.svg"></button>
                                            <button type="button" id="renewal" name="renewal" value="renewal" title="Renewal" class="btn_action btn_renewalAction" (click)="handleAction(row, 'payment')"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                            <button type="button" id="renewalmore" name="renewalmore" value="more" title="More" class="btn_action btn_moreAction" aria-label="item-moreaction" [matMenuTriggerFor]="moreMenu" id="dropdownMenuButtonGrid{{i}}" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                            <mat-menu #moreMenu="matMenu" class="overlay_popupMenu_Main_CDK moreActionItems active">
                                                <div class="overlay_popupMenu_Sub moreActionItemsSub">
                                                    <ul class="actionItemsMain">
                                                        <!-- <li class="actionItem" (click)="handleAction(row, 'download')">
                                                            <a> <img src="assets/Img/icon_download2_grey.svg" alt="Download"><span>Download</span></a>
                                                        </li> -->
                                                        <li class="actionItem" (click)="handleAction(row, 'sms')">
                                                            <a> <img src="assets/Img/icon_share_via_sms_grey.svg" alt="Share via SMS"><span>Share via SMS</span></a>
                                                        </li>
                                                        <li class="actionItem" (click)="handleAction(row, 'whatsapp')">
                                                            <a> <img src="assets/Img/icon_share_whatsapp_grey.svg" alt="Share via Whatsapp"><span>Share via Whatsapp</span></a>
                                                        </li>
                                                        <li class="actionItem" (click)="handleAction(row, 'email')">
                                                            <a> <img src="assets/Img/icon_share_via_email_grey.svg" alt="Share via email"><span>Share via Email</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}}</span> of <span class="pageCountTotal">{{totalRecords}} entries</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section id="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="selectedView == 'grid'">
                <div class="cardViewWraper">
                    <div class="cardViewItem" *ngFor="let row of renewalsList; let i = index">
                        <header>
                            <div class="card_insureInfo">
                                <h6>
                                    <div class="insureName">{{ row.proposerFirstName }} </div>
                                    
                                </h6>
                                <div class="item_productName">{{ row.productName }}</div>
                            </div>
                            <div class="card_btnGroup">
                                <div class="btn_groupAction">
                                    <button type="button" id="renewaleditgrid" name="renewaleditgrid" value="edit" title="Edit" class="btn_action btn_editAction" (click)="renewalJourney(row)"><img src="assets/Img/icon_edit_grey.svg"></button>
                                    <button type="button" id="renewalgrid" name="renewalgrid" value="renewal" title="Renewal" class="btn_action btn_renewalAction" (click)="handleAction(row, 'payment')"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                    <button type="button" id="renewalgridmore" name="renewalgridmore" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard" [matMenuTriggerFor]="moreMenu" id="dropdownMenuButtonGrid{{i}}" data-bs-toggle="dropdown"
                                    aria-expanded="false"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    <mat-menu #moreMenu="matMenu" class="overlay_popupMenu_Main_CDK moreActionItems">
                                        <div class="overlay_popupMenu_Sub moreActionItemsSub">
                                            <ul class="actionItemsMain">
                                                <!-- <li class="actionItem" (click)="handleAction(row, 'download')">
                                                    <a> <img src="assets/Img/icon_download2_grey.svg" alt="Download"><span>Download</span></a>
                                                </li> -->
                                                <li class="actionItem" (click)="handleAction(row, 'sms')">
                                                    <a> <img src="assets/Img/icon_share_via_sms_grey.svg" alt="Share via SMS"><span>Share via SMS</span></a>
                                                </li>
                                                <li class="actionItem" (click)="handleAction(row, 'whatsapp')">
                                                    <a> <img src="assets/Img/icon_share_whatsapp_grey.svg" alt="Share via Whatsapp"><span>Share via Whatsapp</span></a>
                                                </li>
                                                <li class="actionItem" (click)="handleAction(row, 'email')">
                                                    <a> <img src="assets/Img/icon_share_via_email_grey.svg" alt="generate payment link"><span>Share via Email</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-menu>
                                </div>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Policy Type</div>
                                <div class="item_value">{{ row.policyType }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Policy No.</div>
                                <div class="item_value">{{ row.policyNumber }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Status</div>
                                <div class="item_value">{{ row.renewalStatusDescription }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Mobile No.</div>
                                <div class="item_value">{{ row.proposerMobileNumber}}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Date of Renewal</div>
                                <div class="item_value">{{ row.policyEndDate }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_45">
                                <div class="item_lable">Renewal Premium</div>
                                <div class="item_value">
                                    <div class="table-renewalPremium">
                                        <div class="row-renewalPremium">
                                            <span class="lable">Total Premium</span>
                                            <span class="value">₹{{  row.renewalPremiumAmount }}</span>
                                        </div>
                                        <div class="row-renewalPremium text-green">
                                            <span class="lable">HR benefits</span>
                                            <span class="value">- ₹{{ row.healthReturn }}</span>
                                        </div>
                                        <div class="row-renewalPremium">
                                            <span class="lable">Renewal Premium</span>
                                            <span class="value">₹{{ row.renewalPremiumAmount - row.healthReturn }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)" class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ? totalRecords : first + rows}}</span> of <span class="pageCountTotal">{{totalRecords}} entries</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section id="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="totalRecords === 0">
                <div class="cardViewWraper">
                    <div class="no_dataFound">
                        <img src="assets/Img/img_no_data_found.svg" alt="No data found">
                        <p>No data found</p>
                    </div>
                </div>
            </section>
            <!-- <section class="createNewQuoteWraper" *ngIf="totalRecords === 0">
                <div class="createNewQuoteMain">
                    <div class="cnqLeft">
                        <h5>Hi let's get started with new leads</h5>
                    </div>
                    <div class="cnqRight">
                        <button type="button" value="createnewquote" class="btn_red btn_CN_Quote"><img src="assets/Img/icon_plus_white.svg"> Create New Quote</button>
                    </div>
                </div>
            </section> -->
        </div>
    </div>
</main>