<main class="siteBody siteBody_padding">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2 class="icon_withHeading" aria-hidden="true" (click)="navigateToListClaim()"><a class="btn_backPage"
                        title="Back To List"></a>{{"Claims" | translate}}</h2>
            </div>
            <section class="white_container white_container_shadow">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="details_claimsInfo">
                            <div class="row_claimsInfo">
                                <div class="claim_amount">
                                    <label>{{"Member Name" | translate}}</label>
                                    <h6>{{ claims?.memberName }}</h6>
                                </div>
                                <span class="info-dot1"></span>
                                <div class="claim_amount">
                                    <label>{{"Policy Number" | translate}}</label>
                                    <h6>{{ claims?.policyNumber }}</h6>
                                </div>
                            </div>
                            <div class="row_claimsInfo sub_claimsInfo">
                                <div class="claim_amount">
                                    <label>{{"Product Name" | translate}}</label>
                                    <h6>{{ claims?.productName }}</h6>
                                </div>
                                <span class="info-dot1"></span>
                                <div class="claim_amount">
                                    <label>{{"Claim Type" | translate}}</label>
                                    <h6>{{ claims?.claimType }}</h6>
                                </div>
                                <span class="info-dot1"></span>
                                <div class="claim_amount">
                                    <label>{{"Claim Status" | translate}}</label>
                                    <h6>{{ claims?.claimStatus }}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="details_claimsAmount">

                            <div class="claim_amount">
                                <h6>{{"Claim Amount" | translate}}</h6>
                                <p>₹ {{ claims?.claimedAmount }}</p>
                            </div>
                            <div class="claim_amount">
                                <h6>{{"Approved Amount" | translate}}</h6>
                                <p>₹ {{ claims?.approvedAmount != 0 ? claims?.approvedAmount : '--' }}</p>
                            </div>
                            <div class="claim_amount">
                                <h6>{{"Deducted Amount" | translate}}</h6>
                                <p>₹ {{ claims?.deductedAmount != 0 ? claims?.deductedAmount : '--' }}</p>
                            </div>
                            <div class="claim_amount">
                                <h6>{{"Co Payment" | translate}}</h6>
                                <p>₹ {{ claims?.coPayAmount != 0 ? claims?.coPayAmount : '--'}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ">
                        <div class="claims_matTabs_container">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="claims_matTabs"
                                (selectedTabChange)="onTabChanged($event)">
                                <mat-tab [label]="'Claims Info' | translate">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <h4>{{"Member and Policy" | translate}}</h4>
                                                <ul class="list-detailsInfo">
                                                    <li>
                                                        <span class="label">{{"Member Name:" | translate}}</span>
                                                        <span class="value membername">{{claims?.memberName}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Member ID:" | translate}}</span>
                                                        <span class="value">{{claims?.memberId}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Policy No.:" | translate}}</span>
                                                        <span class="value">{{claims?.policyNumber}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Cover Type:" | translate}}</span>
                                                        <span class="value">{{claims?.productName}}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <h4>{{"Claim Details" | translate}}</h4>
                                                <ul class="list-detailsInfo">
                                                    <li>
                                                        <span class="label">{{"Raised By:" | translate}}</span>
                                                        <span class="value">{{designationName}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Raised On:" | translate}}</span>
                                                        <span class="value">{{claims?.reportedDateTime |
                                                            datepipe}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Document Recv. Date:" |
                                                            translate}}</span>
                                                        <span class="value">{{claims?.reportedDateTime |
                                                            datepipe}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Coverage Name:" | translate}}</span>
                                                        <span class="value">{{claims?.coverName}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Hospital Name:" | translate}}</span>
                                                        <span class="value">{{claims?.hospitalName}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Date of Recommendation:" |
                                                            translate}}</span>
                                                        <span class="value">{{claims?.admissionDate}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Date of Admission:" | translate}}</span>
                                                        <span class="value">{{claims?.admissionDate}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Date of Discharge:" | translate}}</span>
                                                        <span class="value">{{claims?.dischargeDate}}</span>
                                                    </li>
                                                    <li *ngIf="deductionReason?.length < 2">
                                                        <span class="label">{{"Deduction Reason:" | translate}}</span>
                                                        <span class="value">{{claims?.deductionReason}}</span>
                                                    </li>
                                                    <li class="view_claimReason" *ngIf="deductionReason?.length > 2">
                                                        <span class="label">{{ "Deduction Reason:" | translate }}</span>
                                                        <ul>
                                                            <li *ngFor="let reason of deductionReason">
                                                                <span class="value">{{ reason }}</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="view_claimReason">
                                                        <span class="label">{{"Denial Reason:" | translate}}</span>
                                                        <span class="value">{{status?.denialReason}}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab [label]="'Documents' | translate">
                                    <div class="body_flex_column gap-32">
                                        <!-- <div class="uploadDocument_head body_flex_column gap-2" *ngIf="claims?.claimType !== 'Cashless'">
                                            <h3 class="heading-20-black">{{"Upload Documents" | translate}}</h3>
                                            <p>{{"Please upload the documents mentioned below. The files should be in .png / .jpg / .pdf with less than 2 MB size per image." | translate}}</p>
                                        </div>
                                        <div class="uploadDocument_optionsInfo row" *ngIf="claims?.claimType !== 'Cashless'">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                <ul class="unorderList ul_withIcon">
                                                    <li><img src="assets/Img/icon_ud_kycid.svg">{{"Any govt/KYC ID" | translate}}</li>
                                                    <li><img src="assets/Img/icon_ud_doctor_prescription.svg">{{"Doctor’s Prescription" | translate}}</li>
                                                    <li><img src="assets/Img/icon_ud_consultation_form.svg">{{"Consultation form" | translate}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                <ul class="unorderList ul_withIcon">
                                                    <li><img src="assets/Img/icon_ud_hospital_bill.svg">{{"Hospital bill invoice" | translate}}</li>
                                                    <li><img src="assets/Img/icon_ud_neft.svg">{{"NEFT/ Cancelled cheque/ Passbook" | translate}}</li>
                                                    <li><img src="assets/Img/icon_ud_consultation_form.svg">{{"Claim" | translate}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                <ul class="unorderList ul_withIcon">
                                                    <li><img
                                                            src="assets/Img/icon_ud_consultation_form.svg">{{"Investigation report" | translate}}</li>
                                                    <li><img src="assets/Img/icon_ud_consultation_form.svg">{{"Hospital discharge form" | translate}}</li>
                                                </ul>
                                            </div>
                                        </div> -->
                                        <div class="uploadDocument_main">
                                            <!-- <div class="uploadDocument_area" (click)="docUploadFileInput.click()">
                                                <div class="ud_area_left">
                                                    <h6>{{"Upload Documents" | translate}}</h6>
                                                    <p>{{"JPG/JPEG/BMP/PNG/PDF Files (up to 10MB)" | translate}}</p>
                                                </div>
                                                <div class="ud_area_right">
                                                    <button type="button" name="uploadfile" id="uploadfile"
                                                        class="btn_uploadDocument">
                                                        <span class="upload_icon"><img
                                                                src="../../../../../assets/Img/icon_upload_white.svg"></span>
                                                        {{"Upload" | translate}}
                                                    </button>
                                                </div>
                                                <input type="file" #docUploadFileInput name="docUpload"
                                                    (change)="onFileSelected($event)" style="display:none;" multiple
                                                    accept=".jpg, .jpeg, .pdf, .bmp, .png" />
                                            </div> -->
                                            <!-- <span class="ui-error block-show" *ngIf="uploadValidFormt">
                                                {{"File format not supported! Please upload .Pdf, .jpeg, .bmp and .png files." | translate}}
                                            </span> -->

                                            <!-- <div class="uploadedFiles_main" *ngIf="uploadedFiles.length > 0">
                                                <h3 class="heading-20-black">{{"Uploaded Documents" | translate}}</h3>
                                                <ul class="uploadedFiles_list">
                                                    <li class="uploadedFiles_item" *ngFor="let file of uploadedFiles"> -->
                                            <!-- <div class="uploadedFiles_info"> -->
                                            <!-- <div class="file-label">
                                                                <span>{{ file.label }}</span>
                                                            </div> -->
                                            <!-- <div class="file-details"> -->
                                            <!-- <h6>{{ file.fileName }}</h6> -->
                                            <!-- <p>{{ file.type }}</p> -->
                                            <!-- <p>{{ convertBytesToKB(file.size) }} | Uploaded on {{ file.uploadDate | date:'short' }}</p> -->
                                            <!-- </div> -->
                                            <!-- <div class="file-actions"> -->
                                            <!-- <a [href]="file.fileUrl" download class="btn-download">
                                                  <img src="assets/Img/icon_download.svg" alt="Download" /> Download
                                                </a> -->

                                            <!-- <button (click)="deleteFile(file.fileId)" class="btn-delete">
                                                  <img src="assets/Img/icon_delete_red2.svg" alt="Delete" /> Delete
                                                </button> -->
                                            <!-- </div> -->
                                            <!-- </div> -->
                                            <!-- </li>
                                                </ul>
                                            </div> -->

                                            <!-- <div class="filesList_body">
                                                <ul class="uploadedFiles_main">
                                            <li class="uploadedFiles_item" *ngFor="let file of fileUploads">
                                                <h6>{{ file.name }}</h6>
                                                <p>{{ file.type }}</p>
                                                <td>
                                                  <button class="delete-button" (click)="downloadFile(file)">View/Download</button>
                                                </td>
                                              </li>
                                              </ul>
                                              </div> -->
                                            <!-- <div class="uploadDocument_listMain" *ngIf="uploadedFiles.length > 0">
                                                <div class="uploadDocument_filesList">
                                                    <div class="filesList_head">
                                                        <div class="filesList_headLeft">{{"Uploads:" | translate}}</div>
                                                    </div>

                                                    <div class="filesList_body">
                                                        <ul class="uploadedFiles_main">
                                                            <li *ngFor="let file of uploadedFiles; let i = index"
                                                                class="uploadedFiles_item">
                                                                <div class="uploadedFiles_headInfo">
                                                                    <div class="headInfo_item">
                                                                        <div class="editable-label"
                                                                            [ngClass]="{ 'editing': file.isEditing, 'edited': file.isEdited }">
                                                                            <ng-container *ngIf="!file.isEditing">
                                                                                <span class="label-text">{{ file.label | translate}}</span>
                                                                                <button name="labeledit" id="labeledit"
                                                                                    (click)="startEditing(file)"
                                                                                    class="edit-button">
                                                                                    <img src="assets/Img/icon_pencil_blue.svg"
                                                                                        alt="Edit">
                                                                                </button>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="file.isEditing">
                                                                                <input type="text"
                                                                                    [formControl]="editableControl"
                                                                                    (blur)="stopEditing(file)"
                                                                                    autofocus />
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                    <div class="headInfo_item">
                                                                        <div class="upload-success"
                                                                            *ngIf="uploadSuccess"><img
                                                                                src="assets/Img/icon_check_circle.svg"><span
                                                                                class="success-text">{{"Success" | translate}}</span>
                                                                        </div>
                                                                        <div class="upload-fail" *ngIf="!uploadSuccess">
                                                                            <img src="assets/Img/icon_failure.svg"><span
                                                                                class="failed-text">{{"Failed" | translate}}</span></div>
                                                                        <div *ngIf="file.uploadDateTime">
                                                                            <span class="date-time">{{
                                                                                file.formattedUploadDateTime }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="uploadedFiles_info">
                                                                    <div class="uploadedFiles_infoItem">
                                                                        <span class="file-index">{{i+ 1}}</span>
                                                                        <h6>{{ file.name | translate }}</h6>
                                                                        <p>{{ file.type | translate }}</p>
                                                                    </div>
                                                                    <div class="uploadedFiles_infoItem">
                                                                        <button name="deletefile" id="deletefile"
                                                                            class="delete-button"
                                                                            (click)="deleteFile(file)">
                                                                            <img src="assets/Img/icon_delete_red2.svg">
                                                                        </button>
                                                                        <div class="size-align">
                                                                            <p>{{ convertBytesToKB(file.size) }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div *ngIf="status?.notes?.length > 0" class="query-submission">
                                                For query submission, please redirect to <a
                                                    href="https://www.adityabirlahealth.com"
                                                    target="_blank">https://www.adityabirlahealth.com</a>.
                                            </div>
                                            <!-- <div class="row" *ngIf="claims?.claimType !== 'Cashless'">
                                                <div class="col-12 text-center">
                                                    <button name="submit" id="submit" class="button_red" type="button"
                                                        (click)="updateClaim()">{{"Submit" | translate}}</button>
                                                </div>
                                            </div> -->

                                            <div class="uploadDocument_head body_flex_column gap-2">
                                                <h4 class="m-0">{{"View Uploads:" | translate}}</h4>
                                                <div *ngIf="noFilesFound" class="tipInfo_org m-0">
                                                    <span class="body_flex_row">{{" No documents have been uploaded
                                                        yet." | translate}}</span>
                                                </div>
                                                <div class="viewDocument_listMain tableMain quoteView"
                                                    *ngIf="!noFilesFound && fileUploads.length > 0">
                                                    <div class="tableSubMain">
                                                        <div class="table-responsive">
                                                            <table class="table table-borderless table-search">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.No</th>
                                                                        <th>Document Name</th>
                                                                        <th>Type</th>
                                                                        <!-- <th>Status</th> -->
                                                                        <th>Date of Upload</th>
                                                                        <th>Download</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let file of fileUploads; let i = index">
                                                                        <td>{{ i + 1 }}</td>
                                                                        <td>{{ file.fileName }}</td>
                                                                        <td>{{ file.type }}</td>
                                                                        <td>{{file.uploadedDate}}</td>
                                                                        <td align="center">
                                                                            <button type="button" id="downloadfile"
                                                                                name="downloadfile"
                                                                                class="btn_action btn_renewalAction"
                                                                                (click)="downloadFile(file)"><img
                                                                                    src="../../../../../assets/Img/icon_download_grey.svg"></button>
                                                                            <!-- <button class="btn btn-primary" (click)="downloadFile(file)">Download</button> -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab [label]="'Tracker' | translate">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="tracker_claimDetails">
                                                <div class="main_claimProgressSteps">
                                                    <div class="submain_claimProgressSteps"
                                                        *ngIf="customeStepperStatuses.length > 0">
                                                        <div class="item_claimProgressSteps"
                                                            *ngFor="let status of customeStepperStatuses"
                                                            [ngClass]="{'completed': status.active == '1' && status.colour == 'Green' , 'active': status.active  == '2' && status.colour  == 'Yellow', 'error': status.active  == '2' && status.colour == 'Red', 'next': status.active  == '0' && status.colour == 'Grey'}">
                                                            <span class="item_count">
                                                                <em class="count p-0">{{status.count}}</em>
                                                                <em class="img_tick"><img
                                                                        src="assets/Img/icon_tick_greenbg.svg"></em>
                                                                <em class="img_error p-0"><img
                                                                        src="assets/Img/icon_danger.svg"></em>
                                                            </span>
                                                            <div class="item_info">
                                                                <h6>{{status.title | translate}}</h6>
                                                                <p *ngIf="status.statusDate">({{status.statusDate |
                                                                    date: 'yyyy-MM-dd HH:mm:ss'}})</p>
                                                                <small class="cursor"
                                                                    (click)="moveToDocsSection(-1)">{{status?.nextProcess}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item_claimProgressInfo"
                                                    *ngIf="status?.notes && customeStepperStatuses.length > 0">
                                                    <div *ngFor="let note of notes; let i = index">
                                                        {{ i + 1 }}.&nbsp; {{ note }}
                                                    </div>
                                                </div>
                                                <div *ngIf="status?.notes?.length > 0" class="query-submission">
                                                    For query submission, please redirect to <a
                                                        href="https://www.adityabirlahealth.com"
                                                        target="_blank">https://www.adityabirlahealth.com</a>.
                                                </div>
                                                <div class="item_claimProgressButtons">
                                                    <button type="button" name="claimshistory" id="claimshistory"
                                                        class="btn_iconText" (click)="toggleViewDetails()">
                                                        <img src="assets/Img/icon_claimhistory.svg"> Claims History
                                                    </button>
                                                </div>

                                                <div class="detailsRow"
                                                    *ngIf="claimsHistory.length > 0 && isViewVisible">
                                                    <ng-container *ngFor="let claimsHist of claimsHistory">
                                                        <div class="row claim_historyData">
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Policy Number" | translate}}</label>
                                                                <h6>{{ claimsHist?.policyNumber }}</h6>
                                                            </div>
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Request Id" | translate}}</label>
                                                                <h6>{{ claimsHist?.claimInfoId }}</h6>
                                                            </div>
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Member Id" | translate}}</label>
                                                                <h6>{{ claimsHist?.memberId }}</h6>
                                                            </div>
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Created Date" | translate}}</label>
                                                                <h6>{{ claimsHist?.createdDateTime | date: 'yyyy-MM-dd
                                                                    HH:mm:ss' }}</h6>
                                                            </div>
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Claim Status" | translate}}</label>
                                                                <h6>{{ claimsHist?.claimStatus }}</h6>
                                                            </div>
                                                            <!-- <div class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>Claim Status Id</label>
                                                                <h6>{{ claimsHist?.claimStatusId }}</h6>
                                                            </div> -->
                                                            <div
                                                                class="col-6 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item">
                                                                <label>{{"Notes" | translate}}</label>
                                                                <h6>{{ claimsHist?.notes }}</h6>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>

                                                <div *ngIf="claimsHistory?.length === 0 && isViewVisible"
                                                    class="no-data">
                                                    <p>{{"No claim history found for the selected policy number." |
                                                        translate}}</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>