<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>Claims</h2>
                <button type="button" class="btn_white btn_newRequest" (click)="navigateToCreateClaim()">
                    <img src="../../../../../assets/Img/icon_plus_red.svg">New Requests
                </button>
            </div>
            <section class="white_container white_container_shadow">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                  <div class="details_claimsInfo">
                    <h5>{{ claim?.memberName }} <span>{{ claim?.policyNumber }}</span></h5>
                    <h6>{{ claim?.productName }}<span class="info-dot"></span>{{ claim?.requestType }}<span class="info-dot"></span><b>{{ claim?.claimStatus }}</b></h6>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="details_claimsAmount">
                      <div class="claim_amount">
                        <h6>Claim Amount</h6>
                        <p>₹{{ claim?.claimedAmount }}</p>
                      </div>
                      <div class="claim_amount">
                        <h6>Approved Amount</h6>
                        <p>₹{{ claim?.approvedAmount }}</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="white_container claim_underDeficiency">
                      <div class="info_underDeficiency">
                        <h5>Under Deficiency</h5>
                        <h6>Kindly provide Aadhaar card and doctor’s prescrition </h6>
                      </div>
                      <div class="button_underDeficiency">
                          <button type="button" class="btn_red">Upload Documents</button>
                          <div class="btn_groupAction">
                            <button type="button" class="btn_iconText">View Details</button>
                            <button type="button" class="btn_iconText"><img src="../../../assets/Img/icon_phone_red.svg"> Care Manager</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 ">
                  <div class="claims_matTabs_container">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="claims_matTabs">
                      <mat-tab label="Claims Info">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="claims_member_info">
                              <h4>Member and Policy</h4>
                              <ul class="list-detailsInfo">
                                <li>
                                  <span class="label">Member Name:</span>
                                  <span class="value membername">{{claim?.memberName}}</span>
                                </li>
                                <li>
                                  <span class="label">Member ID:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Policy No.:</span>
                                  <span class="value">{{claim?.policyNumber}}</span>
                                </li>
                                <li>
                                  <span class="label">Cover Type:</span>
                                  <span class="value"></span>
                                </li>
                              </ul>
                              <div class="claims_member_info-gradient"></div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="claims_member_info">
                              <h4>Claim Details</h4>
                              <ul class="list-detailsInfo">
                                <li>
                                  <span class="label">Raised On:</span>
                                  <span class="value">{{claim?.ReportedDateTime}}</span>
                                </li>
                                <li>
                                  <span class="label">Document Recv. Date:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Coverage Name:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Hospital Name:</span>
                                  <span class="value">{{claim?.hospitalName}}</span>
                                </li>
                                <li>
                                  <span class="label">Date of Recommendation:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Date of Admission:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Date of Discharge:</span>
                                  <span class="value"></span>
                                </li>
                                <li>
                                  <span class="label">Opted Room:</span>
                                  <span class="value"></span>
                                </li>
                              </ul>
                              <div class="claims_member_info-gradient"></div>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="Documents">
                        <div class="body_flex_column gap-32">
                            <div class="uploadDocument_head body_flex_column gap-2">
                              <h3 class="heading-20-black">Upload Documents</h3>
                              <p>Please upload the documents mentioned below. The files should be in .png / .jpg / .pdf  with less than 2 MB size per image.</p>
                            </div>
                            <div class="uploadDocument_optionsInfo row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <ul class="unorderList ul_withIcon">
                                  <li><img src="../../../../../assets/Img/icon_ud_kycid.svg">Any govt/KYC ID</li>
                                  <li><img src="../../../../../assets/Img/icon_ud_doctor_prescription.svg">Doctor’s Prescription</li>
                                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Consultation form</li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <ul class="unorderList ul_withIcon">
                                  <li><img src="../../../../../assets/Img/icon_ud_hospital_bill.svg">Hospital bill invoice</li>
                                  <li><img src="../../../../../assets/Img/icon_ud_neft.svg">NEFT/ Cancelled cheque/ Passbook</li>
                                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Claim form</li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <ul class="unorderList ul_withIcon">
                                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Investigation report</li>
                                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Hospital discharge form</li>
                                </ul>
                              </div>
                            </div>
                            <div class="uploadDocument_main">
                                <div class="uploadDocument_area" (click)="fileInput.click()">
                                    <div class="ud_area_left">
                                      <h6>Upload Documents</h6>
                                      <p>JPG/JPEG/BMP/PNG/PDF Files (up to 10MB)</p>
                                    </div>
                                    <div class="ud_area_right">
                                      <button type="button" class="btn_uploadDocument">
                                          <span class="upload_icon"><img src="../../../../../assets/Img/icon_upload_white.svg"></span>
                                          Upload
                                      </button>
                                    </div>
                                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;" multiple 
                            accept=".jpg, .jpeg, .pdf, .bmp, .png"/>
                                </div>
                
                
                
                                <div class="uploadDocument_listMain" *ngIf="uploadedFiles.length > 0">
                                  <div  class="uploadDocument_filesList">
                                    <div class="filesList_head">
                                      <div class="filesList_headLeft">Uploads:</div>
                                      <div class="filesList_headRight">{{ uploadStatus }}</div>
                                    </div>
                                    <div class="filesList_body">
                                      <ul class="uploadedFiles_main">
                                        <li *ngFor="let file of uploadedFiles; let i = index" class="uploadedFiles_item">
                                          <div class="uploadedFiles_headInfo">
                                            <div class="headInfo_item">
                                              <div class="editable-label" [ngClass]="{ 'editing': file.isEditing, 'edited': file.isEdited }">
                                                <ng-container *ngIf="!file.isEditing">
                                                  <span class="label-text">{{ file.label }}</span>
                                                  <button (click)="startEditing(file)" class="edit-button">
                                                    <img src="assets/Img/icon_pencil_blue.svg" alt="Edit">
                                                  </button>
                                                </ng-container>
                                                <ng-container *ngIf="file.isEditing">
                                                  <input
                                                    type="text"
                                                    [formControl]="editableControl"
                                                    (blur)="stopEditing(file)"
                                                    autofocus
                                                  />
                                                </ng-container>
                                              </div>
                                            </div>
                                            <div class="headInfo_item">
                                              <div class="upload-success" *ngIf="uploadSuccess"><img src="../../../../../assets/Img/icon_check_circle.svg"><span  class="success-text">Success</span></div> 
                                              <div class="upload-fail" *ngIf="!uploadSuccess"><img src="../../../../../assets/Img/icon_failure.svg"><span class="failed-text">Failed</span></div> 
                                              <div *ngIf="file.uploadDateTime">
                                                  <span class="date-time">{{ file.formattedUploadDateTime }}</span>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="uploadedFiles_info">
                                          <div class="uploadedFiles_infoItem">
                                            <span class="file-index">{{i+ 1}}</span>
                                              <h6>{{ file.name }}</h6>
                                              <p>{{ file.type }}</p>
                                          </div>
                                          <div class="uploadedFiles_infoItem">
                                            <button class="delete-button" (click)="deleteFile(file)">
                                              <img src="../../../../../assets/Img/icon_delete_red2.svg">
                                            </button>
                                            <div class="size-align">  <p>{{ convertBytesToKB(file.size) }}</p>
                                            </div>
                
                                          </div>
                                        </div>
                                        </li>
                                      </ul>
                                      
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                
                            <button class="button_red" type="button" (click)="submitClaim()">Submit</button>
                
                          </mat-tab>
                              <mat-tab label="Tracker">
                        <p>Tracker tab content goes here...</p>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
              
            </section>
            
<div class="container" style="display: none;">
    <div class="header">
      <div class="claim-info">
        <h2>{{ claim?.memberName }} <span>{{ claim?.policyNumber }}</span></h2>
        <p>{{ claim?.productName }} • {{ claim?.requestType }} • {{ claim?.claimStatus }}</p>
      </div>
      <div class="claim-amount">
        <p>Claim Amount</p>
        <h3>₹{{ claim?.claimedAmount }}</h3>
      </div>
      <div class="approved-amount">
      <p>Approved Amount:</p>
      <h3>₹{{ claim?.approvedAmount }}</h3>
  
    </div>
    </div>
  
    <div class="under-deficiency">
        <div class="deficiency">
            <p class="deficiency-text">Under Deficiency</p>
            <p>Kindly provide Aadhaar card and doctor's prescription</p>
        </div>
        <div class="upload-documents"> 
            <div><button class="upload-btn">Upload Documents</button></div>
           <div> <a href="#" class="view-details">View Details</a>
            <a href="#" class="care-manager">Care Manager</a>
        </div>
    </div>
    </div>
  
    <!-- Tabs -->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Claims Info">
        <div class="claims-info">
          <div class="member-policy">
            <h4>Member and Policy</h4>
            <p>Member Name: {{claim?.memberName}} </p>
            <p>Member ID: </p>
            <p>Policy No.: {{claim?.policyNumber}}</p>
            <p>Cover Type: </p>
          </div>
          <div class="claim-details">
            <h4>Claim Details</h4>
            <p>Raised On: {{claim?.ReportedDateTime}}</p>
            <p>Document Recv. Date: </p>
            <p>Coverage Name: </p>
            <p>Hospital Name:{{claim?.hospitalName}}</p>
            <p>Date of Recommendation: </p>
            <p>Date of Admission: </p>
            <p>Date of Discharge: </p>
            <p>Opted Room: </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Documents">
        <div class="body_flex_column gap-32">
            <div class="uploadDocument_head body_flex_column gap-2">
              <h3 class="heading-20-black">Upload Documents</h3>
              <p>Please upload the documents mentioned below. The files should be in .png / .jpg / .pdf  with less than 2 MB size per image.</p>
            </div>
            <div class="uploadDocument_optionsInfo row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <ul class="unorderList ul_withIcon">
                  <li><img src="../../../../../assets/Img/icon_ud_kycid.svg">Any govt/KYC ID</li>
                  <li><img src="../../../../../assets/Img/icon_ud_doctor_prescription.svg">Doctor’s Prescription</li>
                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Consultation form</li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <ul class="unorderList ul_withIcon">
                  <li><img src="../../../../../assets/Img/icon_ud_hospital_bill.svg">Hospital bill invoice</li>
                  <li><img src="../../../../../assets/Img/icon_ud_neft.svg">NEFT/ Cancelled cheque/ Passbook</li>
                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Claim form</li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <ul class="unorderList ul_withIcon">
                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Investigation report</li>
                  <li><img src="../../../../../assets/Img/icon_ud_consultation_form.svg">Hospital discharge form</li>
                </ul>
              </div>
            </div>
            <div class="uploadDocument_main">
                <div class="uploadDocument_area" (click)="fileInput.click()">
                    <div class="ud_area_left">
                      <h6>Upload Documents</h6>
                      <p>JPG/JPEG/BMP/PNG/PDF Files (up to 10MB)</p>
                    </div>
                    <div class="ud_area_right">
                       <button type="button" class="btn_uploadDocument">
                          <span class="upload_icon"><img src="../../../../../assets/Img/icon_upload_white.svg"></span>
                          Upload
                       </button>
                    </div>
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;" multiple 
            accept=".jpg, .jpeg, .pdf, .bmp, .png"/>
                </div>

 

                <div class="uploadDocument_listMain" *ngIf="uploadedFiles.length > 0">
                  <div  class="uploadDocument_filesList">
                    <div class="filesList_head">
                      <div class="filesList_headLeft">Uploads:</div>
                      <div class="filesList_headRight">{{ uploadStatus }}</div>
                    </div>
                    <div class="filesList_body">
                      <ul class="uploadedFiles_main">
                        <li *ngFor="let file of uploadedFiles; let i = index" class="uploadedFiles_item">
                          <div class="uploadedFiles_headInfo">
                            <div class="headInfo_item">
                              <div class="editable-label" [ngClass]="{ 'editing': file.isEditing, 'edited': file.isEdited }">
                                <ng-container *ngIf="!file.isEditing">
                                  <span class="label-text">{{ file.label }}</span>
                                  <button (click)="startEditing(file)" class="edit-button">
                                    <img src="assets/Img/icon_pencil_blue.svg" alt="Edit">
                                  </button>
                                </ng-container>
                                <ng-container *ngIf="file.isEditing">
                                  <input
                                    type="text"
                                    [formControl]="editableControl"
                                    (blur)="stopEditing(file)"
                                    autofocus
                                  />
                                </ng-container>
                              </div>
                            </div>
                            <div class="headInfo_item">
                              <div class="upload-success" *ngIf="uploadSuccess"><img src="../../../../../assets/Img/icon_check_circle.svg"><span  class="success-text">Success</span></div> 
                              <div class="upload-fail" *ngIf="!uploadSuccess"><img src="../../../../../assets/Img/icon_failure.svg"><span class="failed-text">Failed</span></div> 
                              <div *ngIf="file.uploadDateTime">
                                  <span class="date-time">{{ file.formattedUploadDateTime }}</span>
                              </div>
                            </div>
                        </div>
                        <div class="uploadedFiles_info">
                          <div class="uploadedFiles_infoItem">
                            <span class="file-index">{{i+ 1}}</span>
                              <h6>{{ file.name }}</h6>
                              <p>{{ file.type }}</p>
                          </div>
                          <div class="uploadedFiles_infoItem">
                            <button class="delete-button" (click)="deleteFile(file)">
                              <img src="../../../../../assets/Img/icon_delete_red2.svg">
                            </button>
                             <div class="size-align">  <p>{{ convertBytesToKB(file.size) }}</p>
                             </div>

                          </div>
                         </div>
                        </li>
                      </ul>
                      
                    </div>
                 </div>
            </div>
            </div>
            </div>


            <!-- <div class="document-section">
              <h4>Uploaded Documents</h4>
            
              <ul *ngIf="filesUploaded.length > 0" class="uploaded-documents">
                <li *ngFor="let file of filesUploaded; let i = index" class="document-item">
                  <div class="document-info">
                    <span>{{ i + 1 }}</span>
                    <div class="file-info">
                      <h6>{{ file.name }}</h6>
                      <p>{{ file.type }}</p>
                      <p>{{ (file.size / 1024).toFixed(2) }} KB</p>
                      <p>{{ file.uploadDateTime | date:'medium' }}</p>
                    </div>
                  </div>
                </li>
              </ul>
            
              <p *ngIf="filesUploaded.length === 0">No documents uploaded yet.</p>
            </div> -->
            <button class="button_red" type="button" (click)="submitClaim()">Submit</button>

          </mat-tab>
              <mat-tab label="Tracker">
        <p>Tracker tab content goes here...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  </div>
  </div>
  </main>
  
