 <!--LOB Status Update Popup start-->  
 <div class="popup-modal " id="modal-statusUpdate">
    <div class="popup-modal-dialog">
        <!--<button type="button" class="mobile-popup-btn-close jsClosePopup"  aria-label="modal-statusUpdate"></button>-->  
      <div class="popup-modal-content sorryError">
        <div class="popup-modal-header hideBlock">
        </div>
        <div class="popup-modal-body text-center">
          <div class="sorryErrorImg successInfoImg mb-4 mt-4">
              <img src="assets/Img/success_status_icon.svg" width="50px">  
          </div>
          <h6 class="popup-content-title">Updated!</h6>
            <p>This LOB status is updated successfully.</p>
        </div>
        <div class="popup-modal-footer justify-content-center">
          <button type="button" class="btn_Default btn_red btn_save btn_width_f jsClosePopup" aria-label="modal-statusUpdate" (click)="onClose()">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!--LOB Status Update Popup end-->
