<main class="siteBody">
  <div class="contentBody bodyColumns-1">
    <div class="bodyColumn body_flex_column">
      <div class="body_flex_row event-title">
        <h2 class="icon_withHeading" aria-hidden="true" (click)="navigateToListEvent()">
          <a class="btn_backPage" title="Back To List"></a>{{"Create Event" | translate}}
        </h2>
      </div>

      <form [formGroup]="saveEvent" (ngSubmit)="onSubmit()">
        <section class="white_container">
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <div class="input-block form-floating input-block-renew">
                <select class="form-select input-selectBox" id="eventType" name="eventType" formControlName="eventType">
                  <option value="" disabled selected>{{"Select event type" | translate}}</option>
                  <option *ngFor="let type of eventTypes" [value]="type.value">
                    {{ type.label }}
                  </option>
                </select>
                <label for="eventType">{{"Event Type" | translate}}<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" 
            *ngIf="saveEvent.get('eventType')?.value === 'Proposals' || 
                   saveEvent.get('eventType')?.value === 'lead'">
         <div class="input-block form-floating input-block-renew">
           <input 
             class="form-control input-textBox" 
             [matAutocomplete]="auto" 
             id="eventNumber" 
             name="eventNumber"
             formControlName="eventNumber" 
             (keyup)="filterReferenceList($event)" 
             placeholder="" 
           />
           <label for="eventNumber">
             {{ (saveEvent.get('eventType')?.value === 'Proposals' ? 
                 'Proposal Number' : 'Lead Number') | translate }}
                 <span class="text-danger">*</span> </label>
         </div>
         <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onReferenceNumberSelect($event.option.value)">
           <mat-option *ngFor="let item of filteredReferenceList" 
                       [value]="saveEvent.get('eventType')?.value === 'Proposals' ? 
                                item.proposalNum : item.leadNumber">
             {{ saveEvent.get('eventType')?.value === 'Proposals' ? 
                 item.proposalNum : item.leadNumber }}
           </mat-option>
         </mat-autocomplete>
       </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="text" class="form-control input-textBox" id="customerName" name="customerName" formControlName="customerName"
                  placeholder="" pattern="^[A-Za-z\s]+$">
                <label for="customerName">{{"Customer Name" | translate}}<span class="text-danger">*</span></label>
                <div *ngIf="saveEvent.get('customerName')?.invalid && (saveEvent.get('customerName')?.dirty || saveEvent.get('customerName')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('customerName')?.errors?.['required']">
                    {{"Customer name is required" | translate}}
                  </div>
                  <div class="text-danger" *ngIf="saveEvent.get('customerName')?.errors?.['pattern']">
                    {{"Customer name should contain only letters and spaces" | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="text" class="form-control input-textBox" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber"
                  placeholder="">
                <label for="mobileNumber">{{"Mobile No." | translate}}<span class="text-danger">*</span></label>
                <div
                  *ngIf="saveEvent.get('mobileNumber')?.invalid && (saveEvent.get('mobileNumber')?.dirty || saveEvent.get('mobileNumber')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('mobileNumber')?.errors?.['required']">{{"Mobile number
                    is required" | translate}}</div>
                  <div class="text-danger" *ngIf="saveEvent.get('mobileNumber')?.errors?.['pattern']">{{"Invalid mobile
                    number" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="text" class="form-control input-textBox" id="activityTitle" name="activityTitle" formControlName="activityTitle"
                  placeholder="" pattern="^[A-Za-z\s]+$">
                <label for="activityTitle">{{"Activity Title" | translate}}<span class="text-danger">*</span></label>
                <div *ngIf="saveEvent.get('activityTitle')?.invalid && (saveEvent.get('activityTitle')?.dirty || saveEvent.get('activityTitle')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('activityTitle')?.errors?.['required']">
                    {{"Activity title is required" | translate}}.
                  </div>
                  <div class="text-danger" *ngIf="saveEvent.get('activityTitle')?.errors?.['pattern']">
                    {{"Activity title should contain only letters and spaces" | translate}}.
                  </div>
                </div>
              </div>              
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <select class="form-select input-selectBox" id="activityType" name="activityType" formControlName="activityType">
                  <option value="" disabled selected>{{"Choose option" | translate}}</option>
                  <option *ngFor="let type of activityTypes" [value]="type.value">{{ type.label | translate }}</option>
                </select>
                <label for="activityType">{{"Select Activity Type" | translate}}<span
                    class="text-danger">*</span></label>
                <div
                  *ngIf="saveEvent.get('activityType')?.invalid && (saveEvent.get('activityType')?.dirty || saveEvent.get('activityType')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('activityType')?.errors?.['required']">{{"Activity type
                    is required" | translate}}</div>
                </div>
              </div>
            </div>
          
          </div>

          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="date" class="form-control input-textBox" id="startDate" name="startDate" formControlName="startDate">
                <label for="startDate">{{"Activity Start Date" | translate}}<span class="text-danger">*</span></label>
                <div
                  *ngIf="saveEvent.get('startDate')?.invalid && (saveEvent.get('startDate')?.dirty || saveEvent.get('startDate')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('startDate')?.errors?.['required']">{{"Start date is
                    required" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="time" class="form-control input-textBox" id="startTime" name="startTime" formControlName="startTime">
                <label for="startTime">{{"Activity Start Time" | translate}}<span class="text-danger">*</span></label>
                <div
                  *ngIf="saveEvent.get('startTime')?.invalid && (saveEvent.get('startTime')?.dirty || saveEvent.get('startTime')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('startTime')?.errors?.['required']">{{"Activity Start time is
                    required" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <div class="input-block form-floating input-block-renew">
                <input type="time" class="form-control input-textBox" id="endTime" name="endTime" formControlName="endTime">
                <label for="endTime">{{"Activity End Time" | translate}}<span class="text-danger">*</span></label>
                <div
                  *ngIf="saveEvent.get('endTime')?.invalid && (saveEvent.get('endTime')?.dirty || saveEvent.get('endTime')?.touched)">
                  <div class="text-danger" *ngIf="saveEvent.get('endTime')?.errors?.['required']">{{"Activity End time is
                    required" | translate}}.</div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row mb-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
            <div class="input-block form-floating input-block-renew">
              <input type="date" class="form-control input-textBox" id="endDate" name="endDate" formControlName="endDate">
              <label for="endDate">{{"Activity End Date" | translate}}<span class="text-danger">*</span></label>
              <div
                *ngIf="saveEvent.get('endDate')?.invalid && (saveEvent.get('endDate')?.dirty || saveEvent.get('endDate')?.touched)">
                <div class="text-danger" *ngIf="saveEvent.get('endDate')?.errors?.['required']">{{"Activity End date is
                  required" | translate}}.</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
            <div class="input-block form-floating input-block-renew">
              <input type="text" class="form-control input-textBox" id="note" name="note" formControlName="note" placeholder="" pattern="^[A-Za-z0-9\s.,!?;:()-]*$">
              <label for="note" class="form-label">{{"Note" | translate}}<span class="text-danger">*</span></label>
              <div *ngIf="saveEvent.get('note')?.invalid && (saveEvent.get('note')?.dirty || saveEvent.get('note')?.touched)">
                <div class="text-danger" *ngIf="saveEvent.get('note')?.errors?.['required']">
                  {{"Note is required." | translate}}
                </div>
                <div class="text-danger" *ngIf="saveEvent.get('note')?.errors?.['pattern']">
                  {{"Note should contain letters, numbers, spaces, and certain punctuation marks (.,!?;:()-)." | translate}}
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" id="save" name="save" class="btn_red" [disabled]="isSubmitting">
              {{"Save" | translate}}
            </button>
            <!-- <button type="button" class="btn btn-secondary ms-2">Cancel</button> -->
          </div>
        </section>
      </form>
    </div>
  </div>
</main>