.main-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;

  .box {
    padding: 1% 1%;
    margin: 1% 4%;
    // border: 1px solid #000000;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    box-shadow: 0 2px 3px 0 rgba(73, 73, 73, 0.2), 0 3px 10px 0 rgba(73, 73, 73, 0.19);
    transition: border-color 0.3s ease;

    &.cardItem {
      padding: 2%;
      margin: 5% 1% 2% 3%;
      width: 70%;

      @media (max-width:820px) {
        width: 48%;
      }

      @media (max-width:767px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .product-item {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      color: rgb(21, 21, 99);
      margin: 2%;
    }

    p {
      font-size: 12px;
      margin: 2%;
    }

    // .product-button {

    //   // float: right;
    //   .get {
    //     background: #C7222A;
    //     color: #ffffff;
    //     border: 1px solid #C7222A;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }

    //   .get1 {
    //     background: #FFE7E5;
    //     color: #C7222A;
    //     border: 1px solid #FFE7E5;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }

    //   .get2 {
    //     background: #F9FAFB;
    //     color: #4C4C4C;
    //     border: 1px solid #F9FAFB;
    //     border-radius: 8px;
    //     padding: 1% 7%;
    //     margin: 1% 4%;
    //   }
    // }

    .custom-tabview {
      .top-box {
        width: 100%;
        position: relative;
        overflow: hidden;

        .top-container {
          overflow-x: auto;
          scrollbar-width: thin;
          scrollbar-color: transparent transparent;
        }
      }

      .bottom-box {

        h3 {
          font-family: "Noto Sans", sans-serif;
          font-size: 16px;
        }

        ul {
          padding-left: 20px;
        }

        li {
          font-family: "Noto Sans", sans-serif;
          font-size: 14px;
        }

        .row {
          display: flex;
          flex-direction: row;

          .card {
            background: #F9FAFB;
            padding: 4%;
            border: none;
            border-radius: 12px;
            width: 45%;
            margin: 2%;
          }
        }
      }



    }

  }
}

:host::ng-deep .top-container {
  .p-tabview-nav {
    display: flex;
    border: none;
    background: transparent;

    li {
      margin-right: 2px;

      .p-tabview-nav-link {
        border: none;
        padding: 8px 25px;
        background-color: #fff;
        color: #000;
        font-family: "Noto Sans", sans-serif;
        font-size: 14px;
      }

      &.p-highlight .p-tabview-nav-link {
        background: #C7222A;
        color: #ffffff;
        border: none;
        border-radius: 8px;
      }
    }
  }

  .p-tabview-panels {
    padding: 1rem 0;
  }
}

@media (max-width:767px) {
  .main-container .right-panel-product {
    width: 100%;
    padding-left: 0;
  }
}