<div class="part-1">
    <div class="main-container">
        <form [formGroup]="AgentForm">
            <div class="card-body rectangle">
                <div class="card-header">Add Agency Details</div>
                <div class="col-md-6 typecss">
                    <label>Agency Code <span>*</span></label>
                    <input formControlName="agencyCode" class="line-border" type="number">
                    <small *ngIf="AgentForm.controls['agencyCode'].dirty && AgentForm.hasError('required','agencyCode')" class="text-danger">*
                        AgencyCode is required
                    </small>
                </div>
                <div class="col-md-6 typecss">
                    <label>Agency Name <span>*</span></label>
                    <input formControlName="agencyName" class="line-border" type="text">
                    <small *ngIf="AgentForm.controls['agencyName'].dirty && AgentForm.hasError('required','agencyName')" class="text-danger">*
                        Agency is required
                    </small>
                </div>   

                <br>
                <div class="btn-container card-body">
                    <button class="btn btn-primary nextbtn" (click)="onSubmit()">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="part-2">
    <h4>All Agency Details</h4>
    <p-table [value]="allAgency" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="auto" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="header">
            <tr class="custom-header">
                <th id="agencyCodeHeader" pSortableColumn="agencyCode">Agency Code <p-sortIcon field="agencyCode"></p-sortIcon></th>
                <th id="agencyNameHeader" pSortableColumn="agencyName">Agency Name <p-sortIcon field="agencyName"></p-sortIcon></th>
                <th id="agencyStatusHeader" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th id="agencyCreateDateHeader" pSortableColumn="created_Date">Created Date <p-sortIcon field="created_Date"></p-sortIcon></th>
                <th id="agencyHeader"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.agencyCode}}</td>
                <td>{{data.agencyName}}</td>
                <td>
                    <ng-container *ngIf="data.status === true; else inactiveBlock">
                        <span style="color: green;">Active</span>
                      </ng-container>
                      <ng-template #inactiveBlock>
                        <span style="color: red;">Inactive</span>
                    </ng-template>
                </td>
                <td>{{data.created_Date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td><i style="cursor: pointer;color: green;font-size: 16px;" class="fa-solid fa-pen-to-square" (click)="showDialog(data)"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Edit Agency Details" [modal]="true" [(visible)]="visible" [style]="{width: '50vw'}" [draggable]="false" [maximizable]="true">
    <form [formGroup]="AgentForm">
        <div class="card-body rectangle">
            <div class="col-md-6 typecss">
                <label>Agency Code <span>*</span></label>
                <input style="background: rgba(211, 209, 209, 0.644);" formControlName="agencyCode" class="line-border" type="number" readonly>
                <small *ngIf="AgentForm.controls['agencyCode'].dirty && AgentForm.hasError('required','agencyCode')" class="text-danger">*
                    AgencyCode is required
                </small>
            </div>
            <div class="col-md-6 typecss">
                <label>Agency Name <span>*</span></label>
                <input formControlName="agencyName" class="line-border" type="text">
                <small *ngIf="AgentForm.controls['agencyName'].dirty && AgentForm.hasError('required','agencyName')" class="text-danger">*
                    AgencyName is required
                </small>
            </div>
            <div class="col-md-6 typecss">
                <div style="display: flex;justify-content: space-between;">
                    <label>Bank Status </label>
                    <p-inputSwitch formControlName="status"></p-inputSwitch>
                </div>
            </div>      

            <br>
            <div class="btn-container card-body">
                <button class="btn btn-primary nextbtn" (click)="onUpdate()">Save</button>
            </div>
        </div>
    </form>
</p-dialog>