
<!-- <div class="modal-body">
    {{ data.message }}
</div>
<div class="modal-footer">
    <input class="btn btn-primary" style="margin:0px 10px;" type="button" value="Ok" [mat-dialog-close]="true">
</div> -->
<!-- <h2 mat-dialog-title></h2> -->
<div style="color: #191919;font-size: 20px !important;font-weight: bolder !important;font-family: PFHandbookPro-Medium;">{{ data?.message }}</div>
<hr style="padding: 0;margin: 0;">
<div style="justify-content: end;" class="modal-footer">
    <input class="btn btn-primary" style="margin:0px 10px;box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);background-color: #f7a500 !important;
    border-color: #f7a500 !important;padding: 5px;" type="button" value="Ok">

  <!-- <button mat-button mat-dialog-close>Close</button> -->
</div>