.modal-body {
    /* position: relative; */
    /* flex: 1 1 auto; */
    padding: 1rem !important;
    /* margin-left: 136px !important; */
    font-size: 20px !important;
    font-weight: bolder !important;
    font-family: PFHandbookPro-Medium;
}

.modal-footer{
    height: 55px;
    padding: 8px 25px !important;
}