<!-- Modal Start-->
<div class="modal popupModalMain show fade" id="paymentDetailsModal" tabindex="-1" aria-labelledby="paymentDetailsModalLabel"
    aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Payment Details</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 data-item">
                        <label>Lead Number</label>
                        <h6>9342327657552</h6>
                    </div>
                    <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 data-item">
                        <label>Name</label>
                        <h6>Jiya</h6>
                    </div>
                    <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 data-item">
                        <label>Mobile Number</label>
                        <h6>9550971874</h6>
                    </div>
                    <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 data-item">
                        <label>Amount</label>
                        <h6>₹19,582</h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="proceedToSubmit()" id="btn-proceed" name="btn-proceed" class="btn_red btn_fullWidth">Proceed</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->


