.tableSubMain .table thead tr, .tableSubMain .table thead tr th,
.tableSubMain .table tbody td {
  background: transparent;
}
.tableSubMain .table td {
  vertical-align: top;
  color: #2e2e2e;
}
.tableSubMain .table .base_quoteRow td {
    background: var(--site-basequote-bg) !important;
}
.typography h5{
   margin:0px 0px 0px !important;
}
.quote-table-bodyScroll {
  display: table;
  width: 100%;
  thead {
    border-radius: 16px 16px 0 0;
  }
  thead, tbody {
    th:first-child, td:first-child{
      width: 180px;
    }
  }
  thead, tr, tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  tbody {
    display: block;
    width: 100%;
    table-layout: fixed;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}