      <main class="siteBody">
        <div class="contentBody bodyColumns-1">
            <div class="bodyColumn userQuotes" *ngIf="subQuotes === false" >
                <section class="UQ_viewWraper">
                    <div class="UQ_heading">
                        <h2><span class="userimg"><img src="assets/Img/user_img.svg"></span>Ishwar Vidyarthi’s Quotes</h2>
                    </div>
                    <div class="UQ_optionsWraper">
                        <button type="button" value="download" class="btn_downloadQuote"><img src="assets/Img/icon_download_grey.svg" alt="Download"></button>
                        <button type="button" value="gridcard" class="btn_grid btn_grid_text jsBtnClickQuote mobile-hide" aria-label="userquotes-card" [ngClass]="{'active': selectedView === 'grid'}" (click)=" quotesView('grid')"><img src="assets/Img/icon_grid_box_grey.svg" alt="Grid Card">Grid View</button>
                        <button type="button" value="gridlist" class="btn_grid btn_grid_text active jsBtnClickQuote mobile-hide" aria-label="userquotes-list" [ngClass]="{'active': selectedView === 'list'}" (click)=" quotesView('list')"><img src="assets/Img/icon_grid_list_grey.svg" alt="Grid List">List View</button>
                    </div>
                </section>
                <section id="userquotes-list" class="tableMain user-quoteView mobile-hide" *ngIf="selectedView == 'list'">
                    <div class="tableSubMain">
                        <div class="table-responsive">
                            <table class="table table-borderless table-search">
                              <thead>
                                <tr>
                                  <th scope="col" class="head_quoteType">Quote Type</th>
                                  <th scope="col">Proposer</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">Policy No.</th>
                                  <th scope="col">Renewal Premium </th>
                                  <th scope="col">Mobile No.</th>
                                  <th scope="col">Date of Renewal</th>
                                  <th scope="col">Modification</th>
                                  <th scope="col">Notice</th>
                                </tr>
                              </thead>
                              <tbody class="table-group-divider">
                                <tr class="base_quoteRow">
                                  <td class="base_quote">
                                      <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="base-quote1" value="base-quote" class="input-check" >
                                            <label for="base-quote1">Base Quote1</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" aria-label="item-moreaction"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                        <!--More Action items start-->
                                        <div id="item-moreaction" class="overlay_popupMenu_Main moreActionItems">
                                            <div class="overlay_popupMenu_Sub moreActionItemsSub">
                                                <ul class="actionItemsMain">
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_download2_grey.svg" alt="Download"><span>Download</span></a>
                                                    </li>
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_delete_grey.svg" alt="Delete"><span>Delete</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--More Action items end-->
                                        
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="sub_quote">
                                    <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="sub-quote1" value="sub-quote" class="input-check" >
                                            <label for="sub-quote1">Sub Quote1</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img//icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" ><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="sub_quote">
                                    <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="sub-quote2" value="sub-quote" class="input-check" >
                                            <label for="sub-quote2">Sub Quote2</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" ><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                    </div>
                                  </td>
                                </tr>
                                <tr class="base_quoteRow">
                                  <td class="base_quote">
                                      <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="base-quote2" value="base-quote" class="input-check" >
                                            <label for="base-quote2">Base Quote2</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" aria-label="item-moreaction"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                        <!--More Action items start-->
                                        <div id="item-moreaction" class="overlay_popupMenu_Main moreActionItems">
                                            <div class="overlay_popupMenu_Sub moreActionItemsSub">
                                                <ul class="actionItemsMain">
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_download2_grey.svg" alt="Download"><span>Download</span></a>
                                                    </li>
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_delete_grey.svg" alt="Delete"><span>Delete</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--More Action items end-->
                                        
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="sub_quote">
                                    <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="sub-quote11" value="sub-quote" class="input-check" >
                                            <label for="sub-quote11">Sub Quote1</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" ><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="sub_quote">
                                    <div class="input-checkbox-block">
                                        <div class="input-checkbox-feild">
                                            <input type="checkbox" id="sub-quote22" value="sub-quote" class="input-check" >
                                            <label for="sub-quote22">Sub Quote2</label>
                                        </div>
                                      </div>
                                  </td>
                                  <td>Krishnan Swami</td>
                                  <td><span class="productName">Activ Fit</span></td>
                                  <td>23-22-0175217-00</td>
                                  <td>₹25,000
                                    <div class="text-green">
                                        HR benefits of ₹796 added
                                    </div>  
                                  </td>
                                  <td>9321075751</td>
                                  <td>2023-03-15</td>
                                  <td><span class="table-modification">Member Deleted, Tenure 2 Year</span></td>
                                  <td>
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreAction" ><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td colspan="9" align="right">
                                        <button type="button" value="compareselected" class="btn_compareSelected"  (click)="compareQuotes()">Compare Selected</button>
                                      </td>
                                  </tr>
                              </tfoot>
                            </table>
                        </div>
                    </div>
                </section>
                <!--Table Main end-->
                
                <!--Card view Main start-->
                <section id="userquotes-card" class="cardViewMain user-quoteView userGridView mobile-block" *ngIf="selectedView == 'grid' ">
                    <div class="cardViewWraper">
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 1</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                        
                                        <!--More Action items start-->
                                        <div id="item-moreactionCard" class="moreActionItems overlay_popupMenu_Main mobile_popupBackdrop">
                                            <div class="moreActionItemsSub overlay_popupMenu_Sub mobile_popupMain">
                                                <div class="mobile_goBack">
                                                    <button type="button" class="btn_white btn_goBack" aria-label="item-moreactionCard"><img src="assets/Img/icon_arrow_down_red.svg">Go back</button>
                                                </div>
                                                <ul class="actionItemsMain">
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_download2_grey.svg" alt="Download"><span>Download</span></a>
                                                    </li>
                                                    <li class="actionItem">
                                                        <a href="#"><img src="assets/Img/icon_delete_grey.svg" alt="Delete"><span>Delete</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--More Action items end-->
                                        
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                        
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 1</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                        
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 2</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                        
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 3</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                        
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 4</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                        
                        <!--Card item start-->
                        <div class="cardViewItem">
                            <header>
                                <div class="card_insureInfo">
                                    <h6>
                                        <div class="insureName">Base Quote 5</div>
                                    </h6>
                                    <div class="item_productName">Sub Quote 1</div>
                                </div>
                                <div class="card_btnGroup">
                                    <div class="btn_groupAction">
                                        <button type="button" value="edit" title="Edit" class="btn_action btn_editAction"><img src="assets/Img/icon_edit_grey.svg"></button>
                                        <button type="button" value="renewal" title="Renewal" class="btn_action btn_renewalAction"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                        <button type="button" value="more" title="More" class="btn_action btn_moreActionCard" aria-label="item-moreactionCard"><img src="assets/Img/icon_dots_vertical_grey.svg"></button>
                                    </div>
                                </div>
                            </header>
                            <div class="cardViewBody">
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Product</div>
                                    <div class="item_value">Active User</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Policy No.</div>
                                    <div class="item_value">23-22-0175217-00</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Proposer</div>
                                    <div class="item_value">Krishnan</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Renewal Premium</div>
                                    <div class="item_value">₹25,000</div>
                                    <div class="item_value2 text-green">HR benefits of ₹786 added</div>
                                </div>
                                <div class="cv_bodyItems">
                                    <div class="item_lable">Mobile No.</div>
                                    <div class="item_value">9321075751</div>
                                </div>
                                <div class="cv_bodyItems ">
                                    <div class="item_lable">Date of Renewal</div>
                                    <div class="item_value">2023-03-15</div>
                                </div>
                                <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                    <span class="modifiedBadge">Modified</span>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Members</div>
                                        <div class="item_value">1 Member Added</div>
                                    </div>
                                    <div class="userInfoItem">
                                        <div class="item_lable">Tenure</div>
                                        <div class="item_value">1 Year</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--Card item end-->
                    </div>
                </section>
                <!--Card view Main end-->
                
            </div> 
            <div class="bodyColumn body_flex_column quoteComparison" *ngIf="subQuotes == true">
                <h3 class="icon_withHeading"><a class="btn_backPage"></a>Active Assure Diamond - Quote Comparison</h3>
                <!--Quote Comparison Start-->
                <section class="quoteComparisonWraper">
                    <div class="qc_item qc_item1">
                        <header>Quote <br>Comparison</header>
                        <div class="upgradeInfo">Upgrade Recommendations</div>
                        <div class="qc_info">Members</div>
                        <div class="qc_info qc_info_grey">Nominee</div>
                        <div class="qc_info qc_infoCover">
                            <ul>
                                <li>Optional Covers</li>
                            </ul>
                        </div>
                        <div class="qc_info qc_info_grey">Room</div>
                        <div class="qc_empty"></div>
                    </div>
                    <div class="qc_item qc_item2">
                        <div class="qc_itemSubMain">
                            <div class="qc_item">
                                <header>
                                    <div class="heading">
                                        <h5>Base Quote</h5>
                                        <h6>₹6,863*<span>/year</span></h6>
                                    </div>
                                    <button type="button" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                                </header>
                                <div class="upgradeInfo">10% Off on 2 years tenure</div>
                                <div class="qc_info">You, Spouse, Father</div>
                                <div class="qc_info qc_info_grey">Rakesh</div>
                                <div class="qc_info qc_infoCover">
                                    <ul>
                                        <li>Cancer secure cover</li>
                                    </ul>
                                </div>
                                <div class="qc_info qc_info_grey">Private AC <img src="assets/Img/icon_benefit.svg"></div>
                                <div class="qc_empty"></div>
                            </div>
                            <div class="qc_item">
                                <header>
                                    <div class="heading">
                                        <h5>Sub Quote 1</h5>
                                        <h6>₹7,937*<span>/year</span></h6>
                                    </div>
                                    <button type="button" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                                </header>
                                <div class="upgradeInfo">12% Off on 2 years tenure</div>
                                <div class="qc_info">You, Spouse</div>
                                <div class="qc_info qc_info_grey">Rakesh, Simran</div>
                                <div class="qc_info qc_infoCover">
                                    <ul>
                                        <li>Cancer secure cover</li>
                                    </ul>
                                </div>
                                <div class="qc_info qc_info_grey">Private Non-AC</div>
                                <div class="qc_empty"></div>
                            </div>
                            <div class="qc_item">
                                <header>
                                    <div class="heading">
                                        <h5>Sub Quote 2</h5>
                                        <h6>₹8,452*<span>/year</span></h6>
                                    </div>
                                    <button type="button" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                                </header>
                                <div class="upgradeInfo">15% Off on 2 years tenure</div>
                                <div class="qc_info">You, Spouse, 2 Children</div>
                                <div class="qc_info qc_info_grey">Anjali</div>
                                <div class="qc_info qc_infoCover">
                                    <ul>
                                        <li>Personal accident cover </li>
                                        <li>Cancer secure cover <img src="assets/Img/icon_benefit.svg"></li>
                                    </ul>
                                </div>
                                <div class="qc_info qc_info_grey">Private Non-AC</div>
                                <div class="qc_empty"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Quote Comparison end-->
            </div>   
        </div>
        <!--Main Columns end-->
      </main>
      <!--Body end-->