<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn userQuotes" *ngIf="subQuotes === false">
            <section class="UQ_viewWraper">
                <div class="UQ_heading">
                    <h2>{{ subQuotesList[0].policyOwnerName }} ({{ subQuotesList[0].policyNumber }})</h2>
                </div>
                <div class="UQ_optionsWraper">
                    <button type="button" value="gridcard" id="cardView" name="cardView" class="btn_grid btn_grid_text jsBtnClickQuote mobile-hide" aria-label="userquotes-card" [ngClass]="{'active': selectedView === 'grid'}" (click)=" quotesView('grid')"><img src="assets/Img/icon_grid_box_grey.svg" alt="Grid Card">{{"Grid View" | translate}}</button>
                    <button type="button" value="gridlist" id="gridView" name="gridView" class="btn_grid btn_grid_text active jsBtnClickQuote mobile-hide" aria-label="userquotes-list" [ngClass]="{'active': selectedView === 'list'}" (click)=" quotesView('list')"><img src="assets/Img/icon_grid_list_grey.svg" alt="Grid List">{{"List View" | translate}}</button>
                </div>
            </section>
            <section id="userquotes-list" class="tableMain user-quoteView mobile-hide" *ngIf="selectedView == 'list'">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search quote-table-bodyScroll-1">
                            <thead>
                                <tr>
                                    <th scope="col" class="head_quoteType">{{"Quote Type" | translate}}</th>
                                    <th scope="col">{{"Product" | translate}}</th>
                                    <th scope="col">{{"Renewal Premium" | translate}} </th>
                                    <th scope="col">{{"Mobile No." | translate}}</th>
                                    <th scope="col">{{"Date of Renewal" | translate}}</th>
                                    <th scope="col">{{"Modification" | translate}}</th>
                                    <th scope="col">{{"Action" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let quote of subQuotesList; let i = index" [ngClass]="quote.isBaseQuote ? 'base_quoteRow' : ''">
                                    <td  [ngClass]="quote.isBaseQuote ? 'base_quote' : 'sub_quote'">
                                        <div class="input-checkbox-block">
                                            <div class="input-checkbox-feild">
                                                <input type="checkbox" id="quote-{{ i }}" name="" [(ngModel)]="quote.selected" value="base-quote" class="input-check">
                                                <label for="quote-{{ i }}">{{ quote.isBaseQuote ? 'Base Quote' : 'Sub Quote' }}</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="productName">{{ quote.productCode | translate }}</span></td>
                                    <td>₹{{quote.annualPremium}}
                                        <div class="text-green">
                                            {{"HR benefits of ₹796 added" | translate}}
                                        </div>
                                    </td>
                                    <td>{{quote.mobile}}</td>
                                    <td>{{ quote.policyRenewalDate | date: 'yyyy-MM-dd' }}</td>
                                    <td><span class="table-modification">{{quote.comment}}, {{"Tenure" | translate}} {{quote.tenure}} {{"Year" | translate}}</span></td>
                                    <td>
                                        <div class="btn_groupAction">
                                            <button type="button" id="editBtn" name="editBtn" value="edit" title="Edit" class="btn_action btn_editAction" (click)="handleAction(quote, 'withmodify')"><img src="assets/Img/icon_edit_grey.svg"></button>
                                            <button type="button" id="renewBtn" name="renewBtn" value="renewal" title="Renewal" class="btn_action btn_renewalAction" (click)="handleAction(quote, 'withoutmodify')"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                            <!-- <button type="button" value="download" title="Download" class="btn_action btn_moreAction"><img src="assets/Img/icon_download_grey.svg" alt="Download"></button> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" align="right">
                                        <button type="button" id="compareBtn" name="compareBtn" value="compareselected" class="btn_compareSelected" (click)="compareQuotes()">{{"Compare Selected" | translate}}</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
            <section id="userquotes-card" class="cardViewMain user-quoteView userGridView mobile-block" *ngIf="selectedView == 'grid' ">
                <div class="cardViewWraper">
                    <div class="cardViewItem" *ngFor="let quote of subQuotesList; let i = index">
                        <header>
                            <div class="card_insureInfo">
                                <h6>
                                    <div class="insureName">{{ quote.isBaseQuote ? 'Base Quote' : 'Sub Quote' }}</div>
                                </h6>
                            </div>
                            <div class="card_btnGroup">
                                <div class="btn_groupAction">
                                    <button type="button" id="editBtn" name="editBtn" value="edit" title="Edit" class="btn_action btn_editAction" (click)="handleAction(quote, 'withmodify')"><img src="assets/Img/icon_edit_grey.svg"></button>
                                    <button type="button" id="renewBtn" name="renewBtn" value="renewal" title="Renewal" class="btn_action btn_renewalAction" (click)="handleAction(quote, 'withoutmodify')"><img src="assets/Img/icon_renewable_energy_grey.svg"></button>
                                    <!-- <button type="button" value="download" title="Download" class="btn_action btn_moreAction"><img src="assets/Img/icon_download_grey.svg" alt="Download"></button> -->
                                </div>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <div class="cv_bodyItems">
                                <div class="item_lable">{{"Product" | translate}}</div>
                                <div class="item_value">{{ quote.productCode }}</div>
                            </div>
                            <div class="cv_bodyItems">
                                <div class="item_lable">{{"Renewal Premium" | translate}}</div>
                                <div class="item_value">₹{{quote.annualPremium}}</div>
                                <div class="item_value2 text-green">{{"HR benefits of ₹786 added" | translate}}</div>
                            </div>
                            <div class="cv_bodyItems">
                                <div class="item_lable">{{"Mobile No." | translate}}</div>
                                <div class="item_value">{{quote.mobile}}</div>
                            </div>
                            <div class="cv_bodyItems ">
                                <div class="item_lable">{{"Date of Renewal" | translate}}</div>
                                <div class="item_value">{{ quote.policyRenewalDate | date: 'yyyy-MM-dd' }}</div>
                            </div>
                            <div class="cv_bodyItems cv_bodyItems_100 userInfo">
                                <span class="modifiedBadge">{{"Modified" | translate}}</span>
                                <div class="userInfoItem">
                                    <div class="item_lable">{{"Members" | translate}}</div>
                                    <div class="item_value">{{quote.comment}}</div>
                                </div>
                                <div class="userInfoItem">
                                    <div class="item_lable">{{"Tenure" | translate}}</div>
                                    <div class="item_value">{{quote.tenure}} Year</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="bodyColumn body_flex_column quoteComparison" *ngIf="subQuotes == true">
            <h3 class="icon_withHeading"><a class="btn_backPage" (click)="backSubquotes()"></a>{{"Quote Comparison" | translate}}</h3>
            <section class="quoteComparisonWraper">
                <div class="qc_item qc_item1">
                    <header>{{"Quote" | translate}}
                        <br>{{"Comparison" | translate}}</header>
                    <div class="upgradeInfo">{{"Upgrade Recommendations" | translate}}</div>
                    <div class="qc_info">{{"Members" | translate}}</div>
                    <div class="qc_info qc_info_grey">{{"Nominee" | translate}}</div>
                    <div class="qc_info qc_infoCover">
                        <ul>
                            <li>{{"Optional Covers" | translate}}</li>
                        </ul>
                    </div>
                    <div class="qc_info qc_info_grey">{{"Room" | translate}}</div>
                    <div class="qc_empty"></div>
                </div>
                <div class="qc_item qc_item2">
                    <div class="qc_itemSubMain">
                        <div *ngFor="let quote of selectedQuotes" class="qc_item">
                            <header>
                                <div class="heading">
                                    <h5>{{ quote.isBaseQuote ? 'Base Quote' : 'Sub Quote' }}</h5>
                                    <h6>₹{{ quote.annualPremium }}<span>{{quote.tenure}}{{"/year" | translate}}</span></h6>
                                </div>
                                <button type="button" id="buyPlan" name="buyPlan" value="buyplan" class="btn_red btn_buyPlan" (click)="handleAction(quote, 'withoutmodify')">{{"Buy Plan" | translate}}</button>
                            </header>
                            <div class="upgradeInfo">{{ quote.discountPercentage }} Off on {{ quote.tenure }} {{"years" | translate}} {{"tenure" | translate}}</div>
                            <div class="qc_info">
                                <span *ngFor="let member of quote.members; let i = index">
                                    {{ member.Relation | translate }}<span *ngIf="i < quote.members.length - 1">, </span>
                                </span>
                            </div>
                            <div class="qc_info qc_info_grey">{{ quote.nomineeDetails?.nominee_first_name }} {{ quote.nomineeDetails?.nominee_last_name }}</div>
                            <div class="qc_info qc_infoCover">
                                <ul>
                                    <li>{{"Cancer secure cover" | translate}}</li>
                                </ul>
                            </div>
                            <div class="qc_info qc_info_grey">
                                <span *ngFor="let member of quote.members; let i = index">
                                    {{ member.roomCategory || 'N/A' }}<span *ngIf="i < quote.members.length - 1">, </span>
                                </span>
                            </div>
                            <div class="qc_empty"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>