<div class="main-container">
    <h2>Edit Member Details</h2>
    <div class="profile-heading">
        <div class="profile-tabs">
            <ul class="tab-actions">
                <li id="tab1" class="selected">Member Details</li>
                <li id="tab2">Contact Details</li>
                <li id="tab3">Nominee Details</li>
            </ul>
        </div>
        <div class="profile-tabs-action">
            <div>
                <span>You can’t edit the details as you’re not the primary proposer of this policy</span>
            </div>
            <div>
                <span>Shailija Rawat - 100005411</span>
            </div>
        </div>
    </div>
    <div class="profile-details">
        <div>
            <img src="../../assets/images/Vic.png" />
        </div>
        <div class="profile-fields">
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/name.png" />
                    </div>
                    <div>
                        <p>Name</p>
                        <p class="bind_profile">Ajay</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/phone.png" />
                    </div>
                    <div>
                        <p>Mobile Number</p>
                        <p class="bind_profile">8639166360</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/phone.png" />
                    </div>
                    <div>
                        <p>Mobile Number</p>
                        <p class="bind_profile">8639166360</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/email.png" />
                    </div>
                    <div>
                        <p>Email ID</p>
                        <p class="bind_profile">dfhrthrthtrh</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/gender.png" />
                    </div>
                    <div>
                        <p>Gender</p>
                        <p class="bind_profile">Male</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/dob.png" />
                    </div>
                    <div>
                        <p>Date of Birth</p>
                        <p class="bind_profile">11/07/1994</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
            <div class="field">
                <div class="name-field">
                    <div>
                        <img src="../../assets/images/spouse.png" />
                    </div>
                    <div>
                        <p>Relation</p>
                        <p class="bind_profile">Spouse</p>
                    </div>
                </div>
                <div class="name-action">
                    <img src="../../assets/images/edit.png" />
                </div>
            </div>
        </div>
    </div>
</div>