<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>Profile Info</h2>
            </div>
            <section class="white_container">
                <div class="row mb-5 qrCode_mr_0">
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="userProfilePic">
                        <img src="../../assets/images/img_profile.png" />
                    </div>
                  </div>
                  <!--<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="userProfile_qrCode">
                            <img src="../../assets/Img/QR_Code_Section.png" />
                            <div class="img_qrCode">sdfsfd</div>
                            <div class="qrCode_agentInfo">sdfsfd</div>
                        </div>
                  </div>-->
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 data-item data-item-mb-15 " *ngFor="let pr of profileDetails">
                        <div class="main_userDetails">
                            <div class="info_userDetails">
                                <div class="img_userProfile">
                                    <img src="../../assets/images/{{pr.icon}}.png" />
                                </div>
                                <div class="details_userProfile">
                                    <label>{{pr.heading}}</label>
                                    <h6><span title={{pr.value}}>{{pr.value}}</span></h6>
                                </div>
                            </div>
                            <div class="edit_userDetails"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
