.qrCode_mr_0 {
    margin-right: 0;
}
.userProfile_qrCode {
    padding: 15px 24px;
    border-radius: 8px 0  0 8px;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: -26px;
}
.img_qrCode {
    border-radius: 5px;
    background: #2E2E2E;
    box-shadow: 0px 8px 10px 0px #4C4C4C33, 0px 6px 30px 0px #D5D7DE1F, 0px 16px 24px 0px #D5D7DE24;
    padding: 10px;
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
    }
}
.qrCode_agentInfo {
    width: 315px;
    display: flex;
    flex-direction: column;
    gap:6px;
    h5{
        font-weight: 600;
        font-size: 16px;
        color: #2e2e2e;
        margin: 0;
        line-height: 16px;
    }
    h6 {
        font-weight: 400;
        font-size: 12px;
        color: #4c4c4c;
        margin: 0;
        line-height: 12px;
    }
    .copy_qrCode{
        width: 100%;
        border-radius: 4px;
        padding: 10px 14px;
        background: #fff;
        display: flex;
        justify-content: space-between;
    background: linear-gradient(106.01deg, #F9FAFB -9.79%, #F7F7F8 30.34%, #EFF0F1 116.11%);
        .copy_qrCode_url {
            font-weight: 500;
            font-size: 12px;
            color:#000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
        .btn_group_qrCode{
            display: flex;
            gap:8px;
            button {
                background: #F9FAFB;
                border-radius: 5px;
                border-width: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
            }
        }
    }
}