.main-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 95%;
    float: right;

    .profile-details {
        padding-top: 16px;

        .profile-img {
            padding: 32px 0 0 20px;
        }

        .profile-fields {
            display: flex;
            flex-wrap: wrap;

            .field {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 245.5px;
                padding: 12px 16px 12px 16px;

                .name-field {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin: 8px;
                    }

                    .bind_profile {
                        font-family: Anek Latin;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 12px;
                        letter-spacing: 0.3199999928474426px;
                        text-align: left;

                    }
                }

                .name-action {
                    margin-top: 5%;
                }
            }

        }

    }
}