.qrCode_mr_0 {
    margin-right: 0;
}
.userProfile_qrCode {
    padding: 10px 20px;
    border-radius: 8px 0  0 8px;
    display: flex;
    gap: 24px;
    margin-right: -34px;
}
.img_qrCode {
    border-radius: 5px;
    background: #2E2E2E;
    box-shadow: 0px 8px 10px 0px #4C4C4C33, 0px 6px 30px 0px #D5D7DE1F, 0px 16px 24px 0px #D5D7DE24;
    padding: 10px;
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
    }
}
.qrCode_agentInfo {
    width: 315px;
    display: flex;
    flex-direction: column;
    gap:6px;
    h5{
        font-weight: 600;
        font-size: 16px;
        color: #2e2e2e;
        margin: 0;
        line-height: 16px;
    }
    h6 {
        font-weight: 400;
        font-size: 12px;
        color: #4c4c4c;
        margin: 0;
        line-height: 12px;
    }
    .copy_qrCode{
        width: 100%;
        border-radius: 4px;
        padding: 10px 14px;
        background: #fff;
        display: flex;
        justify-content: space-between;
    background: linear-gradient(106.01deg, #F9FAFB -9.79%, #F7F7F8 30.34%, #EFF0F1 116.11%);
        .copy_qrCode_url {
            font-weight: 500;
            font-size: 12px;
            color:#000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
        .btn_group_qrCode{
            display: flex;
            gap:8px;
            button {
                background: #F9FAFB;
                border-radius: 5px;
                border-width: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
            }
        }
    }
}

// copy css from performance
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .claim-info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .claim-info p {
    margin: 5px 0;
    color: #777;
  }
  
  .claim-amount {
    text-align: right;
  }
  
  .claim-amount p {
    margin: 0;
    font-size: 14px;
    color: #777;
  }
  
  .claim-amount h3 {
    margin: 5px 0;
    color: green;
  }
  
  .under-deficiency {
    display: flex;
    justify-content: space-between;
    background-color: #fbe9e7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .deficiency-text {
    font-weight: bold;
    color: red;
  }
  .upload-documents{
    display: flex;
  }
  .upload-btn {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .upload-btn:hover {
    background-color: #e65100;
  }
  
  .view-details,
  .care-manager {
    color: #d90032;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .view-details:hover,
  .care-manager:hover {
    text-decoration: underline;
  }
  
  .claims-info {
    display: flex;
    justify-content: space-between;
  }
  
  .member-policy,
  .claim-details {
    width: 45%;
    background:linear-gradient(to top right, white, #d5d7de);;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .member-policy h4,
  .claim-details h4 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .member-policy p,
  .claim-details p {
    margin: 5px 0;
    color: #555;
  }
  
  .mat-tab-group {
    margin-top: 20px;
  }

  ::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
  }

 .button_red{
  padding: 10px 16px;
  border-radius: 12px;
  background: var(--primary-red-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  border: 1px solid var(--primary-red-color);
  }

  /*-----Claims Details start-----*/
  .details_claimsInfo {
    display: flex;
    flex-direction: column;
    gap:8px;
    h5 {
      font-weight: 600;
      font-size: 24px;
      color: #000;
      margin: 0 !important;
      span {
        font-weight: 400;
        font-size: 18px;
      }
    }
    h6 {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 400;
      font-size: 17px;
      color: #4c4c4c;
      margin: 0 !important;
      .info-dot {
        width: 5px;
        height: 5px;
        background: #4c4c4c;
        border-radius: 10px;
      }
      b {
        font-weight: 600;
      }
    }
  }
  .details_claimsAmount {
    display: flex;
    gap:8px;
    .claim_amount {
      display: flex;
      flex-direction: column;
      gap:8px;
      padding: 8px 16px;
      background: #ffffff;
      box-shadow: 0px 2px 4px 0px #D5D7DE33;
      box-shadow: 0px 1px 10px 0px #D5D7DE1F;
      box-shadow: 0px 4px 5px 0px #D5D7DE24;
      font-weight: 400;
      font-size: 16px;
      color: #4c4c4c;
      flex:auto;
      h6 {
        font-weight: 400;
        font-size: 16px;
        margin: 0 !important;
      }
      p {
        font-weight: 600;
        font-size: 18px;
        color: #1F874C;
        margin: 0 !important;
      }
    }
  }
  .claim_underDeficiency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    h5, h6 {
      margin: 0 !important;
    }
    h5 {
      font-weight: 700;
      font-size: 20px;
      color: #000;
      margin-bottom: 8px !important;
    }
    h6 {
      font-weight: 400;
      font-size: 16px;
      color: #4c4c4c;
    }
    .btn_red {
      font-weight: 400;
      font-size: 14px;
      border-radius: 8px;
      padding: 8px 20px;
      width: 100%;
    }
  }
  ::ng-deep .mat-mdc-tab-group.claims_matTabs {
    .mat-mdc-tab-header {
      font-family: "Anek Latin", sans-serif !important;
      font-weight: 500;
      font-size: 18px;
      color: #797979;
    
      .mat-mdc-tab-label-container {
        background: #F7F7F7;
        padding: 0 50px;
        margin-bottom: 20px;
        .mat-mdc-tab-labels {
          gap:20px;
          .mdc-tab {
            padding: 0;
            .mdc-tab__text-label{
              font-family: "Anek Latin", sans-serif !important;
              letter-spacing: normal;
            }
            &.mdc-tab--active {
              .mdc-tab__content {
                .mdc-tab__text-label{
                  color: #C7222A;
                }
              }
              .mdc-tab-indicator{
                .mdc-tab-indicator__content--underline {
                  border-color:#C7222A;
                }
              }
            }
          }
        }
      }
    }
  }
  .claims_member_info {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #D5D7DE33;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-bottom: 15px;
    h4 {
      font-weight: 600;
      font-size: 18px;
      color: #000;
      margin: 0 !important;
    }
  }
  .list-detailsInfo {
    display: flex;
    flex-direction: column;
    gap:12px;
    li {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      color: #4c4c4c;
      .value{
        font-weight: 500;
        color: #2e2e2e;
        &.membername {
          color: #7C2279;
        }
      }
    }
  }
  .claims_member_info-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    /* background: radial-gradient(69.17% 98.17% at 25.83% 93.56%, rgba(244, 251, 255, 0) 90%, #ef0a0a 160%) ; */
    background: radial-gradient(69.17% 98.17% at 25.83% 93.56%, rgba(244, 251, 255, 0) 90%, #DBB3F3 160%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .claims_matTabs {
    .uploadDocument_head {
      h3 {
        font-weight: 500;
        font-size: 26px;
        color: #1c1c1c;
      }
    }
    .uploadDocument_area{
      padding: 8px 16px;
    }
    .button_red{
      font-size: 16px;
      border-radius: 12px;
      padding: 10px 46px;
    }
    .uploadedFiles_main li .uploadedFiles_headInfo {
      display: none;
    }
  }
  .tracker_claimDetails {
    display: flex;
    flex-direction: column;
    gap:15px;
    .btn_iconText {
      font-weight: 600;
      font-size: 12px;
      img {
        width: 13px;
        height: 13px;
      }
    }
    .tracker_statusInfo {
      background: radial-gradient(102.74% 97.48% at -2.74% 9.46%, #FFFAF0 0%, #FFF9EC 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      border-radius: 8px;
      padding: 10px 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      h6 {
        font-weight: 400;
        font-size: 18px;
        color: #4c4c4c;
        margin: 0;
        display: flex;
        gap:8px;
        span {
          color: #F7A500;
          font-weight: 700;
        }
      }
      p {
        font-weight: 300;
        font-size: 14px;
        color: #4c4c4c;
        margin: 0;
      }
    }
  }
  .item_claimProgressButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .btn_red {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      padding: 8px 20px;
      font-weight: 500;
      font-size: 14px;
      img {
        filter: brightness(1) invert(1);
        width: 11px;
        height: 7px;
      }
      &:hover {
        img {
          filter: brightness(0) invert(0);
        }
      }
    }
  }
  .btn_campaignPerformance .btn_grid {
    border-radius: 20px;
    font-size: 12px;
    padding: 4px 12px;
    &.active, &:hover {
      color: #ffffff;
    }
  }
  /*-----Claims Details start-----*/
  .table>:not(caption)>*>* {
    background-color: inherit;
  }
  
  .tableSubMain .table th,
  .tableSubMain .table td {
    padding: 8px 12px;
  }
  
  .quickFilterMain {
    padding: 12px 18px;
    align-items: center;
  }
  
  .tableSubMain .table td {
    line-height: 10px;
  }

  h4 {
    margin: 0; /* Remove default margin */
}

.btn_grid {

  // margin-left: 10px;
  position: relative; /* Ensure z-index works */
  z-index: 10; /* Bring the button above other elements */
}

.btn_grid:hover {
  background-color: #C7222A;; /* Darken color on hover */
}
.main.siteBody.ng-star-inserted{
    padding: 0px;
}
.performBody{
    padding: 0%;
}
.lAccordian{
    border: none;
}
#lbl_lebel{
    color: #db6565;
    font-weight: 500;
}
.btn_slectedLang{
  font-family: "Anek Latin", sans-serif;
  background-color: #C7222A;
  color: white;
  border: none;
  padding: 3px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  gap:10px;
  font-weight: 500;
  font-size: 16px;
}
.language-selector{
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  @media (max-width:767px) {
    justify-content: center;
    align-items: center;
  }
}
.dropdown{
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 5px 20px;
  border-radius: 8px;
}
.lbl_preferredLang{
  padding: 5px 0px;
  border-radius: 8px;
  margin-bottom: 3px;
}

@media (max-width:767px) {
  .userProfilePic{
    margin: auto;
  }
  .userProfile_qrCode{
  right: 0;
  flex-wrap: wrap;
  margin-right:0px;

  }
  .language-selector{
    bottom: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .lbl_preferredLang{
    margin-left: 0px;
  }
  .img_qrCode{
    width: inherit;
    height: auto;
    margin: auto;
  }
  ::ng-deep .mat-mdc-tab-group.claims_matTabs {
    .mat-mdc-tab-header {
      .mat-mdc-tab-label-container {
        padding: 0;
      }
    }
  }
  .selectedLanguage-wrapper{
    justify-content: center;
  }
}