.next-btn{
    background-color: #97144D !important;
    padding: 12px 16px;
    border: none;
    border-radius: 8px !important;
    width: auto;
    margin: 0px 24px;
    color: #ffe2dc;
    float: right;
}

.next-btn2 {
    background-color: #c72229;
    padding: 10px 31px;
    border: none;
    border-radius: 14px;
    width: auto;
    margin: 0px 24px;
    color: #ffe2dc;
    float: right;
}