<!--Content area start-->
<div class="mainPanel">
    <div class="itemPanel singlePanel">
        <div class="continar-fluid contentPadding">
            <!--Accordio start-->
            <section class="accordionMain">
                <!--Create Lead start-->
                <div class="accordionItem ">
                    <header class="accordionHeader active">
                        <h2 class="heading2">View Lead Details</h2>
                        <button type="button" class="accordionButton"></button>
                    </header>
                    <div class="accordionBody">
                        <div class="form-box">
                            <form [formGroup]="viewLeadForm">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="input-block ">
                                        <label for="">Enter Mobile Number </label>
                                        <input type="text" name="mcd-mobileno" formControlName="mobileNumber" placeholder=""
                                            class="input-textBox">
                                        <span class="ui-error">Please enter mobile no </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="input-block ">
                                        <label for="">Enter Lead Id </label>
                                        <input type="text" name="mcd-leadid" formControlName="leadId" placeholder=""
                                            class="input-textBox">
                                        <span class="ui-error">Please enter Lead Id </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="btn-group-customer btn_mt-28">
                                        <button type="submit" name="logsearch" value="logsearch" (click)="onSubmit()"
                                            class="btn_Default btn_red btn_accordion_save">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4" >
                                    <div class="main-container">
                                        <div class="table-container">
                                            <div id="for_numrows" class="for_numrows" style="display: inline;">
                                                <label for="numrows">Rows Per Page: </label>
                                                <select (change)="onSelect($event)" id="numrows">
                                                    <!-- <option value="5">5</option> -->
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <div id="for_filter_by" (input)="onInput($event)" class="for_filter_by" style="display: inline;">
                                                <!-- <label for="filter_by">Filter By: </label>
                                                <select
                                                    id="filter_by">
                                                    <option value="1">AV Id</option>
                                                    <option value="2">AV Name</option>
                                                    <option value="3">Center</option>
                                                    <option value="4">Axis Process</option>
                                                    <option value="5">Status</option>
                                                    <option value="6">License Expiry From Date</option>
                                                    <option value="7">License Expiry To Date</option>
                                                    <option value="8">Audit</option>
                                                </select>  -->
                                                <input id="filter_input" type="text" placeholder="Filter...">
                                            </div>
                                            <table class="tablemanager commontable">
                                                <thead>
                                                    <tr>
                                                        <th class="disableSort" nowrap>Seq No</th>
                                                        <th  nowrap>Lead No</th>
                                                        <th nowrap>Proposer No</th>
                                                        <th nowrap>Customer Name</th>
                                                        <th nowrap>Lead Generation Date and Time</th>
                                                        <th nowrap>Last Modified Date and Time</th>
                                                        <th nowrap>Latest Mapped DO Name</th>
                                                        <th nowrap>Latest Mapped AV Name</th>
                                                        <th nowrap>Product/Plan Name</th>
                                                        <th nowrap>Net Premium</th>
                                                        <th nowrap>Axis Center/Location</th>
                                                        <th nowrap>LOB</th>
                                                        <th nowrap>Disposition</th>
                                                        <th nowrap>Sub-Disposition</th>
                                                        <th nowrap>Status</th>
                                                        <th nowrap>Issuance Date and Time</th>
                                                        <th nowrap>Remark</th>
                                                        <th class="disableFilterBy" nowrap>Action</th>
                                                        <th class="disableFilterBy">Audit</th>
                                                        <th class="disableFilterBy" nowrap>Retrigger PG</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="pagesControllers" class="pagesControllers">
                                                <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <!--Create Lead end-->
            </section>
            <!--Accordio end-->
        </div>
    </div>
</div>
<!--Content area end-->

<div class="pageLoaderMain active" *ngIf="loading">
    <div class="pageLoaderSubMain">
      <img src="assets/images/loader-axis.gif">
    </div>
  </div>