.input-container {
	position: relative;
	width: 100%;
}
.input-container.col-md-6 {
	width: 48.8%;
}
.input-container.col-md-3 {
	width: 23.2%;
}
.input-container.col-md-4 {
	width: 31.6%;
}
.input-container label {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	font-size: 14px;
	font-family: "Anek Latin", sans-serif;
	color: #aaa;
	transition: all 0.2s ease;
	background-color: #f2f3f6;
	padding: 0 5px;
	pointer-events: none;
}
.input-container {
	position: relative;
	.inputField_Text,
	.inputField_Select,
	.inputField_Text_disabled {
		font-weight: 400;
		height: 40px;
		width: 100%;
		background-color: #f1f3f6;
		color: #979CAE;
		padding: 8px 6px 8px 16px;
		border-radius: 12px;
		border: 1px;
		font-family: "Anek Latin", sans-serif;
		box-sizing: border-box;
		position: relative;
		z-index: 0;
	}
	.inputField_Text:focus+label,
	.inputField_Text.has-value+label,
	.inputField_Select:focus+label,
	.inputField_Select.has-value+label {
		top: 3px;
		left: 12px;
		font-size: 12px;
		color: #666;
		background-color: #fff;
		z-index: 1;
		padding: 0 3px;
		border-radius: 2px;
	}
	.inputField_Text:focus,
	.inputField_Select:focus,
	.inputField_Text_disabled:focus {
		outline: none;
	}
	.inputField_Text:focus+label,
	.inputField_Text.has-value+label,
	.inputField_Select:focus+label,
	.inputField_Select.has-value+label {
		background: rgb(255, 255, 255);
		background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 243, 246, 1) 100%);
	}
}
.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.slider-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.slider input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: linear-gradient(to right,
			#ffcc00 0%,
			#ffcc00 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
			#f0f0f0 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
			#f0f0f0 100%);
	outline: none;
	transition: background 0.15s ease-in-out;
	border-radius: 5px;
}
.slider input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid #C7222A;
	background: #FFFFFF;
}
.slider input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border-radius: 50%;
	border: 3px solid #C7222A;
	cursor: pointer;
}
.slider input[type="range"]::-ms-thumb {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border-radius: 50%;
	border: 3px solid #C7222A;
	cursor: pointer;
}
.slider-values {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 5px;
}
.selected-value {
	background-color: #f0f0f0;
	width: 100px;
	height: 28px;
	padding: 8px;
	gap: 8px;
	border-radius: 8px;
	font-family: Anek Latin;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0.32px;
	text-align: center;
}
.left-cnt-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 32px;
	padding: 4px 16px 4px 4px;
	gap: 4px;
	border-radius: 24px;
	opacity: 0px;
	background: #f1f3f6;
	margin-top: 7%;
}
.left-cnt-btn div :nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.left-cnt-btn div :nth-child(1) i {
	color: #767d93;
}
.left-cnt-btn :nth-child(1) {
	width: 24px;
	height: 24px;
	gap: 12px;
	border-radius: 16px;
	opacity: 0px;
	background: #f1f3f6;
}
.left-cnt-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 32px;
	padding: 4px 16px 4px 4px;
	gap: 4px;
	border-radius: 24px;
	background: #F1F3F6;
	margin-top: 7%;
	div:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFFFFF;
		i {
			color: #767D93;
		}
	}
}
.left-cnt-btn.active-red {
	background-color: #C7222A;
	color: #FFFFFF;

	div i {
		color: #C7222A;
	}
}
.left-cnt-btn.active-green {
	background: #1F874C;
	color: #FFFFFF;
	div i {
		color: #1F874C;
	}
}
.left-cnt-btn div:nth-child(1) {
	width: 24px;
	height: 24px;
	gap: 12px;
	border-radius: 16px;
	background: #F1F3F6;
}
.formSections {
	width: 100%;
	height: auto;
	padding: 0px 0px 12px 0px;
	margin-bottom: 12px;
	border-radius: 16px;
	border: 1px;
	opacity: 0px;
	background: #FFFFFF;
}
.section-header {
	height: fixed 56px;
	padding: 8px 16px;
	border-radius: 16px 16px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px -4px 36px 0px #0000000D;
	background: #FFFFFF;
}
.section-header h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #000000;
}
.section-header .header-actions {
	width: 28%;
	height: 24px;
	gap: 16px;
	display: flex;
}
.section-header .header-actions .copy-link {
	width: 79%;
	height: 24px;
	padding: 8px 12px;
	gap: 6px;
	border-radius: 18px;
	background: #FFE7E5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.section-header .header-actions .copy-link span {
	font-size: 12px;
	font-weight: 500;
	line-height: 8px;
	color: #C7222A;
}
.section-header .header-actions .copy-link i {
	font-size: 10px;
	color: #C7222A;
}
.edit-icons {
	width: 24px;
	height: 24px;
	padding: 8px;
	gap: 4.57px;
	border-radius: 18.29px;
	opacity: 0px;
	background: #C7222A;
	display: flex;
	justify-content: center;
	align-items: center;
	i {
		color: #FFFFFF;
	}
}
.details-header {
	width: 95.8%;
	height: 384px;
	gap: 16px;
	margin: 3% 0 3% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.details-header .policy-section {
	background: #F7F7F7;
	width: 100%;
	padding: 16px 16px;
	border-radius: 16px;
	position: relative;
}
.details-header .policy-section .policy-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 16px;
}
.details-header .policy-section .policy-header .badge {
	padding: 5px 10px;
	border-radius: 12px;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	top: -10px;
	left: 20px;
}
.details-header .policy-section .policy-details .policy-item .policy-label,
.details-header .policy-section .addons .policy-label {
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	color: #797979;
}
.details-header .policy-section .policy-details .policy-item .policy-value {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #4C4C4C;

}
.details-header .policy-section .policy-header .original {
	background-color: #e6e6e6;
	color: #666666;
}
.details-header .modifieds {
	background: #F2F6FE;
}
.details-header .policy-section .policy-header .modified {
	color: #FFFFFF;
	background: #8CACE7;
}
.policy-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	height: 40px;
	gap: 8px;
}
.policy-item {
	min-width: 70px;
	max-width: 180px;
}
.addons {
	width: 95%;
	gap: 8px;
	margin-top: 2%;
}
.policy-addon {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}
.addon {
	height: 32px;
	padding: 4px 12px;
	gap: 10px;
	border-radius: 19px;
	background: #E6E6E6;
	color: #2E2E2E;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.free-benefits {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 15px;
}
.free-benefits :first-child {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: #000000;
}
.lisr-free-benefits {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.benefit {
	width: 24%;
	height: auto;
	display: flex;
	flex-direction: row;
	gap: 10px;
	background: #E7FCF4;
	padding: 10px 5px 10px 10px;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.benefit-icon {
	width: 40px;
	height: 35px;
	padding: 8px;
	gap: 8px;
	border-radius: 24px;
	background: #FFFFFF;
}
.benefit-icon {
	i {
		color: #57b894;
		font-size: 18px;
	}
}
.benefit span {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #2E2E2E;
}
.member-cards {
	display: flex;
	width: auto;
	gap: 20px;
	margin: 10px 0 7px 13px;
	overflow-x: auto;
}
.member-cards::-webkit-scrollbar {
	height: 8px;
}
.member-card {
	width: 241px;
	height: 149px;
	padding: 15px;
	gap: 12px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background: #F9FAFB;
	flex: 0 0 auto;
}
.member-header {
	display: flex;
	justify-content: space-between;
	width: Fixed (219px)px;
	height: Hug (19px)px;
}
.member-name {
	font-size: 14px;
	font-weight: 500;
	line-height: 15.4px;
	letter-spacing: -0.30000001192092896px;
	color: #000000;
}
.badges {
	width: Hug (63px)px;
	height: Hug (19px)px;
	padding: 4px 8px 4px 8px;
	gap: 8px;
	border-radius: 13px;
	opacity: 0px;
	color: #FFFFFF;
	font-family: Anek Latin;
	font-size: 12px;
	font-weight: 500;
	line-height: 11px;
	text-align: left;
	background: #F7A500;
}
.member-details {
	width: Fixed (219px)px;
	height: Hug (40px)px;
	opacity: 0px;
	display: flex;
	justify-content: space-between;
}
.member-item div:nth-child(1) {
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	color: #797979;
}
.member-item div:nth-child(2) {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #4C4C4C;
}
.contact-details {
	width: 763px;
	height: 104px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	margin: 10px 0 0px 13px;
}
.contact-detail {
	display: flex;
	gap: 20px;
}
.overlay_popupMain {
	position: absolute;
	top: 40px;
	border-radius: 16px;
	padding: 24px;
	background: #F5F5F594;
	border: 2px solid #fff;
	box-shadow: 0px 12px 20px 0px #00000026;
	backdrop-filter: blur(10px);
	z-index: 1;
}
.overlay_dropdown_w360 {
	width: 360px;
}
.slider-container {
	margin-bottom: 20px;
	.label {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		.value {
			font-weight: bold;
			margin: 10px;
			font-size: 1.2em;
		}
	}
}
.sumInsured_selectMain {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.sumInsured_selectMain .sumInsured_select header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	color: #000;
}
.sumInsured_selectMain .sumInsured_select header h3 {
	font-family: "Anek Latin", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #2e2e2e;
	margin: 0;
}
.suminsured-button {
	padding: 10px;
	background: #C7222A;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	border: 1px solid #C7222A;
	border-radius: 10px;
	width: 102%;
}
.tick-labels {
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
}
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
	display: none;
}
.bcc_main {
	gap: 0px;
	padding-bottom: 60px;
}
.accordionpro {
	gap: 24px;
}
.input-radio-block.radio_additionalInfo {
	gap: 0px;
}
.bottomInfoMain {
	width: 725px;
	left: 18%;
}
.data-row .data-item h6 {
	font-size: 13px;
}
.accordionMain .accordionItem .accordionBody .accordionBodyRow {
	gap: 5px;
}
.accordionMain .accordionItem {
	gap: 5px;
}
.detailsRow {
	gap: 6px;
	margin-bottom: 0px;
}
.radio_format{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.raido_paymentType .input-radiolabel span{
	padding: 13px 10px;
}