<footer class="footer">
    <div class="before">
        <div class="copyright">
            <img src="../../../assets/copyright.svg" alt="">
            <p>2023 Monocept All Copyrights reserved.</p>
        </div>
        <div class="content">
            <div class="terms">Terms</div>
            <div class="privacyPolicy">Privacy Policy</div>
        </div>
    </div>
</footer>
<!-- <footer class="footerMain">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <header>Products</header>
                    <ul class="footerMenu">
                        <li><a href="#">Auto Insurance</a></li>
                        <li><a href="#">Motor Bike Insurance</a></li>
                        <li><a href="#">Health Insurance</a></li>
                        <li><a href="#">Home Insurance</a></li>
                        <li><a href="#">Travel Insurance</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <header>Bancassurance</header>
                    <ul class="footerMenu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Our Offices</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <header>Others</header>
                    <ul class="footerMenu">
                        <li><a href="#">Agents Portal Login</a></li>
                        <li><a href="#">Corporate Portal Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="footerDescription">
            Bancassurance Company Ltd. is one of the leading private sector general insurance company in India offering insurance coverage for motor, health, travel, home, student travel and more. Policies can be purchased and renewed online as well. Immediate issuance of policy copy online.
            </div>
            <div class="footerSocialMenu">
                <a href="#"><img src="../../../assets/images/facebook_black_icon.svg"></a>
                <a href="#"><img src="../../../assets/images/linkedin_black_icon.svg"></a>
                <a href="#"><img src="../../../assets/images/youtube_black_icon.svg"></a>
                <a href="#"><img src="../../../assets/images/instagram_black_icon.svg"></a>
                <a href="#"><img src="../../../assets/images/twitter_black_icon.svg"></a>
            </div>
        </div>
    </div>
</footer> -->
