.main-container {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;

    .right-panel {
        width: 100%;
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 80px;

        .main {
            .sub-main {
                display: flex;
                flex-direction: row;

                .logo {
                    margin: 15px;
                }

                .header {
                    display: block;
                    margin: 15px;
                    width: 90%;
                    background-image: linear-gradient(#C91429, #C91429);
                    height: 40px;
                    margin-left: auto;
                    position: relative;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 17px;
                    margin-right: 0px;

                    .header-icon {
                        margin-left: 10px;
                        margin-top: 5px;
                        cursor: pointer;

                    }

                }

                img {
                    margin-top: 0px;
                    margin-left: 12px;
                    width: 100%;
                }
            }

            .abhifont {
                color: #C91429;
                margin-bottom: 0px;
                margin-top: -10px;
                margin-left: 5px;
                font-size: small;
            }
        }

        // .header{
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     margin: 20px;
        //     background-image: linear-gradient(#C91429, #C91429);
        //     height: 110px;
        //     .header-icon{
        //         margin-left: 10px;
        //         margin-top: 5px;
        //         cursor: pointer;
        //         img{
        //             margin-top: 12px;
        //             margin-left: 24px;
        //             width: 231px;
        //         }
        //         p{
        //             color: #fff;
        //             font-size: 10px;
        //             margin-left: 185px;
        //             margin-top: 0px;
        //             padding-top: 0px;
        //         }
        //     }
        //     .user-profile{
        //         margin: 10px 20px;
        //         img{
        //             height: 49px;
        //         }
        //     }
        // }
        .header2 {
            display: ruby;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0px 0px 4px 2%;
            height: revert;
            width: 100%;
            padding-left: 0px;

            // width: calc(100% - 20px);
            h3 {
                color: #F5F5F5;
                font-weight: 500;
                font-size: x-large;
                padding-left: 100px;
                margin-top: 10px;
            }

            .nav-text {
                color: #fff;
                font-size: medium;
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 142px;
                margin-top: 10px;
            }

            .header-icon {
                margin-left: 10px;
                margin-top: 5px;
                cursor: pointer;

                img {
                    margin-top: 3px;
                    margin-left: 12px;
                    width: 184px;
                }

                p {
                    color: #fff;
                    font-size: 10px;
                    margin-left: 185px;
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }

            .user-profile {
                margin: 10px 20px;

                img {
                    height: 49px;
                }
            }
        }

        .header3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;
            // width: calc(100% - 20px);
            margin-top: -4rem;
            background-color: #6A4742;
            height: 30px;

            h3 {
                color: #F5F5F5;
                font-weight: 500;
                font-size: small;
                padding-left: 100px;
            }
        }

        .body {
            margin: 4rem 2rem;
            padding-bottom: 5rem;
        }

        .product-heading {
            padding-top: 20px;
            font-size: 25px;
            font-weight: 500;
            padding-left: 30px;
        }

        .prod-head-desc {
            margin-top: 20px;
            font-size: 15px;
            color: darkgray;
            font-weight: 500;
            padding-left: 30px;
        }

        .toggle-list {
            margin-top: 50px;
            display: inline-block;
            border: groove;
            border-bottom: hidden;
            padding: 20px 30px;
            cursor: pointer;
        }

        h4 {
            margin-top: 20px;
        }

        .blue {
            margin-right: 20px;
            font-size: 14px;
            font-weight: 800;
            display: inline-block;
            color: rgb(21, 21, 99);
            // border-bottom: 2px solid orangered
        }

        .gray {
            margin-right: 20px;
            font-size: 14px;
            font-weight: 800;
            display: inline-block;
            color: gray
        }

        .product-list {
            display: flex;
            justify-content: space-between
        }

        .product-item {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: rgb(21, 21, 99);
            margin: 2%;
        }

        .get {
            color: orangered;
            border: 1px solid orangered;
            border-radius: 18px;
            padding: 5px 15px;
            margin: 5px 15px
        }

        .horizontal-line {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            margin: 8px 0
        }

    }



}