<div class="add-new-endorsement-wrap">
  <div class="main-container">
    <div class="all-endorsements">
      <div class="header">
        <div class="header-value">My Endorsement</div>
      </div>
      <div class="main-endorsements">
        <div class="request-header">
          Raise Request
        </div>
      </div>
      <div class="create-endorsement-section-wrap">
              <form (ngSubmit)="onSubmit()" [formGroup]="caseCreationForm" novalidate autocomplete="false">
                  <div class="tab-leadDetailsBlock">
                      <div id="LeadDet">
                          
                          <div class="mb-0">
                              <div class="row mb-0">
                                  <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                      <label class="label label-height label-form-builder">Select Policy Number*</label>
                                      <div class="col-12 search">
                                          <input class="cursor search-input-dropdown" type="input"
                                              placeholder="Search Policy Number" matInput formControlName="policyNumber"
                                              autocomplete="doNotAutoComplete" [matAutocomplete]="auto">
                                          <mat-autocomplete #auto="matAutocomplete" 
                                              (optionSelected)="onChange($event.option.value)">
                                              <mat-option class="dropdown-opt"
                                                  *ngFor="let item of filteredActivity | async"
                                                  value="{{item.policynumber}}">
                                                  {{item.policynumber}}</mat-option>
                                              <mat-option class="dropdown-opt" value=""
                                                  *ngIf="(filteredActivity) && (filteredActivity?.length == 0)">
                                                  No Record Found
                                              </mat-option>
                                          </mat-autocomplete>
                                          <mat-error *ngIf="submitted && caseCreationForm.get('policyNumber').invalid">
                                              <div class="font-base text-brick error-form-build">
                                                  Please select a Policy Number
                                              </div>
                                          </mat-error>
                                      </div>
                                  </div>
                                  <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 mb-30">
                                      <label class="label label-height label-form-builder">Select Member*</label>
                                      <mat-select tabindex="2" placeholder="Choose Option" formControlName="member"
                                          class="form-control option-form-builder" style="padding: 5px;" (valueChange)="meberIdChange($event)">
                                          <mat-option *ngFor="let opt of MemberIdList" [value]="opt.memberid">
                                              {{opt.membername}} ({{opt.relationwithproposer}})
                                          </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="submitted && caseCreationForm.get('member').invalid">
                                          <div class="font-base text-brick error-form-build">
                                              Please select a Member
                                          </div>
                                      </mat-error>
                                  </div>
                                  <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 mb-30">
                                      <label class="label label-height label-form-builder">Endorsement Type*</label>
                                      <mat-select tabindex="2" placeholder="Choose Option"
                                          formControlName="endorsementType" class="form-control option-form-builder"
                                          style="padding: 5px;" (valueChange)="endorsementChange($event)">
                                          <mat-option *ngFor="let opt of endorsementTypes" [value]="opt.value">
                                              {{opt.name}}
                                          </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="submitted && caseCreationForm.get('endorsementType').invalid">
                                          <div class="font-base text-brick error-form-build">
                                              Please select Endorsement Type
                                          </div>
                                      </mat-error>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="AddressDet">
                          <!-- <h2 class="sub-title mb-30 font-weight-bold">Address</h2> -->
                          <div class="mb-0">
                              <div class="row mb-0">
                                  <div class="col-xs-12 col-sm-4 col-lg-3 col-md-3 mb-30">
                                      <label class="text-faded-gray text-capitalize label">Current Details in
                                          Policy:</label>
                                      <textarea formControlName="currentPolicyDetails" rows="4" cols="50"
                                          class="form-control text-area" style="height: 70px !important;"
                                          readonly></textarea>
                                  </div>
                                  <div class="col-xs-12 col-sm-4 col-lg-9 col-md-9 mb-30"
                                      *ngIf="this.caseCreationForm.get('endorsementType').value == 'ChangeinInternationalAddress'">
                                      <label class="text-faded-gray text-capitalize label">New Address to be
                                          update:</label>
                                      <div>
                                          <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                              <label class="label label-height label-form-builder">Address 1</label>
                                              <input class="form-control option-form-builder" formControlName="address1"
                                                  type="text" />
                                          </div>
                                          <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                              <label class="label label-height label-form-builder">Address 2</label>
                                              <input class="form-control option-form-builder" formControlName="address2"
                                                  type="text" />
                                          </div>
                                          <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                              <label class="label label-height label-form-builder">Pin Code</label>
                                              <input class="form-control option-form-builder" formControlName="pincode"
                                                  type="text" />
                                          </div>
                                      </div>
                                  </div>
                                  <div formGroupName="endorsementDetails">
                                      <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                          *ngIf="this.caseCreationForm.get('endorsementType').value == 'aadharNumber'">
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
                                              <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30">
                                                  <label class="label label-height label-form-builder">Aadhar card
                                                      Number</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="aadharNumber" type="tel" maxlength="12"
                                                      minlength="12" (keydown)="onKeydown($event)"
                                                      [ngClass]="{ 'is-invalid': submitted && f['aadharNumber'].errors }" />
                                                  <div *ngIf="f['aadharNumber'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['aadharNumber'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['aadharNumber'].errors['pattern']">Enter valid number
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                          >
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
                                          </div>
                                      </div> -->
                                      <!-- <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                      *ngIf="this.caseCreationForm.get('endorsementType').value == 'Change in International Address'">
                                      <label class="text-faded-gray text-capitalize label">New Details to be
                                          update:</label>
                                      <div>
                                          <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30">
                                              <label class="label label-height label-form-builder">International
                                                  Address</label>
                                              <input class="form-control option-form-builder"
                                                  formControlName="internationalAddress" type="text" />
                                          </div>
                                      </div>
                                  </div> -->
                                      <!-- <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                          >
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
  
                                          </div>
                                      </div> -->
                                      <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                          *ngIf="this.caseCreationForm.get('endorsementType').value == 'nomineeContact'">
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
                                              <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                                  <label class="label label-height label-form-builder">Nominee
                                                      Name</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="nomineeName" type="text" OnlyCharacter 
                                                      [ngClass]="{ 'is-invalid': submitted && f['nomineeName'].errors }"/>
                                                      <div *ngIf="f['nomineeName'].errors" class="invalid-feedback">
                                                          <div class="font-base text-brick error-form-build"
                                                              *ngIf="f['nomineeName'].errors['required']">Field cannot be
                                                              blank</div>
                                                      </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                                  <label class="label label-height label-form-builder">Nominee
                                                      Relationship</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="nomineeRelationship" type="text" OnlyCharacter 
                                                      [ngClass]="{ 'is-invalid': submitted && f['nomineeRelationship'].errors }"/>
                                                      <div *ngIf="f['nomineeRelationship'].errors" class="invalid-feedback">
                                                          <div class="font-base text-brick error-form-build"
                                                              *ngIf="f['nomineeRelationship'].errors['required']">Field cannot be
                                                              blank</div>
                                                      </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                                  <label class="label label-height label-form-builder">Nominee
                                                      Contact</label>
                                                  <input class="form-control option-form-builder"
                                                  maxlength="10" minlength="10" formControlName="nomineeContact" type="tel"
                                                  (keydown)="onKeydown($event)" [ngClass]="{ 'is-invalid': submitted && f['nomineeContact'].errors }" />
                                                  <div *ngIf="f['nomineeContact'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['nomineeContact'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['nomineeContact'].errors['pattern']">Enter valid number
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30"
                                          *ngIf="this.caseCreationForm.get('endorsementType').value == 'panNumber'">
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
                                              <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30">
                                                  <label class="label label-height label-form-builder">Pancard
                                                      Number</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="panNumber" type="text" (keypress)="omit_special_char($event)"
                                                      oninput="this.value = this.value.toUpperCase()" maxlength="10"
                                                      minlength="10"
                                                      [ngClass]="{ 'is-invalid': submitted && f['panNumber'].errors }" />
                                                  <div *ngIf="f['panNumber'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['panNumber'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['panNumber'].errors['pattern']">Enter valid PAN number
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-4 col-lg-12 col-md-12 mb-30" *ngIf="showOtpSection">
                                          <label class="text-faded-gray text-capitalize label">New Details to be
                                              update:</label>
                                          <div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value == 'primaryContactNumber'">
                                                  <label class="label label-height label-form-builder">Primary
                                                      Number</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="primaryContactNumber" type="tel" maxlength="10"
                                                      minlength="10" (keydown)="onKeydown($event)" (ngModelChange)="mobAndEmailValueChange($event, 'primaryContactNumber')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['primaryContactNumber'].errors }" />
                                                  <div *ngIf="f['primaryContactNumber'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['primaryContactNumber'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['primaryContactNumber'].errors['pattern']">Enter valid
                                                          number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-9 col-md-9 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value === 'memberPrimaryContactNumber'">
                                                  <label class="label label-height label-form-builder">Primary
                                                      Registered Number- Member</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="memberPrimaryContactNumber" type="tel"
                                                      maxlength="10" minlength="10" (keydown)="onKeydown($event)" (ngModelChange)="mobAndEmailValueChange($event, 'memberPrimaryContactNumber')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['memberPrimaryContactNumber'].errors }" />
                                                  <div *ngIf="f['memberPrimaryContactNumber'].errors"
                                                      class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberPrimaryContactNumber'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberPrimaryContactNumber'].errors['pattern']">Enter
                                                          valid number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-9 col-md-9 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value === 'memberAlternateContactNumber'">
                                                  <label class="label label-height label-form-builder">Alternate
                                                      number- member</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="memberAlternateContactNumber" type="tel"
                                                      maxlength="10" minlength="10" (keydown)="onKeydown($event)" (ngModelChange)="mobAndEmailValueChange($event, 'memberAlternateContactNumber')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['memberAlternateContactNumber'].errors }" />
                                                  <div *ngIf="f['memberAlternateContactNumber'].errors"
                                                      class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberAlternateContactNumber'].errors['required']">
                                                          Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberAlternateContactNumber'].errors['pattern']">
                                                          Enter valid number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value == 'internationalContactNumber'">
                                                  <label class="label label-height label-form-builder">International
                                                      No</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="internationalContactNumber" type="tel"
                                                      maxlength="10" minlength="10" (keydown)="onKeydown($event)" (ngModelChange)="mobAndEmailValueChange($event, 'internationalContactNumber')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['internationalContactNumber'].errors }" />
                                                  <div *ngIf="f['internationalContactNumber'].errors"
                                                      class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['internationalContactNumber'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['internationalContactNumber'].errors['pattern']">Enter
                                                          valid number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value == 'alternateContactNumber'">
                                                  <label class="label label-height label-form-builder">Alternate No</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="alternateContactNumber" type="tel" maxlength="10"
                                                      minlength="10" (keydown)="onKeydown($event)" (ngModelChange)="mobAndEmailValueChange($event, 'alternateContactNumber')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['alternateContactNumber'].errors }" />
                                                  <div *ngIf="f['alternateContactNumber'].errors"
                                                      class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['alternateContactNumber'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['alternateContactNumber'].errors['pattern']">Enter
                                                          valid number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value == 'email'">
                                                  <label class="label label-height label-form-builder">Email</label>
                                                  <input class="form-control option-form-builder" formControlName="email"
                                                      type="email" (ngModelChange)="mobAndEmailValueChange($event, 'email')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                                                  <div *ngIf="f['email'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['email'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['email'].errors['pattern']">Email must be a valid email
                                                          address
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                              *ngIf="this.caseCreationForm.get('endorsementType').value == 'CorrectionintheemailID'">
                                              <label class="label label-height label-form-builder">Correction in the emailId</label>
                                              <input class="form-control option-form-builder" formControlName="CorrectionintheemailID"
                                                  type="email" (ngModelChange)="mobAndEmailValueChange($event, 'CorrectionintheemailID')"
                                                  [ngClass]="{ 'is-invalid': submitted && f['CorrectionintheemailID'].errors }" />
                                              <div *ngIf="f['CorrectionintheemailID'].errors" class="invalid-feedback">
                                                  <div class="font-base text-brick error-form-build"
                                                      *ngIf="f['CorrectionintheemailID'].errors['required']">Field cannot be
                                                      blank</div>
                                                  <div class="font-base text-brick error-form-build"
                                                      *ngIf="f['CorrectionintheemailID'].errors['pattern']">Email must be a valid email
                                                      address
                                                  </div>
                                              </div>
                                          </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-9 col-md-9 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value === 'alternateEmail'">
                                                  <label class="label label-height label-form-builder">Alternate Email
                                                      ID</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="alternateEmail" type="email" (ngModelChange)="mobAndEmailValueChange($event, 'alternateEmail')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['alternateEmail'].errors }" />
                                                  <div *ngIf="f['alternateEmail'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['alternateEmail'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['alternateEmail'].errors['pattern']">Email must be a
                                                          valid email address
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value === 'memberEmail'">
                                                  <label class="label label-height label-form-builder">Email
                                                      ID-member</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="memberEmail" type="email" (ngModelChange)="mobAndEmailValueChange($event, 'memberEmail')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['memberEmail'].errors }" />
                                                  <div *ngIf="f['memberEmail'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberEmail'].errors['required']">Field cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberEmail'].errors['pattern']">Email must be a valid
                                                          email address
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-9 col-md-9 mb-30"
                                                  *ngIf="this.caseCreationForm.get('endorsementType').value === 'memberAlternateEmail'">
                                                  <label class="label label-height label-form-builder">Alternate
                                                      Email ID - member</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="memberAlternateEmail" type="email" (ngModelChange)="mobAndEmailValueChange($event, 'memberAlternateEmail')"
                                                      [ngClass]="{ 'is-invalid': submitted && f['memberAlternateEmail'].errors }" />
                                                  <div *ngIf="f['memberAlternateEmail'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberAlternateEmail'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['memberAlternateEmail'].errors['pattern']">Email must
                                                          be a valid email address
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-3 col-md-3 mb-30"
                                                  *ngIf="showOtpSection">
                                                  <label class="label label-height label-form-builder"></label>
                                                  <button class="btn btn-primary" type="button" (click)="sendOTP()"
                                                      style="margin-top: 6px;" [disabled]="sendOtptDisabled">Send OTP</button>
                                              </div>
                                              <!-- <div class="col-xs-12 col-sm-4 col-lg-3 col-md-3 mb-30"
                                                  *ngIf="showOtpSection">
                                                  <label class="label label-height label-form-builder">Enter OTP</label>
                                                  <input class="form-control option-form-builder"
                                                      formControlName="otpValue" type="text" maxlength="6" minlength="6"
                                                      (keydown)="onKeydown($event)" (ngModelChange)="otpValueChange($event)"
                                                      [ngClass]="{ 'is-invalid': submitted && f['otpValue'].errors }" />
                                                  <div *ngIf="f['otpValue'].errors" class="invalid-feedback">
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['otpValue'].errors['required']">Field
                                                          cannot be
                                                          blank</div>
                                                      <div class="font-base text-brick error-form-build"
                                                          *ngIf="f['otpValue'].errors['pattern']">Enter valid
                                                          number
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4 col-lg-3 col-md-3 mb-30"
                                                  *ngIf="showOtpSection">
                                                  <label class="label label-height label-form-builder"></label>
                                                  <button class="btn btn-primary" type="button" (click)="validateOTP()"
                                                      style="margin-top: 26px;" [disabled]="isOtpSubmitDisabled">Submit</button>
                                              </div> -->
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="AddressDet">
                          <div class="mb-0">
                              <div class="row mb-0">
                                  <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4 mb-30">
                                      <label class="label label-height label-form-builder">Assigned Team*</label>
                                      <mat-select tabindex="2" (selectionChange)="campnoSelected()"
                                          formControlName="asignedTeam" placeholder="Choose Option"
                                          class="form-control option-form-builder" style="padding: 5px;">
                                          <mat-option value="Endorsement - Non financial">Endorsement - Non
                                              financial</mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="submitted && caseCreationForm.get('asignedTeam').invalid">
                                          <div class="font-base text-brick error-form-build">
                                              Please select Assigned Team
                                          </div>
                                      </mat-error>
                                  </div>
                                  <div class="col-xs-12 col-sm-4 col-lg-6 col-md-6 mb-30">
                                      <label class="label label-height label-form-builder">Upload Documents</label>
                                      <div class="form-group file-upload-textbox position-relative">
                                          <div class="font-base font-bulk-upload text-tuna">{{selctedFileName}}</div>
                                          <a for="file" (click)="file.click()" class="file-upload-icon bg-gray-600-15 file-icon-bg
                                           pb-2 pl-15 pr-15">
                                              <span aria-hidden="true">
                                                  <span class="icon-wrap text-dark-gray"><span
                                                          class="icon-folder"></span></span>
                                              </span></a>
                                          <input type="file" accept="image/*,.pdf" id="file" #file style="display: none"
                                              (change)="newfile($event)">
                                      </div>
                                      <div class="error">
                                          <p *ngIf="isFilenotSelected" class="font-base font-bulk-upload text-brick">
                                              Please select a
                                              file to continue.</p>
                                          <div class="font-base font-bulk-upload text-brick" *ngIf="showNote">
                                              File format not supported ! Please upload .gif, .png, .jpeg or .pdf files.
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="AddressDet">
                          <div class="mb-0">
                              <div class="row mb-0">
                                  <div class="col-xs-12 col-sm-4 col-lg-8 col-md-8 mb-30">
                                      <label class="text-faded-gray text-capitalize label">Add Notes:</label>
                                      <textarea formControlName="addNotes" rows="4" cols="50" maxlength="1000"
                                          class="form-control text-area" style="height: 90px !important;"></textarea>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-row justify-content-end btn-hold py-15 px-20 stick-footer button-form-wrapper">
                          <div class="col-xs-12 col-sm-4 col-lg-8 col-md-8 mb-30"
                              style="display: flex; justify-content: end;">
                              <!-- <button class="btn btn-primary button-form-build" type="button"
                                  (click)="initiateKyc()">Initiate KYC</button>
                              <button class="btn btn-primary button-form-build" type="button"
                                  (click)="shareKycLink()">Share KYC
                                  link</button> -->
                              <button class="btn btn-primary button-form-build" type="submit" [disabled]="isDisabled">Submit Request</button>
                          </div>
                      </div>
                  </div>
              </form>
          
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(128, 128, 128, 0.1)" size="large" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white;font-size: 14px;"> Loading... </p>
  </ngx-spinner>

  <ng-template #otpPopup>
    <div class="modal-content otp_popup_mobilever_endorsement">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Verify your account</h4>
        <p>We’ve sent an OTP on your registered mobile no. or email Id. <br />Please enter it here to continue.</p>
        <div class="otp-class">
          <small>Enter OTP</small>
          <input type="number" id="otp_1" (input)="onOtpChange($event, 1)" />
          <input type="number" id="otp_2" (input)="onOtpChange($event, 2)" />
          <input type="number" id="otp_3" (input)="onOtpChange($event, 3)" />
          <input type="number" id="otp_4" (input)="onOtpChange($event, 4)" />
          <input type="number" id="otp_5" (input)="onOtpChange($event, 5)" />
          <input type="number" id="otp_6" (input)="onOtpChange($event, 6)" />
        </div>
        <div class="text-center">
          <button type="button" (click)="validateOTP()" class="verify-btn">Verify</button>
          <p class="opt-p">Didn’t get an OTP?<span (click)="sendOTP()" style="color: #c7222a; margin-left: 13px; cursor: pointer">Resend it</span></p>
        </div>
      </div>
    </div>
  </ng-template>
  
  