<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2>Manage LOB</h2>
                <div class="btn_groupAction">
                    <button type="button" id="createlead" name="createlead" class="btn_white btn_newRequest" (click)="navigateToCreateLob()">
                        <img src="assets/Img/icon_plus_red.svg">CREATE AV
                    </button>
                </div>
            </div>

            <section id="quotes-list" class="tableMain quoteView block-show">
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th>SR NO</th>
                                    <th>LOB</th>
                                    <th>SINGLE JOURNEY</th>
                                    <th>DUAL JOURNEY</th>
                                    <th>AXIS PROCESS</th>
                                    <th>ACTION</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let lob of displayedAVs; let i = index">
                                    <td>{{(first + i + 1)}}</td>
                                    <td>{{lob.lobName}}</td>
                                    <td><span class="headBadge " [ngClass]="lob.singleJourney?'green_badge':'red_badge'"  (click)="updateStatus(lob,true)">{{lob.singleJourney}}</span></td>
                                    <td><span class="headBadge "  [ngClass]="lob.dualJourney?'green_badge':'red_badge'"  (click)="updateStatus(lob,false)">{{lob.dualJourney}}</span></td>
                                    <td>{{lob.axisProcess}}</td>
                                    <td><button type="button" [routerLink]="['update_lob',lob.lobName]"  title="Modify"  class="btn_text jsOpenPopup" aria-label="modal-addNewLOB"><img src="assets/Img/edit.svg" alt="Modify" width="20"></button></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tableNav" *ngIf="totalRecords > 0">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                                    [rowsPerPageOptions]="[10, 15, 25, 50, 100]" (onPageChange)="onPageChange($event)"
                                    class="custom-paginator my-paginator">
                                </p-paginator>
                            </li>
                            <li class="pageCountMain">
                                <span class="pageCount">Showing {{first + 1}} - {{first + rows > totalRecords ?
                                    totalRecords : first + rows}}</span> {{"of" | translate}} <span
                                    class="pageCountTotal">{{totalRecords}} {{"entries" | translate}}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</main>