.sideNavMain {
    position: absolute;
    left: 0;
    height: 100vh;
    &.active {
      display: block;
    }
    &.expand .link-text {
      display: inline;
    }
  }
  
  .sideNavSub {
    width: 76px;
    height: 100%;
    background: #fff;
    transition: width 0.3s;
  }
  
  .navMain {
    width: 26px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: auto;
    padding: 32px 0;
  }
  
  .navMain div {
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .navMain .link-text {
    display: none;
    margin-left: 10px;
  }
  
  .navMain div:hover, .navMain div.active {
    background: #C7222A;
  }
  
  .navMain div:hover img, .navMain div.active img {
    filter: brightness(0) invert(1);
  }
  
  .navMain div:hover .link-text, .navMain div.active .link-text {
    display: inline;
  }
  
  @media (max-width: 1024px) {
    .sideNavMain.expand {
      width: auto;
    }
  }
  