<nav id="siteSidenav" class="siteSidenav" [ngClass]="{'expand': isExpanded, 'active': isActive}">
    <div class="siteSidenavMain">
      <div class="sidenavMenu">
        <a *ngFor="let item of sideMenuList" 
           [ngClass]="{'active': isRouteActive(item.path)}" 
           [title]="item.displayName" 
           (mouseenter)="expandSideNav()" 
           (mouseleave)="collapseSideNav()" 
           (click)="redirect(item.path)">
          <span class="img_link">
            <img [src]="item.imagePath" [alt]="item.displayName">
          </span>
          <span>{{ item.displayName }}</span>
        </a>
        <a title="logout" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" class="linkLogout" (click)="redirect('login')"><span class="img_link"><img src="assets/Img/icon_menu_logout.svg"></span><span>Logout</span></a>
      </div>
    </div>
</nav>