<!-- <div class="sideNavMain">
    <div class="sideNavSub">
        <div class="navMain">
            <div class="hilight" (click)="redirect('dashboard')"><img src="assets/Img/icon_menu_boxes_grey.svg"></div>
            <div class="hilight" (click)="redirect('products')"><img src="assets/Img/icon_products.svg"></div>
            <div class="hilight" (click)="redirect('renewals/renewalList')"><img src="assets/Img/icon_bullet_list_grey.svg"></div>
            <div class="hilight" (click)="redirect('claims/claimsList')"><img src="assets/Img/icon_menu_calims_grey.svg"></div>
            <div class="hilight" (click)="redirect('endorsements')"><img src="assets/Img/icon_paper_grey.svg"></div>
            <div class="hilight" (click)="redirect('')"><img src="assets/Img/logout.svg" (click)="logOut()"></div>
        </div>
    </div>
</div> -->
<nav id="siteSidenav" class="siteSidenav" [ngClass]="{'expand': isExpanded, 'active': isActive}">
    <div class="siteSidenavMain">
        <div class="sidenavMenu">
          <a class="active" title="Dashboard" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('dashboard')"><span class="img_link"><img src="assets/Img/icon_menu_boxes_grey.svg"></span><span>Dashboard</span></a>
            <a  title="Products" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('products')"><span class="img_link"><img src="assets/Img/icon_products.svg"></span><span>Products</span></a>
            <a  title="Endorsements" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('endorsements')"><span class="img_link"><img src="assets/Img/icon_paper_grey.svg"></span><span>Endorsements</span></a>
            <a  title="Claims" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('claims/claimsList')"><span class="img_link"><img src="assets/Img/icon_menu_calims_grey.svg"></span><span>Claims</span></a>
            <!-- <a  title="Wishlist" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()"><span class="img_link"><img src="assets/Img/icon_menu_wishlist_grey.svg"></span><span>Wishlist</span></a> -->
            <a  title="My Leads" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()"  (click)="redirect('leads/leadsList')"><span class="img_link"><img src="assets/Img/icon_healthcare_grey.svg"></span><span>My Leads</span></a>
            <a  title="Renewals" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('renewals/renewalList')"><span class="img_link"><img src="assets/Img/icon_bullet_list_grey.svg"></span><span>Renewals</span></a>
            <a  title="Customers" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()" (click)="redirect('customers/customersList')"><span class="img_link"><img src="assets/Img/icon_menu_customers_grey.svg"></span><span>Customers</span></a>
            <a  title="logout" class="linkLogout" (mouseenter)="expandSideNav()" (mouseleave)="collapseSideNav()"><span class="img_link"><img src="assets/Img/logout_icon.svg" (click)="redirect('')"></span><span>Logout</span></a>
        </div>
      </div>
</nav>