<div class="main-container">
    <div class="left-panel-product">
        <div class="r-p-header">
            <div class="product-heading">Products</div>
            <div class="prod-head-desc">Discover our products to insure your health
            </div>
        </div>

        <div class="product-list-container">
        <div *ngIf="ProductList.length > 0; else noProducts">
        <div  class="card_ProductList" >
            <div class="cardRow">

                <ng-container *ngFor="let item of ProductList">
                    <div class="cardItem box">
                        <!-- {{ item | json}}  -->
                        <div class="product-item">
                            <img [src]="common.baseCssUrl+'assets/logo/activeOne.svg'">
                            {{item.productName}}</div>
                        <p>{{item.productDescription}}</p>
                        <div class="product-button">
                            <button class="get" (click)="addToCart(item)">
                               <img src="../../../../assets/images/trolley1.svg" alt="">
                                Add to Cart
                            </button>
                            <button class="get1" >View Recommended Add-Ons</button>
                            <button class="get2" >
                                <img src="../../../../assets/images/left-and-right-arrows1.svg" alt="">
                                Add to Compare
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        </div>
        <ng-template #noProducts>
            <div class="no-products-message" *ngIf="displayNoProductsMessage">No products available for the selected
                type.</div>
        </ng-template>
     </div>
    </div>

    <!-- <div class="right-panel-cart">
        <div class="r-p-header">
            <div class="cart-heading">Cart</div>
        </div>
        <div class="cardItem box " [ngClass]="{'center-elements': cartProductList.length === 0}">
            <div *ngIf="cartProductList.length == 0" class="no-product">
                
                    <img src="./../../../../assets/images/trolley.svg" alt="trolley" style="height: 41.25px; width: 174px;">
                    <p class="no-prod-para">No product added in the cart</p>
                
            </div>
            <div *ngIf="cartProductList.length >0">
                
                <div *ngFor="let item of cartProductList">
                    <div class="cart-cardItem">
                        <div class="product-header">
                            <div class="cart-productText"><img src="../../../../assets/logo/activeOne.svg" class="cart-productImage"> {{item.productname}}</div>
                            <input type="button" class="product-remove-btn" value="Remove" (click)="removeFromCart(item)">
                        </div>
                        <div class="product-features">
                            <div class="feature"><img src="./../../../../assets/images/Frame2.svg" alt=""> 5x cover of base premium</div>
                            <div class="feature"><img src="./../../../../assets/images/Frame2.svg" alt=""> Health Assessment</div>
                            <div class="feature"><img src="./../../../../assets/images/Frame2.svg" alt=""> Cover Home-based Treatments</div>
                        </div>
                        <div class="quick-tip">
                            <img src="./../../../../assets/images/lightbulb.svg" alt="">
                            Premium might increase based on the addOns.
                        </div>
                        
                            <input type="button" class="buy-btn" (click)="insurenow(item)" value="Buy now">
                        
                    </div>
                    <div class="line">

                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>