
<div class="main-container" >
    <div class="all-claims">
        <div class="header">
            <div class="header-value">My Claims</div>
        </div>
        <div class="main-claims">
            <div class="request-header">
                Raise Request
            </div>
         </div>
         <div class="details-section">
            <div class="dropdowns">
               <div class="dropdown-field"> <label class="label">Select Proposer</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
                <div class="dropdown-field"> <label class="label"> Select Policy Member</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
                <div class="dropdown-field"> <label class="label">Select Member</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
                
                <div class="dropdown-field"> <label class="label">Claim Type</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                        </div>
            </div>  
            
          
     </div>
    
</div> 