
<div class="main-container" >
    <div class="all-claims">
        <div class="header">
            <div class="header-value">My Claims</div>
        </div>
        <div class="main-claims">
            <div class="request-header">
                Raise Request
            </div>
         </div>
         <div class="details-section">
            <form [formGroup]="form">

            <div class="dropdowns">
               <div class="dropdown-field"> <label class="label">Select Proposer</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
                <div class="dropdown-field" > <label class="label"> Select Policy Member</label>
                    <p-dropdown 
                   
                        [options]="policyNumbers" 
                        optionLabel="name"
                        placeholder="Select a City"
                        formControlName="policyNumber" />
                </div>
                <div class="dropdown-field"> <label class="label">Select Member</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
                
                <div class="dropdown-field"> <label class="label">Claim Type</label>
                    <p-dropdown 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
            </div>  
            
            <div class="dropdowns2">
                <div class="dropdown-field"> <label class="label">Claim Amount</label>
                   <input class="input-field" type="text">
                </div>
                <div class="dropdown-field"> <label class="label"> Hospitals</label>
                    <p-dropdown
                        class="dropdownp" 
                        [options]="" 
                        optionLabel="name"
                        placeholder="Select a City" />
                </div>
            </div>

            <div class="text-area">
                <label class="label"> Add note</label>
                <textarea 
                rows="2"
                cols="30" 
                pInputTextarea 
                >
                </textarea>
            </div>

            <div class="Documents">
              <div>  <label class="label">Upload Documents</label>
                <p>please upload the Documents mentioned below. The files should be in .png/.jpg/.pdf with less than 2mb size for image</p>
            </div>

            <div class="doc-label">
                <div class="label">
                    <img src="" alt="">
                    <label>Any govt/KYC ID</label>
                </div>
                <div class="label">
                    <img src="" alt="">
                    <label>Hospital bill invoice</label>
                </div>
                <div class="label">
                    <img src="" alt="">
                    <label>Investigation Report</label>
                </div>
            </div>

            <div class="doc-label2">
                <div class="label">
                    <img src="" alt="">
                    <label>Doctor's Prescription</label>
                </div>
                <div class="label">
                    <img src="" alt="">
                    <label>NEFT/ Cancelled cheque/ Passbook</label>
                </div>
                <div class="label">
                    <img src="" alt="">
                    <label>Hospital Discharge Form</label>
                </div>
            </div>

            <div class="doc-label3">
                <div class="label">
                    <img src="" alt="">
                    <label>Consulation form</label>
                </div>
                <div class="label">
                    <img src="" alt="">
                    <label>Claim form</label>
                </div>
             
            </div>
            <div class="form-group">
                <div>
                <label for="file">Upload Documents</label>
                <p>JPG/JPEG/BMP/PNG/PDF Files(upto 10mb)</p>
                </div>
            <div>
                <!-- <img  class="" src="assets/upload-icon.png"  width="30"  alt=""> -->
                <mat-icon (click)="fileInput.click()" class="upload-icon">upload</mat-icon>
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;" multiple />
                      <div>Upload</div>
                       
            </div>
            </div>
            <div *ngIf="uploadedFiles.length > 0" class="uploaded-files">
                <h3>Uploaded Files:</h3>
                <ul>
                <li *ngFor="let file of uploadedFiles">{{ file.name }}
                    <button class="delete-button" (click)="deleteFile()">
                        <mat-icon>delete</mat-icon>
                      </button>
                </li>
                <!-- <span class="file-size">{{ file.size }}</span> -->
                
                </ul>
            </div>
             
<div>
    <button class="submit-button" type="button">Submit Request</button>
</div>
         </div> 
        </form>
   
     </div>
</div> 