<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h4 class="icon_withHeading m-0"> <a class="btn_backPage" title="Back To Previous Page" (click)="backToPreviousPage()"></a>
                    Back To Previous Page
                </h4>
            </div>


            <section class="quickFilterMain">
                <div class="quickFilterLeft">
                    <ul class="quickFilter">
                        <li class="quickFilterHeading block-hide">{{"Quick filter" | translate}}</li>
                        <li>
                            <button type="button" id="assignedlead" name="assignedlead" class="btn_quickFilter"  (click)="getNotifications()">{{"Notifications" | translate}}</button>
                        </li>
                        <li>
                            <button type="button" id="unassignedlead" name="unassignedlead" class="btn_quickFilter"   (click)="getActivities()">{{"Activities " | translate}}</button>
                        </li>
                    </ul>
                </div>
            
            

                <div class="quickFilterRight">
                    <button type="button" id="leadgridlist" name="leadgridlist" value="gridlist" class="btn_grid mobile-hide jsBtnClickQuote"
                                    [ngClass]="{'active': selectedView === 'list'}" aria-label="quotes-list"
                                   ><img src="assets/Img/icon_grid_list_grey.svg"
                                        alt="Grid List"></button>
                    <button type="button" id="leadgridcard" name="leadgridcard" value="gridcard" class="btn_grid mobile-hide jsBtnClickQuote"
                                    [ngClass]="{'active': selectedView === 'grid'}" aria-label="quotes-card"
                                 ><img src="assets/Img/icon_grid_box_grey.svg"
                                        alt="Grid Card"></button>
                </div>
            </section>

            <section id="quotes-list" class="tableMain quoteView block-show" *ngIf="showNotifications" >
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Notification</th>
                                    <th>TimeSheet</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider"
                                *ngFor="let item of notifications ; let i =index">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.notificationType}}</td>
                                    <td>{{item.createdOn}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section id="quotes-list" class="tableMain quoteView block-show" *ngIf="showActivies" >
                <div class="tableSubMain">
                    <div class="table-responsive">
                        <table class="table table-borderless table-search">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Notification</th>
                                    <th>TimeSheet</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider"
                                *ngFor="let item of notifications ; let i =index">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.notificationType}}</td>
                                    <td>{{item.createdOn}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
       
        </div>
    </div>

</main>