<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h4 class="icon_withHeading m-0"> <a class="btn_backPage" title="Back To Previous Page" (click)="backToPreviousPage()"></a>
                    Back To Previous Page
                </h4>
            </div>
            <!--Tabs: Notifications start-->
            <section class="quickFilterMain">
                <div class="quickFilterLeft">
                    <div class="main_productTabs">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab-notifications-tab" data-bs-toggle="tab" data-bs-target="#tab-notifications"
                              type="button" role="tab" aria-controls="tab-notifications" aria-selected="true">{{"Notifications" | translate}}</button>
                          </li>
                          <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab-activities-tab" data-bs-toggle="tab" data-bs-target="#tab-activities"
                              type="button" role="tab" aria-controls="tab-activities" aria-selected="false">{{"Activities" | translate}}</button>
                          </li> -->
                        </ul>
                    </div>
                </div>
                <div class="quickFilterRight">
                    <button type="button" id="renewalgridlist" name="renewalgridlist" value="gridlist"
                        class="btn_grid mobile-hide jsBtnClickQuote active"   [ngClass]="{'active': selectedView === 'list'}" (click)="renderView('list')"><img src="assets/Img/icon_grid_list_grey.svg"
                            alt="Grid List"></button>
                    <button type="button" id="renewalgridcard" name="renewalgridcard" value="gridcard"
                        class="btn_grid mobile-hide jsBtnClickQuote"  [ngClass]="{'active': selectedView === 'card'}" (click)="renderView('card')" ><img src="assets/Img/icon_grid_box_grey.svg"
                            alt="Grid Card"></button>
                    
                </div>
            </section>
            <!--Tabs: Notifications end-->

            <!--Tab Content start-->
            <div class="tab-content" id="pills-tabContent">
                <!--Tab Content: Notifications start-->
                <div class="tab-pane fade show active" id="tab-notifications" role="tabpanel" aria-labelledby="tab-notifications-tab" *ngIf="showNotifications">
                    <!--List view start-->
                    <section id="notifications-list" class="tableMain quoteView block-show " *ngIf="selectedView === 'list'">
                        <div class="tableSubMain">
                            <div class="table-responsive">
                                <table class="table table-borderless table-search" >
                                    <thead>
                                        <tr>
                                            <th width="10%">Sr. No.</th>
                                            <th width="70%">Notification</th>
                                            <th width="20%">TimeSheet</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider" >
                                        <tr *ngFor="let item of notifications ; let i =index">
                                            <td class="td-text-bold">{{item.id}}</td>
                                            <td><div class="body_flex_row"><img src="assets/Img/icon_notification_list_birthday.svg"> {{item.notificationType}}</div></td>
                                            <td>{{item.createdOn}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <!--List view end-->
                    <!--Card view start-->
                    <section id="notifications-card" class="cardViewMain quoteView mobile-block" *ngIf="selectedView === 'card'">
                        <div class="cardViewWraper">
                            <div class="cardViewItem">
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="cardViewItem_Notifications">
                                            <div class="img_notifications">
                                                <img src="assets/Img/icon_notification_card_birthday.svg">
                                            </div>
                                            <div class="info_notifications">
                                                <div class="item_lable">Birthday Reminder</div>
                                                <div class="item_value">2023-03-15</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardViewItem">
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="cardViewItem_Notifications">
                                            <div class="img_notifications">
                                                <img src="assets/Img/icon_notification_card_lead.svg">
                                            </div>
                                            <div class="info_notifications">
                                                <div class="item_lable">New Lead Assignment</div>
                                                <div class="item_value">2023-03-15</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardViewItem">
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="cardViewItem_Notifications">
                                            <div class="img_notifications">
                                                <img src="assets/Img/icon_notification_card_paymentfail.svg">
                                            </div>
                                            <div class="info_notifications">
                                                <div class="item_lable">Proposal Payment Failed</div>
                                                <div class="item_value">2023-03-15</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardViewItem">
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="cardViewItem_Notifications">
                                            <div class="img_notifications">
                                                <img src="assets/Img/icon_notification_card_dashboard.svg">
                                            </div>
                                            <div class="info_notifications">
                                                <div class="item_lable">HLTMeter product released. </div>
                                                <div class="item_value">2023-03-15</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardViewItem">
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="cardViewItem_Notifications">
                                            <div class="img_notifications">
                                                <img src="assets/Img/icon_notification_card_mailestone.svg">
                                            </div>
                                            <div class="info_notifications">
                                                <div class="item_lable">Milestone Reached</div>
                                                <div class="item_value">2023-03-15</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Card view end-->
                </div>
                <!--Tab Content: Notifications end-->
                <!--Tab Content: Activities start-->
                <div class="tab-pane fade " id="tab-activities" role="tabpanel" aria-labelledby="tab-activities-tab">
                    <!--List view start-->
                    <section id="activities-list" class="tableMain quoteView block-show" *ngIf="showActivies" >
                        <div class="tableSubMain">
                            <div class="table-responsive">
                                <table class="table table-borderless table-search">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Activitie</th>
                                            <th>TimeSheet</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider"
                                        *ngFor="let item of notifications ; let i =index">
                                        <tr>
                                            <!-- <td>{{item.id}}</td>
                                            <td>{{item.notificationType}}</td>
                                            <td>{{item.createdOn}}</td> -->
        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <!--List view end-->
                    <!--Card view start-->
                    <section id="activities-card" class="cardViewMain quoteView mobile-block">
                        <div class="cardViewWraper">
                            <div class="cardViewItem">
                                <header>
                                    <div class="card_insureInfo">
                                        <h6>
                                            <div class="insureName">Meeting </div>  
                                        </h6>
                                    </div>
                                    <div class="card_btnGroup cardViewItem_Date">
                                        2023-03-15
                                    </div>
                                </header>
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="item_lable item_lable_para">Meeting with Rahul Dev for Renewal of Policy 23459801 getting expired on 25th Jul 24</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardViewItem">
                                <header>
                                    <div class="card_insureInfo">
                                        <h6>
                                            <div class="insureName">Training </div>  
                                        </h6>
                                    </div>
                                    <div class="card_btnGroup cardViewItem_Date">
                                        2023-03-15
                                    </div>
                                </header>
                                <div class="cardViewBody">
                                    <div class="cv_bodyItems cv_bodyItems_100">
                                        <div class="item_lable item_lable_para">Activ One Training Module Completion Pending</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Card view end-->
                </div>
                <!--Tab Content: Activities end-->
            </div>
            <!--Tab Content end-->

            <!--OLD CODE START-->
            <!-- <section class="body_flex_column common_btn_matTabsMain">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="common_btn_matTabs body_flex_column">
                    <mat-tab label="Notifications">
                        <section id="quotes-list" class="tableMain quoteView block-show ">
                            <div class="tableSubMain">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-search" >
                                        <thead>
                                            <tr>
                                                <th width="10%">Sr. No.</th>
                                                <th width="70%">Notification</th>
                                                <th width="20%">TimeSheet</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider" >
                                            <tr *ngFor="let item of notifications ; let i =index">
                                                <td class="td-text-bold">{{item.id}}</td>
                                                <td>{{item.notificationType}}</td>
                                                <td>{{item.createdOn}}</td>

            <section class="quickFilterMain">
                <div class="quickFilterLeft">
                    <ul class="quickFilter">
                        <li class="quickFilterHeading block-hide">{{"Quick filter" | translate}}</li>
                        <li>
                            <button type="button" id="assignedlead" name="assignedlead" class="btn_quickFilter"  (click)="getNotifications()">{{"Notifications" | translate}}</button>
                        </li>
                        <li>
                            <button type="button" id="unassignedlead" name="unassignedlead" class="btn_quickFilter"   (click)="getActivities()">{{"Activities " | translate}}</button>
                        </li>
                    </ul>
                </div>
            
            

                    </mat-tab>

                    <mat-tab label="Activities">
                        <section id="quotes-list" class="tableMain quoteView block-show ">
                            <div class="tableSubMain">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-search">
                                        <thead>
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Notification</th>
                                                <th>TimeSheet</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            <tr>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </mat-tab>
                
                </mat-tab-group> 
            </section> -->
            <!--OLD CODE END-->

            

            
       
        </div>
    </div>

</main>