<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2 class="icon_withHeading"><!--<a class="btn_backPage"></a>-->My Performance</h2>
            </div>
            <section class="white_container white_container_shadow">
                <div class="row">
                    <div class="col-12 ">
                        <div class="claims_matTabs_container">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="claims_matTabs"
                                (selectedTabChange)="onTabChanged($event)">
                                <mat-tab label="Performance">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <h4>Annual Club Performance</h4>
                                                <ul class="list-detailsInfo">
                                                    <li>
                                                        <span class="label">Code :</span>
                                                        <span class="value membername">{{ agentPerformanceData?.annualClubPermormance?.agentCode || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Name:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.agentName || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubStatusFY1}} Annual Club Status :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus1 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubGWPFY}} 
                                                            Annual Club GWP (Weighted) as on {{ agentPerformanceData?.annualClubPermormance?.annualClubGWPWeightedAsOn
                                                                | date:'d MMM\'yy'}} :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">NOP Persistency % :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nopPersistency || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubStatusFY2}} Annual Club Status :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus2 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Next Club :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nextClub || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Shortall for Next level :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.shortallForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Loss Ratio :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <div class="body_flex_row justify-content-between">
                                                    <h4>Campaign Performance</h4>
                                                    <div class="btn_groupAction btn_campaignPerformance">
                                                        <button type="button" id="monthly" name="monthly" value="monthly"
                                                            class="btn_grid mobile-hide jsBtnClickQuote"
                                                            [ngClass]="{'active': docType === 'Monthly'}"
                                                            aria-label="quotes-list" (click)="toggleView('Monthly')">Monthly</button>
                                                        <button type="button" id="quaterly" name="quaterly" value="quaterly"
                                                            class="btn_grid mobile-hide jsBtnClickQuote"
                                                            [ngClass]="{'active': docType === 'Quaterly'}"
                                                            aria-label="quotes-card" (click)="toggleView('Quaterly')">Quarterly</button>
                                                    </div>
                                                </div>
                                                <ul class="list-detailsInfo">
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">GWP(Weighted) as on {{ (agentPerformanceData?.campaignPermormance?.weightedAsOn | date:'d MMM\'yy') || 'N/A' }}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.monthlyClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">GWP(Weighted) as on {{ (agentPerformanceData?.campaignPermormance?.quaterlyClubGWPDate | date:'d MMM\'yy') || 'N/A' }}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">Status :</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.monthlyClubStatus || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">Next level :</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.nextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">Shortall for Next level:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.shortallForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">Status :</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.status || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">Next level :</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">Shortall for Next level:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyShortForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">RFB Business:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfBbusiness || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">RFB Payout:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfbPayout || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">RFB Next Level:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfbNextlevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">Next Level Earning:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.nextlevelearning || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">Loss Ratio:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab label="Detailed View">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <h4>Performance Detailed View</h4>
                                                <ul class="list-detailsInfo">
                                                    <li>
                                                        <span class="label">Agent Code:</span>
                                                        <span class="value membername">{{ agentPerformanceData?.annualClubPermormance?.agentCode || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Proposal ID:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.agentName || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Proposal Substatus:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus1 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Client ID:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Insured Name:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nopPersistency || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Business Type:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus2 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Policy Start Date:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nextClub || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Policy End Date:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.shortallForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">Policy Number:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													   <li>
                                                        <span class="label">Product Name:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>   <li>
                                                        <span class="label">Policy Variant:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>   <li>
                                                        <span class="label">Plan Type:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li> 
													<li>
                                                        <span class="label">Portability:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													  <li>
                                                        <span class="label">Net Premium:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													  <li>
                                                        <span class="label">Sum Insured:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													  <li>
                                                        <span class="label">Inwarded Date:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													  <li>
                                                        <span class="label">Issue Date:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>  <li>
                                                        <span class="label">PR Date:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													 <li>
                                                        <span class="label">Port%:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													 <li>
                                                        <span class="label">Super%:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													<li>
                                                        <span class="label">CI/CS/PA/ASP/Credit%:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
													<li>
                                                        <span class="label">Weighted Net Premium of Annual Club Apr 16 2024 6:17PM:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </mat-tab>



                                <mat-tab label="Detailed View">
                                    <div class="body_flex_column gap-32">
                                        <section id="quotes-list" class="tableMain quoteView block-show "
                                            *ngIf="selectedView == 'list'">
                                            <div class="tableSubMain">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-search">
                                                        <thead>
                                                            <tr>
                                                                <th>Agent Code</th>
                                                                <th>Proposal ID</th>
                                                                <th>Proposal Substatus</th>
                                                                <th>Client ID</th>
                                                                <th>Insured Name</th>
                                                                <th>Business Type</th>
                                                                <th>Policy Start Date</th>
                                                                <th>Policy End Date</th>
                                                                <th>Policy Number</th>
                                                                <th>Product Name</th>
                                                                <th>Policy Variant</th>
                                                                <th>Plan Type</th>
                                                                <th>Plan Variant</th>
                                                                <th>Portability</th>
                                                                <th>Net Premium</th>
                                                                <th>Sum Insured</th>
                                                                <th>Inwarded Date</th>
                                                                <th>Issue Date</th>
                                                                <th>PR Date</th>
                                                                <th>Port%</th>
                                                                <th>Super%</th>
                                                                <th>CI/CS/PA/ASP/Credit%</th>
                                                                <th>SI Credit%</th>
                                                                <th>Weighted Net Premium of Annual Club Apr 16 2024 6:17PM
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                            <tr *ngFor="let row of detailedList; let i = index">
                                                                <td>{{row.agentCode}}</td>
                                                                <td>{{row.proposalID}}</td>
                                                                <td>{{row.proposalSubStatus}}</td>
                                                                <td>{{row.clientID}}</td>
                                                                <td>{{row.insuredName}}</td>
                                                                <td>{{row.businessType}}</td>
                                                                <td>{{row.policyStartDate}}</td>
                                                                <td>{{row.policyEndDate}}</td>
                                                                <td>{{row.policyNumber}}</td>
                                                                <td>{{row.productName}}</td>
                                                                <td>{{row.policyVariant}}</td>
                                                                <td>{{row.planType}}</td>
                                                                <td>{{row.planVariant}}</td>
                                                                <td>{{row.planVariant}}</td>
                                                                <td>{{row.netPremium}}</td>
                                                                <td>{{row.sumInsured}}</td>
                                                                <td>{{row.inwardedDate}}</td>
                                                                <td>{{row.issueDate}}</td>
                                                                <td>{{row.prDate}}</td>
                                                                <td>{{row.portPercent}}</td>
                                                                <td>{{row.superPercent}}</td>
                                                                <td>{{row.cI_CS_PA_ASPCreditPercent}}</td>
                                                                <td>{{row.siCreditPercent}}</td>
                                                                <td>{{row.weightedNetPremium}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- <div class="tableNav" *ngIf="countsList.totalRecords > 0">
                                                <nav>
                                                    <ul class="pagination">
                                                        <li class="page-item">
                                                            <p-paginator [first]="first" [rows]="rows" [totalRecords]="countsList.totalRecords"
                                                                [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)"
                                                                class="custom-paginator my-paginator">
                                                            </p-paginator>
                                                        </li>
                                                        <li class="pageCountMain">
                                                            <span class="pageCount">Showing {{first + 1}} - {{first + rows > countsList.totalRecords
                                                                ? countsList.totalRecords : first + rows}}</span> of <span
                                                                class="pageCountTotal">{{countsList.totalRecords}} entries</span>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div> -->
                                        </section>
                                        <section id="quotes-card" class="cardViewMain quoteView mobile-block"
                                            *ngIf="selectedView == 'grid'">
                                            <div class="cardViewWraper">
                                                <div class="cardViewItem" *ngFor="let row of detailedList; let i = index">
                                                    <header>
                                                        <div class="card_insureInfo">
                                                            <h6>
                                                                <div class="insureName">{{ row.firstName }} {{
                                                                    row.middleName }} {{ row.lastName }}
                                                                </div>
                                                            </h6>
                                                            <div class="item_productName">{{ row.interestedInPlan }}</div>
                                                        </div>
                                                        <!-- <div class="card_btnGroup">
                                                            <div class="btn_groupAction">
                                                                <button type="button" value="Assign to" title="Assign to" 
                                                                    class="btn_action btn_editAction"><img
                                                                        src="assets/Img/icon_profile.svg"></button>
                                                                <button type="button" value="Update Status" title="Update Status" 
                                                                    class="btn_action btn_renewalAction"><img
                                                                        src="assets/Img/icon_edit_grey.svg"></button>
                                                                <button type="button" value="Add Notes" title="Add Notes" 
                                                                    class="btn_action btn_renewalAction"><img
                                                                        src="assets/Img/icon_add_notes.svg"></button>
                                                            </div>
                                                        </div> -->
                                                    </header>
                                                    <div class="cardViewBody">
                                                        <div class="cv_bodyItems cv_bodyItems_45">
                                                            <div class="item_lable">Phone Number</div>
                                                            <div class="item_value">{{ row.phoneNumber }}</div>
                                                        </div>
                                                        <div class="cv_bodyItems cv_bodyItems_45">
                                                            <div class="item_lable">Email</div>
                                                            <div class="item_value">{{ row.email }}</div>
                                                        </div>
                                                        <div class="cv_bodyItems cv_bodyItems_45">
                                                            <div class="item_lable">Campaign Name</div>
                                                            <div class="item_value">{{ row.campaignName}}</div>
                                                        </div>
                                                        <div class="cv_bodyItems cv_bodyItems_45">
                                                            <div class="item_lable">Campaign Number</div>
                                                            <div class="item_value">{{ row.campaignNumber }}</div>
                                                        </div>
                                                        <div class="cv_bodyItems cv_bodyItems_45">
                                                            <div class="item_lable">Lead ID</div>
                                                            <div class="item_value">{{ row.leadNumber }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="tableNav" *ngIf="countsList.totalRecords > 0">
                                                <nav>
                                                    <ul class="pagination">
                                                        <li class="page-item">
                                                            <p-paginator [first]="first" [rows]="rows" [totalRecords]="countsList.totalRecords"
                                                                [rowsPerPageOptions]="[10,15,25,50,100]" (onPageChange)="onPageChange($event)"
                                                                class="custom-paginator my-paginator">
                                                            </p-paginator>
                                                        </li>
                                                        <li class="pageCountMain">
                                                            <span class="pageCount">Showing {{first + 1}} - {{first + rows > countsList.totalRecords
                                                                ? countsList.totalRecords : first + rows}}</span> of <span
                                                                class="pageCountTotal">{{countsList.totalRecords}} entries</span>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div> -->
                                        </section>
                                        <!-- <section id="quotes-card" class="cardViewMain quoteView mobile-block" *ngIf="countsList.totalRecords === 0">
                                            <div class="cardViewWraper">
                                                <div class="no_dataFound">
                                                    <img src="assets/Img/img_no_data_found.svg" alt="No data found">
                                                    <p>No data found</p>
                                                </div>
                                            </div>
                                        </section> -->
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>