<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="row">
                <div class="col-12 ">
                    <div class="claims_matTabs_container">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="claims_matTabs"
                            (selectedTabChange)="onTabChanged($event)">
                            <mat-tab label="Performance">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="claims_member_info">
                                            <h4>Annual Club Performance</h4>
                                            <ul class="list-detailsInfo">
                                                <li>
                                                    <span class="label">Code :</span>
                                                    <span class="value membername">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Name:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Annual Club Status :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Annual Club GWP (Weighted) as on :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">NOP Persistency % :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Annual Club Status :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Next Club :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Shortall for Next level :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Loss Ratio :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                            </ul>
                                            <div class="claims_member_info-gradient"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="claims_member_info">
                                            <h4>Campaign Performance</h4>
                                            <!-- <div><button [ngClass]="{'btn-campaign-performance-info-active': docType == 'Monthly'}"
                                                class="btn-campaign-performance-info">Monthly</button><button
                                                [ngClass]="{'btn-campaign-performance-info-active':  docType == 'Quaterly'}"
                                                class="btn-campaign-performance-info">Quaterly</button></div> -->
                                            <ul class="list-detailsInfo">
                                                <li>
                                                    <span class="label">GWP(Weighted) as on:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Status :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Next level :</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Shortall for Next level:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">RFB Business:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">RFB Payout:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">RFB Next Level:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Next Level Earning:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                                <li>
                                                    <span class="label">Loss Ratio:</span>
                                                    <span class="value">N/A</span>
                                                </li>
                                            </ul>
                                            <div class="claims_member_info-gradient"></div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Detailed View">
                                <div class="body_flex_column gap-32">

                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>