<main class="siteBody siteBody_padding">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="body_flex_row justify-content-between">
                <h2 class="icon_withHeading">{{"My Performance" | translate}}</h2>
            </div>
            <section class="white_container white_container_shadow">
                <div class="row">
                    <div class="col-12 ">
                        <div class="claims_matTabs_container">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="claims_matTabs"
                                (selectedTabChange)="onTabChanged($event)">
                                <mat-tab [label ]="'Performance' | translate">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <h4>{{"Annual Club Performance" | translate}}</h4>
                                                <ul class="list-detailsInfo">
                                                    <li>
                                                        <span class="label">{{"Code" | translate}}:</span>
                                                        <span class="value membername">{{ agentPerformanceData?.annualClubPermormance?.agentCode || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Name" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.agentName || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubStatusFY1}} {{"Annual Club Status" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus1 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubGWPFY}} 
                                                            {{"Annual Club GWP (Weighted) as on" | translate}} {
    { agentPerformanceData?.annualClubPermormance?.annualClubGWPWeightedAsOn
                                                                | date:'d MMM\'yy'
    }
} :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"NOP Persistency" | translate}} % :</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nopPersistency || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{agentPerformanceData?.annualClubPermormance?.annualClubStatusFY2}} {{"Annual Club Status" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.annualClubStatus2 || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Next Club" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.nextClub || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Shortall for Next level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.shortallForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="label">{{"Loss Ratio" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.annualClubPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="claims_member_info">
                                                <div class="body_flex_row justify-content-between">
                                                    <h4>{{"Campaign Performance" | translate}}</h4>
                                                    <div class="btn_groupAction btn_campaignPerformance">
                                                        <button type="button" id="monthly" name="monthly" value="monthly"
                                                            class="btn_grid mobile-hide jsBtnClickQuote"
                                                            [ngClass
]="{'active': docType === 'Monthly'}"
                                                            aria-label="quotes-list" (click)="toggleView('Monthly')">{{"Monthly" | translate}}</button>
                                                        <button type="button" id="quaterly" name="quaterly" value="quaterly"
                                                            class="btn_grid mobile-hide jsBtnClickQuote"
                                                            [ngClass
]="{'active': docType === 'Quaterly'}"
                                                            aria-label="quotes-card" (click)="toggleView('Quaterly')">{{"Quarterly" | translate}}</button>
                                                    </div>
                                                </div>
                                                <ul class="list-detailsInfo">
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">{{"GWP(Weighted) as on" | translate}} {
    { (agentPerformanceData?.campaignPermormance?.weightedAsOn | date:'d MMM\'yy') || 'N/A'
    }
}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.monthlyClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"GWP(Weighted) as on" | translate}} {
    { (agentPerformanceData?.campaignPermormance?.quaterlyClubGWPDate | date:'d MMM\'yy') || 'N/A'
    }
}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyClubGWP || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">{{"Status" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.monthlyClubStatus || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">{{"Next level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.nextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Monthly'">
                                                        <span class="label">{{"Shortall for Next level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.shortallForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"Status" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.status || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"Next level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"Shortall for Next level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.quaterlyShortForNextLevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"RFB Business" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfBbusiness || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"RFB Payout" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfbPayout || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"RFB Next Level" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.rfbNextlevel || 'N/A' }}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"Next Level Earning" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.nextlevelearning || 'N/A'}}</span>
                                                    </li>
                                                    <li *ngIf="docType == 'Quaterly'">
                                                        <span class="label">{{"Loss Ratio" | translate}}:</span>
                                                        <span class="value">{{ agentPerformanceData?.campaignPermormance?.lossRatio || 'N/A' }}</span>
                                                    </li>
                                                </ul>
                                                <div class="claims_member_info-gradient"></div>
                                            </div>
                                        </div>
                                        <h4><b>Detailed View</b></h4>
                                        <section id="quotes-list" class="tableMain user-quoteView block-show mt-3"
                                            *ngIf="selectedView == 'list'">
                                            <div class="tableSubMain">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-search">
                                                        <thead>
                                                            <tr>
                                                                <th class="head_quoteType" nowrap>Agent Code</th>
                                                                <th nowrap>Proposal ID</th>
                                                                <th nowrap>Proposal Substatus</th>
                                                                <th nowrap>Client ID</th>
                                                                <th nowrap>Insured Name</th>
                                                                <th nowrap>Business Type</th>
                                                                <th nowrap>Policy Start Date</th>
                                                                <th nowrap>Policy End Date</th>
                                                                <th nowrap>Policy Number</th>
                                                                <th nowrap>Product Name</th>
                                                                <th nowrap>Policy Variant</th>
                                                                <th nowrap>Plan Type</th>
                                                                <th nowrap>Plan Variant</th>
                                                                <th nowrap>Portability</th>
                                                                <th nowrap>Net Premium</th>
                                                                <th nowrap>Sum Insured</th>
                                                                <th nowrap>Inwarded Date</th>
                                                                <th nowrap>Issue Date</th>
                                                                <th nowrap>PR Date</th>
                                                                <th nowrap>Port%</th>
                                                                <th nowrap>Super%</th>
                                                                <th nowrap>CI/CS/PA/ASP/Credit%</th>
                                                                <th nowrap>SI Credit%</th>
                                                                <th nowrap>Weighted Net Premium of Annual Club Apr 16
                                                                    2024 6: 17PM
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                            <tr class="base_quoteRow"
                                                                *ngFor="let row of detailedList; let i = index">
                                                                <td class="base_quote">{{row.agentCode}}</td>
                                                                <td>{{row.proposalID}}</td>
                                                                <td>{{row.proposalSubStatus}}</td>
                                                                <td>{{row.clientID}}</td>
                                                                <td>{{row.insuredName}}</td>
                                                                <td>{{row.businessType}}</td>
                                                                <td>{{row.policyStartDate}}</td>
                                                                <td>{{row.policyEndDate}}</td>
                                                                <td>{{row.policyNumber}}</td>
                                                                <td>{{row.productName}}</td>
                                                                <td>{{row.policyVariant}}</td>
                                                                <td>{{row.planType}}</td>
                                                                <td>{{row.planVariant}}</td>
                                                                <td>{{row.planVariant}}</td>
                                                                <td>{{row.netPremium}}</td>
                                                                <td>{{row.sumInsured}}</td>
                                                                <td>{{row.inwardedDate}}</td>
                                                                <td>{{row.issueDate}}</td>
                                                                <td>{{row.prDate}}</td>
                                                                <td>{{row.portPercent}}</td>
                                                                <td>{{row.superPercent}}</td>
                                                                <td>{{row.cI_CS_PA_ASPCreditPercent}}</td>
                                                                <td>{{row.siCreditPercent}}</td>
                                                                <td>{{row.weightedNetPremium}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </mat-tab>


                                <mat-tab label="Commission">
                                    <div class="body_flex_column gap-32">
                                        <form (ngSubmit)="fetchCommissionStatement()" [formGroup ]="commissionForm">

                                            <section class="white_container p-0">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="tipInfo_org"><img src="./assets/Img/icon_lightbulb.svg">Commission statement download is currently available from April’21 cycle. We are
                                                                    working on previous download statement and will be available soon.
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-12 mb-4">
                                                        <h4>My Statements</h4>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="input-block form-floating input-block-renew">
                                                            <select class="form-select input-selectBox" id="commissonYear" name="commissonYear"  formControlName="year" >
                                                                    <option value="" disabled selected>{{"Select Year" }}</option>
                                                                    <option *ngFor="let year of years" [value
]="year">
                                                                        {{ year }}
                                                                    </option>
                                                                </select>
                                                            <label for="year">{{"Year"}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="input-block form-floating input-block-renew">
                                                            <select class="form-select input-selectBox" id="commissonMonth" name="commissonMonth" formControlName="month">
                                                                    <option value="" disabled selected>{{"Select Month" }}</option>
                                                                    <option *ngFor="let month of months" [value
]="month">
                                                                        {{ month }}
                                                                    </option>
                                                                </select>
                                                            <label for="month">{{"Month"}}</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="input-block form-floating input-block-renew">
                                                            <select class="form-select input-selectBox" id="commssionsCycle" name="commssionsCycle"  formControlName="cycle">
                                                                    <option value="" disabled selected>{{"Select Cycle" }}</option>
                                                                    <option *ngFor="let cycle of cycles" [value
]="cycle.value">
                                                                        {{ cycle.name }}
                                                                    </option>
                                                                </select>
                                                            <label for="cycle">{{"Cycle"}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <button type="submit" id="save" name="save" class="btn_red">{{" Download Statement"}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </form>


                                    </div>
                                </mat-tab>


                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>