<!-- <div class="main">
    <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12"> <input type="text"
            class="search-query search-box-outer quotePropSearchBar"
            placeholder="Search by Proposal ID, Quote ID, Lead Id, Product Name or Mobile Number"
            id="txtProposalSearch">
    </div>
</div> -->
<div class="main">
    <!-- <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12"> <input type="text"
            class="search-query search-box-outer quotePropSearchBar"
            placeholder="Search by Proposal ID, Quote ID, Lead Id, Product Name or Mobile Number"
            id="txtProposalSearch">
    </div> -->
    <br>
    <hr>
    <div class="container">
        <div class="row">
          <!-- <ng-container *ngFor="let item of data; let i = index">
            <div class="col-md-6 box">
                <div class="inbox" (click)="getproposal(item)">
                  <div class="space">
                    <div class="proposer-name">
                      {{item.proposerFirstName}}{{item.proposerMiddleName}}{{item.proposerLastName}}
                    </div>
                    <div class="form-status"  style="color: #f5a623;">
                      {{item.formStatus}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="proposer-name">
                      DOB:{{item.proposerDob}}
                    </div>
                    <div class="form-status">
                      {{item.proposalId}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="proposer-name">
                      {{item.proposerPhoneNumber}},{{item.proposerGender}}
                    </div>
                    <div class="form-status">
                      Kyc Status : {{item.kycStatus}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="proposer-name">
                      Pincode : {{item.proposerPincode}}
                    </div>
                    <div class="form-status">
                      {{item.updatedDate | date:'dd/MM/yyyy'}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="proposer-name">
                      Pan : {{item.proposerPan}}
                    </div>
                    <div class="form-status">
                      Premium : Rs. {{item.premium}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="proposer-name">
                      Payment : {{item.kycStatus}}
                    </div>
                  </div>
                  <div class="space">
                    <div class="bold-status">
                      {{item.productName}}
                    </div>
                    <div class="form-status">
                      <i class="bi bi-trash"></i>
                    </div>
                  </div>
                </div>
            </div>
          </ng-container> -->
        </div>
      </div>
      
</div>