/*---Common css start---*/
.btn_red {
    padding: 10px 32px;
}
.uploadDocument_main {
    gap:8px;
    .uploadDocument_area {
        &.uploadedDocument_info {
            border-width: 0;
            .delete-button {
                border-width: 0;
                background: transparent;
            }
        }
    }
}
.popupModalOTP .modal-dialog {
    max-width: 430px;
}
.popupModalOTP .modal-body {
    gap: 12px;
}
.OTPContainer {
    display: flex;
    gap:15px;
}
.OTPContainer .OTP_Input {
    width: 50px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 16px;
    background: #fff;
    border: 1px solid #F1F3F6;
    font-weight: 400;
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
}
/*---Common css end---*/


.modal-body {
    .close {
        float: right;
        border: none;
    }
    .otp-container {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        .otp-input {
            width: 45px;
            // margin-right: 10px;
            padding: 10px;
            text-align: center;
            font-size: 18px;
            border-radius: 10px;
            border: 1px solid #ccc;
        }
    }
    .send_otp_again_wrap{
        text-decoration: underline;
        cursor: pointer;
    }
    .timeLeft_color{
        color: #C91429;
        font-weight: 600;
        // font-size: 18px;
    }
}
/*----MAT Select Custom styles start----*/
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 12px !important;
    line-height: normal !important;
  }
  ::ng-deep .mat-mdc-option {
    padding: 5px 10px !important;
    background: #f5f5f5 !important;
  }
  ::ng-deep .mat-mdc-option:focus.mdc-list-item, ::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
  ::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled),
  ::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: #056cdc !important;
    color: #fff !important;
  }
  ::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
  ::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, 
  ::ng-deep .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #fff !important;
  }
  ::ng-deep .mat-mdc-select-value-text {
    font-size: 12px;
    color: #000;
  }
  ::ng-deep .mat-mdc-option.mdc-list-item {
    min-height: initial;
  }
  ::ng-deep .mat-mdc-option .mat-pseudo-checkbox {
    display: none;
  }
  
  /*----MAT Select Custom styles end----*/