/*---Common css start---*/
.btn_red {
    padding: 10px 32px;
  }
  .uploadDocument_main {
    gap:8px;
    .uploadDocument_area {
        &.uploadedDocument_info {
            border-width: 0;
            .delete-button {
                border-width: 0;
                background: transparent;
            }
        }
    }
    }

/*---Common css end---*/

.close {
    float: right;
    border: none;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    .otp-input {
        width: 45px;
        // margin-right: 10px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid #ccc;
      }
  }