<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2">Plan Comparison</h2>
                    <p>Compare our diverse health insurance plans to find the one that best suits your needs. Secure
                        your health and well-being with the right coverage.</p>
                </div>
            </div>
        </div>
    </div>

  
    <div class="row">
        <div class="col-9">
            <div class="cardViewMain" style="padding-left: 20%;">
                <div class="cardViewWraper">
                    <div class="cardViewItem" *ngFor="let comparisonItem of comparisonItems">
                        <header>
                            <div class="body_flex_row">
                                <img src="assets/logo/activeOne.svg">
                                <h6 *ngIf="comparisonItem.productName!=null">{{comparisonItem.productName}}</h6>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <p>{{comparisonItem.productDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>