<main class="siteBody">
    <div class="contentBody bodyColumns-1">
        <div class="bodyColumn body_flex_column quoteComparison">
            <!-- <div class="body_flex_row justify-content-between">
                <h2 class="icon_withHeading"> <a class="btn_backPage" (click)="backToleads()"></a> Back To Leads
                </h2>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2">Plan Comparison</h2>
                    <p>Compare our diverse health insurance plans to find the one that best suits your needs. Secure
                        your health and well-being with the right coverage.</p>
                </div>
            </div>

            <!--FUTURE: Product-2 Comparison Start-->
            <section class="quoteComparisonWraper planComparisonWraper block-hide">
                <!--Header start-->
                <div class="qc_item qc_item1 head_qc_item">
                    <div class="sub_qc_item">
                        <header>Plan <br>Comparison</header>
                    </div>
                    <div class="sub_qc_item">
                        <header>
                            <div class="heading">
                                <h5>Active Fit</h5>
                                <h6>₹6,863*<span>/year</span></h6>
                            </div>
                            <div class="compare_btnGroup">
                                <button type="button" id="addtocart" name="addtocart" value="addtocart" class="btn_pink btn_addToCart"><img src="assets/Img/icon_addtocart.svg"></button>
                                <button type="button" id="buyplan" name="buyplan" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                            </div>
                            <span class="compare_delete"><img src="assets/Img/icon_plans_comparison_delete_grey.svg"></span>
                        </header>
                    </div>
                    <div class="sub_qc_item">
                        <header>
                            <div class="heading">
                                <h5>Active Health</h5>
                                <h6>₹6,863*<span>/year</span></h6>
                            </div>
                            <div class="compare_btnGroup">
                                <button type="button" id="addtocart2" name="addtocart2" value="buyplan" class="btn_pink btn_addToCart"><img src="assets/Img/icon_addtocart.svg"></button>
                                <button type="button" id="buyplan2" name="buyplan2" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                            </div>
                            <span class="compare_delete"><img src="assets/Img/icon_plans_comparison_delete_grey.svg"></span>
                        </header>
                    </div>
                    <div class="sub_qc_item">
                        <header>
                            <div class="heading">
                                <h5>Active Health</h5>
                                <h6>₹6,863*<span>/year</span></h6>
                            </div>
                            <div class="compare_btnGroup">
                                <button type="button" id="addtocart3" name="addtocart3" value="buyplan" class="btn_pink btn_addToCart"><img src="assets/Img/icon_addtocart.svg"></button>
                                <button type="button" id="buyplan3" name="buyplan3" value="buyplan" class="btn_red btn_buyPlan">Buy Plan</button>
                            </div>
                            <span class="compare_delete"><img src="assets/Img/icon_plans_comparison_delete_grey.svg"></span>
                        </header>
                    </div>
                </div>
                <!--Header end-->
                <!--Body start-->
                <div class="qc_item qc_item1 body_qc_item">
                    <!--Upgrade Recommendations start-->
                    <div class="qc_item qc_item1">
                        <div class="sub_qc_item">
                            <div class="upgradeInfo">Upgrade Recommendations</div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="upgradeInfo">Upgrade Recommendations</div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="upgradeInfo">Upgrade Recommendations</div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="upgradeInfo">Upgrade Recommendations</div>
                        </div>
                    </div>
                    <!--Upgrade Recommendations end-->
                    <!--White bg: Other Info  Start-->
                    <div class="qc_item qc_item1">
                        <div class="sub_qc_item">
                            <div class="qc_info">keyFeatures</div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--White bg: Other Info end-->
                    <!--Grey bg: Other Info  Start-->
                    <div class="qc_item qc_item1">
                        <div class="sub_qc_item qc_info_grey">
                            <div class="qc_info">keyFeatures</div>
                        </div>
                        <div class="sub_qc_item qc_info_grey">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item qc_info_grey">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item qc_info_grey">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Grey bg: Other Info end-->
                    <!--White bg: Other Info  Start-->
                    <div class="qc_item qc_item1">
                        <div class="sub_qc_item">
                            <div class="qc_info">keyFeatures</div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub_qc_item">
                            <div class="qc_info">
                                <ul class="tick_round">
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                    <li ><img src="assets/Img/icon_tick_org.svg"> Test1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--White bg: Other Info end-->
                    <!--Footer  Start-->
                    <div class="qc_item qc_item1 footer_qc_item">
                        <div class="sub_qc_item">
                        </div>
                        <div class="sub_qc_item">
                        </div>
                        <div class="sub_qc_item">
                        </div>
                        <div class="sub_qc_item">
                        </div>
                    </div>
                    <!--Footer end-->
                </div>
            </section>
            <!--FUTURE: Product-2 Comparison End-->
            
            <!--PRESENT: Product Comparison Start-->
            <section class="quoteComparisonWraper planComparisonWraper">
                <!--<div class="qc_item qc_item1">
                    <header>Plan <br>Comparison</header>
                    <div class="upgradeInfo">Upgrade Recommendations</div>
                    <div class="qc_info">keyFeatures</div>
                    <div class="qc_info qc_info_grey">Optional Covers</div>
                    <div class="qc_info">Health Add On's</div>
                    <div class="qc_empty"></div>
                </div>-->
                <div class="qc_item qc_item2">
                    <div class="qc_itemSubMain">
                        <div class="qc_item" *ngFor="let comparisonItem of comparisonItems">
                            <header>
                                <div class="heading">
                                    <h5>{{comparisonItem.productName}}</h5>
                                    <!--<h6>₹6,863*<span>/year</span></h6>-->
                                </div>
                                <div class="compare_btnGroup">
                                <button type="button" id="buynow2" name="buynow2" class="btn_red btn_buyPlan btn_buyPlanNow" ><img src="assets/Img/trolley1.svg" alt="">
                                    Buy Now
                                 </button>
                                </div>
                                <span class="compare_delete"><img src="assets/Img/icon_plans_comparison_delete_grey.svg"></span>
                            </header>
                            <div class="upgradeInfo block-hide">10% Off on 2 years tenure</div>
                            <div class="qc_info">
                                <h6>key Features</h6>
                                <ul class="tick_round">
                                    <li *ngFor="let keyFeatures of comparisonItem.keyFeatures"><img src="assets/Img/icon_tick_org.svg">{{ keyFeatures }}</li>
                                </ul>
                            </div>
                            <div class="qc_info qc_info_grey">
                                <h6>Optional Covers</h6>
                                <ul class="tick_round">
                                    <li *ngFor="let feature of comparisonItem.productFeatures">
                                        <div class="tick_round_div" *ngIf="feature.categoryName === 'Optional Covers'"><img src="assets/Img/icon_tick_whitebg.svg">{{ feature.featureName }}</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="qc_info qc_infoCover">
                                <h6>Health Add On</h6>
                                <ul class="tick_round">
                                    <ng-container *ngFor="let feature of comparisonItem.productFeatures">
                                        <li *ngIf="feature.categoryName === 'Health Add On'">
                                            <div class="tick_round_div">
                                                <img src="assets/Img/icon_tick_org.svg">{{ feature.featureName }}
                                            </div>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                            
                            
                            <div class="qc_empty block-hide"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--PRESENT: Product Comparison end-->
        </div>
    </div>

    <!--OLD CODE: Product Comparison start-->
    <div class="row block-hide">
        <div class="col-12">
            <div class="cardViewMain" >
                <div class="cardViewWraper">
                    <div class="cardViewItem" style="width: 31%;" *ngFor="let comparisonItem of comparisonItems">
                        <header>
                            <div class="body_flex_row">
                                <img src="assets/logo/activeOne.svg">
                                <h2>{{comparisonItem.productName}}</h2>
                            </div>
                        </header>
                        <div class="cardViewBody">
                            <h4>keyFeatures </h4>
                                <ul>
                                <div class="tick_round" *ngFor="let keyFeatures of comparisonItem.keyFeatures"><img src="assets/Img/icon_tick_green_bg.svg">
                                    <li>
                                    {{ keyFeatures }}
                                </li>
                                </div>
                            </ul>
                        </div>


                        <div class="cardViewBody">
                            <h4>Optional Covers</h4>
                            <ul>
                                <div  class="tick_round"  *ngFor="let feature of comparisonItem.productFeatures">
                                    <li *ngIf="feature.categoryName === 'Optional Covers'">
                                    <img src="assets/Img/icon_tick_green_bg.svg">
                                    {{ feature.featureName }}
                                </li>
                                </div>
                            </ul>
                        </div>

                        <div class="cardViewBody">
                            <h4>Health Add On's</h4>
                            <ul>
                                <div class="tick_round" *ngFor="let feature of comparisonItem.productFeatures">
                                    <li *ngIf="feature.categoryName === 'Health Add On'" >
                                    <img src="assets/Img/icon_tick_green_bg.svg">
                                    {{ feature.featureName }}
                                </li>
                                </div>
                            </ul>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--OLD CODE: Product Comparison end-->
</main>